@model ArabErp.Domain.SupplyOrder

<script type="text/javascript">
    $(document).ready(function () {
        $("#Items_0__SlNo").val('1');
        $("#add_row").click(function () {
            var i = 0;
            var no = 1;
            $('input[id^="Row_"]').each(function () {
                var id = this.id;
                no++;
                var row = Number(id.replace("Row_", ""));
                if (row > i) {
                    i = row;
                }
            });
            i++;

            var index = (new Date()).getTime(); // unique indexer
            var clone = $('#0').clone(); // clone the BatchProducts item
            //Update the index of the clone
            //clone.html($(clone).html().replace("Items_0__", 'Items_' + i + '__'));
            clone.html($(clone).html().replace(/\Items_0__/g, 'Items_' + i + '__'));
            clone.html($(clone).html().replace(/\Items[0]./g, 'Items[' + i + '].'));
            clone.html($(clone).html().replace(/\[0\]/g, '[' + i + ']'));
            clone.html($(clone).html().replace(/\(0\)/g, '(' + i + ')'));
            clone.html($(clone).html().replace(/Row_0/, 'Row_' + i + ''));
            clone.html($(clone).html().replace(/slno1/, 'slno' + (i + 1) + ''));
            clone.html($(clone).html().replace(/unit0/, 'unit' + i + ''));
            clone.html($(clone).html().replace(/partno0/, 'partno' + i + ''));
            clone.html($(clone).html().replace(/this,0/, 'this,' + i + ''));
            $("#table-additional-items-list").append('<tr id="' + i + '">' + clone.html() + '  </tr>');
            $("#slno" + (i + 1)).html((i + 1));
            $("#Items_" + i + "__SlNo").val((i + 1));
            $("#unit" + i).html('');
            $("#partno" + i).html('');

            //bind keypress event for new row inputs.
            $(".numbers-only").keypress(function (e) {
                if (e.which == 8 || (e.which == 46 && $(this).val().indexOf('.') == -1) || (e.which > 47 && e.which < 58)) { } else { return false; }
            });
        });

        $(".numbers-only").keypress(function (e) {
            if (e.which == 8 || (e.which == 46 && $(this).val().indexOf('.') == -1) || (e.which > 47 && e.which < 58)) { } else { return false; }
        });
    });

    function Delete(index) {

        var i = 0;
        var no = 1;
        $('input[id^="Row_"]').each(function () {
            var id = this.id;
            no++;
            var row = Number(id.replace("Row_", ""));
            if (row > i) {
                i = row;
            }
        });
        i++;
        //$("#" + index).html('');
        if (i > 1) {
            $("#" + index).remove();
            for (var j = index + 1; j < i; j++) {
                var item = $("#Items_" + j + "__ItemId").val();
                var remarks = $("#Items_" + j + "__Remarks").val();
                var qty = $("#Items_" + j + "__Quantity").val();
                var clone = $("#" + j).clone(true, true);
                clone.html($(clone).html().replace(new RegExp("Items_" + j + "__", "g"), 'Items_' + (j - 1) + '__'));
                clone.html($(clone).html().replace(new RegExp("\\[" + j + "].", "g"), "[" + (j - 1) + "]."));
                clone.html($(clone).html().replace(new RegExp('slno' + (j + 1) + '">' + (j + 1), "g"), 'slno' + (j) + '">' + (j)));
                clone.html($(clone).html().replace("Delete(" + j, "Delete(" + (j - 1)));
                clone.html($(clone).html().replace("Row_" + j, "Row_" + (j - 1)));
                clone.html($(clone).html().replace("unit" + j, "unit" + (j - 1)));
                clone.html($(clone).html().replace("partno" + j, "partno" + (j - 1)));
                clone.html($(clone).html().replace("this," + j, "this," + (j - 1)));
                $("#" + j).html(clone.html());
                $("#Items_" + (j - 1) + "__SlNo").val(j);
                $("#" + (j)).attr('id', (j - 1));
                $("#Items_" + (j - 1) + "__ItemId").val(item);
                $("#Items_" + (j - 1) + "__Remarks").val(remarks);
                $("#Items_" + (j - 1) + "__Quantity").val(qty);
            }
        }
    }
</script>

<table class="table table-bordered">
    <thead>
        <tr class="grid_heading">
            <th width="5%"><h1>#</h1></th>
            @*<th width="20%"><h1>PRS No & Date</h1></th>*@
            <th width="25%"><h1>Material</h1></th>
            <th width="10%"><h1>Part No</h1></th>
            @*<th width="5%" class="text-right"><h1>Bal Qty</h1></th>*@
            <th width="5%" class="text-right"><h1>Ordered Qty</h1></th>
            <th width="5%" class="text-right"><h1>Rate</h1></th>
            <th width="5%" class="text-right"><h1>Discount</h1></th>
            <th width="5%" class="text-right"><h1>Amount</h1></th>
        </tr>
    </thead>
    <tbody class="grid_row">
        @for (int i = 0; i < Model.SupplyOrderItems.Count(); i++)
        {
            <tr>

                <td>
                    <span id="slno@(i+1)">@(i + 1)</span>
                </td>
                @*<td>@Html.TextBoxFor(m => m.SupplyOrderItems[i].PRNODATE, new { @class = "form_input", @disabled = "true" }) </td>*@
                <td>
                    @*@Html.HiddenFor(m => m.SupplyOrderItems[i].PurchaseRequestItemId)*@
                    @Html.DropDownListFor(m => m.SupplyOrderItems[i].ItemName, (SelectList)ViewBag.materialList, "Select Material/Spare", new { @class = "form_input" })
                    @*@Html.TextBoxFor(m => m.SupplyOrderItems[i].ItemName, new { @class = "form_input", @disabled = "true" })*@
                </td>
                <td>@Html.TextBoxFor(m => m.SupplyOrderItems[i].PartNo, new { @class = "form_input", @disabled = "true" })</td>
                @*<td>@Html.TextBoxFor(m => m.SupplyOrderItems[i].BalQty, new { @class = "form_input", @style = "text-align:right", @disabled = "true" })</td>*@
                <td>@Html.TextBoxFor(m => m.SupplyOrderItems[i].OrderedQty, new { @class = "form_input clQuantity", @style = "text-align:right", @onchange = "QuantityChanged(" + i + ");" })</td>
                <td>@Html.TextBoxFor(m => m.SupplyOrderItems[i].Rate, new { @class = "form_input", @style = "text-align:right", @onchange = "QuantityChanged(" + i + ");" })</td>
                <td>@Html.TextBoxFor(m => m.SupplyOrderItems[i].Discount, new { @class = "form_input", @style = "text-align:right", @onchange = "QuantityChanged(" + i + ");" })</td>
                <td>@Html.TextBoxFor(m => m.SupplyOrderItems[i].Amount, new { @class = "form_input clAmount", @style = "text-align:right", @readonly = "readonly" })</td>

            </tr>
        }
    </tbody>

    <tfoot>
        <tr class="grid_heading">
            <th class="text-center"><h1></h1></th>
            @*<th width="20%" class="text-center"><h1></h1></th>*@
            <th class="text-center"><h1></h1></th>
            <th class="text-center"><h1></h1></th>
            @*<th width="5%" class="text-center"><h1></h1></th>*@
            <th class="text-center"><h1></h1></th>
            <th class="text-right"><h1></h1></th>
            <th class="text-right"><h1>Total</h1></th>
            <th class="text-right"><span id="QtyAmount"></span></th>
        </tr>
    </tfoot>
</table>
