@model ArabErp.Domain.SupplyOrder
<div class="table-responsive">
    <table class="table table-bordered" id="tab_logic">
        <thead>
            <tr class="grid_heading">
                <th width="1%" class="text-center"><h1>#</h1></th>
                <th width="13%"><h1>PRQ No. & Date</h1></th>
                <th width="25%"><h1>Material/Spares</h1></th>
                <th width="25%"><h1>Description</h1></th>
                <th width="10%"><h1>Part No.</h1></th>
                <th width="5%" class="text-right"><h1>Pending Qty</h1></th>
                <th width="5%" class="text-right"><h1>Ordered Qty</h1></th>
                <th width="7%" class="text-right"><h1>Rate</h1></th>
                <th width="5%" class="text-right"><h1>Discount</h1></th>
                <th width="10%" class="text-right"><h1>Amount</h1></th>
            </tr>
        </thead>
        <tbody id="table_validation">
            @if (Model.SupplyOrderItems.Count > 0)
            {
                for (int i = 0; i < Model.SupplyOrderItems.Count(); i++)
                {
                    <tr>
                        <td align="center">@(i + 1) @Html.HiddenFor(m => m.SupplyOrderItems[i].PurchaseRequestItemId)</td>
                        <td>@Html.TextBoxFor(m => m.SupplyOrderItems[i].PRNODATE, new { @class = "form_input", @readonly = "true", @tabindex = "-1" }) </td>
                        <td>
                            @Html.HiddenFor(m => m.SupplyOrderItems[i].PurchaseRequestItemId)
                            @Html.HiddenFor(m => m.SupplyOrderItems[i].ItemId, new { @class = "itmcodes" })
                            @Html.TextBoxFor(m => m.SupplyOrderItems[i].ItemName, new { @class = "form_input", @readonly = "true", @tabindex = "-1", @title = Model.SupplyOrderItems[i].Remarks, @data_placement="right" })
                        </td>
                        <td>@Html.TextBoxFor(m => m.SupplyOrderItems[i].Description, new { @class = "form_input"})</td>
                        <td>@Html.TextBoxFor(m => m.SupplyOrderItems[i].PartNo, new { @class = "form_input", @readonly = "true" })</td>
                        <td>@Html.TextBoxFor(m => m.SupplyOrderItems[i].BalQty, new { @class = "form_input", @style = "text-align:right", @readonly = "true" })</td>
                        <td>@Html.TextBoxFor(m => m.SupplyOrderItems[i].OrderedQty, new { @class = "form_input clQuantity", @style = "text-align:right", @onkeyup = "QuantityChanged(" + i + ");", @onchange = "ValidateRow(" + i + ")" })</td>
                        <td>@Html.TextBoxFor(m => m.SupplyOrderItems[i].Rate, new { @class = "form_input clRate numbers-only", @style = "text-align:right", @onkeyup = "QuantityChanged(" + i + ");", @required = "true" })</td>
                        <td>@Html.TextBoxFor(m => m.SupplyOrderItems[i].Discount, new { @class = "form_input numbers-only", @style = "text-align:right", @onkeyup = "QuantityChanged(" + i + ");", @required = "true" })</td>
                        <td>@Html.TextBoxFor(m => m.SupplyOrderItems[i].Amount, new { @class = "form_input clAmount", @style = "text-align:right", @readonly = "true", @tabindex = "-1" })</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="9">
                        <center><em>No items found!</em></center>
                    </td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr class="grid_heading">
                <th width="1%" class="text-center"><h1></h1></th>
                <th width="13%" class="text-center"><h1></h1></th>
                <th width="25%" class="text-center"><h1></h1></th>
                <th width="25%" class="text-center"><h1></h1></th>
                <th width="10%" class="text-center"><h1></h1></th>
                <th width="5%" class="text-center"><h1></h1></th>
                <th width="5%" class="text-right" style="vertical-align:middle"><h1>Total</h1></th>
                <th width="5%" class="text-right">
                    @Html.DropDownListFor(m => Model.CurrencyId, new SelectList(ViewBag.currencyList, "Value", "Text", Model.CurrencyId), "Select Currency", new { @class = "form_input" })
                </th>
                <th width="5%" class="text-right">
                    <span id="discount-total"></span>
                </th>
                <th width="5%" class="text-right"><span id="QtyAmount"></span></th>
            </tr>
        </tfoot>

    </table>
</div>
