@model IList<ArabErp.Domain.SupplyOrderPreviousList>

<div class="row">
    <div class="main-grid main-grid-top scroll1">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr class="grid_heading">

                        <th width="10%" nowrap><h1>LPO.No.</h1></th>
                        <th width="7%" nowrap><h1>Date</h1></th>
                        <th width="30%" nowrap><h1>Supplier</h1></th>
                        <th width="12%" nowrap><h1>Quotation No. &amp; Date</h1></th>
                        <th width="15%" nowrap><h1>Purchase Req. No</h1></th>
                        @*<th width="7%" class="text-right" nowrap><h1>PRQ Qty.</h1></th>
                        <th width="7%" class="text-right" nowrap><h1>Ordered Qty.</h1></th>
                        <th width="7%" class="text-right" nowrap><h1>Balance Qty.</h1></th>*@
                        <th width="10%" class="text-right" nowrap><h1>Total</h1></th>
                        <th width="1%"><center><h1></h1></center></th>
                    </tr>
                </thead>
                <tbody class="grid_row">
                    @if (Model.Count > 0)
                    {
                        int i = 0;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.SupplyOrderNo</td>
                                <td>@item.SupplyOrderDate.ToString("dd/MMM/yyyy")</td>
                                <td>@item.SupplierName</td>
                                <td>@item.QuotationNoAndDate</td>
                                <td>@item.PurchaseRequestNo</td>
                                @*<td align="right">@item.RequestedQuantity</td>
                                <td align="right">@item.SuppliedQuantity</td>
                                <td align="right">@item.BalanceQuantity</td>*@
                                <td align="right">@item.Amount</td>
                                <td>
                                    <center><input type="button" class="form-button4" onclick="OnSelected(@item.SupplyOrderId)" value="Select" title="Select to view details" /></center>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="9">
                                <center>
                                    <em>No items found!</em>
                                </center>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
</div>
        </div>
            <div class="row-count1">
                <h5>Row Count:- @Model.Count()</h5>
            </div>
    </div>

