@using ArabErp.Domain
@model SupplyOrder
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function() {
        $('#supplyorder_form').bootstrapValidator({
            fields: {
                SupplyOrderNo: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter SupplyOrderNo'
                        }
                    }
                },
                SupplyOrderDate: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter SupplyOrderDate'
                        }
                    }
                },

                SupplierId: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter SupplyOrderDate'
                        }
                    }
                },
                RequiredDate: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter required date'
                        }
                    }
                }

         }
        });

    });


    $(function () {
        $("#SupplyOrderDate").datepicker({ dateFormat: "dd/MM/yy" });
        $("#RequiredDate").datepicker({ dateFormat: "dd/MM/yy" });
    });



</script>
<div class="container">
    <div class="row">
        <div class="form-head1">
            <h4>Supply Order</h4>
        </div>
        <div class="main-part pad1">
           @using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom", @id = "supplyorder_form" }))
           {
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="sono">SO.No.</label>
                        @Html.TextBoxFor(m => m.SupplyOrderNo, new { @class = "form_input" })
                    </div>
                    <div class="col-md-2 col-md-offset-8">
                        <label for="inputDate">Date</label>
                        @Html.TextBoxFor(m => m.SupplyOrderDate, String.Format("{0:dd/MM/yyyy}", new { @class = "form_input" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="SupplierId">Supplier</label>
                        @Html.DropDownListFor(m => Model.SupplierId, (SelectList)ViewBag.SupplierList, "Select Supplier", new { @class = "form_input", autocomplete = "off" })
                    </div>
                    <div class="col-md-4">
                        <label for="cusref">Quotation No. & Date</label>
                        @Html.TextBoxFor(m => m.QuotaionNoAndDate, new { @class = "form_input" })
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="grid_heading">
                                <th width="5%"><h1>Sl.No.</h1></th>
                                <th width="20%"><h1>PRS No & Date</h1></th>
                                <th width="25%"><h1>Material</h1></th>
                                <th width="10%"><h1>Part No</h1></th>
                                <th width="10%" class="text-right"><h1>Bal Qty</h1></th>
                                <th width="15%" class="text-right"><h1>Ordered Qty</h1></th>
                                <th width="5%" class="text-right"><h1>Rate</h1></th>
                                <th width="5%" class="text-right"><h1>Discount</h1></th>
                                <th width="5%" class="text-right"><h1>Amount</h1></th>
                            </tr>
                        </thead>
                        <tbody class="grid_row">
@for (int i = 0; i < Model.SupplyOrderItems.Count(); i++)
{
                            <tr>

                                <td>@(i +1) @Html.HiddenFor(m => m.SupplyOrderItems[i].PurchaseRequestItemId)</td>
                                <td>@Html.TextBoxFor(m => m.SupplyOrderItems[i].PurchaseRequestItemId, new { @class = "form_input", @disabled = "true" })</td>                               
                                <td>@Html.TextBoxFor(m => m.SupplyOrderItems[i].ItemName, new { @class = "form_input", @disabled = "true" })</td>
                                <td>@Html.TextBoxFor(m => m.SupplyOrderItems[i].PartNo, new { @class = "form_input", @disabled = "true" })</td>
                                <td>@Html.TextBoxFor(m => m.SupplyOrderItems[i].BalQty, new { @class = "form_input", @disabled = "true" })</td>
                                <td>@Html.TextBoxFor(m => m.SupplyOrderItems[i].OrderedQty, new { @class = "form_input" })</td>
                                <td>@Html.TextBoxFor(m => m.SupplyOrderItems[i].Rate, new { @class = "form_input" })</td>
                                <td>@Html.TextBoxFor(m => m.SupplyOrderItems[i].Discount, new { @class = "form_input" })</td>
                                <td>@Html.TextBoxFor(m => m.SupplyOrderItems[i].Amount , new { @class = "form_input" })</td>
                              
                            </tr>
}
                        </tbody>
                    </table>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="SplRemarks1">Spl.Remarks</label>
                        @Html.TextAreaFor(m => m.SpecialRemarks, new { @class = "form_input" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="payterms">Payment Terms</label>
                        @Html.TextBoxFor(m => m.PaymentTerms, new { @class = "form_input" })
                    </div>
                    <div class="col-md-6">
                        <label for="delterms">Delivery Terms</label>
                        @Html.TextBoxFor(m => m.DeliveryTerms, new { @class = "form_input" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="reqdate">Required Date</label>
                        @Html.TextBoxFor(m => m.RequiredDate, String.Format("{0:dd/MM/yyyy}", new { @class = "form_input" })
                    </div>
                </div>
                <div class="marg">
                    <button class="form-button">Exit</button>
                    <button type="submit" class="form-button">Save</button>
                
                </div>
            }
        </div>
        </div>
</div>


