@using ArabErp.Domain
@model IList<PendingPurchaseRequest>
@{
    ViewBag.Title = "PendingSupplyOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="form-head1">
            <h4>Pending Purchase Requests</h4>
        </div>
        <div class="main-part pad1 white">
            <form method="post" action="@Url.Action("Create", "SupplyOrder")">
                @*<div class=" table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="grid_heading">
                                <th><h1>PRS No.</h1></th>
                                <th><h1>PRS Date</h1></th>
                                <th><h1>Material Description</h1></th>
                                <th class="text-right "><h1>PR Qty.</h1></th>
                                <th class="text-right "><h1>Pending Qty.</h1></th>
                                <th class="text-right "><h1>Unit</h1></th>
                                <th><h1>Required Date</h1></th>
                                <th><h1>Select</h1></th>
                            </tr>
                        </thead>
                        <tbody class="grid_row">

                    </table>
                </div>*@
                <div class="row">

                    <div class="main-grid main-grid-top scroll1">
                        <div class=" table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="grid_heading">
                                        <th><h1>PRS No. and Date</h1></th>
                                        <th><h1>Ageing</h1></th>
                                        <th><h1>Required Date</h1></th>
                                        <th><center><h1>Select</h1></center></th>
                                    </tr>
                                </thead>
                                @for (int i = 0; i < Model.Count(); i++)
{
                                @Html.HiddenFor(m => m[i].PurchaseRequestId)
                                <tbody class="grid_row">
                                    <tr>
                                        <td class="grid-cell">@Model[i].PurchaseRequestNo  -  @Model[i].RequiredDate.ToString("dd/MMM/yyyy") </td>
                                        <td class="grid-cell">@Model[i].Ageing </td>
                                        <td class="grid-cell">@Model[i].RequiredDate.ToString("dd/MMM/yyyy")</td>
                                        <td><center>@Html.CheckBoxFor(m => m[i].Select)</center></td>

                                    </tr>
                                </tbody>
                                }
                            </table>
                        </div>


                    </div>


                    <div class="col-md-12 hrpart top5">
                        <button type="submit" class="form-button right">Proceed</button>
                    </div>
                    </div>







                    @*<div class="main-part wid pad1">
            <div class="table-responsive">


                <div class="row">

                    <div class="col-md-12">


                        <div class="col-md-4 col-sm-4 grid-left">PRS No. and Date</div>
                        <div class="col-md-4 col-sm-4 grid-left">Required Date</div>
                        <div class="col-md-4 col-sm-4 grid-left"></div>


                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            @Html.HiddenFor(m => m[i].PurchaseRequestId)
                            <div class="col-md-4 col-sm-4"><div> @Model[i].PurchaseRequestNo  -  @Model[i].RequiredDate.ToString("dd/MMM/yyyy")  </div></div>
                            <div class="col-md-4 col-sm-4"><div>@Model[i].RequiredDate.ToString("dd/MMM/yyyy") </div></div>
                            <div class="col-md-4 col-sm-4"><div><center>@Html.CheckBoxFor(m => m[i].Select)</center></div></div>
                        }
                    </div>
                </div>

                </div>


            </div>*@










</form>
        </div>
    </div>
</div>
