@model IList<ArabErp.Domain.SupplyOrderPreviousList>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Unapproved Supply Orders / LPO";
}

<script type="text/javascript">

    $(document).ready(function () {
        //---------------------toastr---------------------------//
        toastr.options = {
            "positionClass": "toast-bottom-full-width",
            "timeOut": "5000",
            "extendedTimeOut": "2000"
        }
        if ('@TempData["success"]' != '') {
            toastr.success('@TempData["success"]');
        }
        else if ('@TempData["error"]' != '') {
            toastr.error('@TempData["error"]'.split('|')[0]);
            console.log('@TempData["error"]'.split('|')[1]);
        }
        @{ TempData["success"] = TempData["error"] = ""; }
        //------------------------------------------------------//
    })

    function Approve(id) {
        var url = '@Url.Action("Approve")';
        url += "?id=" + id;
        window.location = url;
    }

    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }

</script>


    <div class="row">
        <div class="form-head1">
            <h4>Unapproved Supply Order / LPO</h4>
        </div>
        <div class="main-part pad1">
            <div class="row">
                <div class="main-grid main-grid-top scroll1">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="grid_heading">
                                    <th width="10%" nowrap><h1>Supply Order No.</h1></th>
                                    <th width="10%" nowrap><h1>Date</h1></th>
                                    <th width="35%" nowrap><h1>Supplier</h1></th>
                                    <th width="10%" nowrap><h1>Quotation No &amp; Date</h1></th>
                                    <th width="5%" nowrap><h1>Requested Qty</h1></th>
                                    <th width="5%" nowrap><h1>Supplied Qty</h1></th>
                                    <th width="5%" nowrap><h1>Balance Qty</h1></th>
                                    <th width="10%" class="text-right" nowrap><h1>Total</h1></th>
                                    <th width="10%"></th>
                                </tr>
                            </thead>
                            <tbody class="grid_row">
                                @{
                                    for (int i = 0; i < Model.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                <input type="text" value="@Model[i].SupplyOrderNo" class="form_input" disabled />
                                            </td>
                                            <td>
                                                <input type="text" value="@Model[i].SupplyOrderDate.ToString("dd MMM yyyy")" class="form_input" disabled />
                                            </td>
                                            <td>
                                                <input type="text" value="@Model[i].SupplierName" class="form_input" disabled />
                                            </td>
                                            <td>
                                                <input type="text" value="@Model[i].QuotationNoAndDate" class="form_input" disabled />
                                            </td>
                                            <td>
                                                <input type="text" value="@Model[i].RequestedQuantity" class="form_input text-right" disabled />
                                            </td>
                                            <td>
                                                <input type="text" value="@Model[i].SuppliedQuantity" class="form_input text-right" disabled />
                                            </td>
                                            <td>
                                                <input type="text" value="@Model[i].BalanceQuantity" class="form_input text-right" disabled />
                                            </td>
                                            <td>
                                                <input type="text" value="@Model[i].Amount" class="form_input text-right" disabled />
                                            </td>
                                            <td align="center">
                                                <input type="button" value="Approve" class="form-button4" onclick="Approve(@Model[i].SupplyOrderId)" />
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                    </div>

                </div>
                <div class="row-count1">
                    <h5>Row Count:- @Model.Count()</h5>
                </div>

                </div>

                <div class="row">

                    <div class="col-md-12 hrpart">
                        <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
                    </div>
                </div>

            </div>
    </div>
