@model IList<ArabErp.Domain.SupplyOrderPreviousList>

@{
    ViewBag.Title = "Previous List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    @*function Pending() {
        var url = '@Url.Action("PendingSupplyOrder")';
        window.location = url;
    }*@

    function Exit() {
        var url = '@Url.Action("PendingSupplyOrder")';
        window.location = url;
    }

    function OpenEditForm() {
        alert("function not defined");
    }
</script>

<div class="container">
    <div class="row">
        <div class="form-head1">
            <h4>Supply Order / LPO</h4>
        </div>
        <div class="main-part pad1">

            <div class="table-responsive scroll4">
                <table class="table table-bordered">
                    <thead>
                        <tr class="grid_heading">
                            <th width="15%" nowrap><h1>Supply Order No.</h1></th>
                            <th width="8%" nowrap><h1>Date</h1></th>
                            <th width="15%" nowrap><h1>Supplier</h1></th>
                            <th width="15%" nowrap><h1>Quotation No &amp; Date</h1></th>
                            <th width="1%" nowrap><h1>Requested Qty</h1></th>
                            <th width="1%" nowrap><h1>Supplied Qty</h1></th>
                            <th width="1%" nowrap><h1>Balance Qty</h1></th>
                            <th width="8%" class="text-right" nowrap><h1>Total</h1></th>
                            <th width="1%"></th>
                        </tr>
                    </thead>
                    <tbody class="grid_row">
                        @{
                            for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <input type="text" value="@Model[i].SupplyOrderNo" class="form_input" disabled />
                                    </td>
                                    <td>
                                        <input type="text" value="@Model[i].SupplyOrderDate.ToString("dd MMM yyyy")" class="form_input" disabled />
                                    </td>
                                    <td>
                                        <input type="text" value="@Model[i].SupplierName" class="form_input" disabled />
                                    </td>
                                    <td>
                                        <input type="text" value="@Model[i].QuotationNoAndDate" class="form_input" disabled />
                                    </td>
                                    <td>
                                        <input type="text" value="@Model[i].RequestedQuantity" class="form_input text-right" disabled />
                                    </td>
                                    <td>
                                        <input type="text" value="@Model[i].SuppliedQuantity" class="form_input text-right" disabled />
                                    </td>
                                    <td>
                                        <input type="text" value="@Model[i].BalanceQuantity" class="form_input text-right" disabled />
                                    </td>
                                    <td>
                                        <input type="text" value="@Model[i].Amount" class="form_input text-right" disabled />
                                    </td>
                                    <td align="center">
                                        <input type="button" value="Select" class="form-button4" onclick="OpenEditForm(@Model[i].SupplyOrderId)" />
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

            </br>
            <div class="row-count">
                <h5>Row Count:- @Model.Count()</h5>
            </div>

            <div class="row">
                <div class="col-md-12 hrpart">
                    <input class="form-button right" type="button" value="Exit" onclick="Exit()" />
                </div>
            </div>

        </div>
    </div>
</div>
