
@model IList<ArabErp.Domain.Customer>
<script type="text/javascript">
    function OpenEdit(id) {
        var url = '@Url.Action("Edit")';
        url += "?Id=" + id;
        window.location = url;
     

    }

    function OpenDelete(id) {
        var url = '@Url.Action("Delete")';
        url += "?Id=" + id;
        window.location = url;
      
    }

    function OpenApprove(id) {
        var url = '@Url.Action("ApprovalList")';
        url += "?Id=" + id;
        window.location = url;
       
    }

</script>

<div class="row">
    <div class="main-grid main-grid-top scroll1">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="grid_heading">
                        <th width="10%" nowrap><h1>Code</h1></th>
                        <th width="10%" nowrap><h1>Customer Name</h1></th>
                        <th width="10%" nowrap><h1>Customer Category</h1></th>
                        <th width="10%" nowrap><h1> Country</h1></th>
                        <th width="5%" nowrap></th>
                        <th width="5%" nowrap></th>
                        <th width="5%" nowrap></th>
                    </tr>
                </thead>
                <tbody class="grid_row">

                    @if (Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CustomerRefNo</td>
                                <td>@item.CustomerName</td>
                                <td>@item.CusCategoryName</td>
                                <td>@item.CountryName</td>
                               
                                <td>
                                    <center><input type="button" class="form-button4" value="Edit"  onclick="OpenEdit(@item.CustomerId)" /></center>
                                </td>
                                 <td>
                                    <center><input type="button" class="form-button4" value="Delete"  onclick="OpenDelete(@item.CustomerId)" /></center>
                                </td>
                                <td>
                                    @if(item.approve==0)
                                    {
                                          <center><input type="button" class="form-button4" value="Approve" onclick="OpenApprove(@item.CustomerId)" /></center>
                                    }
                                    else
                                    {
                                        <center><input type="button" class="form-button4" value="Approved" /></center>
                                    }
                                </td>
                           </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">
                                <center><em>No items found!</em></center>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="row-count1">
        <h5>Row Count:- @Model.Count()</h5>
    </div>
</div>
