@model ArabErp.Domain.Customer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $('#customer_form').bootstrapValidator({
            fields: {
                CustomerRefNo: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter customer no.'
                        }
                    }
                },
                CustomerName: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter customer name'
                        }
                    }
                },
                CategoryId: {
                    validators: {
                        notEmpty: {
                            message: 'Please select category'
                        }
                    }
                },
                LeadSourceId: {
                    validators: {
                        notEmpty: {
                            message: 'Please select lead source'
                        }
                    }
                },
                CurrencyId: {
                    validators: {
                        notEmpty: {
                            message: 'Please select currency'
                        }
                    }
                },
                DoorNo: {
                    validators: {
                        stringLength: {
                            min: 8,
                        },
                        notEmpty: {
                            message: 'Please enter door no.& building'
                        }
                    }
                },
                Street: {
                    validators: {
                        stringLength: {
                            min: 4,
                        },
                        notEmpty: {
                            message: 'Please enter street & city'
                        }
                    }
                },
                State: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter state'
                        }
                    }
                },
                Zip: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter  zip code'
                        },
                  
                    }
                },
                Phone: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter your phone number'
                        },
                        phone: {
                            country: 'US',
                            message: 'Please enter a vaild phone number with area code'
                        }
                    }
                },
                Email: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter email address'
                        },
                        emailAddress: {
                            message: 'Please enter a valid email address'
                        }
                    }
                },
            }
        });
    })

    $(function () {
        $("#SaleOrderDate").datepicker({ dateFormat: "dd/MM/yy" });
    });
</script>


    <div class="container">
        <div class="row">
            <div class="form-head">
                <h4>Customer</h4>
            </div>
            <div class="col-md-12">
                <form role="form" action="@Url.Action("Save")" method="post" id="customer_form">
                    <div class="row form-group  main-part">


                        <div class="col-md-4">

                                <div class="part">
                                <label for="code">Code</label>

                                @Html.TextBoxFor(m => m.CustomerRefNo, new { @class = "form_input ", autocomplete = "off" })
                                </div>

                               <div class="part">

                                <label for="categry">Category</label>

                                @Html.DropDownListFor(m => m.CategoryId,
                                          new SelectList(Enum.GetValues(typeof(ArabErp.Domain.CategoryId))),
                                                            "Select Category", new { @class = "form_input" })
                                </div>

                                <div class="part">
                                    
                                <label for="doorno">Door No.& Building <b>(Address & Communication)</b></label>
                                @Html.TextBoxFor(m => m.DoorNo, new { @class = "form_input", autocomplete = "off" })

                                </div>

                                <div class="part">

                                <label for="zip">Zip</label>
                                @Html.TextBoxFor(m => m.Zip, new { @class = "form_input ", autocomplete = "off" })
                                </div>
                                <div class="part">

                                <label for="cntperson">Contact Person</label>
                                @Html.TextBoxFor(m => m.ContactPerson, new { @class = "form_input", autocomplete = "off" })
                                </div>


                            </div>



                        <div class="col-md-4">

                            <div class="part">
                                <label for="name">Name</label>
                                @Html.TextBoxFor(m => m.CustomerName, new { @class = "form_input ", autocomplete = "off" })
                            </div>

                            <div class="part">
                                <label for="leadsource">Lead Source</label>
                                @Html.DropDownListFor(m => m.LeadSourceId,
                                                   new SelectList(Enum.GetValues(typeof(ArabErp.Domain.LeadSourceId))),
                                                            "Select Lead Source", new { @class = "form_input" })
                            </div>

                            <div class="part">
                                <label for="street">Street & City</label>
                                @Html.TextBoxFor(m => m.Street, new { @class = "form_input ", autocomplete = "off" })

                            </div>

                            <div class="part">

                                <label for="phno">Phone No.</label>
                                @Html.TextBoxFor(m => m.Phone, new { @class = "form_input ", autocomplete = "off" })
                            </div>
                            <div class="part">

                                <label for="prntname">Print Name</label>
                                @Html.TextBoxFor(m => m.CustomerPrintName, new { @class = "form_input ", autocomplete = "off" })
                            </div>


                        </div>



                        <div class="col-md-4">

                            <div class="part">
                                <label for="curnc">Currency</label>

                                @Html.DropDownListFor(m => m.CurrencyId,
                                                   new SelectList(Enum.GetValues(typeof(ArabErp.Domain.CurrencyId))),
                                                            "Select Currency", new { @class = "form_input" })
                            </div>

                            <div class="part">
                                <label for="state">State</label>
                                @Html.TextBoxFor(m => m.State, new { @class = "form_input ", autocomplete = "off" })
                            </div>

                            <div class="part">
                                <label for="country">Country</label>
                                @Html.DropDownListFor(m => m.Country,
                                                            new SelectList(Enum.GetValues(typeof(ArabErp.Domain.Country))),
                                                            "Select Country", new { @class = "form_input" })

                            </div>

                            <div class="part">

                                <label for="fax">Fax</label>
                                @Html.TextBoxFor(m => m.Fax, new { @class = "form_input ", autocomplete = "off" })
                            </div>
                            <div class="part">

                                <label for="email">E-mail</label>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form_input ", autocomplete = "off" })
                            </div>


                        </div>

                        <div class="marg">
                            <button type="submit" class="form-button top2">Exit</button>

                            <button type="submit" class="form-button">Save</button>

                        </div>

                    </div>

                   



                    
                </form>
            </div>
        </div>
    </div>

