@model ArabErp.Domain.PurchaseBill

<script>
    $(document).ready(function () {

        var TotAssAmt = parseFloat("0");
        var TotAmt = parseFloat("0");

        //$('.clAmount').each(function (i, obj) {

        //    var AssAmt = parseFloat($("#Items_" + i + "__Amount").val());
        //    var Amt = parseFloat($("#Items_" + i + "__TotAmount").val());
        //    if (isNaN(AssAmt)) {
        //        AssAmt = parseFloat("0");
        //    }
        //    if (isNaN(Amt)) {
        //        Amt = parseFloat("0");
        //    }

        //    TotAssAmt = TotAssAmt + AssAmt;
        //    TotAmt = TotAmt + Amt;

        //    $("#TotalAmount").text(TotAmt.toFixed(2));
        //    $("#TotalAssAmount").text(TotAssAmt.toFixed(2));

        //});

        calculateSummary();

        //$("#PurchaseBillAmount").val(TotAmt.toFixed(2))


    });

    function TextChanged(row) {
        var quantity = $("#Items_" + row + "__Quantity").val();
        var rate = $("#Items_" + row + "__Rate").val();
        var discount = $("#Items_" + row + "__Discount").val();
        var TaxPerc = $("#Items_" + row + "__TaxPercentage").val();

        if (Number(discount) > (Number(quantity) * Number(rate))) {
            toastr.info("Discount cannot be greater than amount");
            $("#Items_" + row + "__Discount").val((Number(quantity) * Number(rate)).toFixed(2));
        }

        if (isNaN(quantity)) {
            quantity = 0;
        }
        if (isNaN(rate)) {
            rate = 0;
        }
        if (isNaN(discount)) {
            discount = 0;
        }
        if (isNaN(TaxPerc)) {
            TaxPerc = 0;
        }

        var amount = (quantity * rate) - discount;

        $("#Items_" + row + "__Amount").val(amount.toFixed(2));
        var AssAmount = parseFloat($("#Items_" + row + "__Amount").val());
        if (isNaN(AssAmount)) {
            AssAmount = 0;
        }

        var TaxAmount = parseFloat((AssAmount) * (TaxPerc / 100));

        var totalamount = amount + TaxAmount;

        $("#Items_" + row + "__TaxAmount").val(TaxAmount.toFixed(2));
        $("#Items_" + row + "__TotAmount").val(totalamount.toFixed(2));

        calculateSummary();

    }


    function calculateSummary() {
        var TotAssAmt = parseFloat("0");
        var TotAmt = parseFloat("0");
        var qty_rate = 0;

        var tax_total = calculateTaxTotal();
        $("#tax-total").text(tax_total.toFixed(2));

        $('.clAmount').each(function (i, obj) {
            var quantity = $("#Items_" + i + "__Quantity").val();
            var rate = $("#Items_" + i + "__Rate").val();
            var AssAmt = parseFloat($("#Items_" + i + "__Amount").val());
            var Amt = parseFloat($("#Items_" + i + "__TotAmount").val());
            var tax_amount = parseFloat($("#Items_" + i + "__TaxAmount").val());
            tax_amount = isNaN(tax_amount) ? 0 : tax_amount;

            if (isNaN(quantity)) {
                quantity = parseFloat("0");
            }
            if (isNaN(rate)) {
                rate = parseFloat("0");
            }
            if (isNaN(AssAmt)) {
                AssAmt = parseFloat("0");
            }
            if (isNaN(Amt)) {
                Amt = parseFloat("0");
            }

            qty_rate += (quantity * rate);
            
            TotAssAmt = TotAssAmt + AssAmt;
            TotAmt = TotAmt + Amt;// + tax_amount;

            $("#qty_rate").val(qty_rate.toFixed(2));
            $("#TotalAmount").text(TotAmt.toFixed(2));
            $("#gross_amount").val(TotAmt.toFixed(2));
            $("#TotalAssAmount").text(TotAssAmt.toFixed(2));
            $("#AssessableAmount").val(TotAssAmt.toFixed(2));
        });

        $("#PurchaseBillAmount").val((Number($("#TotalAmount").text()) + Number($("#Addition").val()) - Number($("#Deduction").val())).toFixed(2));
    }

    function calculateTaxTotal() {
        var amount = 0;
        $("input[id$='__TaxAmount']").each(function (index, object) {
            if (isNaN(amount)) {
                amount = 0;
                return 0;
            }
            else {
                amount += Number($(object).val());
            }
        })
        return amount;
    }
</script>
<div class="tab_logic">

    <table class="table table-bordered" id="tab_logic">
        <thead>
            <tr class="grid_heading">
                <th nowrap width="15%"><h1>GRN No. & Date</h1></th>
                <th nowrap width="25%"><h1>Material/Spares</h1></th>
                <th nowrap width="5%" class="text-right "><h1>Qty</h1></th>
                <th nowrap width="5%" class="text-left"><h1>UoM</h1></th>
                <th nowrap width="8%" class="text-right "><h1>Rate</h1></th>
                <th nowrap width="8%" class="text-right "><h1>Discount</h1></th>
                <th nowrap width="8%" class="text-right " title="Assessable Value"><h1>Assess. Value</h1></th>
                <th nowrap width="8%" class="text-right "><h1>Tax %</h1></th>
                <th nowrap width="8%" class="text-right "><h1>Tax Amount</h1></th>
                <th nowrap width="10%" class="text-right "><h1>Total Amount</h1></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                <tr>
                    <td>
                        @Html.TextBoxFor(m => m.Items[i].GRNNoDate, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                    </td>
                    <td>
                        @Html.HiddenFor(m => m.Items[i].GRNItemId)
                        @Html.TextBoxFor(m => m.Items[i].ItemName, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                    </td>
                    <td>@Html.TextBoxFor(m => m.Items[i].Quantity, new { @class = "form_input", autocomplete = "off", @style = "text-align:right", @readonly = "readonly" })</td>
                    <td>@Html.TextBoxFor(m => m.Items[i].UnitName, new { @class = "form_input", @style = "text-align:left", autocomplete = "off", @readonly = "readonly" })</td>
                    <td>@Html.TextBoxFor(m => m.Items[i].Rate, new { @class = "form_input numbers-only", @style = "text-align:right", autocomplete = "off", @onchange = "TextChanged(" + i + ");", @onkeyup = "TextChanged(" + i + ");" })</td>
                    <td>@Html.TextBoxFor(m => m.Items[i].Discount, new { @class = "form_input numbers-only", @style = "text-align:right", autocomplete = "off", @onchange = "TextChanged(" + i + ");", @onkeyup = "TextChanged(" + i + ");" })</td>
                    <td>@Html.TextBoxFor(m => m.Items[i].Amount, new { @class = "form_input clAmount", @style = "text-align:right", autocomplete = "off", @readonly = "readonly" })</td>
                    <td>@Html.TextBoxFor(m => m.Items[i].TaxPercentage, new { @class = "form_input numbers-only", @style = "text-align:right", autocomplete = "off", @onkeyup = "TextChanged(" + i + ");", @onchange = "TextChanged(" + i + ");" })</td>
                    <td>@Html.TextBoxFor(m => m.Items[i].TaxAmount, new { @class = "form_input", @style = "text-align:right", autocomplete = "off", @readonly = "readonly" })</td>
                    <td>@Html.TextBoxFor(m => m.Items[i].TotAmount, new { @class = "form_input clAmount", @style = "text-align:right", autocomplete = "off", @readonly = "readonly" })</td>

                </tr>
            }

        </tbody>
        <tfoot>
            <tr class="grid_heading">

                <th class="text-right"></th>
                <th class="text-center"><h1></h1></th>
                <th class="text-center"><h1></h1></th>
                <th class="text-center"><h1>Total</h1></th>
                <th class="text-center">
                    <h1>
                        @Html.DropDownListFor(m => Model.CurrencyId, (SelectList)ViewBag.currlist, "Select Currency", new { @class = "form_input", autocomplete = "off" })
                    </h1>
                </th>
                <th class="text-right"><h1></h1></th>
                <th class="text-right"><h1><span id="TotalAssAmount"></span></h1></th>
                <th class="text-right"></th>
                <th class="text-right">
                    <h1>
                        <span id="tax-total">0.00</span>
                    </h1>
                </th>
                <th class="text-right"><h1><span id="TotalAmount"></span></h1></th>

            </tr>
        </tfoot>
    </table>
</div>
