@model IList<ArabErp.Domain.PurchaseBill>
<div class="row">
    <div class="main-grid main-grid-top scroll1">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr class="grid_heading">
                        <th width="15%" nowrap><h1>Booking No.</h1></th>
                        <th width="10%" nowrap><h1>Booking Date</h1></th>
                        <th width="40%" nowrap><h1>Supplier</h1></th>
                        <th width="15%" nowrap><h1>Bill No. & Date</h1></th>
                        <th width="10%" class="text-right" nowrap><h1>Amount</h1></th>
                        <th width="10%"><center><h1></h1></center></th>
                    </tr>
                </thead>

                <tbody class="grid_row">
                    @if (Model.Count > 0)
                    {
                        int i = 0;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.PurchaseBillRefNo</td>
                                <td>@item.PurchaseBillDate.ToString("dd/MMM/yyyy")</td>
                                <td>@item.Supplier</td>
                                <td>@item.PurchaseBillNoDate</td>
                                <td> 
                                <input type="text" value=@item.PurchaseBillAmount class="form_input text-right" disabled />
                                </td>
                                <td>
                                    <center><input type="button" class="form-button4" onclick="OnSelected(@item.PurchaseBillId)" value="Select" title="Select to view details" /></center>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6">
                                <center>
                                    <em>No items found!</em>
                                </center>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


    <div class="row-count1">
        <h5>Row Count:- @Model.Count()</h5>
    </div>

</div>
