@model ArabErp.Domain.PurchaseBill

<script>
    $(document).ready(function () {

        var TotAssAmt = parseFloat("0");
        var TotAmt = parseFloat("0");

        $('.clAmount').each(function (i, obj) {

            var AssAmt = parseFloat($("#Items_" + i + "__Amount").val());
            var Amt = parseFloat($("#Items_" + i + "__TotAmount").val());
            if (isNaN(AssAmt)) {
                AssAmt = parseFloat("0");
            }
            if (isNaN(Amt)) {
                Amt = parseFloat("0");
            }
           
            TotAssAmt = TotAssAmt + AssAmt;
            TotAmt = TotAmt + Amt;

            $("#TotalAmount").text(TotAmt);
            $("#TotalAssAmount").text(TotAssAmt);
         
        });
      
        $("#PurchaseBillAmount").val(TotAmt)
              

    });
    function TextChanged(row) {
        var quantity = $("#Items_0__Quantity").val();
        var rate = $("#Items_" + row + "__Rate").val();
        var discount = $("#Items_" + row + "__Discount").val();
        var TaxPerc = $("#Items_" + row + "__TaxPercentage").val();
        var AssAmount = parseInt($("#Items_" + row + "__Amount").val());

        if (quantity == NaN) {
            quantity = 0;
        }
        if (rate == NaN) {
            rate = 0;
        }
        if (discount == NaN) {
            discount = 0;
        }
        if (TaxPerc == NaN) {
            TaxPerc = 0;
        }
        if (AssAmount == NaN) {
            AssAmount = 0;
        }
    
        var amount = (quantity * rate) - discount;
       
        var TaxAmount = parseInt((AssAmount) * (TaxPerc / 100));

        var totalamount = amount + TaxAmount;
     
        $("#Items_" + row + "__Amount").val(amount);
        $("#Items_" + row + "__TaxAmount").val(TaxAmount);
        $("#Items_" + row + "__TotAmount").val(totalamount);

        calculateSummary();

    }








    function calculateSummary() {

    

        var TotAssAmt = parseFloat("0");
        var TotAmt = parseFloat("0");

        $('.clAmount').each(function (i, obj) {

            var AssAmt = parseFloat($("#Items_" + i + "__Amount").val());
            var Amt = parseFloat($("#Items_" + i + "__TotAmount").val());
            if (isNaN(AssAmt)) {
                AssAmt = parseFloat("0");
            }
            if (isNaN(Amt)) {
                Amt = parseFloat("0");
            }
            TotAssAmt = TotAssAmt + AssAmt;
            TotAmt = TotAmt + Amt;

            $("#TotalAmount").text(TotAmt);
            $("#TotalAssAmount").text(TotAssAmt);
        });
    }
</script>
<div class="tab_logic">

    <table class="table table-bordered table-hover" id="tab_logic">
        <thead>
            <tr class="grid_heading">

                <th width="15%"><h1>GRN No. & Date</h1></th>
                <th width="25%"><h1>Material/Spares</h1></th>
                <th width="5%" class="text-right "><h1>Qty.</h1></th>
                <th width="5%" class="text-left"><h1>UoM</h1></th>
                <th width="5%" class="text-right "><h1>Rate</h1></th>
                <th width="10%" class="text-right "><h1>Discount</h1></th>
                <th width="10%" class="text-right "><h1>Ass.Value</h1></th>
                <th width="5%" class="text-right "><h1>Tax%</h1></th>
                <th width="10%" class="text-right "><h1>Tax Amt.</h1></th>
                <th width="10%" class="text-right "><h1>Tot.Amt.</h1></th>
            </tr>
        </thead>
        <tbody>
                @for (int i = 0; i < Model.Items.Count; i++)
                {
                    <tr>



                        <td>
                        @Html.TextBoxFor(m => m.Items[i].GRNNoDate, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        </td>
                        <td>
                            @Html.HiddenFor(m => m.Items[i].GRNItemId)
                            @Html.TextBoxFor(m => m.Items[i].ItemName, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        </td>
                        <td>@Html.TextBoxFor(m => m.Items[i].Quantity, new { @class = "form_input", autocomplete = "off", @style ="text-align:right",@readonly = "readonly" })</td>
                        <td>@Html.TextBoxFor(m => m.Items[i].UnitName, new { @class = "form_input", @style = "text-align:left", autocomplete = "off", @readonly = "readonly" })</td>
                        <td>@Html.TextBoxFor(m => m.Items[i].Rate, new { @class = "form_input numbers-only", @style = "text-align:right", autocomplete = "off", @readonly = "readonly", @onchange = "TextChanged(" + i + ");" })</td>
                        <td>@Html.TextBoxFor(m => m.Items[i].Discount, new { @class = "form_input numbers-only", @style = "text-align:right", autocomplete = "off", @readonly = "readonly", @onchange = "TextChanged(" + i + ");" })</td>
                        <td>@Html.TextBoxFor(m => m.Items[i].Amount, new { @class = "form_input clAmount", @style = "text-align:right", autocomplete = "off", @readonly = "readonly" })</td>
                        <td>@Html.TextBoxFor(m => m.Items[i].TaxPercentage, new { @class = "form_input numbers-only", @style = "text-align:right", autocomplete = "off", @onchange = "TextChanged(" + i + ");" })</td>
                        <td>@Html.TextBoxFor(m => m.Items[i].TaxAmount, new { @class = "form_input", @style = "text-align:right", autocomplete = "off", @readonly = "readonly" })</td>
                        <td>@Html.TextBoxFor(m => m.Items[i].TotAmount, new { @class = "form_input clAmount", @style = "text-align:right", autocomplete = "off", @readonly = "readonly" })</td>

                    </tr>
                }

            </tbody>
    <tfoot>
            <tr class="grid_heading">

                <th width="15%" class="text-center"><h1></h1></th>
                <th width="25%" class="text-center"><h1></h1></th>
                <th width="5%" class="text-center"><h1></h1></th>
                <th width="5%" class="text-center"><h1></h1></th>
                <th width="10%" class="text-center"><h1></h1></th>
                <th width="10%" class="text-right"><h1>Total</h1></th>
                <th width="10%" class="text-right"><h1><span id="TotalAssAmount"></span></h1></th>
                <th width="5%" class="text-right"><h1></h1></th>
                <th width="10%" class="text-center"><h1></h1></th>
                <th width="10%" class="text-right"><h1><span id="TotalAmount"></span></h1></th>
               
            </tr>
        </tfoot>
    </table>
</div>
