@model ArabErp.Domain.PurchaseBill
<div class="row form-group">
    <div class="col-md-12">
        <div class="row">
            <div class="part">
                <div class="col-md-1"><label for="Remarks">Spl.Remarks</label></div>
                <div class="col-md-11">
                    @Html.TextAreaFor(m => m.Remarks, new { @class = "form_input form_input-h", autocomplete = "off" })
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row form-group">
    <div class="col-md-4">
        <label for="Addition">Addition</label>
        @Html.TextBoxFor(m => m.Addition, new { @class = "form_input", @style = "text-align:right", autocomplete = "off", @Value = "0.00" })
    </div>
    <div class="col-md-8">
        <label for="AdditionRemarks">Remarks</label>
        @Html.TextBoxFor(m => m.AdditionRemarks, new { @class = "form_input", autocomplete = "off" })
    </div>
</div>

<div class="row form-group">
    <div class="col-md-4">
        <label for="Deduction">Deduction</label>
        @Html.TextBoxFor(m => m.Deduction, new { @class = "form_input", @style = "text-align:right", autocomplete = "off", @Value = "0.00" })
    </div>
    <div class="col-md-8">
        <label for="DeductionRemarks">Remarks</label>
        @Html.TextBoxFor(m => m.DeductionRemarks, new { @class = "form_input", autocomplete = "off" })
    </div>
</div>
