@model  ArabErp.Domain.PurchaseBill 
@{
    ViewBag.Title = "Purchase Bill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(function () {

        //---------------------toastr---------------------------//
        toastr.options = {
            "positionClass": "toast-bottom-full-width",
            "timeOut": "5000",
            "extendedTimeOut": "2000"
        }
        if ('@TempData["success"]' != '') {
            toastr.success('@TempData["success"]');
        }
        else if ('@TempData["error"]' != '') {
            toastr.error('@TempData["error"]'.split('|')[0]);
            console.log('@TempData["error"]'.split('|')[1]);
        }
        @{ TempData["success"] = TempData["error"] = ""; }
        //------------------------------------------------------//

        $("#PurchaseBillDate").datepicker({ dateFormat: "dd-MM-yy" });
        $("#PurchaseBillDueDate").datepicker({ dateFormat: "dd-MM-yy" });
    });

    $(document).ready(function () {
        $('#PurchaseBillNoDate').focus();

        //bind keypress event for new row inputs.
        $(".numbers-only").keypress(function (e) {
            //alert("hi");
            if (e.which == 8 || (e.which == 46 && $(this).val().indexOf('.') == -1) || (e.which > 47 && e.which < 58)) { } else { return false; }
        });
    });

    function Exit() {
        location.href = '@Url.Action("Index")';
    }

    function formValidation() {
        var additionId = $("#AdditionId").val();
        var add_value = $("#Addition").val();
        var deductionId = $("#DeductionId").val();
        var ded_value = $("#Deduction").val();
        if(additionId != '' && (add_value.trim() == '' || Number(add_value) <= 0)){
            toastr.info("Addition amount is required");
            return false;
        }
        else if(deductionId != '' && (ded_value.trim() == '' || Number(ded_value) <= 0)){
            toastr.info("Deduction amount is required");
            return false;
        }
        return true;
    }

</script>

    <div class="row">
        <div class="form-head1">
            <h4>Purchase Bill</h4>
        </div>

        <div class="main-part pad1">

            @using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom", @id = "grn_form", @onsubmit = "return formValidation()" }))
            {
                @*@Html.HiddenFor(m => m.SupplyOrderId, new { @class = "form_input", autocomplete = "off" })*@
                @Html.Partial("_PurchaseBillHead",Model)
                @Html.Partial("_PurchaseBillTable",Model)
                @Html.Partial("_PurchaseBillFooter",Model)

                <div class="row">

                    <div class="col-md-12 hrpart">
                        <button type="button" class="form-button right" onclick="Exit()">Exit</button>
                        <button type="submit" class="form-button right">Save</button>
                    </div>
                </div>
            }
        </div>
    </div>


