@model  ArabErp.Domain.PurchaseBill
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(function () {

        $("#PurchaseBillDate").datepicker({ dateFormat: "dd-MM-yy" });
    });

    $(document).ready(function () {
        $('#BillNoDate').focus();

        //bind keypress event for new row inputs.
        $(".numbers-only").keypress(function (e) {
            //alert("hi");
            if (e.which == 8 || (e.which == 46 && $(this).val().indexOf('.') == -1) || (e.which > 47 && e.which < 58)) { } else { return false; }
        });
    });

    function Exit() {
        location.href = '@Url.Action("Index")';
    }

    function Delete(id)
    {
        var url = '@Url.Action("Delete")';
        url += "/" + id
        window.location = url;
    }


</script>

<div class="row">
    <div class="form-head1">
        <h4>Purchase Bill</h4>
    </div>

    <div class="main-part pad1">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "createFrom", @id = "grn_form" }))
        {
            @*@Html.HiddenFor(m => m.SupplyOrderId, new { @class = "form_input", autocomplete = "off" })*@
            @Html.Partial("_PurchaseBillHead", Model)
            @Html.Partial("_PurchaseBillTable", Model)
            @Html.Partial("_PurchaseBillFooter", Model)

            <div class="row">
                <div class="col-md-12 hrpart">
                    <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
                    <button type="submit" class="form-button right">Edit</button>
                    <button type="button" class="form-button left" onclick="Delete('@Model.PurchaseBillId')">Delete</button>
                </div>
            </div>


        }
    </div>
</div>



