@using ArabErp.Domain
@model IList<PendingGRN>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>


    function Validation() {
        var count = 0;
       
        $(".clcheck").each(function (i, obj) {


            if ($(obj).is(':checked')){

                count = count + 1;

            }

        });
       
        if ($("#cboSupplier").val() == '') {
            alert("Select Supplier.");
            $('#cboSupplier').focus();
            return false;
        }
        if (count == 0) {
            alert("Select Atleast One Record...");
            return false;
        }
    }

    $(document).ready(function () {
        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-bottom-full-width",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "0",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        if ('@TempData["success"]' != '') {
            toastr.success('@TempData["success"]');
        }
        else if ('@TempData["error"]' != '') {
            toastr.error('@TempData["error"]'.split('|')[0]);
            console.log('@TempData["error"]'.split('|')[1]);
        }
        @{ TempData["success"] = TempData["error"] = ""; }


       
    })
    function OnSupplierChanged(sender) {
        var id = $(sender).val();
        var url = '@Url.Action("pendingGRN")';
        $("#pending-grn").load(url, { supplierId: id });
    }
    function PreviousList()
    {
    window.location='@Url.Action("PurchaseBillList", "PurchaseBill")'
    }


    </script>

<div class="container">
    <div class="row">
        <div class="form-head1">
            <h4>Pending Purchase Bill</h4>
        </div>
        <div class="main-part pad1">
            <form method="post" onsubmit="return Validation()" action="@Url.Action("Create", "PurchaseBill")">
                <div class="row form-group">
                    <div class="col-md-4">
                        <label>Supplier</label>

                        @Html.DropDownListFor(m => Model[0].SupplierId, (SelectList)ViewBag.supplierList, "All", new { @id = "cboSupplier", @class = "form_input", @onchange = "OnSupplierChanged(this)" })
                   
                    </div>
                </div>
         
                <div class="table-responsive scroll4" id="pending-grn">

                    @Html.Action("pendingGRN")

                </div>
                <div class="row">

                    <div class="col-md-12 hrpart">
                        <input type="button" class="form-button" onclick="PreviousList()" value="Previous">
                      
                       
                        <button type="submit" class="form-button right">Proceed</button>

                    </div>

                </div>


            </form>
</div>
    </div>
</div>

