@model IList<ArabErp.Domain.PurchaseBill>
@{
    ViewBag.Title = "PurchaseBillList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .fade {
        opacity: 0.6;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        $("#txtFrom").datepicker({
            dateFormat: "dd-MM-yy"
        });
        $("#txtTo").datepicker({
            dateFormat: "dd-MM-yy"
        });
    })

    function Exit() {
        var url = '@Url.Action("Index")';
        window.location = url;
    }

    function OpenEditForm(id) {
        var url = '@Url.Action("Edit")';
        url += "/" + id;
        window.location = url;
    }

    function Filter() {
        $("#purchasebilllist").addClass("fade");
        var id = $("#cboPBNo").val();
        var supid = $("#cboSupplier").val();
        var from = $("#txtFrom").val();
        var to = $("#txtTo").val();
        var url = '@Url.Action("PurchaseBillListDatas")';
        url += "?from=" + from + "&to=" + to + "&id=" + id + "&supid=" + supid;

        $("#purchasebilllist").load(url, function () {
            $("#purchasebilllist").removeClass("fade");
        });
    }

    $(document).ready(function () {
        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-bottom-full-width",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "0",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        if ('@TempData["success"]' != '') {
            toastr.success('@TempData["success"]');
        }
        else if ('@TempData["error"]' != '') {
            toastr.error('@TempData["error"]'.split('|')[0]);
            console.log('@TempData["error"]'.split('|')[1]);
        }
        @{ TempData["success"] = TempData["error"] = ""; }



    })

</script>

<div class="row">

    <div class="form-head1">
        <h4>Purchase Bill List</h4>
    </div>

    <div class="main-part pad1">

        <div class="row">
            <div class="col-md-2">
                <label for="cboPBNo">Bill No.</label>
                @Html.DropDownList("cboPBNo", (SelectList)ViewBag.BillNoList, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>
            <div class="col-md-3">
                <label for="cboSupplier">Supplier</label>
                @Html.DropDownList("cboSupplier", (SelectList)ViewBag.SupplierList, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>
            <div class="col-md-2">
                <label>From</label>
                <input id="txtFrom" value="@System.DateTime.Today.AddMonths(-1).ToString("dd-MMMM-yyyy")" onchange="Filter()" class="form_input" />
            </div>

            <div class="col-md-2">
                <label>To</label>
                <input id="txtTo" value="@System.DateTime.Today.ToString("dd-MMMM-yyyy")" onchange="Filter()" class="form_input" />
            </div>
        </div>

        <br />

        <div class="table-responsive" id="purchasebilllist">
            @Html.Action("PurchaseBillListDatas")
        </div>

        <div class="row">
            <div class="col-md-12 hrpart">
                <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
            </div>
        </div>
    </div>
</div>



