@model ArabErp.Domain.Designation
@{ 
    ViewBag.Title = "Designation"; 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString(); }

<script type="text/javascript">
    function Exit() {
        location.href = '@Url.Action("Index","Home")';

    }
    $(document).ready(function () {
        var Action = '@actionName';
        if (Action == 'Delete') {

            $("input[type='text'], select, textarea").attr('disabled', 'disabled');
            $("input[type=radio]").attr('disabled', true);
        }
        if (Action == 'Create') {
            $("#GenderId").prop("checked", true)
        }

        $("#DesignationName").focus();
    });

</script>



    <div class="row">

        <div class="form-head1">
            <h4>Designation</h4>
        </div>

        <div class="main-part pad1">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "createFrom", @id = "Designation_form" }))
            {

                <div class="row">

                    <div class="col-md-4">

                        @Html.HiddenFor(m => m.DesignationId)
                        @Html.HiddenFor(m => m.DesignationRefNo)

                        <div class="part4">
                            <label for="DesignationRefNo">Code</label>
                            @Html.TextBoxFor(m => m.DesignationRefNo, new { @class = "form_input form_input-half", autocomplete = "off", @readonly = "readonly" })
                        </div>

                        <div class="part4">
                            <label for="DesignationName">Name</label>
                            @Html.TextBoxFor(m => m.DesignationName, new { @class = "form_input", autocomplete = "off" })
                        </div>

                    </div>

                    <div class="col-md-8">
                    </div>

                    <div class="col-md-12 hrpart">
                        <button type="button" class="form-button right" onclick="Exit();">Exit</button>
                        @if (actionName == "Edit")
                        { <button type="submit" class="form-button right">Update</button> }
                        else
                            if (actionName == "Delete")
                            {  <button type="submit" class="form-button right">Delete</button>}
                            else
                            { <button type="submit" class="form-button right">Save</button>}

                    </div>

                </div>
            }
        </div>

        <div class="main-list">
            @Html.Action("FillDesignationList")
        </div>
        
    </div>

