@model IList<ArabErp.Domain.Designation>
@using GridMvc.Html

<script>
    function OpenEdit(id) {
       alert("open");
        @*var url = '@Url.Action("Edit")';
        url += "?Id=" + id;
        location.href = '@Url.Action("Edit", "Item")';*@

        var url = '@Url.Action("Edit")';
        //url += "?Id=" + id;
        Location.href = url;
        return false;

    }

    function OpenDelete(id) {
        //alert("open");
        @*var url = '@Url.Action("Edit")';
        url += "?Id=" + id;
        location.href = '@Url.Action("Edit", "Item")';*@

        var url = '@Url.Action("Delete")';
        //url += "?Id=" + id;
        Location.href = url;
        return false;
    }

</script>

<style type="text/css">
    .tableData {
        font-size: 12px;
        padding-left: 4px;
    }

    .list {
        display: block;
        height: 320px;
        overflow-y: scroll;
    }

        .list tr:hover {
            background-color: #DFEDF7;
        }
</style>

<div class="table-responsive">

    <div class="main-grid">

        @Html.Grid(Model).Columns(columns =>
                        {
                            columns.Add(m => m.DesignationRefNo).Titled("Ref No.").SetWidth(20);
                            columns.Add(m => m.DesignationName).Titled("Name").SetWidth(210);
                            columns.Add().Encoded(false).Sanitized(false).Css("cent").SetWidth(30).RenderValueAs(m => @<a href="@Url.Action("Edit", new { Id=m.DesignationId })">Edit</a>);
                            columns.Add().Encoded(false).Sanitized(false).Css("cent").SetWidth(30).RenderValueAs(m => @<a href="@Url.Action("Delete", new { Id=m.DesignationId })">Delete</a>);

                        }).WithPaging(10)
        </div>

    <br />
    <div class="row-count1">
        <h5>Row Count:- @Model.Count()</h5>
    </div>
    <br />

    </div>



