@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">


    $(document).ready(function () {

        //---------------------toastr---------------------------//
        toastr.options = {
            "positionClass": "toast-bottom-full-width",
            "timeOut": "5000",
            "extendedTimeOut": "2000"
        }
        if ('@TempData["success"]' != '') {
            toastr.success('@TempData["success"]');
        }
        else if ('@TempData["error"]' != '') {
            toastr.error('@TempData["error"]'.split('|')[0]);
            console.log('@TempData["error"]'.split('|')[1]);
        }
        @{ TempData["success"] = TempData["error"] = ""; }
        //------------------------------------------------------//

    })

  
    function Exit() {

        location.href = '@Url.Action("Index","Home")';
    }

    $(document).ready(function () {

        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-bottom-full-width",
            "preventDuplicates": false,
            "onclick": null,

            "timeOut": "0",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        if ('@TempData["success"]' != "") {
            toastr.success('@TempData["success"]' + '  Item Ref No. is : ' + '@TempData["ItemRefNo"]');
        }
        else if ('@TempData["error"]' != "") {
            toastr.error('@TempData["error"]');
        }
    });

    function Filter() {
        $(grid).addClass("fade");
        var url = '@Url.Action("ItemList")';
        var name = $("#txtName").val();
        var Suppliername = $("#txtSupplier").val();
        name = name.replace(/ /g, "+");
        //url += "?name=" + name;
        //url += "?name=" + Suppliername;
        url += "?name=" + name + "&Suppliername=" + Suppliername;

        $("#grid").load(url, function () {
            $(grid).removeClass("fade");
        });
    }

</script>


<div class="row">

    <div class="form-head1">
        <h4>Supply Order Follow Up</h4>
    </div>

    <div class="main-part pad1">
        <div class="row form-group">
            <div class="col-md-3">
                <label for="txtName">Item Name</label>
                <input type="text" class="form_input bluebox" id="txtName" onkeyup="Filter()" />
            </div>


            <div class="col-md-3">
                <label for="txtSupplier">Supplier</label>
                <input type="text" class="form_input bluebox" id="txtSupplier" onkeyup="Filter()" />
            </div>
        </div>

        <br />
        @using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom", @id = "SupplyOrderFollowup_form" }))
        {
            <div class="row" id="grid">
                @Html.Action("ItemList")
            </div>
            <div class="row">

                <div class="col-md-12 hrpart">
                    <button type="button" class="form-button right" onclick="Exit()">Exit</button>
                    <button type="submit" class="form-button right">Save</button>
                  
                </div>
            </div>

        }

    </div>
   
</div>




