
@model ArabErp.Domain.SupplyOrderFollowUpList 

@{
    ViewBag.Title = "SupplyOrderFollowup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {

        //---------------------toastr---------------------------//
        toastr.options = {
            "positionClass": "toast-bottom-full-width",
            "timeOut": "5000",
            "extendedTimeOut": "2000"
        }
        if ('@TempData["success"]' != '') {
            toastr.success('@TempData["success"]');
        }
        else if ('@TempData["error"]' != '') {
            toastr.error('@TempData["error"]'.split('|')[0]);
            console.log('@TempData["error"]'.split('|')[1]);
        }
        @{ TempData["success"] = TempData["error"] = ""; }
        //------------------------------------------------------//

    })

    function OnItemSelected(id) {
        var url = '@Url.Action("Create")';
        url += "?id=" + id;
        window.location = url;
    }

</script>

<script type="text/javascript">

    $(document).ready(function () {

        assignTaskDate();
    });


    function assignTaskDate() {

        $('.ExpectedDate').each(function (i, obj) {
            //alert(obj.id);
            //$("#" + obj.id).removeClass("hasDatepicker");
            $(obj).datepicker({ dateFormat: "dd-MM-yy" });
        });

    }
    function Exit() {
        var url = '@Url.Action("SupplyOrderFollowup")';
        window.location = url;
    }

</script>



@using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom", @id = "CustomerVsSalesExecutive_form" }))
    {
  //  <div class="row">

        <div class="form-head1">
            <h4>SupplyOrder FollowUp</h4>
        </div>
     
        <div class="main-part pad1">
            <div class="row">
                @*<div class="main-grid main-grid-top scroll1">*@
                    @*<div class="table-responsive">*@
                        <table class="table table-bordered">
                            <thead>
                                <tr class="grid_heading">
                                    <th class="text-center" width="2%">#</th>
                                    <th width="12%"><h1>SupplierOrder No. & Date</h1></th>
                                    <th width="15%"><h1>Item</h1></th>
                                    <th width="5%" nowrap><h1>Quantity</h1></th>
                                    <th width="13%"><h1>Supplier</h1></th>
                                    <th width="5%" nowrap><h1>Expected Date</h1></th>
                                    <th width="15%" nowrap><h1>Remarks</h1></th>
                                    
                                </tr>
                            </thead>
                            <tbody class="grid_row">
             
                        @{ int row = 0;}
                        @foreach (var item in Model.SupplyOrderFollowups)
                    {

                     <tr id="@row">
                    
                
                
                <td>
                    @Html.HiddenFor(m => m.SupplyOrderFollowups[row].SupplyOrderFollowupId)
                    <input type="text" value="@(row + 1)" style="width:25px" class="form_input text-center" disabled />
                </td>
                <td>
                    <input type="text" value="@Model.SupplyOrderFollowups[row].SupplyOrderNo  @Model.SupplyOrderFollowups[row].SupplyOrderDate" class="form_input" disabled />
                </td>
                <td>
                    @Html.HiddenFor(m => m.SupplyOrderFollowups[row].SupplyOrderItemId)
                    @Html.TextBoxFor(m => m.SupplyOrderFollowups[row].ItemName, new { @class = "OrderedQty form_input", autocomplete = "off", @readonly = "readonly" })
                </td>
                <td>
                    @Html.TextBoxFor(m => m.SupplyOrderFollowups[row].OrderedQty, new { @class = "form_input text-right", autocomplete = "off", @readonly = "readonly" })
                </td>

                <td>
                    @Html.TextBoxFor(m => m.SupplyOrderFollowups[row].SupplierName, new { @class = "SupplierName form_input", autocomplete = "off", @readonly = "readonly" })
                </td>

                <td>
                    @Html.TextBoxFor(m => m.SupplyOrderFollowups[row].ExpectedDate, item.ExpectedDate.ToString("dd/MMMM/yyyy"), new { @class = "ExpectedDate form_input", autocomplete = "off", @readonly = "readonly" })  
                  
                </td>
                <td>
                    @Html.TextBoxFor(m => m.SupplyOrderFollowups[row].Remarks, new { @class = "Remarks form_input", autocomplete = "off" })
                </td>

            </tr>
                  
                        row++;

                    }
        </tbody>
                        </table>
                   </div>
                    </div>
               

            <div class="row">

                <div class="col-md-12 hrpart">
                    <button type="button" class="form-button right" onclick="Exit()">Exit</button>
                    <button type="submit" class="form-button right">Save</button>
                </div>
            </div>
             
           
              
                        }
