
@model IList<ArabErp.Domain.GRNRegister>
<table class="table table-bordered">
    <thead>
        <tr class="grid_heading">
            <th width="10%"><h1>GRN No.</h1></th>
            <th width="10%"><h1>GRN Date</h1></th>
            <th width="20%"><h1>Supplier</h1></th>
            <th width="17"><h1>LPO No.</h1></th>
            <th width="30%"><h1>Material</h1></th>
            <th width="8%" class="text-right"><h1>Qty</h1></th>
            <th width="10%" class="text-right"><h1>Rate</h1></th>
            <th width="10%" class="text-right"><h1>Amount</h1></th>
            <th width="5%"><h1>Unit</h1></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody class="grid_row">
            <tr>
                <td class="grid-cell">@item.GRNNo</td>
                <td class="grid-cell">@item.GRNDate.ToString("dd/MMM/yyyy")</td>
                <td class="grid-cell">@item.SupplierName</td>
                <td class="grid-cell">@item.SupplyOrderNo</td>
                <td class="grid-cell">@item.ItemName</td>
                <td class="grid-cell text-right">@item.Quantity</td>
                <td class="grid-cell text-right">@item.Rate</td>
                <td class="grid-cell text-right">@item.Amount</td>
                <td class="grid-cell">@item.UnitName</td>
            </tr>
        </tbody>
    }
</table>
