@model ArabErp.Domain.AdditionOrDeduction

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function GotoIndex()
    {
        var url = '@Url.Action("Index")';
        location.href = url;
    }
</script>
<div class="container">
    <div class="form-head1">
        <h4>Create Addition/ Deduction</h4>
    </div>
    <div class="col-md-14">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "createFrom", onsubmit = "return RMValidation()" }))
    {
        <div class="main-part pad1">
            <form role="form">
                <div class="row">

  
 
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="part4">
                                    <label>Name</label>
                                    @Html.TextBoxFor(m => m.AddDedName, new { @class = "form_input", autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.AddDedName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="part4">
                                    <label>Addition / Deduction</label>
                                    @Html.DropDownListFor(m => Model.AddDedType, (SelectList)ViewBag.AdditionDeduction, "Select Type", new { @class = "form_input", autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.AddDedType, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                            </div>
                            </div>
                        </div>

                    <div class="col-md-12">
                        <div class="row">
                        

                            <div class="col-md-12">
                                <label>Remarks</label>
                                <div class="part4">
                                    @Html.TextAreaFor(m => m.AddDedRemarks, new { @class = "form_input form_input-h", autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.AddDedRemarks, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            
                            </div>
                        </div>

              


                    <div class="col-md-12 hrpart">
                        <button class="form-button right" onclick="GotoIndex()">Exit</button>
                        <button type="submit" class="form-button right">Save</button>
                    </div>

                </div>


                 

             


            </form>                    
        </div>
    }
    </div>
</div>


