@model ArabErp.Domain.AdditionOrDeduction

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function GotoIndex()
    {
        var url = '@Url.Action("Index")';
        location.href = url;
    }
</script>
<div class="container">
    <div class="form-head1">
        <h4>Create Addition/ Deduction</h4>
    </div>
    <div class="col-md-14">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "createFrom", onsubmit = "return RMValidation()" }))
    {
        <div class="main-part pad1">
            <form role="form">
                <div class="row form-group">
                    <div class="col-md-2">
                        <label>Name</label>
                        @Html.EditorFor(m => m.AddDedName, new { @class = "form_input", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.AddDedName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        <label>Name</label>
                        @Html.DropDownListFor(m => Model.AddDedType, (SelectList)ViewBag.AdditionDeduction, "Select Type", new { @class = "form_input", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.AddDedType, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        <label>Remarks</label>
                        @Html.TextAreaFor(m => m.AddDedRemarks, new { @class = "form_input form_input-h", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.AddDedRemarks, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="marg">
                    <button class="form-button" onclick="GotoIndex()">Exit</button>
                    <button type="submit" class="form-button">Save</button>
                </div>
            </form>                    
        </div>
    }
    </div>
</div>


