
@model IEnumerable<ArabErp.Domain.MaterialPlanning>
<script>
    function getInTransDetails(Id)

    {
        var url = '@Url.Action("InTransitDetails")';
        url += '?id=' + Id;
        $('#Intransitdetails').html('Loading LPO Details...<br><br>');
        $('#Intransitdetails').load(url);
     
    }
    function getSODetails(Id)
    {
        var url = '@Url.Action("SODetailsDetails")';
        url += '?id=' + Id;
        $('#sodetails').html('Loading Sale Order Details...<br><br>');
        $('#sodetails').load(url);

    }
    function getReservedItemDetails(Id) {
        var url = '@Url.Action("ReservedItemDetails")';
        url += '?id=' + Id;
        $('#reserveditemdetails').html('Loading Reserved Item Details...<br><br>');
        $('#reserveditemdetails').load(url);

    }
    
    

</script>

<div id="availability1" class="table-responsive">
    <table border="0" cellpadding="0" cellspacing="0" class="scrollTable table table-bordered ">
        <thead>
            <tr class="grid_heading">
                <th width="1%" class="text-center"><h1>#</h1></th>
                <th width="34%"><h1>Material/Spares</h1></th>
                <th width="7%"><h1>Part No.</h1></th>
                <th width="7%" class="text-right" nowrap><h1>Pending<br /> WR Qty</h1></th>
                <th width="7%" class="text-right" nowrap><h1>Pending <br /> Issue.Qty</h1></th>
                <th width="7%" class="text-right" nowrap><h1>Min. Stock</h1></th>
                <th width="7%" class="text-right" nowrap><h1>Curr. Stock</h1></th>


                <th width="7%" class="text-right" nowrap><h1>Total<br/>Required Qty.</h1></th>

                <th width="7%" class="text-right" nowrap><h1>In Transit Qty</h1></th>
                <th width="7%" class="text-right" nowrap><h1>Pending<br />  LPO Qty</h1></th>
                <th width="7%" class="text-right" nowrap><h1>Short/Excess</h1></th>
                <th width="7%" class="text-left" nowrap><h1>UoM</h1></th>
                @*<th class="text-left fix-1 last"></th>*@
            </tr>
        </thead>
        @{int i = 0;}
        @foreach (var item in Model)
        {
            ++i;
            <tbody class="grid_row">
                <tr @if (item.ShortorExcess < 0) {  @: class="report-highlight"
                                                    }>
                    <td class="grid-cell">@i</td>
                    <td class="grid-cell">
                    @Html.HiddenFor(m => @item.ItemId)
                    @item.ItemName
                    </td>
                    <td class="grid-cell">@item.PartNo</td>
                    @*<td class="grid-cell text-right">@item.PENWRQTY</td>*@
                    <td onclick="getSODetails(@item.ItemId)" class="grid-cell text-right lblue" value="Get Sale Order Details" style="width: 150px;cursor:pointer;" data-toggle="modal" data-target="#Saleorderdetailspopup">@item.PENWRQTY</td>
                    <td class="grid-cell text-right ">@item.WRPndIssQty</td>
                    <td class="grid-cell text-right">@item.MinLevel</td>
                    @if (item.Reserved == 1)
                    {
                        @*<td class="grid-cell text-right lreserved">@item.CurrentStock</td>*@
                        <td onclick="getReservedItemDetails(@item.ItemId)" class="grid-cell text-right lreserved" value="Get Reserved Details" style="width: 150px;cursor:pointer;" data-toggle="modal" data-target="#ReservedItemdetailspopup">@item.CurrentStock</td>
                    }
                    else
                    {
                        <td class="grid-cell text-right">@item.CurrentStock</td>
                    }
                    <td class="grid-cell text-right">@item.TotalQty</td>
                    <td onclick="getInTransDetails(@item.ItemId)" class="grid-cell text-right lblue" value="Get In-Transit Details" style="width: 150px;cursor:pointer;" data-toggle="modal" data-target="#intransitdetailspopup">@item.InTransitQty</td>
                    <td class="grid-cell text-right">@item.PendingPRQty</td>
                    <td class="grid-cell text-right">@item.ShortorExcess</td>
                    <td class="grid-cell">@item.UnitName</td>
                </tr>

            </tbody>
        }
    </table>
</div>



  <!-- In Transit Coloumn Click PopUp -->
<div id="intransitdetailspopup" class="modal fade" role="dialog" >
    <div class="modal-dialog modal-lg" style="width:800px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">LPO Details</h4>
            </div>
            <div class="modal-body">
                <div id="Intransitdetails"></div>
            </div>

        </div>

    </div>
</div>

  <!-- Pending WR Coloumn Click PopUp -->
<div id="Saleorderdetailspopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="width:800px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sale Order Details</h4>
            </div>
            <div class="modal-body">
                <div id="sodetails"></div>
            </div>

        </div>

    </div>
</div>


  <!-- Pending Reserved Coloumn Click PopUp -->
<div id="ReservedItemdetailspopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="width:800px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Reserved Item Details</h4>
            </div>
            <div class="modal-body">
                <div id="reserveditemdetails"></div>
            </div>

        </div>

    </div>
</div>