@model IEnumerable<ArabErp.Domain.MaterialPlanning>




<div class="row">
    <div class="form-head1">
        <h4>Material Planning Report</h4>
    </div>

    <div class="main-part pad1 white">

        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr class="grid_heading">
                            <th width="35%"><h1>Material/Spares</h1></th>
                            <th width="10%"><h1>Part No.</h1></th>

                            <th width="5%" class="text-right "><h1>WR.Qty.</h1></th>
                            <th width="5%" class="text-right "><h1>Pnd.Iss.Qty.</h1></th>
                            <th width="5%" class="text-right "><h1>Min.Stock</h1></th>
                            <th width="5%" class="text-right "><h1>Tot.Req.Qty.</h1></th>
                            <th width="5%" class="text-right "><h1>Curr.Stock</h1></th>
                            <th width="5%" class="text-right "><h1>InTransit.Qty.</h1></th>
                            <th width="5%" class="text-right "><h1>Pnd.PR.Qty.</h1></th>
                            <th width="5%" class="text-right "><h1>Short/Excess</h1></th>

                            <th width="5%" class="text-left "><h1>UoM</h1></th>
                        </tr>
                        @foreach (var item in Model)
                        {


                            <tr class="grid-row">
                                <td class="grid-cell">@item.ItemName</td>
                                <td class="grid-cell">@item.PartNo</td>
                                <td class="grid-cell text-right">@item.WRQTY</td>
                                <td class="grid-cell text-right">@item.WRPndIssQty</td>
                                <td class="grid-cell text-right">@item.MinLevel</td>
                                <td class="grid-cell text-right">@item.TotalQty</td>
                                <td class="grid-cell text-right">@item.CurrentStock</td>
                                <td class="grid-cell text-right">@item.InTransitQty</td>
                                <td class="grid-cell text-right">@item.PendingPRQty</td>
                                <td class="grid-cell text-right">@item.ShortorExcess</td>
                                <td class="grid-cell">@item.UnitName</td>

                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

