
@model ArabErp.Domain.MaterialPlanning
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

    function FillPartNo() {
        var Code = $('#ItemId').val();
        //alert(Code);
        var Url = '@Url.Action("PartNo")';
        @*var UrlSubGroup = '@Url.Action("ItemSubGroup")';*@
        if (Code == '') {
            $("#DivPartNo").load(Url, { Code: 0 });
            //$("#DivItemSubGroup").load(UrlSubGroup, { Code: 0 });
        }
        else {
            $("#DivPartNo").load(Url, { Code: Code });
            //$("#DivItemSubGroup").load(UrlSubGroup, { Code: 0 });
        }
        Filter()
    }

    function Filter() {
      
        $("#planning").addClass("fade");
      
        var itmid = $("#ItemId").val();
      
        var partNo = $("#PartNo option:selected").text();
       
        if (partNo == "Select Part No") partNo = "";

     
        var batch = $("#cboBatch").val();
     
        var url = '@Url.Action("Planning")';
        url += "?partNo=" + encodeURIComponent(partNo) + "&batch=" + batch + "&itmid=" + itmid;
       
        $("#planning").load(url, function () {
            $("#planning").removeClass("fade");
           
        });
        
    }
    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }
</script>
<div class="row">

    <div class="form-head1">
        <h4>Material Planning Report</h4>
    </div>

    <div class="main-part pad1">
        <div class="row">
        
            <div class="col-md-3">
                <label for="cboItem">Material/Spares</label>
                @Html.Action("Item")
                @*@Html.DropDownList("cboItem", (SelectList)ViewBag.ItemList, "Any", new { @class = "form_input", @onchange = "Filter()" })*@
            </div>
            @*<div class="col-md-2">
                <label for="cboPartNo">Part No.</label>
             
   
        <div id="DivPartNo">
            @Html.Action("PartNo", "MaterialPlanning", new { Code = Model.ItemId })
        </div>*@
   
         
        @*</div>*@
            <div class="col-md-2">
                <label for="cboBatch">Batch</label>
                @Html.DropDownList("cboBatch", (SelectList)ViewBag.BatchList, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive" id="planning">
                    @Html.Action("Planning")
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 hrpart">
                <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
            </div>
        </div>
    </div>
</div>


