
@model ArabErp.Domain.MaterialPlanning
@{
    ViewBag.Title = "Material Planning Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

    function FillPartNo() {
        var Code = $('#ItemId').val();
        //alert(Code);
        var Url = '@Url.Action("PartNo")';
        @*var UrlSubGroup = '@Url.Action("ItemSubGroup")';*@
        if (Code == '') {
            $("#DivPartNo").load(Url, { Code: 0 });
            //$("#DivItemSubGroup").load(UrlSubGroup, { Code: 0 });
        }
        else {
            $("#DivPartNo").load(Url, { Code: Code });
            //$("#DivItemSubGroup").load(UrlSubGroup, { Code: 0 });
        }
        Filter()
    }

    function Filter() {
      
        $("#planning").addClass("fade");
      
        var itmid = $("#ItemId").val();
      
        var partNo = $("#PartNo option:selected").text();
       
        if (partNo == "Select Part No") partNo = "";

     
        var batch = $("#cboBatch").val();
     
        var url = '@Url.Action("Planning")';
        url += "?partNo=" + encodeURIComponent(partNo) + "&batch=" + encodeURIComponent(batch) + "&itmid=" + itmid;
       
        $("#planning").load(url, function () {
            $("#planning").removeClass("fade");
           
        });
        
    }
    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }

    function GoToPrint() {

        var Itmid = $("#ItemId").val();
        var Itmname = $("#ItemId option:selected").text();
        var batch = $("#cboBatch").val();
        var batchname = $("#cboBatch option:selected").text();
      
        //var partNo = $("#PartNo").text();
        var partNo = $("#PartNo option:selected").text();
        var url = '@Url.Action("Print")';
        url += "?Itmname=" + (Itmname == '' ? 0 : Itmname) + "&Itmid=" + Itmid + "&batchname=" + (batchname == '' ? 0 : batchname) + "&batch=" + encodeURIComponent(batch) + "&partNo=" + (partNo == '' ? 0 : partNo);
        alert(url);
        window.open(url);

       
    }
</script>
<link href="~/Content/FixedHeader.css" rel="stylesheet" />
<script type="text/javascript">
function removeClassName (elem, className) {
	elem.className = elem.className.replace(className, "").trim();
}

function addCSSClass (elem, className) {
	removeClassName (elem, className);
	elem.className = (elem.className + " " + className).trim();
}

String.prototype.trim = function() {
	return this.replace( /^\s+|\s+$/, "" );
}

function stripedTable() {
	if (document.getElementById && document.getElementsByTagName) {
		var allTables = document.getElementsByTagName('table');
		if (!allTables) { return; }

		for (var i = 0; i < allTables.length; i++) {
			if (allTables[i].className.match(/[\w\s ]*scrollTable[\w\s ]*/)) {
				var trs = allTables[i].getElementsByTagName("tr");
				for (var j = 0; j < trs.length; j++) {
					removeClassName(trs[j], 'alternateRow');
					addCSSClass(trs[j], 'normalRow');
				}
				for (var k = 0; k < trs.length; k += 2) {
					removeClassName(trs[k], 'normalRow');
					addCSSClass(trs[k], 'alternateRow');
				}
			}
		}
	}
}

</script>
<div class="row">

    <div class="form-head1">
        <h4>Material Planning Report - RM</h4>
    </div>

    <div class="main-part pad1">
        <div class="row">
        
            <div class="col-md-3">
                <label for="cboItem">Material/Spares</label>
                @Html.Action("Item")
                @*@Html.DropDownList("cboItem", (SelectList)ViewBag.ItemList, "Any", new { @class = "form_input", @onchange = "Filter()" })*@
            </div>
            @*<div class="col-md-2">
                <label for="cboPartNo">Part No.</label>
             
   
        <div id="DivPartNo">
            @Html.Action("PartNo", "MaterialPlanning", new { Code = Model.ItemId })
        </div>*@
   
         
        @*</div>*@
            @*<div class="col-md-3">
                <label for="txtBatch">Batch</label>
                <select id="cboBatch" class="form_input" onchange="Filter()">
                    <option value="all" selected>All</option>
                    <option value="batch">Batch</option>
                    <option value="nobatch">Non-Batch</option>
                </select>
            </div>*@
            @*<div class="col-md-2">
                <label for="cboBatch">Batch</label>
                @Html.DropDownList("cboBatch", (SelectList)ViewBag.BatchList, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>*@
        </div>
        <br />
        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive" id="planning">
                    @Html.Action("Planning")
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 hrpart">
                <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
                <input type="button" value="Print" onclick="GoToPrint()" class="form-button right" />
            </div>
        </div>
    </div>
</div>


