@model ArabErp .Domain.Employee
          
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="h4bgcolor">
    <h4>Employee</h4>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
           @using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom", @id = "Employee_form" }))
                    {
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="EmployeeRefNo">Code</label>
                        @Html.TextBoxFor(m => m.EmployeeRefNo, new { @class = "form_input", autocomplete = "off" })
                       
                    </div>
                    <div class="col-md-6">
                        <label for="EmployeeName">Employee</label>
                        @Html.TextBoxFor(m => m.EmployeeName, new { @class = "form_input", autocomplete = "off" })
                       
                    </div>
                </div>
                <div class="form-group">
                    <label>Gender</label>
                    <div>
                       
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="editor-field">
                                @*@Html.RadioButton("Gender", true, true) Male
                                @Html.RadioButton("Gender", false, false) Female*@
                                Male @Html.RadioButtonFor(model => model.GenderId, 1, new { @checked = true })
                                Female @Html.RadioButtonFor(model => model.GenderId, 2, new { @checked = true })
                            </div>
                                                           
                            </div>
                        <div class="col-md-6">
                            <label for="DesignationId">Designation</label>
                             
                            @Html.DropDownListFor(m => Model.DesignationId, (SelectList)ViewBag.EmployeeDesignations, "Select Unit", new { @class = "form_input" })
                        </div>
                        </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="CategoryId">Category</label>
                      
                    
                      
                        @Html.DropDownListFor(m => Model.CategoryId, (SelectList)ViewBag.EmployeeCategory, "Select Unit", new { @class = "form_input" })


                    </div>

                    <div class="col-md-6">
                        <label for="LocationId">Location</label>
                        
                        @Html.DropDownListFor(m => Model.LocationId, (SelectList)ViewBag.EmployeeLocation, "Select Unit", new { @class = "form_input" })


                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="TaskId">Task Done</label>
                       
                        @Html.DropDownListFor(m => Model.TaskId, (SelectList)ViewBag.EmployeeTask, "Select Unit", new { @class = "form_input" })


                    </div>

                    <div class="col-md-6">
                        <label for="HourlyCost">Hourly Cost</label>
                        @Html.TextBoxFor(m => m.Hourlycost, new { @class = "form_input", autocomplete = "off" })
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1">
                        <button type="submit" class="button-style">Exit</button>
                    </div>
                    <div class="col-md-offset-11">
                        <button type="submit" class="button-style">Save</button>
                    </div>
                </div>

             
                

           }
        </div>
    </div>
</div>

