@model ArabErp.Domain.Employee

@{ViewBag.Title = "Create"; Layout = "~/Views/Shared/_Layout.cshtml";}

<script>
    $(document).ready(function () {
        $('#Employee_form').bootstrapValidator({
            fields: {
                EmployeeRefNo: {
                    validators: {
                        notEmpty: {
                            message: 'Please Enter Code'
                        }
                    }
                },

                EmployeeName: {
                    validators: {
                        notEmpty: {
                            message: 'Please Enter Name'
                        }
                    }
                },

                DesignationId: {
                    validators: {
                        notEmpty: {
                            message: 'Please Select Designation'
                        }
                    }
                },

                CategoryId: {
                    validators: {
                        notEmpty: {
                            message: 'Please Select Category'
                        }
                    }
                },

                LocationId: {
                    validators: {
                        notEmpty: {
                            message: 'Please Select Location'
                        }
                    }
                }


            }
        });
    })

</script>



<div class="container">
    <div class="row">
        <div class="form-head1">
            <h4>Employee</h4>
        </div>
        <div class="main-part pad1">
            <div class="row">

                @using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom", @id = "Employee_form" }))
                {
                    <div class="col-md-4">
                        <div class="part4">
                            <label for="EmployeeRefNo">Code</label>
                            @Html.TextBoxFor(m => m.EmployeeRefNo, new { @class = "form_input form_input-half", autocomplete = "off" })
                        </div>
                        <div class="part4">
                            <label for="CategoryId">Category</label>
                            @Html.DropDownListFor(m => Model.CategoryId, (SelectList)ViewBag.EmployeeCategory, "Select Category", new { @class = "form_input", autocomplete = "off" })
                        </div>


                    </div>
                    <div class="col-md-4">
                        <div class="part4">
                            <label for="EmployeeName">Employee</label>
                            @Html.TextBoxFor(m => m.EmployeeName, new { @class = "form_input", autocomplete = "off" })
                        </div>
                        <div class="part4">
                            <label for="DesignationId">Designation</label>
                            @Html.DropDownListFor(m => Model.DesignationId, (SelectList)ViewBag.EmployeeDesignations, "Select Designation", new { @class = "form_input", autocomplete = "off" })
                        </div>


                    </div>

              
                <div class="col-md-4">
                    <div class="part4 col-md-6">
                        <label>Gender</label>
                        <div class="editor-field">
                            @*@Html.RadioButton("Gender", true, true) Male
                @Html.RadioButton("Gender", false, false) Female*@
                            @Html.RadioButtonFor(model => model.GenderId, 1, new { @checked = true }) Male
                            @Html.RadioButtonFor(model => model.GenderId, 2, new { @checked = true }) Female
                        </div>
                    </div>
                    <div class="part4 col-md-6">
                        <label for="HourlyCost">Hourly Cost</label>
                        @Html.TextBoxFor(m => m.Hourlycost, new { @class = "form_input", autocomplete = "off" })

                    </div>

                    <div class="part4 col-md-12">
                        <label for="LocationId">Location</label>
                        @Html.DropDownListFor(m => Model.LocationId, (SelectList)ViewBag.EmployeeLocation, "Select Location", new { @class = "form_input", autocomplete = "off" })
                    </div>
                </div>
                }
            </div>
                    

            <div class="row">
               
                <div class="col-md-12 hrpart">
                    <button type="button" class="form-button right">Exit</button>
                    <button type="submit" class="form-button right">Save</button>
                </div>
                
            </div>

        </div>

        <div class="main-list">
            @Html.Action("FillEmployeeList")

        </div>
        @*<div class="row">
                <div class="col-md-12">
                    @Html.Action("FillEmployeeList")
                </div>
            </div>*@
    </div>

</div>

