@model ArabErp .Domain.Employee
          
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="h4bgcolor">
    <h4>Employee</h4>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form role="form">
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="EmployeeRefNo">Code</label>
                        <input type="text" id="EmployeeRefNo" autocomplete="off" class="form_input" />
                    </div>
                    <div class="col-md-6">
                        <label for="EmployeeName">Employee</label>
                        <input type="text" autocomplete="off" id="EmployeeName" class="form_input" />
                    </div>
                </div>
                <div class="form-group">
                    <label>Gender</label>
                    <div>
                       
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="editor-field">
                                @Html.RadioButton("Gender", true, true) Male
                                @Html.RadioButton("Gender", false, false) Female

                            </div>
                                                           
                            </div>
                        <div class="col-md-6">
                            <label for="DesignationId">Designation</label>
                             
                            @Html.DropDownListFor(m => Model.DesignationId, (SelectList)ViewBag.Unit, "Select Unit", new { @class = "form_input" })
                        </div>
                        </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="CategoryId">Category</label>
                      
                    
                      
                        @Html.DropDownListFor(m => Model.CategoryId, (SelectList)ViewBag.Unit, "Select Unit", new { @class = "form_input" })


                    </div>

                    <div class="col-md-6">
                        <label for="LocationId">Location</label>
                        
                        @Html.DropDownListFor(m => Model.LocationId, (SelectList)ViewBag.Unit, "Select Unit", new { @class = "form_input" })


                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <label for="TaskId">Task Done</label>
                       
                        @Html.DropDownListFor(m => Model.TaskId, (SelectList)ViewBag.Unit, "Select Unit", new { @class = "form_input" })


                    </div>

                    <div class="col-md-6">
                        <label for="HourlyCost">Hourly Cost</label>
                        <input type="text" id="HourlyCost" autocomplete="off" class="form_input" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1">
                        <button type="submit" class="button-style">Exit</button>
                    </div>
                    <div class="col-md-offset-11">
                        <button type="submit" class="button-style">Save</button>
                    </div>
                </div>

             
                

            </form>
        </div>
    </div>
</div>

