@model ArabErp.Domain.Bay
@{ 
    ViewBag.Title = "Bay";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

@{string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString(); }

<script type="text/javascript">
    function Exit() {
        location.href = '@Url.Action("Index","Home")';

    }
    $(document).ready(function () {
        var Action = '@actionName';
        if (Action == 'Delete') {

            $("input[type='text'], select, textarea").attr('disabled', 'disabled');
            $("input[type=radio]").attr('disabled', true);
            $("#BayType").val(@Model.BayType);
        }
        if (Action == 'Create') {
            $("#GenderId").prop("checked", true)
        }
        else
            $("#BayType").val(@Model.BayType);
        $("#BayName").focus();
    });


</script>



    <div class="row">

        <div class="form-head1">
            <h4>Bay</h4>
        </div>

        <div class="main-part pad1">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "createFrom", @id = "bay_form" }))
            {

                <div class="row">

                    <div class="col-md-4">

                        @Html.HiddenFor(m => m.BayId)
                        @Html.HiddenFor(m => m.BayRefNo)
                     

                        <div class="part4">
                            <label for="BayRefNo">Code</label>
                            @Html.TextBoxFor(m => m.BayRefNo, new { @class = "form_input form_input-half", autocomplete = "off", @readonly = "readonly" })
                        </div>

                        <div class="part4">
                            <label for="BayName">Name</label>
                            @Html.TextBoxFor(m => m.BayName, new { @class = "form_input", autocomplete = "off" })
                        </div>

                        <div class="part4">
                            <label for="BayType">Type</label>
                            @Html.DropDownListFor(m => Model.BayType, (SelectList)ViewBag.baytype, "Select Bay Type", new { @class = "form_input" })
                        </div>
                        <div class="part4">
                          
                            @Html.CheckBoxFor(model =>Model.IsService, new { @class = "check_box", @onclick = "Checked(this)" })
                            <label for="@Html.NameFor(x => x.IsService)">Service</label>
                        </div>

                    </div>

                    <div class="col-md-4">
                    </div>

                    <div class="col-md-4">
                    </div>

                    <div class="col-md-12 hrpart">
                        <button type="button" class="form-button right" onclick="Exit();">Exit</button>
                        @if (actionName == "Edit")
                        { <button type="submit" class="form-button right">Update</button> }
                        else
                            if (actionName == "Delete")
                            {  <button type="submit" class="form-button right">Delete</button>}
                            else
                            { <button type="submit" class="form-button right">Save</button>}

                    </div>


                </div>
            }
        </div>

        <div class="main-list">
            @Html.Action("FillBayList")
        </div>


    </div>

