
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#txtFrom").datepicker({
            dateFormat: "dd-MM-yy"
        });
        $("#txtTo").datepicker({
            dateFormat: "dd-MM-yy"
        });
    })



    function GoToPrint() {
        alert('hai')
        var name = $("#cboCustomer option:selected").text();
        var id = $("#cboCustomer").val();
        console.log(id);
        alert(id)
        var from = $("#txtFrom").val();
        console.log(from);
        alert(from)
        var to = $("#txtTo").val();
        var url = '@Url.Action("Print")';
        url += "?from=" + from + "&to=" + to + "&name=" + (name == '' ? 0 : name) + "&id=" + id;
        alert(url);
        window.location = url;
    }

    function Filter()
    
    {
        $("#Pend_SO").addClass("fade");
        var id = $("#cboCustomer").val();
      
        var from = $("#txtFrom").val();
        var to = $("#txtTo").val();
      
        if ('@ViewBag.type' == "Pending")

        {

            var url = '@Url.Action("PendingSaleOrderRegister")';
            url += "?from=" + from + "&to=" + to + "&id=" + id;
        }
        else if ('@ViewBag.type' == "Variance") {

            var url = '@Url.Action("SaleOrderVarianceRegister")';
            url += "?from=" + from + "&to=" + to + "&id=" + id;
        }
        $("#Pend_SO").load(url, function () {
            $("#Pend_SO").removeClass("fade");
        });
    }
   
    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }
</script>
<div class="row">
    <div class="form-head1">
       @if (ViewBag.type == "Pending")
          
            {
              <h4>Pending Sale Orders</h4>
            }
       else if (ViewBag.type == "Variance")
          
            {
              <h4>Sale Order Variance Report</h4>
          }
    </div>
    <div class="main-part pad1">
        <div class="row">
            <div class="col-md-2">
                <label>From</label>
                <input id="txtFrom"  value="@ViewBag.startdate.ToString("dd-MMMM-yyyy")" class="form_input" onchange="Filter()" />
            </div>
            <div class="col-md-2">
                <label>To</label>
                <input id="txtTo" value="@System.DateTime.Today.ToString("dd-MMMM-yyyy")" class="form_input" onchange="Filter()" />
            </div>
            <div class="col-md-3">
                <label for="cboCustomer">Customer</label>
                @Html.DropDownList("cboCustomer", (SelectList)ViewBag.CustomerList, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive" id="Pend_SO">
     @if (ViewBag.type == "Pending")

            {
           @Html.Action("PendingSaleOrderRegister")
            }
      else if (ViewBag.type == "Variance")
          
            {
           @Html.Action("SaleOrderVarianceRegister")
            }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 hrpart">
                <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
                <input type="button" value="Print" onclick="GoToPrint()" class="form-button right" />
            </div>
        </div>
    </div>
</div>


