@model IList<ArabErp.Domain.DeliveryChallan>

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="grid_heading">
                                <th width="20%"><h1>Delivery Challan No.</h1></th>
                                <th width="15%"><h1>Date</h1></th>
                                <th width="20%" title="Job Card No. & Date"><h1>JC. No. & Date</h1></th>
                                <th width="20%"><h1>Employee</h1></th>
                                <th width="1%"></th>
                                <th width="1%"></th>
                            </tr>
                        </thead>
                        <tbody class="grid_row">
                            @if (Model.Count > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="grid-cell">@item.DeliveryChallanRefNo</td>
                                        <td class="grid-cell">@item.DeliveryChallanDate.ToString("dd/MMM/yyyy")</td>
                                        <td class="grid-cell">@item.JobCardNo &amp; @item.JobCardDate.ToString("dd/MMM/yyyy")</td>
                                        <td class="grid-cell">@item.EmployeeName</td>
                                        <td>
                                            <center><input type="button" class="form-button4" value="Select" title="Select to view details" onclick="Open(@item.DeliveryChallanId)" /></center>
                                        </td>
                                        <td>
                                            <center><input type="button" value="Print" onclick="GoToPrint(@item.DeliveryChallanId)" checked class="form-button4" /></center>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5">
                                        <center><em>No items found!</em></center>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
           


     


