@model IList<ArabErp.Domain.DeliveryChallan>

                    <table class="table table-bordered">
                        <thead>
                            <tr class="grid_heading">
                                <th><h1>Delivery Challan No.</h1></th>
                                <th><h1>Date</h1></th>
                                <th><h1>JC.No. & Date</h1></th>
                                <th><h1>Employee</h1></th>
                                <th width="1%" class="text-center"></th>

                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tbody class="grid_row">
                                <tr>
                                    <td class="grid-cell">@item.DeliveryChallanRefNo</td>
                                    <td class="grid-cell">@item.DeliveryChallanDate.ToString("dd/MMM/yyyy")</td>
                                    <td class="grid-cell">@item.JobCardNo &amp; @item.JobCardDate.ToString("dd/MMM/yyyy")</td>
                                    <td class="grid-cell">@item.EmployeeName</td>
                                    <td>
                                        <input type="button" class="form-button4" value="Select" title="Select to view details" />
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
           


     


