
@{
    ViewBag.Title = "Delivery Challan List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

    $(document).ready(function () {
        $("#txtFrom").datepicker({
            dateFormat: "dd-MM-yy"
        });
        $("#txtTo").datepicker({
            dateFormat: "dd-MM-yy"
        });
    })

    function Filter() {

        $("#dclist").addClass("fade");
        var id = $("#cboDCNo").val();
        var cusid = $("#cboCustomer").val();
        var from = $("#txtFrom").val();
        var to = $("#txtTo").val();
        var RegNo = $("#txtRegNo").val().trim();
        var Customer = $("#txtCustomer").val().trim();
        var url = '@Url.Action("PreviousList")';

        url += "?from=" + from + "&to=" + to + "&id=" + id + "&cusid=" + cusid + "&RegNo=" + encodeURIComponent(RegNo) + "&Customer=" + encodeURIComponent(Customer);

        $("#dclist").load(url, function () {
            $("#dclist").removeClass("fade");
        });
    }

    function Open(id) {
        var url = '@Url.Action("Edit")';
        url += "?id=" + id;
        window.location = url;
    }

  

    function Exit() {
        var url = '@Url.Action("Index")';
        window.location = url;
    }
</script>



<div class="row">
    <div class="form-head1">
        <h4>Delivery Challan List</h4>
    </div>

    <div class="main-part pad1">
        <div class="row">
            <div class="col-md-2">
                <label for="cboDCNo">Delivery Challan No.</label>
                @Html.DropDownList("cboDCNo", (SelectList)ViewBag.DCNoList, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>
            <div class="col-md-2">
                <label>From</label>
                <input id="txtFrom" value="@System.DateTime.Today.AddMonths(-1).ToString("dd-MMMM-yyyy")" onchange="Filter()" class="form_input" />
            </div>
            <div class="col-md-2">
                <label>To</label>
                <input id="txtTo" value="@System.DateTime.Today.ToString("dd-MMMM-yyyy")" onchange="Filter()" class="form_input" />
            </div>
            <div class="col-md-2">
                <label for="txtRegNo">Reg. No./Chassis No.</label>
                <input type="text" class="form_input" id="txtRegNo" onkeyup="Filter()" onchange="Filter()" placeholder="Search for Reg. No./Chassis No." />
            </div>
            <div class="col-md-2">
                <label for="txtCustomer">Customer</label>
                <input type="text" class="form_input" id="txtCustomer" onkeyup="Filter()" onchange="Filter()" placeholder="Search for Customer" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive" id="dclist">
                    @Html.Action("PreviousList")
                </div>
                </div>
            </div>

                <div class="row">
                    <div class="col-md-12 hrpart">
                        <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
                    </div>
                </div>
            </div>
        </div>
