
@{
    ViewBag.Title = "Pending Delivery Challan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(function () {
        //---------------------toastr---------------------------//
        toastr.options = {
            "positionClass": "toast-bottom-full-width",
            "timeOut": "5000",
            "extendedTimeOut": "2000"
        }
        if ('@TempData["success"]' != '') {
            toastr.success('@TempData["success"]');
        }
        else if ('@TempData["error"]' != '') {
            toastr.error('@TempData["error"]'.split('|')[0]);
            console.log('@TempData["error"]'.split('|')[1]);
        }
        @{ TempData["success"] = TempData["error"] = ""; }
        //------------------------------------------------------//

        $("#DeliveryChallanDate").datepicker({ dateFormat: "dd MM yy" });
    });

    function formValidation() {
        return true;//confirm("Are you sure to Save?");
    }
    function OnCustomerChange(s) {
        var id;
        if ($(s).val() != null && $(s).val() != '') id = $(s).val();
        else id = 0;

        $("#outpassdetails").addClass("fade");
        var url = '@Url.Action("PendingDeliveryChallan")';
        url += "?customerId=" + id;
        $("#outpassdetails").load(url, function () {
            $("#outpassdetails").removeClass("fade");
        });

        var url = '@Url.Action("GetCustomerAddress")';
        $.getJSON(url, { id: id }, function (data) {
            $("#txtAddress").val(data);
        });
    }
  
    function PreviousList() {
        var url = '@Url.Action("DeliveryChallanList")';
        window.location = url;
    }

    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }
</script>


    <div class="row">
        <div class="form-head1">
            <h4>Pending Delivery Challan</h4>
        </div>
        <div class="main-part pad1">

            <div class="row form-group">
                <div class="col-md-4">
                    <label>Customer</label>
                    @Html.DropDownList("cboCustomer", (SelectList)ViewBag.customerList, "Select Customer", new { @class = "form_input", @onchange = "OnCustomerChange(this)" })
                </div>
                <div class="col-md-8">
                    <label>Address</label>
                    <input type="text" class="form_input" id="txtAddress" readonly />
                </div>
            </div>

            <div id="outpassdetails">
                @Html.Action("PendingDeliveryChallan", new { customerId = 0 })
            </div>

            <div class="row">
                <div class="col-md-12 hrpart">
                    <input class="form-button" type="button" value="Previous" onclick="PreviousList()" />
                    <input class="form-button right" type="button" value="Exit" onclick="Exit()" />
                </div>
            </div>

        </div>
    </div>

