@model ArabErp.Domain.VehicleModel
@{ViewBag.Title = "create";Layout = "~/Views/Shared/_Layout.cshtml";}

<script>
    $(document).ready(function () {
        $('#VehicleModel_form').bootstrapValidator({
            fields: {
                VehicleModelRefNo: {
                    validators: {
                        notEmpty: {
                            message: 'Please Enter Code'
                        }
                    }
                },

                VehicleModelName: {
                    validators: {
                        notEmpty: {
                            message: 'Please Enter Name'
                        }
                    }
                },

                //VehicleModelDescription: {
                //    validators: {
                //        notEmpty: {
                //            message: 'Please Enter Description'
                //        }
                //    }
                //},

            }
        });
    })

</script>



<div class="container">
    <div class="row">

        <div class="form-head1">
            <h4>Vehicle Model</h4>
        </div>

        <div class="main-part pad1">
            <div class="row">
                <div class="col-md-4">
                </div>
                @using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom", @id = "VehicleModel_form" }))
                {
                    <div class="col-md-4">
                        <div class="part4">
                            <label for="VehicleModelRefNo">Code</label>
                            @Html.TextBoxFor(m => m.VehicleModelRefNo, new { @class = "form_input form_input-half", autocomplete = "off" })
                        </div>
                        <div class="part4">
                            <label for="VehicleModelDescription">Description</label>
                            @Html.TextBoxFor(m => m.VehicleModelDescription, new { @class = "form_input", autocomplete = "off" })
                        </div>
                        <div class="part4">
                            <label for="VehicleModelName">Name</label>
                            @Html.TextBoxFor(m => m.VehicleModelName, new { @class = "form_input", autocomplete = "off" })
                        </div>

                        <div class="row">

                            <div class="col-md-12 hrpart">
                                <button type="button" class="form-button right">Exit</button>
                                <button type="submit" class="form-button right">Save</button>
                            </div>

                        </div>


                    </div>


                }
                <div class="col-md-4">
                </div>
            </div>
        </div>

        <div class="main-list">
            @Html.Action("FillVehicleModelList")
        </div>

        @*<div class="row">
            <div class="col-md-12">
                @Html.Action("FillVehicleModelList")
            </div>
        </div>*@

    </div>
      </div>
