@model ArabErp.Domain.VehicleModel
@{ViewBag.Title = "create";Layout = "~/Views/Shared/_Layout.cshtml";}
@{string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString(); }
<script type="text/javascript">
    function Exit() {
        location.href = '@Url.Action("Index","Home")';
    }
    $(document).ready(function () {
        var Action = '@actionName';
        if (Action == 'Delete') {

            $("input[type='text'], select, textarea").attr('disabled', 'disabled');
            $("input[type=radio]").attr('disabled', true);
        }
        if (Action == 'Create') {
            $("#GenderId").prop("checked", true)
        }

        //$("#radio_1").prop("checked", true)
        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-bottom-full-width",
            "preventDuplicates": false,
            "onclick": null,

            "timeOut": "0",
            "extendedTimeOut": "1000",

            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        if ('@TempData["success"]' != "" && '@TempData["RefNo"]' != "") {
            toastr.success('@TempData["success"]' + '  Vehicle Model Code is : ' + '@TempData["RefNo"]');
        }
        else if ('@TempData["error"]' != "") {
            toastr.error('@TempData["error"]');
        }
        $("#VehicleModelName").focus();
    });
</script>




    <div class="row">

        <div class="form-head1">
            <h4>Vehicle Model</h4>
        </div>

        <div class="main-part pad1">
            <div class="row">

                @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "createFrom", @id = "VehicleModel_form" }))
                {
                    <div class="col-md-4">
                        <div class="part4">
                            <label for="VehicleModelRefNo">Code</label>
                            @Html.HiddenFor(m => m.VehicleModelId)
                            @Html.HiddenFor(m => m.VehicleModelRefNo)
                            @Html.TextBoxFor(m => m.VehicleModelRefNo, new { @class = "form_input form_input-half", autocomplete = "off", @readonly = "readonly" })
                        </div>

                         <div class="part4">
                            <label for="VehicleModelName">Name</label>
                            @Html.TextBoxFor(m => m.VehicleModelName, new { @class = "form_input", autocomplete = "off" })
                        </div>

                        <div class="part4">
                            <label for="VehicleModelDescription">Description</label>
                            @Html.TextBoxFor(m => m.VehicleModelDescription, new { @class = "form_input", autocomplete = "off" })
                        </div>






                    </div>


              
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-12 hrpart">
                    <button type="button" class="form-button right" onclick="Exit();">Exit</button>
                    @if (actionName == "Edit")
                    { <button type="submit" class="form-button right">Update</button> }
                    else
                        if (actionName == "Delete")
                        {  <button type="submit" class="form-button right">Delete</button>}
                        else
                        { <button type="submit" class="form-button right">Save</button>}

                </div>
                }
            </div>
        </div>

        <div class="main-list">
            @Html.Action("FillVehicleModelList")
        </div>

        @*<div class="row">
            <div class="col-md-12">
                @Html.Action("FillVehicleModelList")
            </div>
        </div>*@

    </div>

