@model ArabErp.Domain.User
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">

            <div class="col-md-3"></div>
            <div class="col-md-6 col-xs-10 col-sm-11 outer-login regtop">
                <div class="col-md-12">
                    <h5>New User</h5>

                        @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="row main-login-user1">
                                <label for="BayRefNo" class="login-user1">Email</label>
                                <div class="login-user-right1"></div>
                                @Html.TextBoxFor(m => m.UserEmail, new { @class = "login-text1" })
                            </div>


                            <div class="row main-login-user1">
                                <label for="BayRefNo" class="login-user1">User Name</label>
                                <div class="login-user-right1"></div>
                                @Html.TextBoxFor(m => m.UserName, new { @class = "login-text1" })
                            </div>

                        <div class="row main-login-user1">
                            <label for="BayRefNo" class="login-user1">Password</label>
                            <div class="login-user-right1"></div>
                            @Html.PasswordFor(m => m.UserPassword, new { @class = "login-text1" })
                        </div>


                            <div class="row main-login-user1">
                                <label for="BayRefNo" class="login-user1 mline">Confirm Password</label>
                                <div class="login-user-right1"></div>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "login-text1" })
                            </div>

                        <div class="row form-group">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                                <input type="submit" class="log-button1" value="Register" />
                            </div>
                        </div>
 


                 </div>
                </div>
            <div class="col-md-3"></div>


               
            </div>
    </div>
    
    
}