@model ArabErp.Domain.User
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@{
    int Id = 0;
    try
    {
        Id = Convert.ToInt32(Request.QueryString["Id"].ToString());
    }
    catch
    {
        
    }
}
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m=> m.UserId)
   
        <div class="row">

            <div class="form-head1">
                <h4>New User</h4>
            </div>

            <div class=" main-part pad1">
                <div class="row">
                    <div class="col-md-4">
                        <div class="matop">@Html.ValidationSummary("", new { @class = "text-danger" })</div>
                        <div class="part4">

                            <label for="BayRefNo">Email</label>
                            @Html.TextBoxFor(m => m.UserEmail, new { @class = "form_input" })
                        </div>
                        <div class="part4">
                            <label for="BayRefNo">User Name</label>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form_input" })
                        </div>
                        <div class="part4">
                            <label for="BayRefNo">Password</label>
                            @Html.PasswordFor(m => m.UserPassword, new { @class = "form_input" })
                        </div>
                        <div class="part4">
                            <label for="BayRefNo">Confirm Password</label>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form_input" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="main-grid main-grid-top scroll1">
                        <ul style="visibility: visible;" class="nav nav-tabs test2">
                            <li class="active"><a data-toggle="tab" href="#home" aria-expanded="false">Module Wise Permissions</a></li>
                            <li class=""><a data-toggle="tab" href="#menu1" aria-expanded="false">Alert Permissions</a></li>
                            <li class=""><a data-toggle="tab" href="#menu2" aria-expanded="false">Graph Permissions</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane fade active in">
                                <h5>Module Wise Permissions</h5>
                                <div class="table-responsive">
                                    <div class="tab_logic">
                                        <table class="table table-bordered" id="tab_logic">
                                            <thead>
                                                <tr class="grid_heading">
                                                    <th style="width:20%;">Module</th>
                                                    <th style="width:10%;">Access</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int j = 0; j < Model.Module.Count; j++)
                                                {
                                                    <tr class="grid_row">
                                                        @Html.HiddenFor(m => m.Module[j].UserId)
                                                        @Html.HiddenFor(m => m.Module[j].ModuleId)
                                                        @Html.HiddenFor(m => m.Module[j].isPermission)
                                                        @Html.HiddenFor(m => m.Module[j].ModuleName)
                                                        <td style="padding-left:5px;">@Model.Module[j].ModuleName</td>
                                                        <td align="center">
                                                            <input type="checkbox" id="App1_@j" onchange="App1Changed(@j)" @(Model.Module[j].isPermission == 1 ? "checked" : "") />
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <h5>Alert Permissions</h5>
                                <div class="table-responsive">
                                    <div class="tab_logic">
                                        <table class="table table-bordered" id="tab_logic">
                                            <thead>
                                                <tr class="grid_heading">
                                                    <th style="width:20%;">Alerts</th>
                                                    <th style="width:10%;">Access</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int j = 0; j < Model.ERPAlerts.Count; j++)
                                                {
                                                    <tr class="grid_row">
                                                        @Html.HiddenFor(m => m.ERPAlerts[j].UserId)
                                                        @Html.HiddenFor(m => m.ERPAlerts[j].AlertId)
                                                        @Html.HiddenFor(m => m.ERPAlerts[j].HasPermission)
                                                        @Html.HiddenFor(m => m.ERPAlerts[j].AlertName)
                                                        <td style="padding-left:5px;">@Model.ERPAlerts[j].AlertName</td>
                                                        <td align="center">
                                                            <input type="checkbox" id="App2_@j" onchange="App2Changed(@j)" @(Model.ERPAlerts[j].HasPermission == 1 ? "checked" : "") />
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="menu2" class="tab-pane fade">
                                <h5>Graph Permissions</h5>
                                <div class="table-responsive">
                                    <div class="tab_logic">
                                        <table class="table table-bordered" id="tab_logic">
                                            <thead>
                                                <tr class="grid_heading">
                                                    <th style="width:20%;">Graphs</th>
                                                    <th style="width:10%;">Access</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int j = 0; j < Model.ERPGraphs.Count; j++)
                                                {
                                                    <tr class="grid_row">
                                                        @Html.HiddenFor(m => m.ERPGraphs[j].UserId)
                                                        @Html.HiddenFor(m => m.ERPGraphs[j].GraphId)
                                                        @Html.HiddenFor(m => m.ERPGraphs[j].HasPermission)
                                                        @Html.HiddenFor(m => m.ERPGraphs[j].GraphName)
                                                        <td style="padding-left:5px;">@Model.ERPGraphs[j].GraphName</td>
                                                        <td align="center">
                                                            <input type="checkbox" id="App3_@j" onchange="App3Changed(@j)" @(Model.ERPGraphs[j].HasPermission == 1 ? "checked" : "") />
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        </div>
                    </div>

                        <div class="row">

                            <div class="col-md-12 hrpart">
                                @if (Id > 0)
                                {
                                    <input type="submit" class=" form-button right" value="Update" />
                                }
                                else
                                {
                                    <input type="submit" class=" form-button right" value="Register" />
                                }
                                <input type="button" class=" form-button right" value="Exit" onclick="GoUserList()" />
                            </div>

                        </div>
                    </div>
                </div>



                }
                <script>
                    function App1Changed(row) {
                        if ($("#App1_" + row).prop("checked") == true) {
                            $("#Module_" + row + "__isPermission").val(1);
                        }
                        else if ($("#App1_" + row).prop("checked") == false) {
                            $("#Module_" + row + "__isPermission").val(0);
                        }
                    }
                    function App2Changed(row) {
                        if ($("#App2_" + row).prop("checked") == true) {
                            $("#ERPAlerts_" + row + "__HasPermission").val(1);
                        }
                        else if ($("#App2_" + row).prop("checked") == false) {
                            $("#ERPAlerts_" + row + "__HasPermission").val(0);
                        }
                    }
                    function App3Changed(row) {
                        if ($("#App3_" + row).prop("checked") == true) {
                            $("#ERPGraphs_" + row + "__HasPermission").val(1);
                        }
                        else if ($("#App3_" + row).prop("checked") == false) {
                            $("#ERPGraphs_" + row + "__HasPermission").val(0);
                        }
                    }
                    function GoUserList() {
                        var url = '@Url.Action("UserList")';
                        location.href = url;
                    }
                </script>
