@model ArabErp.Domain.User
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">

            <div class="form-head1">
                <h4>New User</h4>
            </div>

            <div class=" main-part pad1">
                <div class="row">
                <div class="col-md-4">
                    <div class="matop">@Html.ValidationSummary("", new { @class = "text-danger" })</div>
                    <div class="part4">
                       
                    <label for="BayRefNo">Email</label>
                    @Html.TextBoxFor(m => m.UserEmail, new { @class = "form_input" })
                    </div>
                    <div class="part4">
                        <label for="BayRefNo">User Name</label>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form_input" })
                    </div>
                    <div class="part4">
                        <label for="BayRefNo">Password</label>
                        @Html.PasswordFor(m => m.UserPassword, new { @class = "form_input" })
                    </div>
                    <div class="part4">
                        <label for="BayRefNo">Confirm Password</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form_input" })
                    </div>
                    </div>
                    </div>



                <div class="row">

                    <div class="col-md-12 hrpart">
                        <input type="submit" class=" form-button right" value="Register" />
                    </div>

                </div>
            </div>






            </div>
    </div>
    
    
}