@using ArabErp.Domain
@model IEnumerable<User>
@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function Edit(id) {
        var url = '@Url.Action("Register")';
        url = url + "?Id=" + id;
        window.location.href = url;
    }
    function Create() {
        var url = '@Url.Action("Register")';
        window.location = url;
    }
        function Exit() {
            var url = '@Url.Action("Index","Home")';
            window.location = url;
    }
</script>
<div class="container">
    <div class="row">
        <div class="form-head1">
            <h4>Users</h4>
        </div>
        <div class="main-part pad1 ">
            <div class="main-grid main-grid-top scroll1">
                <div class=" table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="grid_heading">
                                <th style="width:15%;"><h1>User Name</h1></th>
                                <th style="width:15%;"><h1>Email</h1></th>
                                <th style="width:10%;"><h1></h1></th>
                                <th><h1></h1></th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tbody class="grid_row">
                                <tr>
                                    <td class="grid-cell">@item.UserName</td>
                                    <td class="grid-cell">@item.UserEmail</td>
                                    <td><center><button class="form-button4" onclick="Edit(@item.UserId)">View</button></center></td>
                                    <td class="grid-cell"></td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
               
                <div class="row-count1">
                    <h5>Row Count:- @Model.Count()</h5>
                </div>
          
            <div class="row">
                <div class="col-md-12 hrpart">

                    <button type="submit" class="form-button" onclick="Create();">Create</button>
                    <button type="button" class="form-button right" onclick="Exit();">Exit</button>

                    @*<input type="button" class="form-button right" onclick="Exit()" value="Exit" />
                    <input type="button" class="form-button left" onclick="PreviousList()" value="Previous" />*@
                   
                </div>
                
            </div>
        </div>
    </div>
</div>



