@model ArabErp.Domain.Unit
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="h4bgcolor">
    <h4>Unit</h4>
</div>
<div class=" container ">
    <div class="row">
        <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <form role="form" action="@Url.Action("Save") " method="post">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="UnitRefNo">Code</label>
                            @Html.TextBoxFor(m => m.UnitRefNo, new { @class = "form_input", autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.UnitRefNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="UnitName">Name</label>
                            @Html.TextBoxFor(m => m.UnitName, new { @class = "form_input", autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.UnitName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <div style="float :right" class="alignCenter">
                             <button type="button" class="button-style">Exit</button>
                            </div>

                            <div style="float :right" class="alignCenter">
                                <button type="submit" class="button-style">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        <div class=" col-md-4 ">
        </div>

        </div>
  
    <div class=" row">
        <div class="col-md-4">
        </div>

        <div class="col-md-4">
             @Html.Action("FillUnitList")
        </div>

        <div class="col-md-4">
        </div>
    </div>

</div>

