@model ArabErp.Domain.Unit
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<script>
    $(document).ready(function () {
        $('#unit_form').bootstrapValidator({
            fields: {
                UnitRefNo: {
                    validators: {
                        notEmpty: {
                            message: 'Please Enter Code'
                        }
                    }
                },

                UnitName: {
                    validators: {
                        notEmpty: {
                            message: 'Please Enter Name'
                        }
                    }
                },
            }
        });
    })

    function Exit() {
        location.href = '@Url.Action("Create")';
    }

</script>


<div class=" container ">
    <div class="row">

        <div class="form-head1">
            <h4>Unit</h4>
        </div>

        <div class="main-part pad1">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "createFrom", @id = "unit_form" }))
                    {
            <div class="row">

                <div class="col-md-4">

                        @Html.HiddenFor(m => m.UnitId, new { @class = "form_input", autocomplete = "off" })

                        <div class="part4">
                            <label for="UnitRefNo">Code</label>
                            @Html.TextBoxFor(m => m.UnitRefNo, new { @class = "form_input form_input-half", autocomplete = "off", @readonly = "readonly" })
                        </div>

                        <div class="part4">
                            <label for="UnitName">Name</label>
                            @Html.TextBoxFor(m => m.UnitName, new { @class = "form_input", autocomplete = "off" })
                       </div>
                
                </div>

                <div class="col-md-4">
                </div>

                <div class="col-md-4">
                </div>

                <div class="col-md-12 hrpart">

                    <button type="button" class="form-button right" onclick="Exit()">Exit</button>

                    @if (@ViewBag.Title == "Create")
                    {
                        <button type="submit" class="form-button right">Save</button>
                    }

                    @if (@ViewBag.Title == "Edit")
                    {
                        <button type="submit" class="form-button right">Update</button>
                    }

                    @if (@ViewBag.Title == "Delete")
                    {
                        <button type="submit" class="form-button right">Delete</button>
                    }

                </div>



            </div>
        }
        </div>

        <div class="main-list">
            @Html.Action("FillUnitList")
        </div>

        @*<div class="row">
            <div class="col-md-12">
               @Html.Action("FillUnitList")
            </div>
        </div>*@


    </div>
</div>

