@model ArabErp.Domain.ItemCategory
@{ Layout = "~/Views/Shared/_Layout.cshtml";}

@{string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString(); }

<script type="text/javascript">
    function Exit() {
        location.href = '@Url.Action("Create")';
    }
    $(document).ready(function () {
        var Action = '@actionName';
        if (Action == 'Delete') {

            $("input[type='text'], select, CategoryName").attr('disabled', 'disabled');
            $("input[type=radio]").attr('disabled', true);
        }
        if (Action == 'Create') {
            $("#GenderId").prop("checked", true)
        }

        //$("#radio_1").prop("checked", true)
        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-bottom-full-width",
            "preventDuplicates": false,
            "onclick": null,

            "timeOut": "0",
            "extendedTimeOut": "1000",

            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        if ('@TempData["success"]' != "" && '@TempData["itmCatRefNo"]' != "") {
            toastr.success('@TempData["success"]' + '  Item Category Ref No. is : ' + '@TempData["itmCatRefNo"]');
        }
        else if ('@TempData["error"]' != "") {
            toastr.error('@TempData["error"]');
        }

    });
</script>


<div class="container">
    <div class="row">

        <div class="form-head1">
            <h4>Item Category</h4>
        </div>

        <div class="main-part pad1">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "createFrom", @id = "ItemCategory_form" }))
            {
           
       
        <div class="row">

            <div class="col-md-4">

                @Html.HiddenFor(m => m.itmCatId)
                @Html.HiddenFor(m => m.itmCatRefNo)

                <div class="part4">
                    <label for="itmCatRefNo">Code</label>
                    @Html.TextBoxFor(m => m.itmCatRefNo, new { @class = "form_input form_input-half", autocomplete = "off", @readonly = "readonly" })
                </div>

                    <div class="part4">
                        <label for="CategoryName">Name</label>
                        @Html.TextBoxFor(m => m.CategoryName, new { @class = "form_input", autocomplete = "off" })
                    </div>

                </div>



                <div class="col-md-4">
                </div>

                <div class="col-md-8">
                </div>


            <div class="col-md-12 hrpart">

                <button type="button" class="form-button right" onclick="Exit();">Exit</button>

                @if (actionName == "Edit")
                    
                { <button type="submit" class="form-button right">Update</button> }
                else
                    if (actionName == "Delete")
                        
                    {  <button type="submit" class="form-button right">Delete</button>}
                    else
                    { <button type="submit" class="form-button right">Save</button>}

            </div>


            </div>
                  
            }
        </div>

        <div class="main-list">
            @Html.Action("FillItemCategoryList")
        </div>


    </div>
    
</div>
