@model IList< ArabErp.Domain.Currency>

<style type="text/css">
    .tableData {
        font-size: 12px;
        padding-left: 4px;
    }

    .list {
        display: block;
        height: 320px;
        overflow-y: scroll;
    }

        .list tr:hover {
            background-color: #DFEDF7;
        }
</style>

<div class="row" style="width:100%;margin:1px;">

        <table class="list" style="width:100%;" border="1">
            <tr class="grid_headding main-list-head">
                <td style="width:7%;padding:6px;"><b>Ref No.</b></td>
                <td style="width:13%;padding:6px;"><b>Name</b></td>
                <td style="width:13%;padding:6px;"><b>Elementary</b></td>
                <td style="width:13%;padding:6px;"><b>Exchange Rate</b></td>
                <td style="width:4%;padding:6px;"><b>Symbol</b></td>
            </tr>

            @{
        for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td class="tableData main-list-inn">

                    @*@Html.HiddenFor(m => m[i].grdCode)
                    @Html.HiddenFor(m => m[i].grdName)*@
                    @Model[i].CurrencyRefNo
                </td>
                <td>
                    @*@Html.TextBoxFor(m => m[i].CurrencyName, new { @style = "font-size:12px;text-align:right", @class = "numbersOnly" })*@
                    @Model[i].CurrencyName
                </td>
                <td>
                    @Model[i].Elementary
                </td>
                <td style="text-align:right">
                    @Model[i].CurrencyExRate
                </td>
                <td style="text-align:center">
                    @Model[i].SymbolName
                </td>
               
            </tr>
        }
            }

        </table>
       
</div>