@model  ArabErp.Domain.WorkDescription
@{
    ViewBag.Title = "CreateWorkDescription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $('#wrkdescr_form').bootstrapValidator({
            fields: {
                FreezerUnitId: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter FreezerUnit'
                        }
                    }
                },
                BoxId: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter Box'
                        }
                    }
                },
                VehicleModelId: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter VehicleModel'
                        }
                    }
                },
                WorkDescr: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter Work Description'
                        }
                    }
                }

            }
        });

    });
    $(document).ready(function () {
        $("#add_task_row").click(function () {
            var i = 0;
            var no = 1;
            $('input[id^="Row_task_"]').each(function () {
                var id = this.id;
                no++;
                var row = Number(id.replace("Row_task_", ""));
                if (row > i) {
                    i = row;
                }
            });
            i++;

            var index = (new Date()).getTime(); // unique indexer
            var clone = $('#Row_task_0').clone(); // clone the BatchProducts item
            //Update the index of the clone

            clone.html($(clone).html().replace(/\WorkVsTasks_0__/g, 'WorkVsTasks_' + i + '__'));
            clone.html($(clone).html().replace(/\WorkVsTasks[0]./g, 'WorkVsTasks[' + i + '].'));
            clone.html($(clone).html().replace(/\[0\]/g, '[' + i + ']'));
            clone.html($(clone).html().replace(/\(0\)/g, '(' + i + ')'));
            clone.html($(clone).html().replace(/Row_task_0/, 'Row_task_' + i + ''));
            $("#tab_task").append('<tr id="' + i + '">' + clone.html() + '  </tr>');
        });

        $("#add_item_row").click(function () {
            var i = 0;
            var no = 1;
            $('input[id^="Row_item_"]').each(function () {
                var id = this.id;
                no++;
                var row = Number(id.replace("Row_item_", ""));
                if (row > i) {
                    i = row;
                }
            });
            i++;

            var index = (new Date()).getTime(); // unique indexer
            var clone = $('#Row_item_0').clone(); // clone the BatchProducts item
            //Update the index of the clone

            clone.html($(clone).html().replace(/\WorkVsItems_0__/g, 'WorkVsItems_' + i + '__'));
            clone.html($(clone).html().replace(/\WorkVsItems[0]./g, 'WorkVsItems[' + i + '].'));
            clone.html($(clone).html().replace(/\[0\]/g, '[' + i + ']'));
            clone.html($(clone).html().replace(/\(0\)/g, '(' + i + ')'));
            clone.html($(clone).html().replace(/Row_item_0/, 'Row_item_' + i + ''));
            $("#tab_item").append('<tr id="' + i + '">' + clone.html() + '  </tr>');
        });

    });






</script>

<div class="container ">
    <div class="row">
        <div class="form-head1">
            <h4>Work Description</h4>
        </div>

        <div class="main-part pad1">
            @using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom", @id = "wrkdescr_form" }))
            {
                <div class="row">
                    <div class="col-md-4">
                        <div class="tick-main">
                            @Html.CheckBoxFor(m => m.isNewInstallation, new { autocomplete = "off" })


                            <span class="text">New Installation</span>



                            @Html.CheckBoxFor(m => m.isRepair, new { autocomplete = "off" })
                            <span class="text">Repair / Service</span>



                            @Html.CheckBoxFor(m => m.isSubAssembly, new { autocomplete = "off" })
                            <span class="text">Sub Assembly</span>

                        </div>
                    </div>

                </div>

                    <div class="row">


                       

                        <div class="col-md-3">
                            <div class="part4">
                                <label for="freezer">Freezer Type</label>
                                @Html.DropDownListFor(m => Model.FreezerUnitId, (SelectList)ViewBag.FreezerUnitlist, "Select FreezerUnit", new { @class = "form_input", autocomplete = "off" })
                            </div>
                            </div>

                        <div class="col-md-3">
                            <div class="part4">
                                <label for="box">Box Type</label>
                                @Html.DropDownListFor(m => Model.BoxId, (SelectList)ViewBag.Boxlist, "Select Box", new { @class = "form_input", autocomplete = "off" })

                              </div>
                            </div>
                        <div class="col-md-3">
                            <div class="part4">
                                <label for="VehicleModelId">
                                    Vehicle Model
                                </label>
                                @Html.DropDownListFor(m => Model.VehicleModelId, (SelectList)ViewBag.vehiclelist, "Select Vehicle", new { @class = "form_input", autocomplete = "off" })
                            </div>
                          </div>

                        <div class="col-md-3">
                            <div class="part4">
                                <label for="name">Name</label>
                                @Html.TextBoxFor(m => m.WorkDescr, new { @class = "form_input", autocomplete = "off" })
                            </div>

                        </div>



                    </div>
                
                <div class="row">
                    <div class="col-md-12">&nbsp;</div>
                </div>



                <div class="row">


                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="tab_item">
                                <thead>
                                    <tr class="grid_heading">
                                        <th width="88%"><h1>Items</h1></th>
                                        <th width="12%"><h1>Quantity</h1></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.WorkVsItems.Count; i++)
                                    {
                                        <tr id="Row_item_@i">

                                            <td>

                                                @Html.DropDownListFor(m => m.WorkVsItems[i].ItemId, (SelectList)ViewBag.ItemList, "Select Item", new { @class = "form_input", autocomplete = "off" })
                                            </td>

                                            <td>

                                                @Html.TextBoxFor(m => m.WorkVsItems[i].Quantity, new { @class = "form_input text-right", autocomplete = "off" })
                                            </td>

                                        </tr>
                                    }
                                    @*<tr id='addr1'></tr>*@
                                </tbody>

                            </table>
                        </div>
                        <div class="col-md-12">
                            <a id="add_item_row" class="glyphicon glyphicon-plus"></a><a id='delete_item_row' style="float:right" class="glyphicon glyphicon-minus"></a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="tab_task">
                                <thead>
                                    <tr class="grid_heading">
                                        <th width="88%"><h1>Tasks executed for Work</h1></th>
                                        <th width="12%"><h1>Hours</h1></th>
                                        
                                    </tr>

                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.WorkVsTasks.Count; i++)
                                    {
                                        <tr id="Row_task_@i">

                                            <td>
                                              
                                                @Html.DropDownListFor(m => m.WorkVsTasks[i].JobCardTaskMasterId, (SelectList)ViewBag.JobCardTaskMasterList, "Select Task", new { @class = "form_input", autocomplete = "off" })
                                            </td>
                                            <td>

                                                @Html.TextBoxFor(m => m.WorkVsTasks[i].Hours, new { @class = "form_input text-right", autocomplete = "off" })
                                            </td>

                                        </tr>
                                    }

                                </tbody>

                            </table>


                        </div>
                        <div class="col-md-12">
                            <a id="add_task_row" class="glyphicon glyphicon-plus"></a><a id='delete_task_row' style="float:right" class="glyphicon glyphicon-minus"></a>
                        </div>


                        <div class="row">

                            <div class="col-md-12 hrpart">
                                <button type="button" class="form-button right">Exit</button>
                                <button type="submit" class="form-button right">Save</button>
                            </div>

                        </div>


                    </div>

 



                </div>
        










                  



            }
        </div>

    </div>
</div>
