@model IList<ArabErp.Domain.WorkDescription>
@using GridMvc.Html

<script>
    @*function OpenEdit(id) {
        var url = '@Url.Action("Edit")';
        //url += "?Id=" + id;
        Location.href = url;
        return false;

    }
    function OpenDelete(id) {
        var url = '@Url.Action("Delete")';
        //url += "?Id=" + id;
        Location.href = url;
        return false;
    }*@
</script>

<style type="text/css">
    .tableData {
        font-size: 12px;
        padding-left: 4px;
    }

    .list {
        display: block;
        height: 320px;
        overflow-y: scroll;
    }

        .list tr:hover {
            background-color: #DFEDF7;
        }
</style>

<div class="table-responsive">
    <div class="main-grid main-grid-top">

        @Html.Grid(Model).Columns(columns =>
                        {
                            columns.Add(m => m.WorkDescriptionRefNo).Titled("Ref. No.").SetWidth(10);
                            columns.Add(m => m.WorkDescr).Titled("Name").SetWidth(400);
                            columns.Add(m => m.VehicleModelName).Titled("Vehicle Model").SetWidth(30);
                            columns.Add(m => m.FreezerUnitName).Titled("Freezer Unit").SetWidth(30);
                            columns.Add(m => m.BoxName).Titled("Box Name").SetWidth(20);
                         
                            columns.Add().Encoded(false).Sanitized(false).SetWidth(10).Css("cent").RenderValueAs(o => @<a href="@Url.Action("EditWorkDescription", new { Id = o.WorkDescriptionId })">Edit</a>);
                            columns.Add().Encoded(false).Sanitized(false).SetWidth(10).Css("cent").RenderValueAs(o => @<a href="@Url.Action("Delete", new { Id = o.WorkDescriptionId })">Delete</a>);
                        
                        }).WithPaging(10)
    </div>

    <div class="row-count1">

        <h5>Row Count:- @Model.Count()</h5>
 

    </div>   
</div>


