@model ArabErp.Domain.ClosingStock
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#txtFrom").datepicker({
            dateFormat: "dd-MM-yy"
        });
        $("#txtTo").datepicker({
            dateFormat: "dd-MM-yy"
        });
        $("#ItemId").combobox();
        $("#cboPartNo").combobox();
    })
    function FillItem() {
        var Code = $('#itmCatId').val();

        var Url = '@Url.Action("Item")';

        if (Code == '') {
            $("#DivItem").load(Url, { Code: 0 });

        }
        else {
            $("#DivItem").load(Url, { Code: Code });

        }

    }

    function Filter() {
        $("#Stock_Movement").addClass("fade");
        var stkid = $("#cboStockpoint").val();
        var itmcatid = $("#ItemCategoryId").val();
        var ItemGroupId = $("#ItemGroupId").val();
        var ItemSubGroupId = $("#ItemSubGroupId").val();
        var itmid = $("#ItemId").val();
        var PartNo = $("#cboPartNo").val().trim();
        var from = $("#txtFrom").val();
        var to = $("#txtTo").val();
        var url = '@Url.Action("StockMovementRegister")';
        url += "?from=" + from + "&to=" + to + "&stkid=" + stkid + "&itmcatid=" + itmcatid + "&itmid=" + itmid + "&ItemGroupId=" + ItemGroupId + "&ItemSubGroupId=" + ItemSubGroupId + "&PartNo=" + encodeURIComponent(PartNo);
        $("#Stock_Movement").load(url, function () {
            $("#Stock_Movement").removeClass("fade");
        });
    }


    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }


    function FillItemGroup() {
        var Code = $('#ItemCategoryId').val();
        var Url = '@Url.Action("ItemGroup")';
        var UrlSubGroup = '@Url.Action("ItemSubGroup")';
        if (Code == '') {
            $("#DivItemGroup").load(Url, { Code: 0 });
            $("#DivItemSubGroup").load(UrlSubGroup, { Code: 0 });
        }
        else {
            $("#DivItemGroup").load(Url, { Code: Code });
            $("#DivItemSubGroup").load(UrlSubGroup, { Code: 0 });
        }

        $("#Stock_Movement").addClass("fade");
        var stkid = $("#cboStockpoint").val();
        var itmcatid = $("#ItemCategoryId").val();
        var ItemGroupId = $("#ItemGroupId").val();
        var ItemSubGroupId = $("#ItemSubGroupId").val();
        var itmid = $("#ItemId").val();
        var PartNo = $("#cboPartNo").val().trim();
        var from = $("#txtFrom").val();
        var to = $("#txtTo").val();
        var url = '@Url.Action("StockMovementRegister")';
        url += "?from=" + from + "&to=" + to + "&stkid=" + stkid + "&itmcatid=" + itmcatid + "&itmid=" + itmid + "&ItemGroupId=" + ItemGroupId + "&ItemSubGroupId=" + ItemSubGroupId + "&PartNo=" + encodeURIComponent(PartNo);
        $("#Stock_Movement").load(url, function () {
            $("#Stock_Movement").removeClass("fade");
        });
    }
    function FillItemSubGroup() {
        var Code = $('#ItemGroupId').val();
        var Url = '@Url.Action("ItemSubGroup")';
        if (Code == '') {
            $("#DivItemSubGroup").load(Url, { Code: 0 });
        }
        else {
            $("#DivItemSubGroup").load(Url, { Code: Code });
        }
        $("#Stock_Movement").addClass("fade");
        var stkid = $("#cboStockpoint").val();
        var itmcatid = $("#ItemCategoryId").val();
        var ItemGroupId = $("#ItemGroupId").val();
        var ItemSubGroupId = $("#ItemSubGroupId").val();
        var itmid = $("#ItemId").val();
        var PartNo = $("#cboPartNo").val().trim();
        var from = $("#txtFrom").val();
        var to = $("#txtTo").val();
        var url = '@Url.Action("StockMovementRegister")';
        url += "?from=" + from + "&to=" + to + "&stkid=" + stkid + "&itmcatid=" + itmcatid + "&itmid=" + itmid + "&ItemGroupId=" + ItemGroupId + "&ItemSubGroupId=" + ItemSubGroupId + "&PartNo=" + encodeURIComponent(PartNo);
        $("#Stock_Movement").load(url, function () {
            $("#Stock_Movement").removeClass("fade");
        });
    }

    function FillItem() {
        var Code = $('#ItemSubGroupId').val();
        var Url = '@Url.Action("Material")';
        if (Code == '') {
            $("#DivItem").load(Url, { Code: 0 });
        }
        else {
            $("#DivItem").load(Url, { Code: Code });
        }
        $("#Stock_Movement").addClass("fade");
        var stkid = $("#cboStockpoint").val();
        var itmcatid = $("#ItemCategoryId").val();
        var ItemGroupId = $("#ItemGroupId").val();
        var ItemSubGroupId = $("#ItemSubGroupId").val();
        var itmid = $("#ItemId").val();
        var PartNo = $("#cboPartNo").val().trim();
        var from = $("#txtFrom").val();
        var to = $("#txtTo").val();
        var url = '@Url.Action("StockMovementRegister")';
        url += "?from=" + from + "&to=" + to + "&stkid=" + stkid + "&itmcatid=" + itmcatid + "&itmid=" + itmid + "&ItemGroupId=" + ItemGroupId + "&ItemSubGroupId=" + ItemSubGroupId + "&PartNo=" + encodeURIComponent(PartNo);
        $("#Stock_Movement").load(url, function () {
            $("#Stock_Movement").removeClass("fade");
        });
    }

    function OnMaterialChange() {

        var id = $("#ItemId").val();
        if (id != '') {
            var url = '@Url.Action("GetPartNo")';
            $.getJSON(url, { itemId: id },
                function (data) {
                    debugger
                    var arr = data.split('|');    
                    //$("#items_" + index + "__PartNo").val(arr[0]);
                    $("#cboPartNo").combobox("destroy");
                    $("#cboPartNo").val(id);
                    debugger
                    $("#cboPartNo" ).combobox();

                });

        }
        else {
            //$("#items_" + index + "__PartNo").val('');
            $("#cboPartNo").combobox("destroy");
            $("#cboPartNo").val('');
            $("#cboPartNo").combobox();

        }

        $("#Stock_Movement").addClass("fade");
        var stkid = $("#cboStockpoint").val();
        var itmcatid = $("#ItemCategoryId").val();
        var ItemGroupId = $("#ItemGroupId").val();
        var ItemSubGroupId = $("#ItemSubGroupId").val();
        var itmid = $("#ItemId").val();
        var PartNo = $("#cboPartNo").val().trim();
        var from = $("#txtFrom").val();
        var to = $("#txtTo").val();
        var url = '@Url.Action("StockMovementRegister")';
        url += "?from=" + from + "&to=" + to + "&stkid=" + stkid + "&itmcatid=" + itmcatid + "&itmid=" + itmid + "&ItemGroupId=" + ItemGroupId + "&ItemSubGroupId=" + ItemSubGroupId + "&PartNo=" + encodeURIComponent(PartNo);
        $("#Stock_Movement").load(url, function () {
            $("#Stock_Movement").removeClass("fade");
        });

    }

</script>

<div class="row">

    <div class="form-head1">
        <h4>Stock Movement Report</h4>
    </div>

    <div class="main-part pad1">
        <div class="row form-group">
            <div class="part">
                <div class="col-md-2">
                    <label>From</label>
                    <input id="txtFrom" value="@ViewBag.startdate.ToString("dd-MMMM-yyyy")" class="form_input" />
                </div>
                <div class="col-md-2">
                    <label>To</label>
                    <input id="txtTo" value="@System.DateTime.Today.ToString("dd-MMMM-yyyy")" class="form_input" />
                </div>
                <div class="col-md-2">
                    <label for="cboStockpoint">Stock Point</label>
                    @Html.DropDownList("cboStockpoint", (SelectList)ViewBag.WarehouseList, "Any", new { @class = "form_input", onchange = "Filter()" })
                </div>

                <div class="col-md-2">
                    <label for="code" class="label1">Item Category</label>
                    @Html.Action("ItemCategory")
                </div>
                <div class="col-md-2">
                    <label for="code" class="label1">Item Group</label>
                    <div id="DivItemGroup">
                        @Html.Action("ItemGroup", "Item", new { Code = Model.itmCatId })
                    </div>
                </div>

                <div class="col-md-2">
                    <label for="code" class="label1">Item Sub Group</label>
                    <div id="DivItemSubGroup">
                        @Html.Action("ItemSubGroup", "Item", new { Code = Model.itmGrpId })
                    </div>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="part">
                <div class="col-md-3">
                    <label for="code" class="label1">Material/Spares</label>
                    <div id="DivItem">
                        @Html.Action("Material", "StockMovementRegister", new { Code = Model.itmSubGrpId })
                    </div>
                </div>

                <div class="col-md-3">
                    <label for="cboPart no">Part No.</label>
                    <div >
                        @Html.DropDownList("cboPartNo", (SelectList)ViewBag.partNoList, "Any", new { @class = "form_input", @onchange = "Filter()" })
                        @Html.HiddenFor(m => Model.ItemId)
                    </div>
                 </div>

            </div>
        </div>
            @*<br />*@

            @*<div class="col-md-2">
                <label for="cboItem">Material/Spares</label>
                <div id="DivItem">
                    @Html.Action("Item", "StockMovementRegister", new { Code = Model.itmCatId })
                </div>
            </div>*@
            @*<div class="col-md-3">
                <label for="filter-PartNo">Part No.</label>
                <input id="filter-PartNo" class="form_input" placeholder="Search for Part No." onkeyup="Filter()" onchange="Filter()" />
            </div>*@

            @*<div class="col-md-2">
                <label for="cboItemCat">Item Category</label>
                @Html.DropDownListFor(m => Model.itmCatId, (SelectList)ViewBag.ItemCatList, new { @class = "form_input", @onchange = "FillItem()" })
                @Html.HiddenFor(m => Model.itmCatId)
            </div>*@
            @*<div class="col-md-2">
                <label for="cboGroup">Group</label>
                @Html.DropDownList("cboGroup", (SelectList)ViewBag.ItemGroup, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>

            <div class="col-md-2">
                <label for="cboSubGroup">SubGroup</label>
                @Html.DropDownList("cboSubGroup", (SelectList)ViewBag.ItemSubgroup, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>*@
            @*<div class="col-md-2">
                <input type="button" class="form-button filter" value="OK" onclick="Filter()" />
            </div>*@


            <div class="table-responsive scroll4" id="Stock_Movement">
                @Html.Action("StockMovementRegister")
            </div>
            <div class="row">
                <div class="col-md-12 hrpart">
                    <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
                </div>
            </div>

        </div>
    </div>


