@model ArabErp.Domain.ClosingStock
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#txtFrom").datepicker({
            dateFormat: "dd-MM-yy"
        });
        $("#txtTo").datepicker({
            dateFormat: "dd-MM-yy"
        });
    })
    function FillItem() {
        var Code = $('#itmCatId').val();
       
        var Url = '@Url.Action("Item")';
   
       if (Code == '') {
           $("#DivItem").load(Url, { Code: 0 });
        
       }
    else {
           $("#DivItem").load(Url, { Code: Code });
       
    }
   
    }

    function Filter() {
        $("#Stock_Movement").addClass("fade");
        var stkid = $("#cboStockpoint").val();
        var itmcatid = $("#itmCatId").val();
        var itmid = $("#ItemId").val();
        var from = $("#txtFrom").val();
        var to = $("#txtTo").val();
        var url = '@Url.Action("StockMovementRegister")';
        url += "?from=" + from + "&to=" + to + "&stkid=" + stkid + "&itmcatid=" + itmcatid + "&itmid=" + itmid;
        $("#Stock_Movement").load(url, function () {
            $("#Stock_Movement").removeClass("fade");
        });
    }


    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }
</script>

<div class="row">

    <div class="form-head1">
        <h4>Stock Movement Report</h4>
    </div>

    <div class="main-part pad1">
        <div class="row">
            <div class="col-md-2">
                <label>From</label>
                <input id="txtFrom" value="@ViewBag.startdate.ToString("dd-MMMM-yyyy")" class="form_input" />
            </div>
            <div class="col-md-2">
                <label>To</label>
                <input id="txtTo" value="@System.DateTime.Today.ToString("dd-MMMM-yyyy")" class="form_input" />
            </div>
            <div class="col-md-2">
                <label for="cboStockpoint">Stock Point</label>
                @Html.DropDownList("cboStockpoint", (SelectList)ViewBag.WarehouseList, "Any", new { @class = "form_input" })
            </div>
            <div class="col-md-2">
                <label for="cboItemCat">Item Category</label>
                @Html.DropDownListFor(m => Model.itmCatId, (SelectList)ViewBag.ItemCatList, "Any", new { @class = "form_input", @onchange = "FillItem()" })
                @Html.HiddenFor(m => Model.itmCatId)
             
            </div>
            <div class="col-md-3">
                <label for="cboItem">Material/Spares</label>
                <div id="DivItem">
                    @Html.Action("Item", "StockMovementRegister", new { Code = Model.itmCatId })
              
                </div>
            </div>
            <div class="col-md-1">
                <input type="button" class="form-button filter" value="OK" onclick="Filter()" />
            </div>
        </div>
        <br />
        <div class="table-responsive scroll4" id="Stock_Movement">
            @Html.Action("StockMovementRegister")
        </div>
        <div class="row">
            <div class="col-md-12 hrpart">
                <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
            </div>
        </div>
    </div>
</div>

