@model ArabErp.Domain.VehicleOutPass

@{
    ViewBag.Title = "Vehicle Out Pass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $.getJSON('@Url.Action("GetJobCardDetails")', { id: '@Model.JobCardId' },
            function (data) {
                $("#txtJCNoDate").val(data.JobCardNoDate);
                $("#txtSONoDate").val(data.SaleOrderNoDate);
                $("#txtVehicleModel").val(data.VehicleModel);
                $("#txtWork").val(data.WorkDescr);
                $("#txtCustomer").val(data.CustomerName);
                $("#txtRegNo").val(data.RegistrationNo);
            });
    });

    function formValidation() {
        return confirm("Are you sure to Save?");
    }

    function Back() {
        var url = '@Url.Action("Index")';
        window.location = url;
    }
</script>

<div class="container">
    <div class="row">
        <div class="form-head1">
            <h4>Delivery Challan</h4>
        </div>
        <div class="main-part pad1">

            @using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom", onsubmit = "return formValidation()", @id = "vehicle-inpass-form" }))
            {
                <div class="row form-group">
                    <div class="col-md-4">
                        <label>Customer</label>
                        <input type="text" class="form_input" id="txtCustomer" disabled />
                    </div>
                    <div class="col-md-2">
                        <label>SO No. &amp; Date</label>
                        <input type="text" class="form_input" id="txtSONoDate" disabled />
                    </div>
                    <div class="col-md-2">
                        <label>JC No. &amp; Date</label>
                        <input type="text" class="form_input" id="txtJCNoDate" disabled />
                    </div>
                    <div class="col-md-2">
                        <label>Chasis No/Reg No.</label>
                        <input type="text" class="form_input" id="txtRegNo" disabled />
                    </div>
                    <div class="col-md-2">
                        <label>Vehicle Model</label>
                        <input type="text" class="form_input" id="txtVehicleModel" disabled />
                    </div>
                </div>

                <div class="row form-group">

                    <div class="col-md-6">
                        <label>Work Description</label>
                        <input type="text" class="form_input" id="txtWork" disabled />
                    </div>
                    <div class="col-md-2">
                        <label>Vehicle Out-Pass No.</label>
                        @Html.HiddenFor(m => m.JobCardId)
                        @Html.TextBoxFor(m => m.VehicleOutPassNo, new { @class = "form_input" })
                    </div>
                    <div class="col-md-2">
                        <label>Out-Pass Date</label>
                        @Html.TextBoxFor(m => m.VehicleOutPassDate, new { @class = "form_input", @type = "date" })
                    </div>
                    <div class="col-md-2">
                        <label>Employee</label>
                        @Html.DropDownListFor(m => m.EmployeeId, (SelectList)ViewBag.employeeList, "Select Employee", new { @class = "form_input" })
                    </div>
                </div>



    <div class="row form-group">
        <div class="col-md-12">
            <div class="part4">
                <div class="row">
                    <div class="col-md-2">
                        <label>Special Remarks</label>
                    </div>
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Remarks, new { @class = "form_input form_input-h" })
                    </div>
                </div>
            </div>
        </div>
    </div>
                

                <div class="row form-group">
                    <div class="col-md-12 col-md hrpart">
                        <input class="form-button right" type="button" value="Exit" onclick="Back()" />
                        <input class="form-button right" type="submit" value="Save" />
                       
                    </div>
                </div>
            }

        </div>
    </div>
</div>
