@model IList<ArabErp.Domain.ExpenseBillListViewModel>

@*<script>
        function OnSelected(id) {
            var url = '@Url.Action("Edit")';
            //alert(id);
            url += "/" + id;
            window.location = url;
        }

        function Exit() {
            var url = '@Url.Action("Create", "Expense")';
            window.location = url;
        }
    </script>*@
<div class="row">
    <div class="main-grid main-grid-top scroll1">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr class="grid_heading">
                        <th width="12%"><h1>Bill No</h1></th>
                        <th width="12%"><h1>Bill Date</h1></th>
                        <th width="42%"><h1>Supplier</h1></th>
                        <th width="12%"><h1>Bill Ref.</h1></th>
                        <th width="12%"><h1>Amount</h1></th>
                        <th width="10%" class="text-center">Select</th>

                    </tr>
                </thead>

                <tbody class="grid_row">
                    @if (Model.Count > 0)
                    {
                        int i = 0;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.ExpenseNo</td>
                                <td>@item.ExpenseDate.ToString("dd/MMM/yyyy")</td>
                                <td>@item.SupplierName</td>
                                <td>@item.ExpenseBillRef</td>
                                <td>@item.TotalAmount</td>
                                <td>
                                    <center><input type="button" class="form-button4" onclick="OnSelected(@item.ExpenseId)" value="Select" title="Select to view details" /></center>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6">
                                <center>
                                    <em>No items found!</em>
                                </center>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row-count1">
        <h5>Row Count:- @Model.Count()</h5>
    </div>
</div>