@model ArabErp.Domain.ExpenseBill
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .divHidden{
        visibility:hidden;
    }
    .divShow{
        visibility:visible;
    }
</style>
<script>
    function expenseBillValidate()
    {
        return confirm("Do you want to Save?");
    }
    $(function () {
        $("#ExpenseDate").datepicker({ dateFormat: "dd/MM/yy" });
        $("#ExpenseBillDate").datepicker({ dateFormat: "dd/MM/yy" });
        $("#ExpenseBillDueDate").datepicker({ dateFormat: "dd/MM/yy" });
    });
    function AddAdditionRow()
    {
        var i = 0;
        var no = 0;
        $('.TaskRow').each(function (j, obj) {
            var row = Number(obj.id.replace("Row_", ""));
            console.log(j);
            i = j;
        });
        i++;

        var clone = $('#Row_0').clone();
        clone.html($(clone).html().replace(/\ExpenseBillItem_0__/g, 'ExpenseBillItem_' + i + '__'));
        clone.html($(clone).html().replace(/\ExpenseBillItem_0__/g, 'ExpenseBillItem_' + i + '__'));
        clone.html($(clone).html().replace(/\ExpenseBillItem[0]./g, 'ExpenseBillItem[' + i + '].'));
        clone.html($(clone).html().replace(/\[0\]/g, '[' + i + ']'));
        clone.html($(clone).html().replace(/\(0\)/g, '(' + i + ')'));
        clone.html($(clone).html().replace(/\Row_0/g, 'Row_' + i + ''));
        //clone.html($(clone).html().replace(/Row_/, 'Row_' + i + ''));

        $("#tab_logic").append('<tr id="Row_' + i + '" class="TaskRow">' + clone.html() + '  </tr>'); var i = 0;
        
    }
    function AddDeductionRow()
    {
        var i = 0;
        var no = 0;
        $('.TaskRow_Ded').each(function (j, obj) {
            var row = Number(obj.id.replace("Row_Ded_", ""));
            console.log(j);
            i = j;
        });
        i++;

        var clone = $('#Row_Ded_0').clone();
        clone.html($(clone).html().replace(/\deductions_0__/g, 'deductions_' + i + '__'));
        clone.html($(clone).html().replace(/\deductions_0__/g, 'deductions_' + i + '__'));
        clone.html($(clone).html().replace(/\deductions[0]./g, 'deductions[' + i + '].'));
        clone.html($(clone).html().replace(/\[0\]/g, '[' + i + ']'));
        clone.html($(clone).html().replace(/\(0\)/g, '(' + i + ')'));
        clone.html($(clone).html().replace(/\Row_Ded_0/g, 'Row_Ded_' + i + ''));
        //clone.html($(clone).html().replace(/Row_/, 'Row_' + i + ''));

        $("#tab_logic_deduction").append('<tr id="Row_Ded_' + i + '" class="TaskRow_Ded">' + clone.html() + '  </tr>'); var i = 0;        
    }

    function AdditionAmtChanged(row)
    {
        var qty = $("#ExpenseBillItem_"+ row +"__ExpenseItemQty").val();
        var amt = $("#ExpenseBillItem_" + row + "__ExpenseItemRate").val();
        var total = qty * amt;
        $("#ExpenseBillItem_" + row + "__ExpenseItemAmount").val(total);
        DeductionAmtChanged();
    }
    function DeductionAmtChanged()
    {
        var add = 0;
        $('.addition').each(function (i, obj) {
            console.log(obj);
            add = add + eval(obj.value);
        });
        $("#TotalAddition").val(add);
        var ded = 0;
        $('.deduction').each(function (i, obj) {
            console.log(obj);
            ded = ded + eval(obj.value);
        });
        $("#TotalDeduction").val(ded);
        $("#TotalAmount").val(add - ded);
    }
    function OptionChanged()
    {
        var opt = $("#JcOrSo").val();
        $("#SoOrJc").val(opt);
        if(opt == "JC")
        {
            $("#againstId").text("Job Card");
            $("#SaleOrderId").removeClass("divHidden");
            $("#JobCardId").removeClass("divHidden");
            $("#SaleOrderId").removeClass("divShow");
            $("#JobCardId").removeClass("divShow");
            $("#SaleOrderId").addClass("divHidden");
            $("#JobCardId").addClass("divShow");
        }
        if(opt == "SO")
        {
            $("#againstId").text("Sale Order");
            $("#SaleOrderId").removeClass("divHidden");
            $("#JobCardId").removeClass("divHidden");
            $("#SaleOrderId").removeClass("divShow");
            $("#JobCardId").removeClass("divShow");
            $("#SaleOrderId").addClass("divShow");
            $("#JobCardId").addClass("divHidden");
        }
    }
</script>
<div class="container">
    <div class="row">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "createFrom", @id = "expensebill_form", onsubmit = "expenseBillValidate()" }))
        {
            <div class="form-head1">
                <h4>Expense Bill</h4>
            </div>
            <div class="main-part pad1">
                <form role="form">
                    <div class="row form-group">
                        <div class="col-md-2">
                            <label for="jcno">Expense Bill No.</label>
                            @Html.TextBoxFor(m => m.ExpenseNo, new { @class = "form_input", autocomplete = "off" })
                            @Html.HiddenFor(m => m.ExpenseId)
                        </div>
                        <div class="col-md-2">
                            <label for="inputDate">Date</label>
                            @Html.TextBoxFor(m => m.ExpenseDate, String.Format("{0:dd/MMMM/yyyy}", Model.ExpenseDate), new { @class = "form_input ", autocomplete = "off", @readonly = "readonly" })
                        </div>
                        <div class="col-md-2">
                            <label>Sale Ord. / Job Card</label>
                            @Html.HiddenFor(m=>m.SoOrJc)
                            <select class="form_input" id="JcOrSo" onchange="OptionChanged()">
                                <option>Select</option>
                                <option value="JC">Job Card</option>
                                <option value="SO">Sale Order</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label id="againstId"></label>
                            @Html.DropDownListFor(m => Model.SaleOrderId, (SelectList)ViewBag.SO, "Select S.O", new { @class = "form_input divHidden", autocomplete = "off" })
                            @Html.DropDownListFor(m => Model.JobCardId, (SelectList)ViewBag.JC, "Select J.C", new { @class = "form_input divHidden against", autocomplete = "off" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="cus">Supplier</label>
                            @Html.DropDownListFor(m => Model.SupplierId, (SelectList)ViewBag.SupplierList, "Select Supplier", new { @class = "form_input", autocomplete = "off" })
                        </div>
                        <div class="col-md-2">
                            <label for="inputDate">Bill Ref.</label>
                            @Html.TextBoxFor(m => m.ExpenseBillRef, new { @class = "form_input", autocomplete = "off" })
                        </div>
                        <div class="col-md-2">
                            <label for="inputDate">Bill Date</label>
                            @Html.TextBoxFor(m => m.ExpenseBillDate, String.Format("{0:dd/MMMM/yyyy}", Model.ExpenseBillDate), new { @class = "form_input ", autocomplete = "off", @readonly = "readonly" })
                        </div>
                        <div class="col-md-2">
                            <label for="inputDate">Bill Due Date</label>
                            @Html.TextBoxFor(m => m.ExpenseBillDueDate, String.Format("{0:dd/MMMM/yyyy}", Model.ExpenseBillDueDate), new { @class = "form_input ", autocomplete = "off", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tab_logic">
                            <thead>
                                <tr class="grid_heading">
                                    <td><h1>Expense Head</h1></td>
                                    <td width="10%"><h1 class="text-right">Quantity</h1></td>
                                    <td width="10%"><h1 class="text-right">Rate</h1></td>
                                    <td width="10%"><h1 class="text-right">Amount</h1></td>
                                </tr>
                            </thead>
                            <tbody class="grid_row">
                                @{ int row = 0;}
                                @foreach (var item in Model.ExpenseBillItem)
                                {
                                    <tr id="Row_@row" class="TaskRow">
                                        <td>
                                            @Html.DropDownListFor(m => Model.ExpenseBillItem[row].AddDedId, (SelectList)ViewBag.Additions, "Select Addition", new { @class = "form_input", autocomplete = "off" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.ExpenseBillItem[row].ExpenseItemQty, new { @class = "form_input text-right", autocomplete = "off", @onchange = "AdditionAmtChanged(" + row + ")" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.ExpenseBillItem[row].ExpenseItemRate, new { @class = "form_input text-right", autocomplete = "off", @onchange = "AdditionAmtChanged(" + row + ")" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.ExpenseBillItem[row].ExpenseItemAmount, new { @class = "form_input addition text-right", autocomplete = "off", @readonly = "readonly" })
                                        </td>
                                    </tr>
                                    row++;
                                }
                            </tbody>
                        </table>
                    </div>
                    <a id="add_row" class="glyphicon glyphicon-plus" onclick="AddAdditionRow()"></a>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tab_logic_deduction">
                            <thead>
                                <tr class="grid_heading">
                                    <td width="90%"><h1>Deduction Head</h1></td>
                                    <td><h1 class="text-right">Amount</h1></td>
                                </tr>
                            </thead>
                            <tbody class="grid_row">
                                @{ int dedrow = 0;}
                                @foreach (var item in Model.deductions)
                                {
                                    <tr id="Row_Ded_@dedrow" class="TaskRow_Ded">
                                        <td>
                                            @Html.DropDownListFor(m => Model.deductions[dedrow].AddDedId, (SelectList)ViewBag.Deductions, "Select Deduction", new { @class = "form_input", autocomplete = "off" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.deductions[dedrow].ExpenseItemAmount, new { @class = "form_input deduction text-right", autocomplete = "off", @onchange = "DeductionAmtChanged()" })
                                        </td>
                                    </tr>
                                    dedrow++;
                                }
                            </tbody>
                        </table>
                    </div>
                    <a id="add_row" class="glyphicon glyphicon-plus" onclick="AddDeductionRow()"></a>
                    <div class="row form-group">
                        <div class="col-md-2">
                            <div class="part1">
                                <label for="inputDate">Additional Amount</label>
                                @Html.TextBoxFor(m => m.TotalAddition, new { @class = "form_input text-right", autocomplete = "off", @readonly = "readonly" })
                            </div>
                            </div>
                        <div class="col-md-2">
                            <div class="part1">
                                <label for="inputDate">Deduction Amount</label>
                                @Html.TextBoxFor(m => m.TotalDeduction, new { @class = "form_input text-right", autocomplete = "off", @readonly = "readonly" })
                            </div>
                            </div>
                        <div class="col-md-2">
                            <div class="part1">
                                <label for="inputDate">Total</label>
                                @Html.TextBoxFor(m => m.TotalAmount, new { @class = "form_input text-right", autocomplete = "off", @readonly = "readonly" })
                            </div>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col-md-12">
                                <div class="part1">
                                    <label for="inputDate">Special Remarks</label>
                                    @Html.TextAreaFor(m => m.ExpenseRemarks, new { @class = "form_input form_input-h", autocomplete = "off" })
                                </div>
                        </div>
                    </div> 
                    
                    <div class="row">
                     
                        <div class="col-md-12 hrpart">
                            <button class="form-button right">Exit</button>
                            <button type="submit" class="form-button right">Save</button>
                        </div>
                     
                    </div> 

                </form>
                
            </div>
            
        }
    </div>
</div>