
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function OnEBNoChanged(sender) {
        var id = $("#cboEBNo").val();
        var supid = $("#cboSupplier").val();
        var url = '@Url.Action("PreviousList")';
        $("#expensebilllist").load(url, { id: id, supid: supid });
    }
    function OnSupplierChanged(sender) {
        var supid = $("#cboSupplier").val();
        var id = $("#cboEBNo").val();
        var url = '@Url.Action("PreviousList")';
        $("#expensebilllist").load(url, { id: id, supid: supid });
    }
</script>

<div class="row">

    <div class="form-head1">
        <h4>Expense Bill List</h4>
    </div>

    <div class="main-part pad1">

        <div class="row form-group">
            <div class="col-md-3">
                <label for="cboEBNo">Expense Bill No.</label>
                @Html.DropDownList("cboEBNo", (SelectList)ViewBag.ExpenseNoList, "Any", new { @class = "form_input", @onchange = "OnEBNoChanged(this)" })
            </div>
            <div class="col-md-3">
                <label for="cboSupplier">Supplier</label>
                @Html.DropDownList("cboSupplier", (SelectList)ViewBag.SupplierList, "Any", new { @class = "form_input", @onchange = "OnSupplierChanged(this)" })
            </div>

        </div>

        <div id="expensebilllist">
            @Html.Action("PreviousList")
        </div>
    </div>
</div>

