@model ArabErp.Domain.FreezerUnit
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<script>
    $(document).ready(function () {
        $('#freezerunit_form').bootstrapValidator({
            fields: {
                FreezerUnitRefNo: {
                    validators: {
                        notEmpty: {
                            message: 'Please Enter Code'
                        }
                    }
                },

                FreezerUnitName: {
                    validators: {
                        notEmpty: {
                            message: 'Please Enter Name'
                        }
                    }
                },
            }
        });
    })

    $(document).ready(function () {


        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-bottom-full-width",
            "preventDuplicates": false,
            "onclick": null,

            "timeOut": "0",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        if ('@TempData["success"]' != "" && '@TempData["FreezerUnitRefNo"]' != "") {
            toastr.success('@TempData["success"]' + '  Freezer Unit Ref No. is : ' + '@TempData["FreezerUnitRefNo"]');
        }
        else if ('@TempData["error"]' != "") {
            toastr.error('@TempData["error"]');
        }
    });


    function Exit() {
        location.href = '@Url.Action("Create")';
    }

</script>


<div class=" container ">
    <div class="row">

        <div class="form-head1">
            <h4>Freezer Unit</h4>
        </div>

        <div class="main-part pad1">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "createFrom", @id = "freezerunit_form" }))
            {

                <div class="row">

                    <div class="col-md-4">

                        @Html.HiddenFor(m => m.FreezerUnitId, new { @class = "form_input", autocomplete = "off" })

                        <div class="part4">
                            <label for="UnitRefNo">Code</label>
                            @Html.TextBoxFor(m => m.FreezerUnitRefNo, new { @class = "form_input form_input-half", autocomplete = "off", @readonly = "readonly" })
                        </div>

                        <div class="part4">
                            <label for="UnitName">Name</label>
                            @Html.TextBoxFor(m => m.FreezerUnitName, new { @class = "form_input", autocomplete = "off" })
                        </div>

                    </div>

                    <div class="col-md-4">
                    </div>

                    <div class="col-md-4">
                    </div>

                    <div class="col-md-12 hrpart">

                        <button type="button" class="form-button right" onclick="Exit()">Exit</button>

                        @if (@ViewBag.Title == "Create")
                        {
                            <button type="submit" class="form-button right">Save</button>
                        }

                        @if (@ViewBag.Title == "Edit")
                        {
                            <button type="submit" class="form-button right">Update</button>
                        }

                        @if (@ViewBag.Title == "Delete")
                        {
                            <button type="submit" class="form-button right">Delete</button>
                        }

                    </div>



                </div>
            }
        </div>

        <div class="main-list">
            @Html.Action("FillFreezerUnit")
        </div>


    </div>
</div>

