@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">

    function Create() {
        location.href = '@Url.Action("Create")';
    }

    function Exit() {

        location.href = '@Url.Action("Index","Home")';

    }


    $(document).ready(function () {

        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-bottom-full-width",
            "preventDuplicates": false,
            "onclick": null,

            "timeOut": "0",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        if ('@TempData["success"]' != "") {
            toastr.success('@TempData["success"]' + ' Organization Code is : ' + '@TempData["ItemRefNo"]');
        }
        else if ('@TempData["error"]' != "") {
            toastr.error('@TempData["error"]');
        }

        @{ TempData["success"] = TempData["error"] = ""; }
    });


</script>


<div class="row">

    <div class="form-head form-head3">
        <h4>Organization List</h4>
    </div>
    <div class=" main-part pad1">
        <div class="row" id="grid">
            @Html.Action("FillOrganizationList")
        </div>
        <div class="row">
            <div class="col-md-12 hrpart">
                <button type="submit" class="form-button" onclick="Create();">Create</button>
                <button type="button" class="form-button right" onclick="Exit();">Exit</button>

            </div>

        </div>


    </div>

</div>



