@model ArabErp.Domain.SaleOrderItem



<script>
    $(document).ready(function () {
        $("#add_row").click(function () {
            var index = (new Date()).getTime(); // unique indexer
            var clone = $('#0').clone(); // clone the BatchProducts item
            // Update the index of the clone
            clone.html($(clone).html().replace(/\[#\]/g, '[' + index + ']'));
            clone.html($(clone).html().replace(/"%"/g, '"' + index + '"'));
            $("#tab_logic").append('<tr id="' + index + '">' + clone.html() + '  </tr>');
         });
    });
</script>
<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="tab_logic">
            <thead>
                <tr class="grid_heading">
                    <th width="5%" class="text-center">Sl.No.</th>
                    <th width="25%" class="text-center">Work Description</th>
                    <th width="25%" class="text-center">Remarks</th>
                    <th width="5%" class="text-right ">Qty</th>
                    <th width="10%">Unit</th>
                    <th width="10%" class="text-right ">Rate</th>
                    <th width="7%" class="text-right ">Discount</th>
                    <th width="8%" class="text-right ">Amount</th>
                </tr>
            </thead>
            <tbody>

                <tr id='0'>
                    <td>1</td>
                    <td>
                        @Html.DropDownListFor(m => Model.WorkDescriptionId, (SelectList)ViewBag.workdesclist, "Select Work Description", new { @class = "form_input", autocomplete = "off" })
                    </td>
                    <td>@Html.TextBoxFor(m => m.Remarks, new { @class = "form_input", autocomplete = "off", placeholder = "Remarks" })</td>
                    <td>@Html.TextBoxFor(m => m.Quantity, new { @class = "form_input", autocomplete = "off", placeholder = "Qty" })</td>
                    <td>
                        @Html.DropDownListFor(m => Model.UnitId, (SelectList)ViewBag.unitlist, "Select Unit", new { @class = "form_input", autocomplete = "off" })
                    </td>
                    <td>@Html.TextBoxFor(m => m.Rate, new { @class = "form_input", autocomplete = "off", placeholder = "Rate" })</td>
                    <td>@Html.TextBoxFor(m => m.Discount, new { @class = "form_input", autocomplete = "off", placeholder = "Discount" })</td>
                    <td>@Html.TextBoxFor(m => m.Amount, new { @class = "form_input", autocomplete = "off", placeholder = "Amount" })</td>
                </tr>
                @*<tr id='addr1'></tr>*@

            </tbody>
        </table>
    </div>
    <a id="add_row" class="glyphicon glyphicon-plus"></a><a id='delete_row' style="float:right" class="glyphicon glyphicon-minus"></a>
</div>
