@model ArabErp.Domain.SaleOrder

<script>

</script>
<div class="row">
    <div class="col-md-12">
     <div class="row">
            <div class="part1">
                <div class="col-md-1"><label for="SpecialRemarks">Spl.Remarks</label></div>

                <div class="col-md-11">
                    @if (ViewData["action"].ToString() == "Create")
                    {
                        @Html.TextAreaFor(m => m.SpecialRemarks, new { @class = "form_input form_input-h", autocomplete = "off" })
                    }
                    else
                    {
                        @Html.TextAreaFor(m => m.SpecialRemarks, new { @class = "form_input form_input-h", autocomplete = "off", @readonly = "readonly" })
                 
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="part">
                <div class="col-md-1"><label for="PaymentTerms">Pay.Terms</label></div>
                <div class="col-md-11">
                @if (ViewData["action"].ToString() == "Create")
                {
                    @Html.TextBoxFor(m => m.PaymentTerms, new { @class = "form_input", autocomplete = "off" })
                }
                else
                {
                    @Html.TextBoxFor(m => m.PaymentTerms, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
               
                }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="part">
                <div class="col-md-1"><label for="DeliveryTerms">Del.Terms</label></div>
                <div class="col-md-11">
                @if (ViewData["action"].ToString() == "Create")
                {
                      @Html.TextBoxFor(m => m.DeliveryTerms, new { @class = "form_input", autocomplete = "off" })
                }
                else
                {
                    @Html.TextBoxFor(m => m.DeliveryTerms, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                  

                }

                </div>
            </div>
        </div>
                <div class="row">
            <div class="col-md-2">
                <div class="part4">
                    <label for="cmagent">Commission Agent</label>
                    @if (ViewData["action"].ToString() == "Create")
                    {
                        @Html.DropDownListFor(m => Model.CommissionAgentId, (SelectList)ViewBag.commissionagentlist, "Select Commission Agent", new { @class = "form_input", autocomplete = "off" })

                    }
                    else
                    {
                        @Html.DropDownListFor(m => Model.CommissionAgentId, (SelectList)ViewBag.commissionagentlist, "Select Commission Agent", new { @class = "form_input", autocomplete = "off", @disabled = "true" })
                    }
                        </div>
            </div>
            <div class="col-md-2">
                <div class="part4">
                    <label for="CommissionPerc">Commission %</label>
                    @if (ViewData["action"].ToString() == "Create")
                    {
                        @Html.TextBoxFor(m => m.CommissionPerc, new { @class = "form_input form_input-half1 text-right numbers-only", autocomplete = "off" })

                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.CommissionPerc, new { @class = "form_input form_input-half1 text-right", autocomplete = "off", @readonly = "readonly" })
                    }
                </div>
            </div>
            <div class="col-md-2">
            <div class="part4">
                    <label for="CommissionAmount">Commission Amt.</label>
                    @if (ViewData["action"].ToString() == "Create")
                    {
                        @Html.TextBoxFor(m => m.CommissionAmount, new { @class = "form_input form_input-half2  text-right numbers-only", autocomplete = "off" })

                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.CommissionAmount, new { @class = "form_input form_input-half2  text-right ", autocomplete = "off", @readonly = "readonly" })
                    }
                </div>
            </div>
            <div class="col-md-2">
                <div class="part4">
                    <label for="selectorder">Order Taken By</label>
                    @if (ViewData["action"].ToString() == "Create")
                    {
                        @Html.DropDownListFor(m => Model.SalesExecutiveId, (SelectList)ViewBag.employeelist, "Select Order Taken By", new { @class = "form_input", autocomplete = "off" })
                    }
                    else
                    {
                        @Html.DropDownListFor(m => Model.SalesExecutiveId, (SelectList)ViewBag.employeelist, "Select Order Taken By", new { @class = "form_input", autocomplete = "off", @disabled = "true" })
            
                    }
                </div>
            </div>
            <div class="col-md-2">
                <div class="part4">
                    <label for="EDateArrival">EDA</label>
                    @Html.TextBoxFor(m => m.EDateArrival, Model.EDateArrival.ToString("dd/MMMM/yyyy"), new { @class = "form_input ", autocomplete = "off", @readonly = "readonly"})
                </div>
            </div>
            <div class="col-md-2">
                <div class="part4">
                    <label for="EDateDelivery">EDD</label>
                    @Html.TextBoxFor(m => m.EDateDelivery, Model.EDateDelivery.ToString("dd/MMMM/yyyy"), new { @class = "form_input ", autocomplete = "off", @readonly = "readonly" })
                </div>
            </div>
        </div>
        @if (ViewData["action"].ToString() == "Hold")
        {
        <div class="row">
        <div class="part">
            <div class="col-md-1"><label for="SaleOrderHoldReason">Hold Reason</label></div>

            <div class="col-md-11">
              
                    @Html.TextAreaFor(m => m.SaleOrderHoldReason, new { @class = "form_input form_input-h", autocomplete = "off" })
                    @Html.HiddenFor(m => m.SaleOrderHoldReason)
               
            </div>
        </div>
    </div>
        }
            </div>
</div>
