@model ArabErp.Domain.SaleOrder
@{ string actionName = ViewContext.RouteData.GetRequiredString("action");
 if (actionName == "CreateProject")
 {
     actionName = "Create";
 }
}
<script>
    //$(document).ready(function () {
    //    $("#CommissionPerc").keyup(function () {
      
    //    var CommPercentage = parseFloat("0");
    //    var CommAmt = parseFloat("0");

    //    var TotalAmt = $("#TotalAmount").val();
      
    //    CommPercentage = parseFloat($("#CommissionPerc").val());

    //    if (isNaN(CommPercentage)) {
    //        CommPercentage = parseFloat("0");
    //    }
     
    //    CommAmt = TotalAmt * (CommPercentage / 100);
        
    //    //$("#CommissionAmount").val(CommAmt);
    //});
    //});
    function showPaymentTerms() {
        var x = screen.width / 2 - 600 / 2;
        var y = screen.height / 2 - 250 / 2;
        var url = '@Url.Action("PaymentTermsPopup","PaymentTerms")';
        var popup = window.open(url, "PaymentTermPopup", 'width=500,height=200,menubar=no,status=no,titlebar=no,location=no,scrollbars=no,left=' + x + ',top=' + y);
        popup.focus();
        return false;
    }
</script>
<div class="row">
    <div class="part1">
                <div class="col-md-12">
            <label for="SpecialRemarks">Special Remarks</label>
            @if (actionName == "Create")
            {
                @Html.TextAreaFor(m => Model.SpecialRemarks, new { @class = "form_input form_input-h", autocomplete = "off" })
            }
            else
            {
                @Html.TextAreaFor(m => Model.SpecialRemarks, new { @class = "form_input form_input-h", autocomplete = "off", @readonly = "readonly" })

            }
        </div>
    </div>
</div>

        <div class="row">
    <div class="part4">

        <div class="col-md-12">
            <label for="PaymentTerms">Payment Terms</label>

            @*@if (actionName == "Create")
            {
                @Html.TextBoxFor(m => m.PaymentTerms, new { @class = "form_input", autocomplete = "off" })
                <button class="terms" type="button" id="pymtTerms" onclick="showPaymentTerms()">...</button>
            }
            else
            {*@
                @Html.TextBoxFor(m => Model.PaymentTerms, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })

            @*}*@
        </div>
       
    </div>
</div>
        <div class="row">
            <div class="part4">
            <div class="col-md-12">
                <label for="DeliveryTerms">Delivery Terms</label>
                    @if (actionName == "Create")
                    {
                        @Html.TextBoxFor(m => Model.DeliveryTerms, new { @class = "form_input", autocomplete = "off" })
                    }
                    else
                    {
                        @Html.TextBoxFor(m => Model.DeliveryTerms, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                    }
                </div>
            </div>
        </div>
                <div class="row">
    <div class="col-md-2">
        <div class="part4">
            <label for="cmagent">Commission Agent</label>
            @if (actionName == "Create")
            {
                @Html.DropDownListFor(m => Model.CommissionAgentId, (SelectList)ViewBag.commissionagentlist, "Select Commission Agent", new { @class = "form_input", autocomplete = "off" })

            }
            else
            {
                @Html.DropDownListFor(m => Model.CommissionAgentId, (SelectList)ViewBag.commissionagentlist, "Select Commission Agent", new { @class = "form_input", autocomplete = "off", @disabled = "true" })
            }
        </div>
    </div>
    @*<div class="col-md-2">
        <div class="part4">
            <label for="CommissionPerc">Commission %</label>
            @if (actionName == "Create")
            {
                @Html.TextBoxFor(m => m.CommissionPerc, new { @class = "form_input form_input-half1 text-right numbers-only", autocomplete = "off" })

            }
            else
            {
                @Html.TextBoxFor(m => m.CommissionPerc, new { @class = "form_input form_input-half1 text-right", autocomplete = "off", @readonly = "readonly" })
            }
        </div>
    </div>*@
    <div class="col-md-2">
        <div class="part4">
            <label for="CommissionAmount">Commission Amt.</label>
            @if (actionName == "Create")
            {
                @Html.TextBoxFor(m => Model.CommissionAmount, new { @class = "form_input form_input-half2  text-right numbers-only", autocomplete = "off" })

            }
            else
            {
                @Html.TextBoxFor(m => Model.CommissionAmount, new { @class = "form_input form_input-half2  text-right  numbers-only ", autocomplete = "off", @readonly = "readonly" })
            }
        </div>
    </div>
    <div class="col-md-2">
        <div class="part4">
            <label for="selectorder">Order Taken By</label>
            @if (actionName == "Create")
            {
                @Html.DropDownListFor(m => Model.SalesExecutiveId, (SelectList)ViewBag.employeelist, "Select Order Taken By", new { @class = "form_input", autocomplete = "off" })
            }
            else
            {
                @Html.DropDownListFor(m => Model.SalesExecutiveId, (SelectList)ViewBag.employeelist, "Select Order Taken By", new { @class = "form_input", autocomplete = "off", @disabled = "true" })

            }
        </div>
    </div>
    <div class="col-md-2">
        <div class="part4">
            <label for="EDateArrival">Expected Date of Arrival</label>
            @Html.TextBoxFor(m => Model.EDateArrival, Model.EDateArrival.ToString("dd/MMMM/yyyy"), new { @class = "form_input ", autocomplete = "off", @readonly = "readonly" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="part4">
            <label for="EDateDelivery">Expected Date of Delivery</label>
            @Html.TextBoxFor(m => Model.EDateDelivery, Model.EDateDelivery.ToString("dd/MMMM/yyyy"), new { @class = "form_input ", autocomplete = "off", @readonly = "readonly" })
        </div>
    </div>
</div>

        @if (actionName == "Hold")
        {
        <div class="row">
            <div class="col-md-10">
                <div class="part4">
                    <label for="SaleOrderHoldReason">Hold Reason</label>

                    @Html.TextAreaFor(m => Model.SaleOrderHoldReason, new { @class = "form_input form_input-h", autocomplete = "off" })
                    @Html.HiddenFor(m => Model.SaleOrderHoldReason)
            </div>
            </div>
            <div class="col-md-2">
                <div class="part4">
                    <label for="SaleOrderHoldDate">Hold Date</label>
                @Html.TextBoxFor(m => Model.SaleOrderHoldDate, Model.SaleOrderHoldDate.ToString("dd/MMMM/yyyy"), new { @class = "form_input ", autocomplete = "off" })
                @Html.HiddenFor(m => Model.SaleOrderHoldDate)
            </div>
            </div>
           </div>
        }
        @if (actionName == "Release")
        {
            <div class="row">
                <div class="col-md-8">
                    <div class="part4">
                        <label for="SaleOrderHoldReason">Hold Reason</label>

                        @Html.TextAreaFor(m => Model.SaleOrderHoldReason, new { @class = "form_input form_input-h", autocomplete = "off", @readonly = "readonly" })
                        @Html.HiddenFor(m => Model.SaleOrderHoldReason)
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="part4">
                        <label for="SaleOrderHoldDate">Hold Date</label>
                        @Html.TextBoxFor(m => Model.SaleOrderHoldDate, Model.SaleOrderHoldDate.ToString("dd/MMMM/yyyy"), new { @class = "form_input ", autocomplete = "off", @disabled = "true" })
                        @Html.HiddenFor(m => Model.SaleOrderHoldDate)
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="part4">
                        <label for="SaleOrderHoldDate">Release Date</label>
                        @Html.TextBoxFor(m => Model.SaleOrderReleaseDate, Model.SaleOrderReleaseDate.ToString("dd/MMMM/yyyy"), new { @class = "form_input ", autocomplete = "off" })
                        @Html.HiddenFor(m => Model.SaleOrderReleaseDate)
                    </div>
                </div>
            </div>
        }

