@model  ArabErp.Domain.SaleOrder
@{ string actionName = ViewContext.RouteData.GetRequiredString("action");
 ViewData["action"] = actionName;
}
<script>
    $(function () {
       
        $("#SaleOrderHoldDate").datepicker({ dateFormat: "dd-MM-yy" });
        $("#SaleOrderReleaseDate").datepicker({ dateFormat: "dd-MM-yy" });
    });
    function SaleOrderHold() {

        if ($('#SaleOrderHoldReason').val() == '') {
            alert("please enter hold reason");
            $('#SaleOrderHoldReason').focus();
            return false;
        }
        var id = $("#SaleOrderId").val();
        var hreason = $("#SaleOrderHoldReason").val();
        var HoldDate = $("#SaleOrderHoldDate").val();
        var url = '@Url.Action("UpdateHoldStatus")';
        url = url + "?Id=" + id + "&hreason=" + hreason+ "&HoldDate=" + HoldDate;
        console.log(url);
        window.location.href = url;
    }
    function SaleOrderRelease() {
        var id = $("#SaleOrderId").val();
        var ReleaseDate = $("#SaleOrderReleaseDate").val();
        var url = '@Url.Action("UpdateReleaseStatus")';
        url = url + "?Id=" + id + "&ReleaseDate=" + ReleaseDate;
        console.log(url);
        window.location.href = url;
    }
    function Exit() {
         
        if ('@ViewData["action"].ToString()' == "Hold")
        {
           
         location.href = '@Url.Action("PendingSaleOrderHold", "SaleOrder")';
        }
    else if ('@ViewData["action"].ToString()' == "Release")
    {
        location.href = '@Url.Action("PendingSaleOrderRelease", "SaleOrder")';
    }
    }
    $(document).ready(function () {
        if ('@ViewData["action"].ToString()' == "Hold") {
            $("#SaleOrderHoldReason").focus();
        }
        else if ('@ViewData["action"].ToString()' == "Release") {
            $("#SaleOrderReleaseDate").focus();
        }
    })
   
</script>
<div class="container">
    <div class="row">
        <div class="form-head1">
@if (ViewData["action"].ToString() == "Approval")
{
    <h4>Sale Order Approval</h4>
}
else if (ViewData["action"].ToString() == "Hold")
{
    <h4>Sale Order Hold</h4>
}
else
{
    <h4>Sale Order Release</h4>
}        
        </div>
        <div class="main-part pad1">
          
                @Html.Partial("_SaleOrderHead",Model)
                @Html.Partial("_DisplaySOList", Model)
                
                @Html.Partial("_SaleOrderFooter", Model)
@using (Html.BeginForm("UpdateApprovalStatus", null, FormMethod.Post, new { @class = "createFrom", @id = "saleorder_form" }))
{
    @Html.HiddenFor(m => m.SaleOrderId)
        
         <div class="row">
                   <div class="col-md-12 hrpart">
                       <button type="button" class="form-button right" onclick="Exit()">Exit</button>
                    @if (ViewData["action"].ToString() == "Approval")
                            {
                        <button type="submit" class="form-button right">Approve</button>
                            }
                    else if (ViewData["action"].ToString() == "Hold")
                    {
                        <button type="button" class="form-button right" onclick="SaleOrderHold()">Hold</button>
                    }
                    else
                    {
                        <button type="button" class="form-button right" onclick="SaleOrderRelease()">Release</button>
                    }
                    </div>
          </div>
}
        </div>
    </div>
</div>
