@model IEnumerable<ArabErp.Domain.SaleOrder>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function GotoCreate() {
        var url = '@Url.Action("Create")';
        location.href = url;
    }
    function OpenEdit(Id)
    {
        var url = '@Url.Action("Close")';
        url = url + "?SaleOrderId=" + Id;
        location.href = url;
    }
</script>


    <div class="form-head1">
        <h4>Sale Orders For Closing</h4>
    </div>
    <div class="main-part white pad1">
        <div class="col-md-12">
            <div class="row">
                <div class="table-responsive">
                    <div class="main-grid main-grid-top">
                        @Html.Grid(Model).Columns(columns =>
                        {
                            columns.Add(m => m.SaleOrderRefNo).Titled("S.O Ref");
                            columns.Add(m => m.SaleOrderDate).Titled("S.O Date");
                            columns.Add(m => m.CustomerName).Titled("Customer");
                            columns.Add(m => m.SpecialRemarks).Titled("Remarks");
                            columns.Add(m => m.EDateArrival).Titled("EDA");
                            columns.Add(m => m.EDateDelivery).Titled("EDD");
                            columns.Add().Encoded(false).Sanitized(false).SetWidth(8).Css("cent").RenderValueAs(o => @<button class="form-button4" onclick="OpenEdit(@o.SaleOrderId);">Select</button>);
                        }).WithPaging(10)
                    </div>
                </div>

                <div class="row-count1">
                    <h5>Row Count:- @Model.Count()</h5>
                </div>

            </div>
        </div>
    </div>


