@model  ArabErp.Domain.SaleOrder
@{ ViewBag.Title = "Create SaleOrder"; Layout = "~/Views/Shared/_Layout.cshtml"; }

<script>
    $(document).ready(function() {
        $('#saleorder_form').bootstrapValidator({
            // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
            //feedbackIcons: {
            //    valid: 'glyphicon glyphicon-ok',
            //    invalid: 'glyphicon glyphicon-remove',
            //    validating: 'glyphicon glyphicon-refresh'
            //},
            fields: {
                SaleOrderRefNo: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter sale order no.'
                        }
                    }
                },
                CustomerId: {
                    validators: {
                        notEmpty: {
                            message: 'Please select customer'
                        }
                    }
                },
                CustomerOrderRef: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter customer order ref.'
                        }
                    }
                },
                VehicleModelId: {
                    validators: {
                        notEmpty: {
                            message: 'Please select vehicle'
                        }
                    }
                },
                CommissionAgentId: {
                    validators: {
                        notEmpty: {
                            message: 'Please select commission agent'
                        }
                    }
                },
                CommisionAmount: {
                    validators: {
                        numeric: {
                            message: 'Please enter a numeric value'
                        }
                    }
                },
                SalesExecutiveId: {
                    validators: {
                        notEmpty: {
                            message: 'Please select Order Taken By'
                        }
                    }
                },


            }
        });
    })
   
    $(function () {
        $("#SaleOrderDate").datepicker({ dateFormat: "dd/MM/yy" });
        $("#EDateArrival").datepicker({ dateFormat: "dd/MM/yy" });
        $("#EDateDelivery").datepicker({ dateFormat: "dd/MM/yy" });
    });
    function CustomerChanged(cust)
    {
        var cusId = cust.value;

        $.ajax({
            url: "/SaleOrder/GetCustomerDetailsByKey/",
            data: { cusKey: cusId },
            cache: false,
            type: "GET",
            timeout: 10000,
            dataType: "json",
            success: function (result) {
                if (result.Success) { // this sets the value from the response
                    $('#CurrencyId').val(result.Result);
                    $("#CustomerAddress").val(result.Address);
                } else {
                    $('#SomeOtherHtmlTextBox').val("Failed");
                }
            }
        });
        //$('#CurrencyId').val("2");
    }
</script>
@Html.HiddenFor(m => m.SaleOrderId)
<div class="container">
        <div class="row">
                <div class="form-head1">
    <h4>Sale Order</h4>
                </div>
               
                <div class="main-part pad1">
                    @using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom", @id = "saleorder_form" }))
        {
                        <div class="row form-group ">
                <div class="col-md-2">
                    <label for="SaleOrderRefNo">SO.No.</label>
                    @Html.TextBoxFor(m => m.SaleOrderRefNo, new { @class = "form_input", autocomplete = "off" })
                </div>
                            <div class="col-md-2">
                                <label for="SaleOrderDate">Date</label>
                                @Html.TextBoxFor(m => m.SaleOrderDate, String.Format("{0:dd/MM/yyyy}", Model.SaleOrderDate), new { @class = "form_input ", autocomplete = "off", @readonly = "readonly" })
                            </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <label for="selectCustomer">Customer</label>
                    @Html.DropDownListFor(m => Model.CustomerId, (SelectList)ViewBag.customerlist, "Select Customer", new { @class = "form_input", autocomplete = "off", @onchange="CustomerChanged(this);" })
                </div>
                <div class="col-md-4">
                    <label for="CustomerOrderRef">Customer Address</label>
                    @*@Html.TextBoxFor(m => m.CustomerOrderRef, new { @class = "form_input", autocomplete = "off" })*@
                    <input type="text" id="CustomerAddress" class="form_input" autocomplete="off" />
                </div>
                <div class="col-md-2">
                    <label for="CustomerOrderRef">Customer Order Ref.</label>
                    @Html.TextBoxFor(m => m.CustomerOrderRef, new { @class = "form_input", autocomplete = "off" })
                </div>
                <div class="col-md-2">
                    <label for="CurrencyId">
                        Currency
                    </label>
                    @Html.DropDownListFor(m => Model.CurrencyId, (SelectList)ViewBag.currlist, "Select Currency", new { @class = "form_input", autocomplete = "off" })
                </div>
            </div>
    <div class="row form-group">
      
    </div>
            @Html.Action("DisplaySOList")
            <div class="row form-group">
                <div class="col-md-12">
                    <div class="part1">
                        <label for="SpecialRemarks">Spl.Remarks</label>
                        @Html.TextAreaFor(m => m.SpecialRemarks, new { @class = "form_input form_input-h", autocomplete = "off" })
                        </div>
                        <div class="part">
                            <label for="PaymentTerms">Payment Terms</label>
                            @Html.TextBoxFor(m => m.PaymentTerms, new { @class = "form_input", autocomplete = "off" })
                        </div>
                    <div class="part">
                        <label for="DeliveryTerms">Delivery Terms</label>
                        @Html.TextBoxFor(m => m.DeliveryTerms, new { @class = "form_input", autocomplete = "off" })
                    </div>

                    <div class="row">

                        <div class="part">
                            <div class="col-md-4">
                                <label for="cmagent">Commission Agent</label>
                                @Html.DropDownListFor(m => Model.CommissionAgentId, (SelectList)ViewBag.commissionagentlist, "Select Commission Agent", new { @class = "form_input", autocomplete = "off" })
                            </div>
                            <div class="col-md-2">
                                <label for="CommissionAmount">Commission Amt.</label>
                                @Html.TextBoxFor(m => m.CommissionAmount, new { @class = "form_input form_input-half", autocomplete = "off" })
                            </div>
                            <div class="col-md-2">
                                <label for="CommissionPerc">Commission %</label>
                                @Html.TextBoxFor(m => m.CommissionPerc, new { @class = "form_input form_input-half", autocomplete = "off" })
                            </div>
                            <div class="col-md-4">
                                <label for="selectorder">Order Taken By</label>
                                @Html.DropDownListFor(m => Model.SalesExecutiveId, (SelectList)ViewBag.employeelist, "Select Order Taken By", new { @class = "form_input", autocomplete = "off" })
                            </div>
                        </div>

                        <div class="part">
                            <div class="col-md-2">
                                <label for="EDateArrival">EDA</label>
                                @Html.TextBoxFor(m => m.EDateArrival, String.Format("{0:dd/MM/yyyy}", Model.EDateArrival), new { @class = "form_input ", autocomplete = "off", @readonly = "readonly" })
                            </div>
                            <div class="col-md-2">
                                <label for="EDateDelivery">EDD</label>
                                @Html.TextBoxFor(m => m.EDateDelivery, String.Format("{0:dd/MM/yyyy}", Model.EDateDelivery), new { @class = "form_input ", autocomplete = "off", @readonly = "readonly" })
                            </div>
                            
                        </div>
                    </div>


                    </div>
            </div>

            <div class="marg">
                <button class="form-button">Exit</button>
                <button type="submit" class="form-button">Save</button>
            
            </div>
        }
    </div>
</div>
    </div>





