@model  ArabErp.Domain.SaleOrder
@{ ViewBag.Title = "Create SaleOrder"; Layout = "~/Views/Shared/_Layout.cshtml"; }

<script>
    $(document).ready(function() {
        $('#saleorder_form').bootstrapValidator({
            // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
            //feedbackIcons: {
            //    valid: 'glyphicon glyphicon-ok',
            //    invalid: 'glyphicon glyphicon-remove',
            //    validating: 'glyphicon glyphicon-refresh'
            //},
            fields: {
                SaleOrderRefNo: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter sale order no.'
                        }
                    }
                },
                CustomerId: {
                    validators: {
                        notEmpty: {
                            message: 'Please select customer'
                        }
                    }
                },
                CustomerOrderRef: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter customer order ref.'
                        }
                    }
                },
                VehicleModelId: {
                    validators: {
                        notEmpty: {
                            message: 'Please select vehicle'
                        }
                    }
                },
                CommissionAgentId: {
                    validators: {
                        notEmpty: {
                            message: 'Please select commission agent'
                        }
                    }
                },
                CommisionAmount: {
                    validators: {
                        numeric: {
                            message: 'Please enter a numeric value'
                        }
                    }
                },
                SalesExecutiveId: {
                    validators: {
                        notEmpty: {
                            message: 'Please select Order Taken By'
                        }
                    }
                },


            }
        });
    })

    $(function () {
        $("#SaleOrderDate").datepicker({ dateFormat: "dd/MM/yy" });
    });
</script>
@Html.HiddenFor(m => m.SaleOrderId)
<div class="container">

        <div class="row">
            
                <div class="form-head1">
    <h4>Sale Order</h4>
                </div>
               
                <div class="main-part pad1">
                    @using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom", onsubmit = "return SaleOrderValidation()", @id = "saleorder_form" }))
        {
                        <div class="row form-group ">
                <div class="col-md-2">
                    <label for="SaleOrderRefNo">SO.No.</label>
                    @Html.TextBoxFor(m => m.SaleOrderRefNo, new { @class = "form_input", autocomplete = "off" })

                </div>
                <div class="col-md-2 col-md-offset-8 ">
                    <label for="SaleOrderDate">Date</label>
                    @Html.TextBoxFor(m => m.SaleOrderDate, String.Format("{0:dd/MM/yy}", Model.SaleOrderDate), new { @class = "form_input ", autocomplete = "off", @readonly = "readonly" })

                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <label for="selectCustomer">Customer</label>
                    @Html.DropDownListFor(m => Model.CustomerId, (SelectList)ViewBag.customerlist, "Select Customer", new { @class = "form_input", autocomplete = "off" })
                </div>
                <div class="col-md-4">
                    <label for="CustomerOrderRef">Customer Order Ref.</label>
                    @Html.TextBoxFor(m => m.CustomerOrderRef, new { @class = "form_input", autocomplete = "off" })
                </div>
                <div class="col-md-4">
                    <label for="selectvehicle">
                        Vehicle Model
                    </label>
                    @Html.DropDownListFor(m => Model.VehicleModelId, (SelectList)ViewBag.vehiclelist, "Select Vehicle", new { @class = "form_input", autocomplete = "off" })
                </div>
            </div>
                      
            @Html.Action("DisplaySOList")
            <div class="row form-group">
                <div class="col-md-12">
                    <label for="SpecialRemarks">Spl.Remarks</label>
                    @Html.TextAreaFor(m => m.SpecialRemarks, new { @class = "form_input", autocomplete = "off" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <label for="PaymentTerms">Payment Terms</label>
                    @Html.TextBoxFor(m => m.PaymentTerms, new { @class = "form_input", autocomplete = "off" })
                </div>
                <div class="col-md-6">
                    <label for="DeliveryTerms">Delivery Terms</label>
                    @Html.TextBoxFor(m => m.DeliveryTerms, new { @class = "form_input", autocomplete = "off" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <label for="cmagent">Commission Agent</label>
                    @Html.DropDownListFor(m => Model.CommissionAgentId, (SelectList)ViewBag.commissionagentlist, "Select Commission Agent", new { @class = "form_input", autocomplete = "off" })
                </div>
                <div class="col-md-3">
                    <label for="CommisionAmount">Commission Amount</label>
                    @Html.TextBoxFor(m => m.CommisionAmount, new { @class = "form_input", autocomplete = "off" })
                </div>
                <div class="col-md-3">
                    <label for="selectorder">Order Taken By</label>
                    @Html.DropDownListFor(m => Model.SalesExecutiveId, (SelectList)ViewBag.employeelist, "Select Order Taken By", new { @class = "form_input", autocomplete = "off" })
                </div>
            </div>
            <div class="marg1">
                <button class="form-button">Exit</button>
                <button type="submit" class="form-button">Save</button>
                @*@if (TempData["Success"] != null)
                    {
                     <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
                    }*@
            </div>
        }
    </div>
</div>
    </div>





