@model IList<ArabErp.Domain.ServiceEnquiry>

@{
    ViewBag.Title = "Enquiry List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function OnItemSelected(id) {
        var url = '@Url.Action("EditEnquiry")';
        url += "/" + id;
        window.location = url;
    }
</script>

<div class="row">

    <div class="form-head1">
        <h4>Enquiry List</h4>
    </div>

    <div class="main-part pad1">
        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="grid_heading">
                                <th width="1%" class="text-center">#</th>
                                <th width="12%" nowrap><h1>Service Enquiry No. & Date</h1></th>
                                <th width="12%"><h1>Customer</h1></th>
                                <th width="12%"><h1>Reg No. & Chassis No.</h1></th>
                                <th width="12%"><h1>Box Make</h1></th>
                                <th width="12%"><h1>Reefer Model No.</h1></th>
                                <th width="12%"><h1>Tail Lift Make</h1></th>
                                <th width="1%"><center><h1></h1></center></th>
                            </tr>
                        </thead>
                        <tbody class="grid_row">
                            @if (Model.Count() > 0)
                            {
                                int i = 0;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td align="center">@(++i)</td>
                                        <td>@item.ServiceEnquiryRefNo - @item.ServiceEnquiryDate.ToString("dd/MMMM/yyyy")</td>
                                        <td>@item.CustomerName</td>
                                        <td>@item.RegNo</td>
                                        <td>@item.BoxMake</td>
                                        <td>@item.FreezerModel</td>
                                        <td>@item.TailLiftMake</td>
                                        <td>
                                            <input type="button" class="form-button5" value="Select" onclick="OnItemSelected(@item.ServiceEnquiryId)" />
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="8">
                                        <center><em>There are no pending service enquiries found!</em></center>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row-count1">
                <h5>Row Count:- @Model.Count()</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 hrpart">
                <input type="button" class="form-button" onclick="PreviousList()" value="Previous">
                <input type="button" class="form-button right" onclick="Exit()" value="Exit">
            </div>
        </div>
    </div>

</div>


