
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>

    $(document).ready(function () {
        $("#txtFrom").datepicker({
            dateFormat: "dd-MM-yy"
        });
        $("#txtTo").datepicker({
            dateFormat: "dd-MM-yy"
        });
    })

    function Filter() {
        $("#saleorderlist").addClass("fade");
        var id = $("#soNo").val();
        var cusid = $("#cboCustomer").val();
        var from = $("#txtFrom").val();
        var to = $("#txtTo").val();
        var url = '@Url.Action("PreviousList")';
        url += "?from=" + from + "&to=" + to + "&id=" + id + "&cusid=" + cusid + "&ProjectBased=" + @ViewBag.isProjectBased; 
       
        $("#saleorderlist").load(url, function () {
            $("#saleorderlist").removeClass("fade");
        });
    }


</script>

<div class="row">

    <div class="form-head1">
        <h4>Sale Order List</h4>
    </div>

    <div class="main-part pad1">

        <div class="row form-group">

            <div class="col-md-2">
                <label for="soNo">SO No.</label>
                @Html.DropDownList("soNo", (SelectList)ViewBag.sorefnolist, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>

            <div class="col-md-3">
                <label for="cboCustomer">Customer</label>
                @Html.DropDownList("cboCustomer", (SelectList)ViewBag.customerlist, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>

            <div class="col-md-2">
                <label>From</label>
                <input id="txtFrom" value="@System.DateTime.Today.AddMonths(-1).ToString("dd-MMMM-yyyy")" onchange="Filter()" class="form_input" />
            </div>

            <div class="col-md-2">
                <label>To</label>
                <input id="txtTo" value="@System.DateTime.Today.ToString("dd-MMMM-yyyy")" onchange="Filter()" class="form_input" />
            </div>

        </div>

        <div id="saleorderlist">
            @Html.Action("PreviousList", new { ProjectBased = ViewBag.isProjectBased })
        </div>
    </div>
</div>

