
@using ArabErp.Domain
@model IEnumerable<PendingSO>
@{
    ViewBag.Title = "Pending SaleOrder Release";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">

        <div class="form-head1">
            <h4>Pending Sale Order Release</h4>
        </div>
        <div class="main-part pad1 white">
            <div class="main-grid main-grid-top scroll1">
                <div class=" table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="grid_heading">
                                <th width ="30%"><h1>Customer</h1></th>
                                <th width="15%"><h1>Customer Order Ref.</h1></th>
                                <th width="15%"><h1>SO.No. & Date</h1></th>
                                <th width="10%"><h1>Hold Date</h1></th>
                                <th width="20%"><h1>Hold Reason</h1></th>
                                <th width="10%"><center><h1></h1></center></th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tbody class="grid_row">
                                <tr>
                                    <td class="grid-cell">@item.CustomerName</td>
                                    <td class="grid-cell">@item.CustomerOrderRef</td>
                                    <td class="grid-cell">@item.SaleOrderRefNo &amp; @item.SaleOrderDate.ToString("dd/MMM/yyyy")</td>
                                    <td class="grid-cell">@item.SaleOrderHoldDate.ToString("dd/MMM/yyyy")</td>
                                    <td class="grid-cell">@item.SaleOrderHoldReason</td>
                                    <td><center>@Html.ActionLink("Select", "Release", "SaleOrder", new { SaleOrderId = @item.SaleOrderId }, new { @class = "form-button5" , @style = "text-align:center" })</center></td>
                               </tr>
                            </tbody>
                        }
                    </table>
                </div>


            </div>


        </div>

       
    </div>
</div>