@using ArabErp.Domain
@model IEnumerable<PendingSO>
@{
    ViewBag.Title = "WorkShopRequestPending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="form-head1">
            <h4>Pending Sale Order</h4>
        </div>
        <div class="main-part pad1 white">
            <div class="main-grid main-grid-top scroll1">
                <div class=" table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="grid_heading">
                                <th width="23%"><h1>Customer</h1></th>
                                @*<th width="15%"><h1>Customer Order Ref.</h1></th>*@
                                <th width="15%"><h1>SO.No. & Date</h1></th>
                                <th width="20%"><h1>Work Description</h1></th>
                                <th width="5%"><h1>Ageing</h1></th>
                                <th width="10%"><h1>EDA</h1></th>
                                <th width="10%"><h1>EDD</h1></th>
                                <th width="7%"><h1>Days Left</h1></th>
                                <th width="10%"><h1>Status</h1></th>
                            </tr>
                        </thead>
                      @foreach (var item in Model)
                      {
                            <tbody class="grid_row">
                                <tr>
                                    <td class="grid-cell">@item.CustomerName</td>
                                    @*<td class="grid-cell">@item.CustomerOrderRef</td>*@
                                    <td class="grid-cell">@item.SaleOrderRefNo &amp; @item.SaleOrderDate.ToString("dd/MMM/yyyy")</td>
                                    <td class="grid-cell">@item.WorkDescription </td>
                                    <td class="grid-cell">@item.Ageing</td>
                                    <td class="grid-cell">@item.EDateArrival.ToString("dd/MMM/yyyy")</td>
                                    <td class="grid-cell">@item.EDateDelivery.ToString("dd/MMM/yyyy")</td>
                                    <td class="grid-cell">@item.Remaindays</td>

                                    <td><center>@Html.ActionLink("Select", "Hold", "SaleOrder", new { SaleOrderId = @item.SaleOrderId }, new { @class = "form-button5", @style = "text-align:center" })</center></td>

                                  
                               </tr>
                            </tbody>
                        }
                    </table>
                  

                </div>


            </div>
            @*<div class="row">
                <div class="col-md-12 hrpart">
                    <button class="form-button right" onclick="StatusUpdate()">Hold</button>
                    <button class="form-button right" onclick="Revise()">Release</button>
                </div>
            </div>*@
        </div>
       
       





    </div>
    
</div>
