@model ArabErp.Domain.StockJournal
@{
    ViewBag.Title = "CreateStockJournel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

    function Exit() {
        location.href = '@Url.Action("Index","Home")';
    }

    $(document).ready(function () {
        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-bottom-full-width",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "0",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        if ('@TempData["success"]' != "") {
            toastr.success('@TempData["success"]');
        }
        else if ('@TempData["error"]' != "") {
            toastr.error('@TempData["error"]');
        }
    });
    function onStockChanged() {
        var Code = $('#StockPointId').val();
        var Url = '@Url.Action("StockJournelList")';
        @*var UrlSubGroup = '@Url.Action("ItemSubGroup")';*@
        if (Code == '') {
            $("#StockJournalList").load(Url, { StockPointId: 0 });
            //$("#DivItemSubGroup").load(UrlSubGroup, { Code: 0 });
        }

        else {
            $("#StockJournalList").load(Url, { StockPointId: Code });
            //$("#DivItemSubGroup").load(UrlSubGroup, { Code: 0 });
        }
    }
</script>
<div class="container">
    <div class="row">
        <div class="form-head1">
            <h4>Stock Journal</h4>
        </div>
        <div class="main-part pad1">
            @using (Html.BeginForm("Create", null, FormMethod.Post, new { @class = "createFrom", onsubmit = "return validateGrid()", @id = "stock_return_form" }))
            {
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="StockJournalRefno">SJ.No.</label>
                        @Html.TextBoxFor(m => m.StockJournalRefno, new { @class = "form_input", autocomplete = "off", @readonly="true" })
                        @*<input type="date" id="duedate" class="form_input" />*@
                    </div>
                    <div class="col-md-2">
                        <label for="WorkShopRequestRefNo">Stock Point</label>
                        @*@Html.TextBoxFor(m => m.StockPointId, new { @class = "form_input", autocomplete = "off" })*@
                        @Html.DropDownListFor(m => m.StockPointId, (SelectList)ViewBag.StockPointList, "Select Stock Point", new { @class = "form_input", autocomplete = "off", @onchange = "onStockChanged()" })
                        @*<input type="text" />*@
                        @*<input type="text" id="reqno" autocomplete="off" class="form_input" />*@
                    </div>
                    <div class="col-md-2">
                        <label for="WorkShopRequestDate">Date</label>
                        @*@Html.TextBoxFor(m => m.StockJournalDate, new { @class = "form_input", autocomplete = "off", @Value = @DateTime.Now.ToShortDateString() })*@
                        @Html.TextBoxFor(m => m.StockJournalDate, new { @class = "form_input", @Value = @DateTime.Now.ToShortDateString(), @readonly = "readonly" })
                        @*<input type="date" id="inputDate" class="form_input" autocomplete="off" />*@
                        @*<input type="text" />*@
                    </div>
                </div>
            

                <div class=" table-responsive" id="StockJournalList">
                    @Html.Partial("_StockJournalList")
                </div>

                <div class="row form-group">
                    <div class="col-md-12">
                        <div class="part1">
                            <label for="SpecialRemarks">Special Remarks</label>
                            @Html.TextBoxFor(m => m.Remarks, new { @class = "form_input form_input-h", autocomplete = "off" })
                            @*<textarea id="SplRemarks1" autocomplete="off" class="form_input form_input-h"></textarea>*@
                        </div>
                    </div>
                                


                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        <div class="part1">
                    <label for="RequiredDate">Issued By</label>
                    @Html.DropDownListFor(m => m.IssuedBy, (SelectList)ViewBag.EmployeeList, "Select Employee", new { @class = "form_input", autocomplete = "off" })
                    @*@Html.TextBoxFor(m => m.IssuedBy, new { @class = "form_input", autocomplete = "off" })*@
                    @*<input type="date" id="duedate" class="form_input" />*@
                       </div>
                    </div>
                        


                </div>

                <div class="row">

                    <div class="col-md-12 hrpart">
                        <button type="button" class="form-button right" onclick="Exit();">Exit</button>
                        <input type="submit" class="form-button right" value="Save">
                    </div>

                </div>

            }
        </div>
    </div>
</div>

           