@model ArabErp.Domain.CustomerCategory

@{ ViewBag.Title = "create"; Layout = "~/Views/Shared/_Layout.cshtml";}

<script>
    $(document).ready(function () {
        $('#CustomerCategory_form').bootstrapValidator({
            fields: {
                CusCategoryRefNo: {
                    validators: {
                        notEmpty: {
                            message: 'Please Enter Code'
                        }
                    }
                },

                CusCategoryName: {
                    validators: {
                        notEmpty: {
                            message: 'Please Enter Name'
                        }
                    }
                },

                //CusCategoryShortName: {
                //    validators: {
                //        notEmpty: {
                //            message: 'Please Enter Short Name'
                //        }
                //    }
                //},

            }
        });
    })

</script>



<div class="container ">
    <div class="row ">
        <div class="form-head1">
            <h4>Customer Category</h4>
        </div>
        <div class="main-part pad1">
            <div class="row">
                <div class="col-md-4">
                </div>
                @using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom", @id = "CustomerCategory_form" }))
                {
                    <div class="col-md-4">
                        <div class="part4">
                            <label for="CusCategoryRefNo">Code</label>
                            @Html.TextBoxFor(m => m.CusCategoryRefNo, new { @class = "form_input form_input-half", autocomplete = "off" })
                        </div>
                        <div class="part4">
                            <label for="CusCategoryShortName">Short Name</label>
                            @Html.TextBoxFor(m => m.CusCategoryShortName, new { @class = "form_input", autocomplete = "off" })
                        </div>
                        <div class="part4">
                            <label for="CusCategoryName">Name</label>
                            @Html.TextBoxFor(m => m.CusCategoryName, new { @class = "form_input", autocomplete = "off" })

                        </div>


                        <div class="row">

                            <div class="col-md-12 hrpart">
                                <button type="button" class="form-button right">Exit</button>
                                <button type="submit" class="form-button right">Save</button>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-4">

                    </div>
                }
                <div class="col-md-4">
                </div>
            </div>
        </div>

        <div class="main-list">
            @Html.Action("FillCustomerCategoryList")
        </div>
        
        @*<div class="row">
            <div class="col-md-12">
                @Html.Action("FillCustomerCategoryList")
            </div>
        </div>*@

    </div>
        </div>
