@model  ArabErp.Domain.SupplierItemRate

@{ ViewBag.Title = "Create"; Layout = "~/Views/Shared/_Layout.cshtml";}

<script type="text/javascript">
    $(document).ready(function () {
        $("#SupplierId").change(function () {
            var id = $(this).val();

            if (id != '') {
            }

            var url = '@Url.Action("SupplierItemRateList")';
            url += "?SupplierId=" + id;
            $("#Supplier-Rate-list").load(url);

            //$("#[0].ItemId").val('@*@Model.OpeningStockItem[0].ItemId*@');
        });

        if ('@TempData["success"]' != "" && '@TempData["SupplierId"]' != "") {
            toastr.success('@TempData["success"]' );
        }
        else if ('@TempData["error"]' != "") {
            toastr.error('@TempData["error"]');
        }
    @{ TempData["success"] = TempData["error"] = ""; }
    });

    function Exit() {
        location.href = '@Url.Action("Index","Home")';
    }

</script>



    <div class="row">
        <div class="form-head1">
            <h4>Supplier Wise Item Rate Settings</h4>
        </div>

        <div class=" main-part pad1">
            @using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom", @id = "SupplierItemRate_form" }))
            {
                <div class="row">
                    <div class="col-md-12">
                    </div>

                    <div class="col-md-4">
                        <div class="part4">
                            <label for="stockpoint">Supplier</label>
                            @Html.DropDownListFor(m => Model.SupplierId, (SelectList)ViewBag.Supplierlist, "Select Supplier", new { @class = "form_input", autocomplete = "off" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="main-grid main-grid-top scroll1">
                        <div id="Supplier-Rate-list" class="table-responsive">
                            @Html.Action("SupplierItemRateList", new { SupplierId = 0 })
                        </div>
                        </div>
                    </div>

                        <div class="row">

                            <div class="col-md-12 hrpart">
                                <button type="button" class="form-button right" onclick="Exit();">Exit</button>
                                <button type="submit" class="form-button right">Save</button>
                            </div>

                        </div>



                        }



                    </div>
                </div>



