@model ArabErp.Domain.SupplierItemRate

@{
    string actionName = ViewContext.RouteData.GetRequiredString("action");

}


<script>
    $(document).ready(function () {


        function AddAdditionRow() {
            var i = 0;
            var no = 1;
            $('input[id^="Row_"]').each(function () {
                var id = this.id;
                no++;
                var row = Number(id.replace("Row_", ""));
                if (row > i) {
                    i = row;
                }
            });
            i++;

            var index = (new Date()).getTime(); // unique indexer
            var clone = $('#0').clone(); // clone the BatchProducts item
            //Update the index of the clone
            //clone.html($(clone).html().replace("Items_0__", 'Items_' + i + '__'));
            clone.html($(clone).html().replace(/SupplierItemRateItem_0__/g, 'SupplierItemRateItem_' + i + '__'));
            clone.html($(clone).html().replace(/SupplierItemRateItem_0__/g, 'SupplierItemRateItem_' + i + '__'));
            clone.html($(clone).html().replace(/\SupplierItemRateItem[0]./g, 'SupplierItemRateItem[' + i + '].'));
            clone.html($(clone).html().replace(/\[0\]/g, '[' + i + ']'));
            clone.html($(clone).html().replace(/\(0\)/g, '(' + i + ')'));
            clone.html($(clone).html().replace(/Row_0/, 'Row_' + i + ''));
            clone.html($(clone).html().replace(/slno1/, 'slno' + (i + 1) + ''));
            clone.html($(clone).html().replace(/this,0/, 'this,' + i + ''));
            $("#tab_logic").append('<tr id="' + i + '">' + clone.html() + '  </tr>');
            $("#slno" + (i + 1)).html((i + 1));
            $("#SupplierItemRateItem_" + i + "__SlNo").val((i + 1));
        }
        function Delete(index) {

            var i = 0;
            var no = 1;
            $('input[id^="Row_"]').each(function () {
                var id = this.id;
                no++;
                var row = Number(id.replace("Row_", ""));
                if (row > i) {
                    i = row;
                }
            });
            i++;
            //$("#" + index).html('');
            if (i > 1) {
                $("#" + index).remove();
                for (var j = index + 1; j < i; j++) {
                    var WorkDescriptionId = $("#Items_" + j + "__WorkDescriptionId").val();
                    var VehicleModelId = $("#Items_" + j + "__VehicleModelId").val();
                    var Quantity = $("#Items_" + j + "__Quantity").val();
                    var UnitId = $("#Items_" + j + "__UnitId").val();
                    var Rate = $("#Items_" + j + "__Rate").val();
                    var Discount = $("#Items_" + j + "__Discount").val();
                    var Amount = $("#Items_" + j + "__Amount").val();
                    //alert(WorkDescriptionId + ',' + VehicleModelId + ',' + Quantity + ',' + UnitId + ',' + Rate + ',' + Discount + ',' + Amount);

                    var clone = $("#" + j).clone(true, true);
                    clone.html($(clone).html().replace(new RegExp("Items_" + j + "__", "g"), 'Items_' + (j - 1) + '__'));
                    clone.html($(clone).html().replace(new RegExp("\\[" + j + "].", "g"), "[" + (j - 1) + "]."));
                    clone.html($(clone).html().replace(new RegExp('slno' + (j + 1) + '">' + (j + 1), "g"), 'slno' + (j) + '">' + (j)));
                    clone.html($(clone).html().replace("Delete(" + j, "Delete(" + (j - 1)));
                    clone.html($(clone).html().replace("Row_" + j, "Row_" + (j - 1)));




                    clone.html($(clone).html().replace("this," + j, "this," + (j - 1)));
                    $("#" + j).html(clone.html());
                    $("#Items_" + (j - 1) + "__SlNo").val(j);
                    $("#" + (j)).attr('id', (j - 1));
                    //alert(j);
                    $("#Items_" + (j - 1) + "__WorkDescriptionId").val(WorkDescriptionId);
                    $("#Items_" + (j - 1) + "__VehicleModelId").val(VehicleModelId);
                    $("#Items_" + (j - 1) + "__Quantity").val(Quantity);
                    $("#Items_" + (j - 1) + "__UnitId").val(UnitId);
                    $("#Items_" + (j - 1) + "__Rate").val(Rate);
                    $("#Items_" + (j - 1) + "__Discount").val(Discount);
                    $("#Items_" + (j - 1) + "__Amount").val(Amount);
                }
            }
        }
    });

    function OnMaterialChange(s, index) {
        $("#hidden"+index).val($(s).val());
    }

</script>


<div class="table-responsive">
    <table class="table table-bordered table-hover" id="tab_logic">
        <thead>
            <tr class="grid_heading">
                @*<th width="5%" class="text-center"><h1>Sl.No.</h1></th>*@
                <th width="2%" class="text-center"></th>
                <th width="5%" class="text-center"><h1>#</h1></th>
                <th width="85%" class="text-left"><h1>Item</h1></th>
                <th width="10%" class="text-center"><h1>Rate</h1></th>
                <th width="2%" class="text-center"></th>
            </tr>
        </thead>

        <tbody>
            @for (int i = 0; i < Model.SupplierItemRateItem.Count; i++)
            {
                <tr id="@i">
                    <td style="vertical-align:middle"><a class="glyphicon glyphicon-minus" style="top:0px" onclick="Delete(@i)"></a></td>

                    <td align="center">
                        <span id="slno@(i+1)">@(i + 1)</span>
                        @Html.HiddenFor(m => m.SupplierItemRateItem[i].SlNo)
                    </td>

                    <td>
                        <input type="hidden" id="Row_@i" />

                        @Html.HiddenFor(m => m.SupplierItemRateItem[i].ItemId, new { @id = "hidden" + i })
                        @Html.DropDownListFor(m => m.SupplierItemRateItem[i].ItemId, (SelectList)ViewBag.Itemlist, Model.SupplierItemRateItem[i].ItemId.ToString() != "" ? ((SelectList)ViewBag.Itemlist).Where(p => p.Value == Model.SupplierItemRateItem[i].ItemId.ToString()).First().Text : "select", new { @class = "form_input", autocomplete = "off", @onchange = "OnMaterialChange(this, " + i + ")" })

                        @*@Html.DropDownListFor(m => m[i].ItemId, (SelectList)ViewBag.Itemlist, Model[i].ItemId.ToString() != "" ? ((SelectList)ViewBag.Itemlist).Skip(Convert.ToInt32(Model[i].ItemId)).First().Text : "select", new { @class = "form_input", autocomplete = "off" })*@
                    </td>

                    <td>
                        @Html.TextBoxFor(m => m.SupplierItemRateItem[i].FixedRate, new { @class = "form_input", autocomplete = "off", @style = "text-align:right" })
                    </td>

                    <td style="vertical-align:middle"><a id="add_row" class="glyphicon glyphicon-plus" style="top:0px" onclick="AddAdditionRow()"></a></td>
                </tr>
            }
            @*<tr id='addr1'></tr>*@
        </tbody>

    </table>
</div>


