@model ArabErp.Domain.JobCardDailyActivity
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string actionName = ViewContext.RouteData.GetRequiredString("action");
}
<script type="text/javascript">
    $(document).ready(function () {
        //---------------------toastr---------------------------//
        toastr.options = {
            "positionClass": "toast-bottom-full-width",
            "timeOut": "5000",
            "extendedTimeOut": "2000"
        }
        if ('@TempData["success"]' != '') {
            toastr.success('@TempData["success"]');
        }
        else if ('@TempData["error"]' != '') {
            toastr.error('@TempData["error"]');
            console.log('@TempData["error"]');
        }
       @{ TempData["success"] = TempData["error"] = ""; }
        //------------------------------------------------------//
    })
    $(function () {
        $("#JobCardDailyActivityDate").datepicker({ dateFormat: "dd/MM/yy" });
        $(".timepicker").timepicker({
            //minTime: '9',
            //maxTime: '8:30am',
        });
        assignTaskDate();
        //bind keypress event
        $(".numbers-only").keypress(function (e) {
            if (e.which == 8 || (e.which == 45 && $(this).val().indexOf('-') == -1) || (e.which == 46 && $(this).val().indexOf('.') == -1) || (e.which > 47 && e.which < 58)) { }
            else { return false; }
        });

    });

    function assignTaskDate() {
        $('.taskdate').each(function (i, obj) {
            //console.log(obj.id);
            $("#" + obj.id).removeClass("hasDatepicker");
            $("#" + obj.id).datepicker({ dateFormat: "dd/MM/yy" });
        });
    }
    //function AddAdditionRow() {
    //    var i = 0;
    //    var no = 0;
    //    $('.TaskRow').each(function (j, obj) {
    //        var row = Number(obj.id.replace("Row_", ""));
    //        console.log(j);
    //        i = j;
    //    });
    //    i++;
    //    console.log(i);

    //    var clone = $('#Row_0').clone();
    //    clone.html($(clone).html().replace(/\JobCardDailyActivityTask_0__/g, 'JobCardDailyActivityTask_' + i + '__'));
    //    clone.html($(clone).html().replace(/\JobCardDailyActivityTask_0__/g, 'JobCardDailyActivityTask_' + i + '__'));
    //    clone.html($(clone).html().replace(/\JobCardDailyActivityTask[0]./g, 'JobCardDailyActivityTask[' + i + '].'));
    //    clone.html($(clone).html().replace(/\[0\]/g, '[' + i + ']'));
    //    clone.html($(clone).html().replace(/\(0\)/g, '(' + i + ')'));
    //    clone.html($(clone).html().replace(/\Row_0/g, 'Row_' + i + ''));
    //    clone.html($(clone).html().replace(/\add_0/g, 'add_' + i + ''));

    //    $("#tab_logic").append('<tr id="Row_' + i + '" class="TaskRow">' + clone.html() + '  </tr>');
    //    assignTaskDate();

    //    //bind keypress event
    //    $(".numbers-only").keypress(function (e) {
    //        if (e.which == 8 || (e.which == 45 && $(this).val().indexOf('-') == -1) || (e.which == 46 && $(this).val().indexOf('.') == -1) || (e.which > 47 && e.which < 58)) { }
    //        else { return false; }
    //    });
    //}

    function Back() {
        var url = '@Url.Action("PendingJobcardTasks")';
        window.location = url;
    }

</script>


<div class="row">
    <div class="form-head1">
        <h4>Daily Activity</h4>
    </div>
    <div class="main-part pad1">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "createFrom", @id = "dailyactivity_form" }))
        {
            @Html.HiddenFor(m => m.JobCardDailyActivityId)
            @Html.HiddenFor(m => m.JobCardId)
            @Html.HiddenFor(m => m.EmployeeId)
            <div class="row form-group">
                <div class="col-md-2">
                    <label>Ref. No</label>
                    @Html.TextBoxFor(m => m.JobCardDailyActivityRefNo, new { @class = "form_input ", autocomplete = "off", @readonly = "readonly" })
                </div>
                <div class="col-md-2">
                    <label>Date</label>
                    @Html.TextBoxFor(m => m.JobCardDailyActivityDate, Model.JobCardDailyActivityDate.ToString("dd/MMMM/yyyy"), new { @class = "form_input ", autocomplete = "off", @readonly = "readonly" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    <label>Employee</label>
                    @Html.TextBoxFor(m => m.EmployeeName, new { @class = "form_input ", autocomplete = "off", @readonly = "readonly" })
                </div>
                <div class="col-md-2">
                    <label>Job Card Ref.</label>
                    @Html.TextBoxFor(m => m.JobCardNo, new { @class = "form_input ", autocomplete = "off", @readonly = "readonly" })
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="tab_logic">
                    <thead>
                        <tr class="grid_heading">

                            <th width="2%" class="text-center"><h1>#</h1></th>
                            <th width="20%" class="text-left"><h1>Employee</h1></th>
                            <th width="20%" class="text-left"><h1>Task</h1></th>
                            <th width="10%"><h1>Start Time</h1></th>
                            <th width="10%"><h1>End Time</h1></th>
                            <th width="10%"><h1>Actual Hours</h1></th>
                            @*<th width="2%" class="text-center"></th>*@
                        </tr>
                    </thead>
                    <tbody class="grid_row" id="table_validation">
                        @{int i = 0;}
                        @foreach (var item in Model.JobCardDailyActivityTask)
                        {
                            <tr id="Row_@i" class="TaskRow">

                                <td width="1%" align="center">@(i + 1)</td>
                                @*<td width="26%">@Html.DropDownListFor(m => Model.JobCardDailyActivityTask[i].JobCardTaskId, (SelectList)ViewBag.TaskList, "Select Task", new { @class = "form_input", autocomplete = "off" })</td>*@
                                <td width="5%">
                                    @Html.HiddenFor(m => m.JobCardDailyActivityTask[i].EmployeeId)
                                    @Html.TextBoxFor(m => m.JobCardDailyActivityTask[i].EmployeeName, new { @class = "form_input", autocomplete = "off", @readonly = "true" })
                                </td>
                                <td width="5%">
                                    @Html.HiddenFor(m => m.JobCardDailyActivityTask[i].JobCardTaskMasterId)
                                    @Html.TextBoxFor(m => m.JobCardDailyActivityTask[i].JobCardTaskName, new { @class = "form_input", autocomplete = "off", @readonly = "true" })
                                </td>
                                @*<td width="5%">*@@Html.HiddenFor(m => m.JobCardDailyActivityTask[i].TaskStartDate)@*</td>*@
                                @*<td width="5%">*@@Html.HiddenFor(m => m.JobCardDailyActivityTask[i].TaskEndDate)@*</td>*@
                                <td width="5%">@Html.TextBoxFor(m => m.JobCardDailyActivityTask[i].StartTime, new { @class = "form_input timepicker", autocomplete = "off", @required = "true" })</td>
                                <td width="5%">@Html.TextBoxFor(m => m.JobCardDailyActivityTask[i].EndTime, new { @class = "form_input timepicker", autocomplete = "off", @required = "true" })</td>
                                <td width="10%">@Html.TextBoxFor(m => m.JobCardDailyActivityTask[i].ActualHours, new { @class = "form_input numbers-only", autocomplete = "off", @placeholder = "0", @required = "true" })</td>
                                @*<td style="vertical-align:middle"><a id="add_@i" class="glyphicon glyphicon-plus" style="top:0px" onclick="AddAdditionRow()"></a></td>*@
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <div class="row">

                        <div class="col-md-12">
                            <label for="Remarks">Special Remarks</label>
                            @Html.TextAreaFor(m => m.Remarks, new { @class = "form_input form_input-h", autocomplete = "off" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 hrpart">
                    <input type="button" class="form-button right" value="Exit" onclick="Back()" />
                    <button type="submit" class="form-button right">Save</button>
                </div>
            </div>
        }
    </div>
</div>
