@model ArabErp.Domain.JobCardDailyActivity

@{
    ViewBag.Title = "Daily Activity Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {

        $("input[type='text'], textarea, select").attr("disabled", "true");

        @if (TempData["previousAction"] == "Create")
        {
            //---------------------toastr---------------------------//
            @:toastr.options = {
            @:    "positionClass": "toast-bottom-full-width",
            @:    "timeOut": "5000",
            @:    "extendedTimeOut": "2000"
            @:}
            @:if ('@TempData["success"]' != '') {
            @:    toastr.success('@TempData["success"] Please upload the images.');
            @:}
            @:else if ('@TempData["error"]' != '') {
            @:    toastr.error('@TempData["error"]');
            @:    console.log('@TempData["error"]');
            @:}
            TempData["success"] = TempData["error"] = "";
            //------------------------------------------------------//
        }

    })

    function ImageUpload(index) {
        var xhr = new XMLHttpRequest();
        var fd = new FormData();
        var id = $("#JobCardDailyActivityId").val();
        fd.append("file", document.getElementById('File' + index).files[0]);
        var url = '@Url.Action("UploadFiles")';
        xhr.open("POST", url + "?id=" + id + "&index=" + index, true);
        xhr.send(fd);
        xhr.addEventListener("load", function (event) {
            var temppath = event.target.response;
            temppath = temppath.replace(/["']/g, "");
            //$("#childImagepath").val(event.target.response);
            $("#image_preview" + index).attr("src", "\\App_Images\\" + temppath);
        }, false);
    }

    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }

</script>

<style type="text/css">
    .image-upload {
        width: 150px;
        height: 100px;
    }
</style>


    <div class="row">
        <div class="form-head1">
            <h4>Daily Activity Details</h4>
        </div>
        <div class="main-part pad1">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "createFrom", @id = "dailyactivity_form" }))
            {
                @Html.HiddenFor(m => m.JobCardDailyActivityId)
                <div class="row form-group">
                    <div class="col-md-2">
                        <label>Ref. No</label>
                        @Html.TextBoxFor(m => m.JobCardDailyActivityRefNo, new { @class = "form_input ", autocomplete = "off", @readonly = "readonly" })
                    </div>
                    <div class="col-md-2">
                        <label>Date</label>
                        @Html.TextBoxFor(m => m.JobCardDailyActivityDate, Model.JobCardDailyActivityDate.ToString("dd/MMMM/yyyy"), new { @class = "form_input ", autocomplete = "off", @readonly = "readonly" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        <label>Employee</label>
                        @Html.TextBoxFor(m => m.EmployeeName, new { @class = "form_input ", autocomplete = "off", @readonly = "readonly" })
                    </div>
                    <div class="col-md-2">
                        <label>Job Card Ref.</label>
                        @Html.TextBoxFor(m => m.JobCardNo, new { @class = "form_input ", autocomplete = "off", @readonly = "readonly" })
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered" id="tab_logic">
                        <thead>
                            <tr class="grid_heading">

                                <th width="2%" class="text-center"><h1>#</h1></th>
                                <th width="68%" class="text-left"><h1>Task</h1></th>
                                <th width="10%" class="text-right"><h1>Start Date</h1></th>
                                <th width="10%" class="text-right"><h1>End Date</h1></th>
                                <th width="10%" class="text-right"><h1>Actual Hours</h1></th>
                                @*<th width="1%" class="text-center"></th>*@
                            </tr>
                        </thead>
                        <tbody class="grid_row" id="table_validation">
                            @{int i = 0;}
                            @foreach (var item in Model.JobCardDailyActivityTask)
                            {
                                <tr id="Row_@i" class="TaskRow">

                                    <td width="1%">@(i + 1)</td>
                                    <td width="26%">@Html.TextBoxFor(m => m.JobCardDailyActivityTask[i].JobCardTaskName, new { @class = "form_input", autocomplete = "off" })</td>
                                    <td width="5%">@Html.TextBoxFor(m => m.JobCardDailyActivityTask[i].TaskStartDate, Model.JobCardDailyActivityTask[i].TaskStartDate.ToString("dd/MMMM/yyyy"), new { @class = "taskdate form_input", autocomplete = "off" })</td>
                                    <td width="5%">@Html.TextBoxFor(m => m.JobCardDailyActivityTask[i].TaskEndDate, Model.JobCardDailyActivityTask[i].TaskEndDate.ToString("dd/MMMM/yyyy"), new { @class = "taskdate form_input", autocomplete = "off" })</td>
                                    <td width="10%">@Html.TextBoxFor(m => m.JobCardDailyActivityTask[i].ActualHours, new { @class = "form_input", autocomplete = "off" })</td>
                                    @*<td style="vertical-align:middle"><a id="add_@i" class="glyphicon glyphicon-plus" style="top:0px" onclick="AddAdditionRow()"></a></td>*@
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <div class="row">

                            <div class="col-md-12">
                                <label for="SplRemarks1">Special Remarks</label>
                                @Html.TextAreaFor(m => m.Remarks, new { @class = "form_input form_input-h", autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                </div>

                if (TempData["previousAction"] == "Create")
                {
                    <div class="row form-group">
                        <div class="col-md-10 blink_me">
                            <em>
                                <strong>Please upload images</strong>
                            </em>
                        </div>
                    </div>
                }

                <div class="row form-group">
                    @*@{
                            var images = new string[]
                            {
                                Model.Image1, Model.Image2, Model.Image3, Model.Image4
                            };
                            int j=0;
                            foreach (var Image in images)
                            {
                                <div class="col-md-3">
                                    <div id="image_preview@(j)" title="Photo Preview">
                                        <p><img src="\App_Images\@Image" alt="please upload image" id="image_preview@(j)" width="150px" height="100px" /></p>
                                    ></div>
                                    <input type="file" id="ImageFile@(j)" class="button" />
                                    <input type="button" class="form-button" id="Fileupload@(j)" value="Upload" onclick="Javascript: ImageUpload(@(j));" />
                                </div>
                            }
                        }*@

                    <div class="col-md-3">
                        <div id="img_preview1" title="Photo Preview">
                            <p><img src="\App_Images\@Model.Image1" alt="Please upload image" id="image_preview1" class="image-upload" /></p>
                        </div>
                        @if (TempData["previousAction"] == "Create")
                        {
                            <input type="file" id="File1" class="button" />
                            <input type="button" class="form-button" id="Fileupload1" value="Upload" onclick="Javascript: ImageUpload(1);" title="Upload to database" />
                        }
                    </div>

                    <div class="col-md-3">
                        <div id="img_preview2" title="Photo Preview">
                            <p><img src="\App_Images\@Model.Image2" alt="Please upload image" id="image_preview2" class="image-upload" /></p>
                        </div>
                        @if (TempData["previousAction"] == "Create")
                        {
                            <input type="file" id="File2" class="button" />
                            <input type="button" class="form-button" id="Fileupload2" value="Upload" onclick="Javascript: ImageUpload(2);" title="Upload to database" />
                        }
                    </div>

                    <div class="col-md-3">
                        <div id="img_preview3" title="Photo Preview">
                            <p><img src="\App_Images\@Model.Image3" alt="Please upload image" id="image_preview3" class="image-upload" /></p>
                        </div>
                        @if (TempData["previousAction"] == "Create")
                        {
                            <input type="file" id="File3" class="button" />
                            <input type="button" class="form-button" id="Fileupload3" value="Upload" onclick="Javascript: ImageUpload(3);" title="Upload to database" />
                        }
                    </div>

                    <div class="col-md-3">
                        <div id="img_preview4" title="Photo Preview">
                            <p><img src="\App_Images\@Model.Image4" alt="Please upload image" id="image_preview4" class="image-upload" /></p>
                        </div>
                        @if (TempData["previousAction"] == "Create")
                        {
                            <input type="file" id="File4" class="button" />
                            <input type="button" class="form-button" id="Fileupload4" value="Upload" onclick="Javascript: ImageUpload(4);" title="Upload to database" />
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 hrpart">
                        <input class="form-button right" type="button" value="Exit" onclick="Exit()" />
                        @*<button type="submit" class="form-button right">Save</button>*@
                    </div>
                </div>
            }
        </div>
    </div>

