
@model IList<ArabErp.Domain.JobCardForDailyActivity>

@{
    ViewBag.Title = "Pending Work for Daily Activity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

    function GoToDailyActivity(Id) {
        var url = '@Url.Action("Create")';
        url = url + "?Id=" + Id;
        window.location.href = url;
    }

    function PreviousList() {
        var url = '@Url.Action("PreviousList", new { type = Request.QueryString["type"] })';
        window.location = url;
    }

    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }

    function Filter() {
        $("#pending_Daily").addClass("fade");
        var url = '@Url.Action("PendingJobcards")';
        var JcNo = $("#txtJcNo").val().trim();
        var customer = $("#txtCustomer").val().trim();
        var type = "@Request.QueryString["type"]";
        alert(type);
        if (type == "1")
           
        {
            url += "?type=" + encodeURIComponent(type)+ "&jcno=" + encodeURIComponent(JcNo) + "&customer=" + encodeURIComponent(customer);
        }
        else {
            var RegNo = $("#txtRegNo").val().trim();
            url += "?type=" + encodeURIComponent(type) + "&RegNo=" + encodeURIComponent(RegNo) + "&jcno=" + encodeURIComponent(JcNo) + "&customer=" + encodeURIComponent(customer);

        }

        //url += "?&RegNo=" + encodeURIComponent(RegNo) + "&jcno=" + encodeURIComponent(JcNo) + "&customer=" + encodeURIComponent(customer);
        $("#pending_Daily").load(url, function () {
            $("#pending_Daily").removeClass("fade");
        });
    }
</script>


<div class="row">

    <div class="form-head1">
        <h4>Pending Jobcard For Daily Activity</h4>
    </div>
    <div class="main-part pad1">
        <div class="row">
            <div class="part">
                @if (Request.QueryString["type"] == "1")
                {
                    <div class="col-md-2">
                        <label for="txtJcNo">Job Card No.</label>
                        <input type="text" class="form_input" id="txtJcNo" onkeyup="Filter()" onchange="Filter()" placeholder="Search for Job Card" />
                    </div>
                    
                    <div class="col-md-2">
                        <label for="txtCustomer">Customer</label>
                        <input type="text" class="form_input" id="txtCustomer" onkeyup="Filter()" onchange="Filter()" placeholder="Search for Customer" />
                    </div>
                }
                else 
                {
                <div class="col-md-2">
                    <label for="txtJcNo">Job Card No.</label>
                    <input type="text" class="form_input" id="txtJcNo" onkeyup="Filter()" onchange="Filter()" placeholder="Search for Job Card" />
                </div>

                <div class="col-md-2">
                <label for="txtRegNo">Reg. No./Chassis No.</label>
                <input type="text" class="form_input" id="txtRegNo" onkeyup="Filter()" onchange="Filter()" placeholder="Search for Reg. No./Chassis No." />
            </div>
    <div class="col-md-2">
        <label for="txtCustomer">Customer</label>
        <input type="text" class="form_input" id="txtCustomer" onkeyup="Filter()" onchange="Filter()" placeholder="Search for Customer" />
    </div>
                }
            </div>
        </div>
        <br />
        <div id="pending_Daily">
            @Html.Action("PendingJobcards")
        </div>

        <div class="row">
            <div class="col-md-12 hrpart">
                <button class="form-button left" onclick="PreviousList()">Previous</button>
                <button class="form-button right" onclick="Exit()">Exit</button>
            </div>
        </div>

    </div>
</div>

