@model ArabErp.Domain.BayStatus
@{
    string color = "#dafce2";
    if (Model.Occupied == "No")
    {
        color = "#f1bcb2";
    }

    string EDateOfArrival = "";
    string EDateOfDelivery = "";
    if (Model.EDateArrival != null)
    {
        EDateOfArrival = (Model.EDateArrival ?? DateTime.Now).ToString("dd MMM yyyy");
    }
    if (Model.EDateDelivery != null)
    {
        EDateOfDelivery = (Model.EDateArrival ?? DateTime.Now).ToString("dd MMM yyyy");
    }
}


<div class="col-md-6">
    <div class="row">
        <div class="bays">
            <div class="main-grid main-grid-bay main-grid-top" style="background-color:@color;">


                <table class="table table-bordered">
                    <tr class="grid-row">
                        <td rowspan="5" class="grid-cell bold">@Model.BayName</td>
                        <td class="grid-cell">Date of Arrival</td>
                        <td class="grid-cell">@EDateOfDelivery</td>
                        <td class="grid-cell">Job Card No</td>
                        <td class="grid-cell">Exp. Delivery Date</td>
                    </tr>
                    <tr>
                        <td>Vehicle Reg. No.</td>
                        <td>@Model.ChasisNoRegNo</td>
                        <td>@Model.JobCardNo</td>
                        <td>@EDateOfArrival</td>
                    </tr>
                    <tr>
                        <td>Customer Details</td>
                        <td>@Model.CustomerName</td>
                        <td></td>
                        <td>Status</td>
                    </tr>
                    <tr>
                        <td>Vehicle Type</td>
                        <td>@Model.VehicleModelName</td>
                        <td rowspan="2">@Model.WorkDescription</td>
                        <td rowspan="2"></td>
                    </tr>
                    <tr>
                        <td>Unit Type</td>
                        <td>@Model.UnitName</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>
