@model ArabErp.Domain.BayStatus
@{
    string color = "#dafce2";
    if (Model.Occupied == "No")
    {
        color = "#f1bcb2";
    }

    string EDateOfArrival = "";
    string EDateOfDelivery = "";
    if (Model.EDateArrival != null)
    {
        EDateOfArrival = (Model.EDateArrival ?? DateTime.Now).ToString("dd MMM yyyy");
    }
    if (Model.EDateDelivery != null)
    {
        EDateOfDelivery = (Model.EDateArrival ?? DateTime.Now).ToString("dd MMM yyyy");
    }
}


<div class="col-md-6">
    <div class="row">
        <div class="bays">
            <div class="main-grid main-grid-bay main-grid-top" style="background-color:@color;">


                <table class="table table-bordered">
                    <tr class="grid-row">
                        <td rowspan="5" class="grid-cell dis1 bold">@Model.BayName</td>
                        <td class="grid-cell"><b>Date of Arrival</b></td>
                        <td class="grid-cell">@EDateOfDelivery</td>
                        <td class="grid-cell"><b>Job Card No</b></td>
                        <td class="grid-cell"><b>Exp. Delivery Date</b></td>
                    </tr>
                    <tr>
                        <td class="grid-cell"><b>Vehicle Reg. No.</b></td>
                        <td class="grid-cell">@Model.ChasisNoRegNo</td>
                        <td class="grid-cell">@Model.JobCardNo</td>
                        <td class="grid-cell">@EDateOfArrival</td>
                    </tr>
                    <tr>
                        <td class="grid-cell"><b>Customer Details</b></td>
                        <td class="grid-cell">@Model.CustomerName</td>
                        <td class="grid-cell"></td>
                        <td class="grid-cell"><b>Status</b></td>
                    </tr>
                    <tr>
                        <td class="grid-cell"><b>Vehicle Type</b></td>
                        <td class="grid-cell">@Model.VehicleModelName</td>
                        <td rowspan="2" class="grid-cell">@Model.WorkDescription</td>
                        <td rowspan="2" class="grid-cell"></td>
                    </tr>
                    <tr>
                        <td class="grid-cell"><b>Unit Type</b></td>
                        <td class="grid-cell">@Model.UnitName</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>
