
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#txtFrom").datepicker({
            dateFormat: "dd-MM-yy"
        });
        $("#txtTo").datepicker({
            dateFormat: "dd-MM-yy"
        });
    })

    function Filter() {
        $("#Stores_Ledger").addClass("fade");
        var stkid = $("#cboStockpoint").val();
        var itmcatid = $("#cboItemCat").val();
        var itmid = $("#cboItem").val();
        var from = $("#txtFrom").val();
        var to = $("#txtTo").val();
        var url = '@Url.Action("StoresLedger")';
        url += "?from=" + from + "&to=" + to + "&stkid=" + stkid + "&itmcatid=" + itmcatid + "&itmid=" + itmid;
        $("#Stores_Ledger").load(url, function () {
            $("#Stores_Ledger").removeClass("fade");
        });
    }
  

    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }
</script>
<div class="row">

    <div class="form-head1">
        <h4>Stores Ledger</h4>
    </div>

    <div class="main-part pad1">
        <div class="row">

            <div class="col-md-2">
                <label for="cboStockpoint">Stock Point</label>
                @Html.DropDownList("cboStockpoint", (SelectList)ViewBag.WarehouseList, "Any", new { @class = "form_input" })
            </div>
            <div class="col-md-2">
                <label for="cboItemCat">Item Category</label>
                @Html.DropDownList("cboItemCat", (SelectList)ViewBag.ItemCatList, "Any", new { @class = "form_input" })
            </div>
            <div class="col-md-3">
                <label for="cboItem">Material/Spares</label>
                @Html.DropDownList("cboItem", (SelectList)ViewBag.ItemList, "Any", new { @class = "form_input" })
            </div>
            <div class="col-md-2">
                <label>From</label>
                <input id="txtFrom" value="@System.DateTime.Today.AddMonths(-7).ToString("dd-MMMM-yyyy")" class="form_input" />
            </div>
            <div class="col-md-2">
                <label>To</label>
                <input id="txtTo" value="@System.DateTime.Today.ToString("dd-MMMM-yyyy")" class="form_input" />
            </div>
            <div class="col-md-1">
                <input type="button" class="form-button wid1 filter" value="OK" onclick="Filter()" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive" id="Stores_Ledger">
                    @Html.Action("StoresLedger")
                </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-12 hrpart">
                        <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
                    </div>
                </div>
            </div>
        </div>

