@model ArabErp.Domain.SubAssembly

@{
    ViewBag.Title = "Create Sub-assembly";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        $("select[id$='__ItemId']").combobox();
        $("#StockCreationRefNo").tooltip();

        $("#StockCreationDate").datepicker({
            dateFormat: "dd-MM-yy"
        });

        //bind keypress event
        $(".numbers-only").keypress(function (e) {
            if (e.which == 8 || (e.which == 45 && $(this).val().indexOf('-') == -1) || (e.which == 46 && $(this).val().indexOf('.') == -1) || (e.which > 47 && e.which < 58)) { }
            else { return false; }
        });

    })

    function formValidation() {
        var status = true;
        $("input[id$='__StockQuantity']").each(function (index, object) {
            if ($(object).val() <= 0) {
                toastr.info("Consumed items should be in stock");
                status = false;
                return false;
            }
            else if (Number($(object).val()) < Number($("#ConsumedItems_" + index + "__Quantity").val())) {
                toastr.info("Consumed quantity cannot be greater than stock quantity");
                status = false;
                return false;
            }
        })
        return status;
    }

    function Previous() {
        var url = '@Url.Action("Index")';
        window.location = url;
    }

    function OnConsumedItemStockPointChanged() {
        $("#consumed-table").addClass("fade");
        $("input[id$='__StockQuantity']").each(function (index, object) {
            if ($("#ConsumedStockpointId").val() == '') {
                $(object).val(0);
            }
            else OnConsumedMaterialChanged(index);
        })
        $("#consumed-table").removeClass("fade");
    }

    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }

    function AddBomToConsumedItems() {

        var i = 0;
        $('tr[id^="CI_"]').each(function () {
            var id = this.id;
            var row = Number(id.replace("CI_", ""));
            if (row > i) {
                i = row;
            }
        });
        i++;
        var item = $("#ConsumedItems_" + (i - 1) + "__ItemId").val();
        var quantity = $("#ConsumedItems_" + (i - 1) + "__Quantity").val();
        if (item != "" && quantity != "0") {
            var clone = $('#CI_0').clone(); // clone the BatchProducts item
            //Update the index of the clone
            //clone.html($(clone).html().replace("SalesQuotationItems_0__", 'SalesQuotationItems_' + i + '__'));
            clone.html($(clone).html().replace(/ConsumedItems_0__/g, 'ConsumedItems_' + i + '__'));
            clone.html($(clone).html().replace(/ConsumedItems_0__/g, 'ConsumedItems_' + i + '__'));
            clone.html($(clone).html().replace(/\ConsumedItems[0]./g, 'ConsumedItems[' + i + '].'));
            clone.html($(clone).html().replace(/\[0\]/g, '[' + i + ']'));
            clone.html($(clone).html().replace(/\(0\)/g, '(' + i + ')'));
            clone.html($(clone).html().replace(/CI_0/, 'CI_' + i + ''));
            clone.html($(clone).html().replace(/CI_slno_0/, 'CI_slno_' + i + ''));
            //clone.html($(clone).html().replace(/this,0/, 'this,' + i + ''));
            $("#consumed-items-table").append('<tr id="CI_' + i + '">' + clone.html() + '  </tr>');
            $("#CI_slno_" + i).val((i + 1));
            //$("#FinishedGoods_" + i + "__SlNo").val((i + 1));
        }
        else {
            toastr.info("You have to fill the existing rows before adding a new row");
        }
        //bind keypress event
        $(".numbers-only").keypress(function (e) {
            if (e.which == 8 || (e.which == 45 && $(this).val().indexOf('-') == -1) || (e.which == 46 && $(this).val().indexOf('.') == -1) || (e.which > 47 && e.which < 58)) { }
            else { return false; }
        });

        $("#CI_" + i).find('span[class="custom-combobox"]').remove();
        $("#ConsumedItems_" + i + "__ItemId").combobox();
    }

</script>


<div class="row">
    <div class="form-head1">
        <h4>Create Sub-assembly</h4>
    </div>

    <div class="main-part pad1">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "createFrom", @id = "stock-creation-form", @onsubmit = "return formValidation()" }))
        {
            <div class="row form-group">
                <div class="col-md-12">
                    <em id="expiry-notification"></em>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-2">
                    <label for="StockCreationRefNo">Reference No.</label>
                    @Html.TextBoxFor(m => m.StockCreationRefNo, new { @class = "form_input", @readonly = "true", @title = "This number may change after saving" })
                </div>
                <div class="col-md-2">
                    <label for="StockCreationDate">Date</label>
                    @Html.TextBoxFor(m => m.StockCreationDate, Model.StockCreationDate.ToString("dd-MMMM-yyyy"), new { @class = "form_input", @readonly = "true", @required = "true", @onchange = "OnConsumedItemStockPointChanged()" })
                </div>
                <div class="col-md-3">
                    <label for="ConsumedItemStockpointId">Source</label>
                    @Html.DropDownListFor(m => m.ConsumedStockpointId, (SelectList)ViewBag.stockpointList, "Select Stockpoint", new { @class = "form_input", @onchange = "OnConsumedItemStockPointChanged()" })
                </div>
                <div class="col-md-3">
                    <label for="FinishedGoodStockpointId">Destination</label>
                    @Html.DropDownListFor(m => m.FinishedStockpointId, (SelectList)ViewBag.stockpointList, "Select Stockpoint", new { @class = "form_input" })
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-3">
                    <label for="EmployeeId">Employee</label>
                    @Html.DropDownListFor(m => m.EmployeeId, new SelectList(ViewBag.employeeList, "Value", "Text", Model.EmployeeId), "Select Employee", new { @class = "form_input", @required = "true" })
                </div>
                <div class="col-md-1">
                    <label for="WorkingHours">Hours</label>
                    @Html.TextBoxFor(m => m.WorkingHours, new { @class = "form_input", @required = "true" })
                </div>
            </div>
            <br />
            <strong>Consumed Materials (Stock OUT):</strong>
            <div class="table-responsive scroll4" id="consumed-table">
                @Html.Partial("_ConsumedItem")
            </div>

            <strong>Produced Materials (Stock IN):</strong>
            <div class="table-responsive scroll4" id="finished-table">
                @Html.Partial("_FinishedGood")
            </div>

            <div class="row">
                <div class="col-md-12 hrpart">
                    <input type="button" class="form-button" value="Previous" onclick="Previous()" title="Previously created sub-assemblies" />
                    <input type="button" class="form-button right" value="Exit" onclick="Exit()" title="Go to home page" />
                    <input type="submit" class="form-button right" value="Save" />
                </div>
            </div>
        }
    </div>
</div>
