
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#txtFrom").datepicker({
            dateFormat: "dd-MM-yy"
        });
        $("#txtTo").datepicker({
            dateFormat: "dd-MM-yy"
        });
    })

    function Filter() {
        $("#Sales_RegSum").addClass("fade");
        var id = $("#cboCustomer").val();
        var from = $("#txtFrom").val();
        var to = $("#txtTo").val();
        var url = '@Url.Action("SaleRegisterSummary")';
        url += "?from=" + from + "&to=" + to + "&id=" + id ;
        $("#Sales_RegSum").load(url, function () {
            $("#Sales_RegSum").removeClass("fade");
        });
    }


    function GoToPrint() {
        var name = $("#cboCustomer option:selected").text();
        var id = $("#cboCustomer").val();
        console.log(SupId);
        var from = $("#txtFrom").val();
        console.log(from);
        var to = $("#txtTo").val();
        var url = '@Url.Action("Print")';
        url += "?from=" + from + "&to=" + to  + "&name=" + (name == '' ? 0 : name) + "&id=" + id;
        window.location = url;

    }
    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }
</script>
<div class="row">
    <div class="form-head1">
        <h4>Sales Register Summary</h4>
    </div>
    <div class="main-part pad1">
        <div class="row">
            <div class="col-md-2">
                <label>From</label>
                <input id="txtFrom" value="@ViewBag.startdate.ToString("dd-MMMM-yyyy")" class="form_input" onchange="Filter()" />
            </div>
            <div class="col-md-2">
                <label>To</label>
                <input id="txtTo" value="@System.DateTime.Today.ToString("dd-MMMM-yyyy")" class="form_input" onchange="Filter()" />
            </div>
            <div class="col-md-3">
                <label for="cboCustomer">Customer</label>
                @Html.DropDownList("cboCustomer", (SelectList)ViewBag.CustomerList, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive" id="Sales_RegSum">
                    @Html.Action("SaleRegisterSummary")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 hrpart">
                <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
                <input type="button" value="Print" onclick="GoToPrint()" class="form-button right" />
            </div>
        </div>
    </div>
</div>

