@model ArabErp.Domain.StockReturn

<script type="text/javascript">
    $(document).ready(function () {
        $("#Items_0__SlNo").val('1');
        $("#add_row").click(function () {
            var i = 0;
            var no = 1;
            $('input[id^="Row_"]').each(function () {
                var id = this.id;
                no++;
                var row = Number(id.replace("Row_", ""));
                if (row > i) {
                    i = row;
                }
            });
            i++;

            var index = (new Date()).getTime(); // unique indexer
            var clone = $('#0').clone(); // clone the BatchProducts item
            //Update the index of the clone
            //clone.html($(clone).html().replace("Items_0__", 'Items_' + i + '__'));
            clone.html($(clone).html().replace(/\Items_0__/g, 'Items_' + i + '__'));
            clone.html($(clone).html().replace(/\Items[0]./g, 'Items[' + i + '].'));
            clone.html($(clone).html().replace(/\[0\]/g, '[' + i + ']'));
            clone.html($(clone).html().replace(/\(0\)/g, '(' + i + ')'));
            clone.html($(clone).html().replace(/Row_0/, 'Row_' + i + ''));
            clone.html($(clone).html().replace(/slno1/, 'slno' + (i + 1) + ''));
            clone.html($(clone).html().replace(/unit0/, 'unit' + i + ''));
            clone.html($(clone).html().replace(/this,0/, 'this,' + i + ''));
            $("#table-stock-return-list").append('<tr id="' + i + '">' + clone.html() + '  </tr>');
            $("#slno" + (i + 1)).html((i + 1));
            $("#Items_" + i + "__SlNo").val((i + 1));
            $("#unit" + i).html('');

            //bind keypress event for new row inputs.
            $(".numbers-only").keypress(function (e) {
                if (e.which == 8 || (e.which == 46 && $(this).val().indexOf('.') == -1) || (e.which > 47 && e.which < 58)) { } else { return false; }
            });
        });

        $(".numbers-only").keypress(function (e) {
            if (e.which == 8 || (e.which == 46 && $(this).val().indexOf('.') == -1) || (e.which > 47 && e.which < 58)) { } else { return false; }
        });
    });

    function OnItemChange(sender, index) {
        var id = $(sender).val();
        if (id != '') {
            var url = '@Url.Action("GetItemUnit")';
            $.getJSON(url, { itemId: id },
                function (data) {
                    $("#unit" + index).html(data);
                });
        }
        else {
            $("#unit" + index).html('');
        }
    }
</script>

    <table class="table table-bordered table-hover" id="table-stock-return-list">
        <thead>
            <tr class="grid_heading">
                <th width="1%"><h1>#</h1></th>
                <th width="25%"><h1>Material/Spares</h1></th>
                <th class="text-right" width="6%"><h1>Qty. Return</h1></th>
                <th width="5%"><h1>UoM</h1></th>
                <th width="25%"><h1>Remarks</h1></th>
            </tr>
        </thead>
        <tbody class="grid_row">
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                <tr id="@i">
                    <td>
                        <span id="slno@(i+1)">@(i + 1)</span>
                        @Html.HiddenFor(m => m.Items[i].SlNo)
                    </td>
                    <td>
                        <input type="hidden" id="Row_@i" />
                        @Html.DropDownListFor(m => m.Items[i].ItemId, (SelectList)ViewBag.productList, "Select Material/Spares", new { @class = "form_input", autocomplete = "off", @onchange = "OnItemChange(this," + i + ")" })
                    </td>
                    <td>@Html.TextBoxFor(m => m.Items[i].Quantity, new { @class = "form_input numbers-only text-right", autocomplete = "off", placeholder = "Qty" })</td>
                    <td id="unit0" class="qreturn" style="vertical-align:middle"></td>
                    <td>@Html.TextBoxFor(m => m.Items[i].Remarks, new { @class = "form_input", autocomplete = "off", placeholder = "Remarks" })</td>
                </tr>
            }
        </tbody>
    </table>
<a id="add_row" class="glyphicon glyphicon-plus"></a>
<a id='delete_row' style="float:right" class="glyphicon glyphicon-minus"></a>