@model IList<ArabErp.Domain.WorkShopRequest>

<script type="text/javascript">
    function Open(workshopRequestId) {
        var url = '@Url.Action("Issuance")';
        url += "?id=" + workshopRequestId;
        window.location = url;
    }
</script>

<tbody class="grid_row">
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr id="@i">
            <td>
                @Html.TextBoxFor(m => m[i].CustomerName, new { @class = "form_input", @disabled = "true" })
            </td>
            <td>
                @* Workshop request number and date is received from db as a single string into 'WorkShopRequestRefNo' *@
                @Html.TextBoxFor(m => m[i].WorkShopRequestRefNo, new { @class = "form_input", @disabled = "true" })
            </td>
            <td>
                <input class="form_input" type="text" value="@Model[i].SoNoWithDate" disabled />
            </td>
            <td>
                <input class="form_input" type="text" value="@Model[i].RequiredDate.ToString("dd/MMM/yyyy")" disabled />
            </td>
            <td>
                <input class="form_input" type="text" value="@Model[i].DaysLeft" disabled />
            </td>
            <td>
                <input class="form_input" type="text" value="@Model[i].Ageing" disabled />
            </td>
            <td align="center">
                <input type="button" class="form-button4" onclick="Open('@Model[i].WorkShopRequestId')" value="Select" />
            </td>
        </tr>
    }
</tbody>

@*<div class="row-count">
    <br />
    <h5>Row Count:- @Model.Count()</h5>
</div>*@