@model IList<ArabErp.Domain.WorkShopRequest>

<script type="text/javascript">
    function Open(workshopRequestId) {
        var url = '@Url.Action("Issuance")';
        url += "?id=" + workshopRequestId;
        window.location = url;
    }

</script>

<div class="row">
    <div class="main-grid main-grid-top scroll1">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="grid_heading">
                        <th width="28%"><h1>Customer</h1></th>
                        <th width="15%"><h1>WR No. &amp; Date</h1></th>
                        <th width="15%"><h1>SO No. &amp; Date</h1></th>
                        <th width="15%"><h1>JC No. &amp; Date</h1></th>
                        <th width="10%" nowrap><h1> Reg No./Chassis No.</h1></th>
                        <th width="10%" nowrap><h1>Required Date</h1></th>
                        <th width="5%" nowrap><h1>Days Left</h1></th>
                        <th width="5%" nowrap><h1>Ageing</h1></th>
                        <th width="1%"><center><h1></h1></center></th>
                    </tr>
                </thead>
                <tbody id="table-body" class="grid_row">

                    @if (Model.Count > 0)
                    {
                        for (int i = 0; i < Model.Count; i++)
                        {
                            <tr id="@i">
                                <td>
                                    @Html.TextBoxFor(m => m[i].CustomerName, new { @class = "form_input", @disabled = "true" })
                                </td>
                                <td>
                                    @* Workshop request number and date is received from db as a single string into 'WorkShopRequestRefNo' *@
                                    @Model[i].WorkShopRequestRefNo
                                </td>
                                <td>
                                    @Model[i].SoNoWithDate
                                </td>
                                <td>
                                    @Model[i].JobCardNo -
                                    @if (Model[i].JobCardNo != "" && Model[i].JobCardNo != null)
                                    {
                                        @:@Model[i].JobCardDate.ToString("dd/MMM/yyyy")
                                    }
                                </td>
                                <td>
                                    @Model[i].RegistrationNo - @Model[i].ChassisNo 
                                </td>
                                <td>
                                    @Model[i].RequiredDate.ToString("dd/MMM/yyyy")
                                </td>
                                <td>
                                    @Model[i].DaysLeft
                                </td>
                                <td>
                                    @Model[i].Ageing
                                </td>
                                <td align="center">
                                    <center><input type="button" class="form-button4" onclick="Open('@Model[i].WorkShopRequestId')" value="Select" /></center>
                                </td>

                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td align="center" colspan="8">
                                <em>No items to show!</em>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

    <div class="row-count1">
        <h5>Row Count:- @Model.Count()</h5>
    </div>
</div>
