@model IList<ArabErp.Domain.WorkShopRequest>

<script type="text/javascript">
    function Open(workshopRequestId) {
        var url = '@Url.Action("Issuance")';
        url += "?id=" + workshopRequestId;
        window.location = url;
    }
</script>

<tbody class="grid_row">
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr id="@i">
            <td>
                @Html.TextBoxFor(m => m[i].CustomerName, new { @class = "form_input", @disabled = "true" })
            </td>
            <td>
                @* Workshop request number and date is received from db as a single string into 'WorkShopRequestNo' *@
                @Html.TextBoxFor(m => m[i].WorkShopRequestNo, new { @class = "form_input", @disabled = "true" })
            </td>
            <td>
                <input class="form_input" type="text" value="@Model[i].SoNoWithDate" disabled />
            </td>
            <td>
                <input class="form_input" type="text" value="@Model[i].RequiredDate.ToString("dd/MMM/yyyy")" disabled />
            </td>
            <td align="center">
                <button class="btn btn-xs btn-primary" onclick="Open('@Model[i].WorkShopRequestId')"><span class="glyphicon glyphicon-edit" style="top:2px"></span></button>
            </td>
        </tr>
    }
</tbody>

