@model ArabErp.Domain.StoreIssue
@{
    ViewBag.Title = "Create Stores Issue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        var url = '@Url.Action("WorkshopRequestHeadDetails")';
        $.getJSON(url, { workshopRequestId: '@Model.WorkShopRequestId' },
            function (data) {
                var arr = data.split('|');
                $("#workshopno").val(arr[0]);
                $("#customer").val(arr[1]);
                $("#saleorderno").val(arr[2]);
                $("#reqdate").val(arr[3]);
        });
    });

    function Back() {
        location.href = '@Url.Action("Pending")';
    }

    function formValidation() {
        return confirm("Are you sure to Save?");
    }
</script>

<div class="container">
    <div class="row">
        <div class="form-head1">
            <h4>Store Issue</h4>
        </div>
        <div class="main-part pad1">
            <form role="form" method="post" onsubmit="return formValidation()">
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="StoreIssueRefNo">SI.No.</label>
                        @Html.HiddenFor(m => m.WorkShopRequestId)
                        @Html.TextBoxFor(m => m.StoreIssueRefNo, new { @class = "form_input" })
                        @*<input type="text" id="sino" class="form_input" autocomplete="off" />*@
                    </div>
                    <div class="col-md-2">
                        <label for="StoreIssueDate">Date</label>
                        @Html.TextBoxFor(m => m.StoreIssueDate, new { @type = "date", @class = "form_input" })
                        @*<input type="date" id="inputDate" class="form_input" autocomplete="off" />*@
                    </div>
                </div>
                <div class="row form-group"> 
                    <div class="col-md-4">
                        <label for="wrkdes">Customer</label>
                        <input type="text" id="customer" class="form_input" autocomplete="off" disabled />
                    </div>
                    <div class="col-md-2">
                        <label for="wrkreqref">WR No. &amp; Date</label>
                        <input type="text" id="workshopno" class="form_input" autocomplete="off" disabled />
                    </div>
                    <div class="col-md-2">
                        <label for="jcdate">SO No. &amp; Date</label>
                        <input type="text" id="saleorderno" class="form_input" autocomplete="off" disabled/>
                    </div>
                    <div class="col-md-2">
                        <label for="reqdate">Required Date</label>
                        <input type="text" id="reqdate" style="min-width: 100%" class="form_input" disabled />
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="grid_heading">
                                <th><h1>#</h1></th>
                                <th><h1>Material/Spares</h1></th>
                                <th class="text-right "><h1>Req Qty.</h1></th>
                                <th class="text-right "><h1>Prev. Issued Qty.</h1></th>
                                <th class="text-right "><h1>Pending Qty.</h1></th>
                                <th class="text-right "><h1>Stock Qty.</h1></th>
                                <th class="text-right "><h1>Current Issued Qty</h1></th>
                                <th><h1>UoM</h1></th>
                            </tr>
                        </thead>
                        
                        @Html.Action("PendingWorkshopRequestDetails")

                    </table>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="Remarks">Spl. Remarks</label>
                        @Html.TextAreaFor(m => m.Remarks, new { @class = "form_input form_input-h" })
                        @*<textarea id="SplRemarks1" autocomplete="off" class="form_input form_input-h"></textarea>*@
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="StockpointId">Stockpoint</label>
                        @Html.DropDownListFor(m => m.StockpointId, (SelectList)ViewBag.stockpointList, "Select Stockpoint", new { @class = "form_input", autocomplete = "off" })
                        @*<input type="text" id="jcno" class="form_input" autocomplete="off" />*@
                    </div> 
                    <div class="col-md-2">
                        <label for="EmployeeId">Employee/Supervisor</label>
                        @Html.DropDownListFor(m => m.EmployeeId, (SelectList)ViewBag.employeeList, "Select Employee", new { @class = "form_input", autocomplete = "off" })
                        @*<select id="bay" class="form_input" autocomplete="off">
                            <option>Select Employee</option>
                            <option>Employee 1</option>
                            <option>Employee 2</option>
                            <option>Employee 3</option>
                        </select>*@
                    </div>
                </div>
                <div class="marg1">
                    <input type="button" class="form-button" value="Back" onclick="Back()">
                    <input type="submit" class="form-button" value="Save">
                    @*@if (TempData["Success"] != null)
            {
             <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
            }*@
                </div>
            </form>
            </div>
        </div>
</div>

