@model IList<ArabErp.Domain.WorkShopRequest>

@{
    ViewBag.Title = "Pending Stores Issue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        toastr.options = {
            "positionClass": "toast-bottom-full-width",
            "timeOut": "5000",
            "extendedTimeOut": "2000"
        }
        if ('@TempData["success"]' != '') {
            toastr.success('@TempData["success"]');

        }
        else if ('@TempData["error"]' != '') {
            toastr.error('@TempData["error"]'.split('|')[0]);
            console.log('@TempData["error"]'.split('|')[1]);
        }
        @{ TempData["success"] = TempData["error"] = ""; }
    })

    function PreviousList() {
        var url = '@Url.Action("PreviousList")';
        window.location = url;
    }

</script>



    <div class="row">

        <div class="form-head1">
            <h4>Pending Workshop Requests for Stores Issue</h4>
        </div>

        <div class="main-part pad1">
 

                @Html.Action("PendingWorkshopRequests")


            <div class="row">
                <div class="col-md-12 hrpart">
                    <button class="form-button" onclick="PreviousList()">Previous</button>
                </div>
            </div>


        </div>
    </div>


