@model IList<ArabErp.Domain.StoresIssuePreviousList>

@{
    ViewBag.Title = "Previous Stores Issue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    @*function Pending() {
        var url = '@Url.Action("PendingSupplyOrder")';
        window.location = url;
    }*@

    function OpenEditForm() {
        alert("function not defined");
    }
</script>


    <div class="row">
        <div class="form-head1">
            <h4>Previous Stores Issue</h4>
        </div>
        <div class="main-part pad1 white">
            <div class="row">
                <div class="main-grid main-grid-top scroll1">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="grid_heading">
                                    <th width="12%" nowrap><h1>Stores Issue No.</h1></th>
                                    <th width="10%" nowrap><h1>Date</h1></th>
                                    <th width="12%" nowrap><h1>WR No. &amp; Date</h1></th>
                                    <th width="30%" nowrap><h1>Employee</h1></th>
                                    <th width="26%" nowrap><h1>Special Remarks</h1></th>
                                    <th width="10%"><center><h1>Select</h1></center></th>
                                </tr>
                            </thead>
                            <tbody class="grid_row">
                                @{
                            for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <input type="text" value="@Model[i].StoreIssueRefNo" class="form_input" disabled />
                                    </td>
                                    <td>
                                        <input type="text" value="@Model[i].StoreIssueDate.ToString("dd MMM yyyy")" class="form_input" disabled />
                                    </td>
                                    <td>
                                        <input type="text" value="@Model[i].WorkShopRequestRefNo - @Model[i].WorkShopRequestDate.ToString("dd MMM yyyy")" class="form_input" disabled />
                                    </td>
                                    <td>
                                        <input type="text" value="@Model[i].EmployeeName" class="form_input" disabled />
                                    </td>
                                    <td>
                                        <input type="text" value="@Model[i].Remarks" class="form_input" disabled />
                                    </td>
                                    <td align="center">
                                        <input type="button" value="Select" class="form-button4" onclick="OpenEditForm(@Model[i].StoreIssueId)" />
                                    </td>
                                </tr>
                            }
                                }
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
                </div>
            </div>

