@model ArabErp.Domain.QuerySheet

@{
    ViewBag.Title = "Create Query Sheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ string actionName = ViewContext.RouteData.GetRequiredString("action");
 if (actionName == "CreateQuerySheet")
 {
     actionName = "Create";
 }
}


<script>

    $(document).ready(function () {

        //---------------------toastr---------------------------//
        toastr.options = {
            "positionClass": "toast-bottom-full-width",
            "timeOut": "5000",
            "extendedTimeOut": "2000"
        }
        if ('@TempData["success"]' != '') {
            toastr.success('@TempData["success"]');
        }
        else if ('@TempData["error"]' != '') {
            toastr.error('@TempData["error"]'.split('|')[0]);
            console.log('@TempData["error"]'.split('|')[1]);
        }
        @{ TempData["success"] = TempData["error"] = ""; }
        //------------------------------------------------------//

    })

    function Exit() {

        location.href = '@Url.Action("Index", "Home")';
    }

    function PreviousList() {
        window.location = '@Url.Action("Index", "QuerySheet")'
    }

    $(function ()
    {
        $("#QuerySheetDate").datepicker({ dateFormat: "dd-MM-yy" });
    });
</script>


    <div class="row">

        <div class="form-head1">
            <h4> Query Sheet</h4>
        </div>
        <div class="main-part pad1">

            @using (Html.BeginForm(null, null, FormMethod.Post))
            {
                @Html.HiddenFor(m => m.QuerySheetId)

                <div class="row form-group">

                    @if (actionName == "Create")
                    {
                        <div class="col-md-2">
                            <label for="ProjectName">Query Sheet Ref No.</label>
                            @Html.TextBoxFor(m => m.QuerySheetRefNo, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        </div>
                 <div class="col-md-2">
                     <label for="QuerySheetDate">Date</label>
                   @Html.TextBoxFor(m => m.QuerySheetDate, Model.QuerySheetDate.ToString("dd/MMMM/yyyy"), new { @class = "form_input ", autocomplete = "off", @readonly = "readonly" })
                 </div>

                    }

                </div>
                
                <hr />


                <div class="row form-group">
                    <div class="col-md-3">
                        <label for="ProjectName">Project Name</label>
                        @if (actionName == "Create")
                        {
                            @Html.TextBoxFor(m => m.ProjectName, new { @class = "form_input", autocomplete = "off" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.ProjectName, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        }
                    </div>


                    <div class="col-md-3">

                        <label for="ContactPerson">Contact Person</label>

                        @if (actionName == "Create")
                        {
                            @Html.TextBoxFor(m => m.ContactPerson, new { @class = "form_input", autocomplete = "off" })
                            
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.ContactPerson, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        }
                    </div>
                    <div class="col-md-3">

                        <label for="ContactNumber">Contact Number</label>

                        @if (actionName == "Create")
                        {
                            @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form_input", autocomplete = "off" })
                            @*@Html.ValidationMessageFor(model => model.ContactNumber)*@
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        }
                    </div>
                    <div class="col-md-3">

                        <label for="Email">Email</label>

                        @if (actionName == "Create")
                        {
                            @Html.TextBoxFor(m => m.Email, new { @class = "form_input", autocomplete = "off" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.Email, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        }
                    </div>
                </div>
               
                <hr />
                <div class="row form-group">

                    <div class="col-md-4">

                        <label for="RoomDetails">Room Details</label>

                        @if (actionName == "Create")
                        {
                            @Html.TextBoxFor(m => m.RoomDetails, new { @class = "form_input", autocomplete = "off" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.RoomDetails, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        }
                    </div>


                    <div class="col-md-4">

                        <label for="ExternalRoomDimension">External Room Dimension</label>

                        @if (actionName == "Create")
                        {
                            @Html.TextBoxFor(m => m.ExternalRoomDimension, new { @class = "form_input", autocomplete = "off" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.ExternalRoomDimension, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        }
                    </div>
                    <div class="col-md-4">

                        <label for="ColdRoomArea">Cold Room Area</label>

                        @if (actionName == "Create")
                        {
                            @Html.TextBoxFor(m => m.ColdRoomArea, new { @class = "form_input", autocomplete = "off" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.ColdRoomArea, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        }
                    </div>
                </div>
                <div class="row form-group">

                   


                    <div class="col-md-4">

                        <label for="ColdRoomLocation">Cold Room Location</label>

                        @if (actionName == "Create")
                        {
                            @Html.TextBoxFor(m => m.ColdRoomLocation, new { @class = "form_input", autocomplete = "off" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.ColdRoomLocation, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        }
                    </div>
                    <div class="col-md-4">

                        <label for="TemperatureRequired">Temperature Required</label>

                        @if (actionName == "Create")
                        {
                            @Html.TextBoxFor(m => m.TemperatureRequired, new { @class = "form_input", autocomplete = "off" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.TemperatureRequired, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        }
                    </div>
                    <div class="col-md-4">

                        <label for="PanelThicknessANDSpec">Panel Thickness & Spec</label>

                        @if (actionName == "Create")
                        {
                            @Html.TextBoxFor(m => m.PanelThicknessANDSpec, new { @class = "form_input", autocomplete = "off" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.PanelThicknessANDSpec, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        }
                    </div>
                </div>

               

                <div class="row form-group">

                   

                    <div class="col-md-4">
                        <label for="FloorDetails">Floor Details</label>
                        @if (actionName == "Create")
                        {
                            @Html.TextBoxFor(m => m.FloorDetails, new { @class = "form_input", autocomplete = "off" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.FloorDetails, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        }
                    </div>
                    <div class="col-md-4">

                        <label for="ProductDetails">Product Details</label>

                        @if (actionName == "Create")
                        {
                            @Html.TextBoxFor(m => m.ProductDetails, new { @class = "form_input", autocomplete = "off" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.ProductDetails, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        }
                    </div>
                    <div class="col-md-4">

                        <label for="ProductIncomingTemperature">Product Incoming Temperature</label>

                        @if (actionName == "Create")
                        {
                            @Html.TextBoxFor(m => m.ProductIncomingTemperature, new { @class = "form_input", autocomplete = "off" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.ProductIncomingTemperature, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        }
                    </div>
                </div>
                <div class="row form-group">

                   


                    
                    <div class="col-md-4">

                        <label for="PipeLength">Pipe Length</label>

                        @if (actionName == "Create")
                        {
                            @Html.TextBoxFor(m => m.PipeLength, new { @class = "form_input", autocomplete = "off" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.PipeLength, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        }
                    </div>
                    <div class="col-md-4">

                        <label for="Refrigerant">Refrigerant</label>

                        @if (actionName == "Create")
                        {
                            @Html.TextBoxFor(m => m.Refrigerant, new { @class = "form_input", autocomplete = "off" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.Refrigerant, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        }
                    </div>
                    <div class="col-md-4">

                        <label for="EletricalPowerAvailability">Eletrical Power Availability</label>

                        @if (actionName == "Create")
                        {
                            @Html.TextBoxFor(m => m.EletricalPowerAvailability, new { @class = "form_input", autocomplete = "off" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.EletricalPowerAvailability, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        }
                    </div>
                </div>
                <div class="row form-group">

                    <div class="col-md-6">

            <label for="DoorSizeTypeAndNumberOfDoor">Door Size,Type & Number of Door</label>

            @if (actionName == "Create")
            {
                @Html.TextBoxFor(m => m.DoorSizeTypeAndNumberOfDoor, new { @class = "form_input", autocomplete = "off" })
            }
            else
            {
                @Html.TextBoxFor(m => m.DoorSizeTypeAndNumberOfDoor, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
            }
        </div>

                    <div class="col-md-6">

                        <label for="Others">Kilowatt</label>

                        @if (actionName == "Create")
                        {
                            @Html.TextBoxFor(m => m.Kilowatt, new { @class = "form_input", autocomplete = "off" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.Kilowatt, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        }
                    </div>
                </div>

    @Html.Partial("_ProjectCosting", Model)

                <div class="row">
                    <div class="col-md-12 hrpart">

                        <input type="button" class=" form-button right" onclick="Exit()" value="Exit">
                        <input type="button" class="form-button" onclick="PreviousList()" value="Previous">
                        @if (actionName == "Create")
                        {
                            <button type="submit" class="form-button right">Save</button>
                        }
                    </div>
                </div>
            }
        </div>
    </div>

