@model ArabErp.Domain.QuerySheet

@{
    ViewBag.Title = "Create Query Sheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ string actionName = ViewContext.RouteData.GetRequiredString("action");
 if (actionName == "CreateQuerySheet")
 {
     actionName = "Create";
 }
}


<script>

    $(document).ready(function () {
        $("#Items_0__SlNo").val('1');

        $(".numbers-only").keypress(function (e) {
            if (e.which == 8 || (e.which == 45 && $(this).val().indexOf('-') == -1) || (e.which == 46 && $(this).val().indexOf('.') == -1) || (e.which > 47 && e.which < 58)) {
            }
            else {
                return false;
            }
        });
     
      
        if ('@ViewContext.RouteData.GetRequiredString("action")' == "CreateQuerySheetUnit")
        {
            $("#QuerySheetItems_0__Refrigerant").focus();
            $(".del").hide();
        }
        
    })
    function AddRow() {

        var i = 0;
        var no = 1;
        $('input[id^="Row_"]').each(function () {
            var id = this.id;
            no++;
            var row = Number(id.replace("Row_", ""));
            if (row > i) {
                i = row;
            }
        });
        i++;

        var index = (new Date()).getTime(); // unique indexer
        var clone = $('#0').clone(); // clone the BatchProducts item
        //Update the index of the clone

        clone.html($(clone).html().replace(/\QuerySheetItems_0__/g, 'QuerySheetItems_' + i + '__'));
        clone.html($(clone).html().replace(/\QuerySheetItems[0]./g, 'QuerySheetItems[' + i + '].'));
        clone.html($(clone).html().replace(/\[0\]/g, '[' + i + ']'));
        clone.html($(clone).html().replace(/\(0\)/g, '(' + i + ')'));
        clone.html($(clone).html().replace(/Row_0/, 'Row_' + i));
        clone.html($(clone).html().replace(/slno1/, 'slno' + (i + 1) + ''));
        clone.html($(clone).html().replace(/this,0/, 'this,' + i + ''));
        $("#tab_logic").append('<tr id="' + i + '">' + clone.html() + '  </tr>');
        $("#slno" + (i + 1)).html((i + 1));

        //bind keypress event for new row inputs.
        $(".numbers-only").keypress(function (e) {
            if (e.which == 8 || (e.which == 45 && $(this).val().indexOf('-') == -1) || (e.which == 46 && $(this).val().indexOf('.') == -1) || (e.which > 47 && e.which < 58)) {
            }
            else {
                return false;
            }
        });
    }
     function Delete(index) {

        var i = 0;
        var no = 1;
        $('input[id^="Row_"]').each(function () {
            var id = this.id;
            no++;
            var row = Number(id.replace("Row_", ""));
            if (row > i) {
                i = row;
            }
        });
        i++;

        if (i > 1) {
            $("#" + index).remove();
            for (var j = index + 1; j < i; j++) {

                var clone = $("#" + j).clone(true, true);
                clone.html($(clone).html().replace(new RegExp("QuerySheetItems_" + j + "__", "g"), 'QuerySheetItems_' + (j - 1) + '__'));
                clone.html($(clone).html().replace(new RegExp("\\[" + j + "].", "g"), "[" + (j - 1) + "]."));
                clone.html($(clone).html().replace(new RegExp('slno' + (j + 1) + '">' + (j + 1), "g"), 'slno' + (j) + '">' + (j)));
                clone.html($(clone).html().replace("Delete(" + j, "Delete(" + (j - 1)));
                clone.html($(clone).html().replace("Row_" + j, "Row_" + (j - 1)));




                clone.html($(clone).html().replace("this," + j, "this," + (j - 1)));
                $("#" + j).html(clone.html());
                $("#QuerySheetItems_" + (j - 1) + "__SlNo").val(j);
                $("#" + (j)).attr('id', (j - 1));




            }
        }
    }



     function Exit(type) {
         if(type=='Unit')
         {
             location.href = '@Url.Action("PendingQuerySheetforUnit")';
         }
        else if (type == 'Costing') {
             location.href = '@Url.Action("PendingQuerySheetforCosting")';
         }

        else if (type == 'RoomDetails')
         {
             location.href = '@Url.Action("Index", "Home")';
         }
      
        }

    function PreviousList(type)
        {
        var url = '@Url.Action("Index")';
        url += "?Type=" + type;
        window.location = url;
        }

        $(function ()
        {
            $("#QuerySheetDate").datepicker({ dateFormat: "dd-MM-yy" });
        });

        function OnCostingAmountChanged(){
            var amount = 0;
            $("input[id$='__Amount']").each(function(index, object){
                if(!isNaN($(object).val()))
                    amount += Number($(object).val());
            })
            $("#costingTotal").text(amount.toFixed(2));
        }
</script>


    <div class="row">
        <div class="form-head1">
            @{
                if (Model.Type == "RoomDetails")
            {
            <h4>Query Sheet</h4>
            }
            else if (Model.Type  == "Unit")
            {
            <h4>Query Sheet : Unit Selection</h4>
            }
            else if (Model.Type  == "Costing")
            {
            <h4>Query Sheet : Costing</h4>
            }
            }
        </div>
        <div class="main-part pad1">
            @using (Html.BeginForm("CreateQuerySheet", null, FormMethod.Post))
            {
                @Html.HiddenFor(m => m.QuerySheetId)
                @Html.HiddenFor(m=>m.Type)
                <div class="row form-group">

                    @*@if (actionName == "Create")
                    {*@
                        <div class="col-md-2">
                            <label for="QuerySheetRefNo">Query Sheet No.</label>
                            @Html.TextBoxFor(m => m.QuerySheetRefNo, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        </div>
                 <div class="col-md-2">
                     <label for="QuerySheetDate">Date</label>
                   @Html.TextBoxFor(m => m.QuerySheetDate, Model.QuerySheetDate.ToString("dd/MMMM/yyyy"), new { @class = "form_input ", autocomplete = "off", @readonly = "readonly" })
                 </div>
                    @*}*@
                </div>
           
                <hr />


                <div class="row form-group">
                    <div class="col-md-3">
                        <label for="ProjectName">Project Name</label>
                        @if (actionName == "Create")
                        {
                            @Html.TextBoxFor(m => m.ProjectName, new { @class = "form_input", autocomplete = "off", @required = "true" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.ProjectName, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        }
                    </div>


                    <div class="col-md-3">

                        <label for="ContactPerson">Contact Person</label>

                        @if (actionName == "Create")
                        {
                            @Html.TextBoxFor(m => m.ContactPerson, new { @class = "form_input", autocomplete = "off" })
                            
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.ContactPerson, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        }
                    </div>
                    <div class="col-md-3">

                        <label for="ContactNumber">Contact Number</label>

                        @if (actionName == "Create")
                        {
                            @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form_input", autocomplete = "off" })
                            @*@Html.ValidationMessageFor(model => model.ContactNumber)*@
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        }
                    </div>
                    <div class="col-md-3">
                       <label for="Email">Email</label>
                         @if (actionName == "Create")
                        {
                            @Html.TextBoxFor(m => m.Email, new { @class = "form_input", autocomplete = "off" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.Email, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        }
                    </div>
                </div>
    
    <div class="row form-group">

    </div>

    <div class="table-responsive scroll2 ">
        <table style="width:200%" class="table table-bordered" id="tab_logic" @*style="overflow-x:scroll;margin-bottom:0px"*@>
            <thead>
                <tr class="grid_heading">
                    <th width="1%" class="text-center"></th>
                    <th width="2%" class="text-center"><h1>#</h1></th>
                    <th width="10%" nowrap><h1>Room Details</h1></th>
                    <th width="5%" nowrap><h1>External Room Dimension</h1></th>
                    <th width="5%" nowrap><h1>Cold Room Area</h1></th>
                    <th width="5%" nowrap><h1>Cold Room Location</h1></th>
                    <th width="5%"><h1>Temperature</h1></th>
                    <th width="5%" nowrap><h1>Panel Thickness</h1></th>
                    <th width="6%" nowrap><h1>Floor Details</h1></th>
                    <th width="10%" nowrap><h1>Product Details</h1></th>
                    <th width="5%" nowrap><h1>Product Incoming Temperature</h1></th>
                    <th width="5%" nowrap><h1>Pipe Length</h1></th>
                    <th width="20%">
                        <h1>
                           Door&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </h1>
                    </th>
                    <th width="5%" nowrap><h1>Door Size</h1></th>
                    <th width="5%" class="text-right" nowrap><h1>Door Qty</h1></th>
                    <th width="5%"><h1>Refrigerant</h1></th>
                    <th width="5%" nowrap><h1>Electrical Power</h1></th>
                    @if (Model.Type != "RoomDetails")
                    {
                   
                       
                        <th width="5%"><h1>Kilowatt</h1></th>
                        <th width="15%"><h1>
                            Condenser Unit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </h1></th>
    <th width="15%">
        <h1>
            Evaporator Unit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </h1>
    </th>
                        <th width="10%" class="text-right"><h1>Unit Qty</h1></th>
                        <th width="5%" class="text-right"><h1>Cost&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1></th>
                       
                    }
                    <th width="1%" class="text-center"></th>

                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.QuerySheetItems.Count; i++)
                {
                    <tr id="@i">
                        <td style="vertical-align:middle"><a class="glyphicon glyphicon-minus del" style="top:0px" onclick="Delete(@i)"></a></td>
                        <td align="center">
                            <input type="hidden" id="Row_@i" />
                            <span id="slno@(i + 1)">@(i + 1)</span>
                            @Html.HiddenFor(m => Model.QuerySheetItems[i].QuerySheetItemId)
                        </td>
                        <td>@Html.TextAreaFor(m => Model.QuerySheetItems[i].RoomDetails, new { @class = "form_input form_input-h", autocomplete = "off" })</td>
                        <td>@Html.TextAreaFor(m => Model.QuerySheetItems[i].ExternalRoomDimension, new { @class = "form_input form_input-h", autocomplete = "off" })</td>
                        <td>@Html.TextAreaFor(m => Model.QuerySheetItems[i].ColdRoomArea, new { @class = "form_input form_input-h", autocomplete = "off" })</td>
                        <td>@Html.TextAreaFor(m => Model.QuerySheetItems[i].ColdRoomLocation, new { @class = "form_input form_input-h", autocomplete = "off" })</td>
                        <td>@Html.TextAreaFor(m => Model.QuerySheetItems[i].TemperatureRequired, new { @class = "form_input form_input-h", autocomplete = "off" })</td>
                        <td>@Html.TextAreaFor(m => Model.QuerySheetItems[i].PanelThicknessANDSpec, new { @class = "form_input form_input-h", autocomplete = "off" })</td>
                        <td>@Html.TextAreaFor(m => Model.QuerySheetItems[i].FloorDetails, new { @class = "form_input form_input-h", autocomplete = "off" })</td>
                        <td>@Html.TextAreaFor(m => Model.QuerySheetItems[i].ProductDetails, new { @class = "form_input form_input-h", autocomplete = "off" })</td>
                        <td>@Html.TextAreaFor(m => Model.QuerySheetItems[i].ProductIncomingTemperature, new { @class = "form_input form_input-h", autocomplete = "off" })</td>
                        <td>@Html.TextAreaFor(m => Model.QuerySheetItems[i].PipeLength, new { @class = "form_input form_input-h", autocomplete = "off" })</td>
                        <td>@Html.DropDownListFor(m => m.QuerySheetItems[i].Door, new SelectList(ViewBag.UnitList, "Value", "Text", Model.QuerySheetItems[i].Door), new { @class = "form_input" })</td>
                        <td>@Html.TextAreaFor(m => Model.QuerySheetItems[i].DoorSizeTypeAndNumberOfDoor, new { @class = "form_input form_input-h", autocomplete = "off" })</td>
                        <td>@Html.TextAreaFor(m => Model.QuerySheetItems[i].DoorQty, new { @class = "form_input numbers-only text-right", autocomplete = "off" })</td>
                        <td>@Html.TextAreaFor(m => Model.QuerySheetItems[i].Refrigerant, new { @class = "form_input form_input-h", autocomplete = "off" })</td>
                        <td>@Html.TextAreaFor(m => Model.QuerySheetItems[i].EletricalPowerAvailability, new { @class = "form_input form_input-h", autocomplete = "off" })</td>
                        @if (Model.Type != "RoomDetails")
                        {
                        <td>@Html.TextAreaFor(m => Model.QuerySheetItems[i].Kilowatt, new { @class = "form_input form_input-h", autocomplete = "off" })</td>
                        <td>@Html.DropDownListFor(m => m.QuerySheetItems[i].CondenserUnit, new SelectList(ViewBag.UnitList, "Value", "Text", Model.QuerySheetItems[i].CondenserUnit), new { @class = "form_input" })</td>
                        <td>@Html.DropDownListFor(m => m.QuerySheetItems[i].EvaporatorUnit, new SelectList(ViewBag.UnitList, "Value", "Text", Model.QuerySheetItems[i].EvaporatorUnit), new { @class = "form_input" })</td>
                        <td>@Html.TextBoxFor(m => Model.QuerySheetItems[i].Quantity, new { @class = "form_input numbers-only text-right", autocomplete = "off" })</td>
                        <td>@Html.TextBoxFor(m => Model.QuerySheetItems[i].Cost, new { @class = "form_input numbers-only text-right", autocomplete = "off" })</td>
                  
                        }
                        
                        <td style="vertical-align:middle"><a id="add_row" class="glyphicon glyphicon-plus del" style="top:0px" onclick="AddRow()"></a></td>
                    </tr>
                }

            </tbody>

        </table>
    </div>
                <br />
                if (@Model.Type == "Costing")
                {
                 @Html.Partial("_ProjectCosting", Model)
                }

                <div class="row">
                    <div class="col-md-12 hrpart">

                        <input type="button" class=" form-button right" onclick="Exit('@Model.Type')" value="Exit">
                        @if (actionName == "Create")
                        {
                            <input type="button" class="form-button" onclick="PreviousList('@Model.Type')" value="Previous">
                        }
                       
                        @*@if (actionName == "Create" || actionName == "CreateQuerySheetUnit")
                        {*@
                            <button type="submit" class="form-button right">Save</button>
                        @*}*@
                    </div>
                </div>
            }
        </div>
    </div>

