@model ArabErp.Domain.RateSettings

@{
    ViewBag.Title = "Rate Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {

        //---------------------toastr---------------------------//
        toastr.options = {
            "positionClass": "toast-bottom-full-width",
            "timeOut": "5000",
            "extendedTimeOut": "2000"
        }
        if ('@TempData["success"]' != '') {
            toastr.success('@TempData["success"]');
        }
        else if ('@TempData["error"]' != '') {
            toastr.error('@TempData["error"]'.split('|')[0]);
            console.log('@TempData["error"]'.split('|')[1]);
        }
        @{ TempData["success"] = TempData["error"] = ""; }
        //------------------------------------------------------//

        $("#browse").tooltip();

        $("#FromDate").datepicker({
            dateFormat: "dd-MM-yy"
        });
        $("#ToDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd-MM-yy"
        });

        showExpiryNotification();

        @*$("#FromDate, #ToDate").change(function () {
            var sender = this;
            var date = $(this).val();
            var url = '@Url.Action("ValidateDate")';
            url += "?date=" + $(this).val();
            $.getJSON(url, function (data) {
                if (data != "1") {
                    //validation failed - date exists
                    toastr.error("The selected date already exists in period " + data);
                    url = '@Url.Action("GetExpiryDate")';
                    $.getJSON(url, function (data) {
                        $(sender).val('');
                    });
                }
            });

        });*@
    })

    function ValidateDate(sender) {
        var status = true;
        var date = $(sender).val();
        if (date != '') {
            var url = '@Url.Action("ValidateDate")';
            url += "?date=" + $(sender).val();
            $.getJSON(url, function (data) {
                if (data != "1") {
                    //validation failed - date exists
                    status = false;
                    toastr.error("The selected date already exists in the period " + data);
                    @*url = '@Url.Action("GetExpiryDate")';
                $.getJSON(url, function (data) {*@
                    $(sender).val('');
                    //});
                }
                return status;
            });
        }
    }

    function showExpiryNotification() {
        var url = '@Url.Action("GetExpiryDate")';
        $.getJSON(url, function (data) {
            if (data != "0")
                $("#expiry-notification").html("**Rate expires on " + data);
            else $("#expiry-notification").html("**No rates have been set so far");
        })
    }

    @*function OnTypeChanged() {
        var type = $("#Type").val();
        var url = '@Url.Action("WorkDescriptions")';
        url += "?type=" + type;
        $("#work-description-table").load(url);
    }*@

    function showPreviousRates() {
        var x = screen.width / 2 - 650 / 2;
        var y = screen.height / 2 - 300 / 2;
        var url = '@Url.Action("PreviousListPopup")';
        var popup = window.open(url, "PreviousRates", "scrollbars=0,width=650,height=300,left=" + x + ",top=" + y);
        popup.focus();
    }

    function CallToParent(from, to) {
        $('#FromDate').val(from.split(' ')[0]);
        $('#ToDate').val(to.split(' ')[0]);
        $('#FromDate').prop("readonly", "true");

        var url = '@Url.Action("PreviousWorkDescriptions")';
        url += "?from=" + from.split(' ')[0];
        $("#work-description-table").load(url);
    }

    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }

</script>

<style type="text/css">
    .scrollable {
        max-height: 50vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>


    <div class="row">
        <div class="form-head1">
            <h4>Rate Settings</h4>
        </div>

        <div class="main-part pad1">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "createFrom", @id = "rate-settings-form", @onsubmit = "return formValidation()" }))
            {
                <div class="row form-group">
                    <div class="col-md-12">
                        <em id="expiry-notification"></em>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="FromDate">From</label>
                        @Html.TextBoxFor(m => m.FromDate, Model.FromDate.ToString("dd/MMMM/yyyy"), new { @class = "form_input", @required = "true", @onchange = "ValidateDate(this)" })
                    </div>
                    <div class="col-md-2">
                        <label for="ToDate">To</label>
                        @Html.TextBoxFor(m => m.ToDate, Model.ToDate.ToString("dd/MMMM/yyyy"), new { @class = "form_input", @required = "true", @onchange = "ValidateDate(this)" })
                    </div>
                    <div class="col-md-1">
                        <label></label>
                        <input type="button" id="browse" value="..." class="terms1"  title="Browse for previous rate periods" onclick="showPreviousRates()" />
                    </div>
                </div>

                @*<div class="row form-group">
                        <div class="col-md-4">
                            <label for="Type">Type</label>
                            @Html.DropDownListFor(m => m.Type, new List<SelectListItem>
                            {
                                new SelectListItem{ Text = "Project", Value = "1" },
                                new SelectListItem{ Text = "Transport", Value = "0" }
                            }, new { @class = "form_input", @onchange = "OnTypeChanged()" })
                        </div>
                    </div>*@
                            <div class="row">
                <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive" id="work-description-table">
                    @Html.Action("WorkDescriptions")
                </div>
                    </div>
                    </div>

                <div class="row">
                    <div class="col-md-12 hrpart">
                        <input type="button" class="form-button right" value="Exit" onclick="Exit()" title="Go to home page"/>
                        <input type="submit" class="form-button right" value="Save" />
                    </div>
                </div>
            }
        </div>
    </div>

