@model ArabErp.Domain.SupplierCategory
@{ViewBag.Title = "create";Layout = "~/Views/Shared/_Layout.cshtml";}


<script>
    $(document).ready(function () {
        $('#SupplierCategory_form').bootstrapValidator({
            fields: {
                SupCategoryRefNo: {
                    validators: {
                        notEmpty: {
                            message: 'Please Enter Code'
                        }
                    }
                },

                SupCategoryName: {
                    validators: {
                        notEmpty: {
                            message: 'Please Enter Name'
                        }
                    }
                },

                //SupCategoryShortName: {
                //    validators: {
                //        notEmpty: {
                //            message: 'Please Enter Short Name'
                //        }
                //    }
                //},

            }
        });
    })

</script>




<div class="container ">
    <div class="row ">
        <div class="form-head1">
            <h4>Supplier Category</h4>
        </div>

        <div class="main-part pad1">
            <div class="row">
                <div class="col-md-4">
                </div>
                @using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom", @id = "SupplierCategory_form" }))
                {
                    <div class="col-md-4">
                        <div class="part4">
                            <label for="SupCategoryRefNo">Code</label>
                            @Html.TextBoxFor(m => m.SupCategoryRefNo, new { @class = "form_input form_input-half", autocomplete = "off" })
                        </div>

                        <div class="part4">

                            <label for="SupCategoryShortName">Short Name</label>
                            @Html.TextBoxFor(m => m.SupCategoryShortName, new { @class = "form_input", autocomplete = "off" })
                        </div>

                        <div class="part4">
                            <label for="SupCategoryName">Name</label>
                            @Html.TextBoxFor(m => m.SupCategoryName, new { @class = "form_input", autocomplete = "off" })
                        </div>

                        <div class="row">

                            <div class="col-md-12 hrpart">
                                <button type="button" class="form-button right">Exit</button>
                                <button type="submit" class="form-button right">Save</button>
                            </div>

                        </div>



                    </div>
                    <div class="col-md-4">



                    </div>
                }
                <div class="col-md-2">
                </div>
            </div>
        </div>
        <div class="main-list">
            @Html.Action("FillSupplierCategoryList")
        </div>
        @*<div class="row">
            <div class="col-md-12">
                @Html.Action("FillSupplierCategoryList")
            </div>
        </div>*@

    </div>

    </div>


