@model ArabErp.Domain.SupplierCategory
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="h4bgcolor">
    <h4>Supplier Category</h4>
</div>

<div class="container ">
    <div class="row ">

        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <form role="form" action="@Url.Action("Save")" method="post">
                <div class="row form-group ">

                    <div class="col-md-6">
                        <label for="SupCategoryRefNo">Code</label>
                        @Html.TextBoxFor(m => m.SupCategoryRefNo, new { @class = "form_input", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.SupCategoryRefNo, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        <label for="SupCategoryName">Name</label>
                        @Html.TextBoxFor(m => m.SupCategoryName, new { @class = "form_input", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.SupCategoryName, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class=" row form-group ">
                    <div class="col-md-6 ">
                        <label for="SupCategoryShortName">Short Name</label>
                        @Html.TextBoxFor(m => m.SupCategoryShortName, new { @class = "form_input", autocomplete = "off" })
                    </div>
                </div>

                <div class="row form-group ">
                    <div class="col-md-12">
                        <div style="float:right" class="alignCenter">
                            <button type="button" class="button-style">Exit</button>
                        </div>
                        <div style="float:right" class="alignCenter">
                            <button type="submit" class="button-style">Save</button>
                        </div>
                    </div>
                </div>
            </form>
           
        </div>

        <div class="col-md-3">

        </div>

    </div>
    <div class="col-md-3 ">
    </div>

    <div class="col-md-6">
        @Html.Action("FillSupplierCategoryList")
    </div>

    <div class="col-md-3">
    </div>
</div>


