@model ArabErp.Domain.Stockpoint

@{ViewBag.Title = "create";Layout = "~/Views/Shared/_Layout.cshtml";}

<script>
    $(document).ready(function () {
        $('#Stockpoint_form').bootstrapValidator({
            fields: {
                StockPointRefNo: {
                    validators: {
                        notEmpty: {
                            message: 'Please Enter Code'
                        }
                    }
                },

                StockPointName: {
                    validators: {
                        notEmpty: {
                            message: 'Please Enter Name'
                        }
                    }
                },

                //StockPointDoorNo: {
                //    validators: {
                //        notEmpty: {
                //            message: 'Please Enter Door No & Building'
                //        }
                //    }
                //},

                //StockPointZip: {
                //    validators: {
                //        notEmpty: {
                //            message: 'Please Enter Zip'
                //        }
                //    }
                //},

                //StockPointArea: {
                //    validators: {
                //        notEmpty: {
                //            message: 'Please Enter Area & City'
                //        }
                //    }
                //},

                StockPointPhone: {
                    validators: {
                        numeric: {
                            message: 'Please Enter Phone No'
                        }
                    }
                },

                //StockPointCity: {
                //    validators: {
                //        notEmpty: {
                //            message: 'Please Enter City & State'
                //        }
                //    }
                //},

                //StockPointFax: {
                //    validators: {
                //        notEmpty: {
                //            message: 'Please Enter Fax'
                //        }
                //    }
                //},

            }
        });
    })

</script>



<div class="container ">
    <div class="row ">

        <div class="form-head1">
            <h4>StockPoint</h4>
        </div>


        <div class="main-part pad1">
            <div class="row">
                <div class="col-md-2">
                </div>
                @using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom", @id = "Stockpoint_form" }))
                {

                    <div class="col-md-4">
                        <div class="part">
                            <label for="StockPointRefNo">Code</label>
                            @Html.TextBoxFor(m => m.StockPointRefNo, new { @class = "form_input form_input-half", autocomplete = "off" })
                        </div>
                        <div class="part">
                            <label for="StockPointShrtName">Short Name</label>
                            @Html.TextBoxFor(m => m.StockPointShrtName, new { @class = "form_input", autocomplete = "off" })
                        </div>
                        <div class="part">
                            <label for="StockPointDoorNo">Door No & Building</label>
                            @Html.TextBoxFor(m => m.StockPointDoorNo, new { @class = "form_input", autocomplete = "off" })
                        </div>
                        <div class="part">
                            <label for="StockPointArea">Street & Area</label>
                            @Html.TextBoxFor(m => m.StockPointArea, new { @class = "form_input", autocomplete = "off" })
                        </div>
                        <div class="part">
                            <label for="StockPointCity">City & State</label>
                            @Html.TextBoxFor(m => m.StockPointCity, new { @class = "form_input", autocomplete = "off" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="part">
                            <label for="StockPointName">Name</label>
                            @Html.TextBoxFor(m => m.StockPointName, new { @class = "form_input", autocomplete = "off" })
                        </div>
                        <div class="part">
                            <label for="StockPointZip">Post Box No.</label>
                            @Html.TextBoxFor(m => m.StockPointZip, new { @class = "form_input", autocomplete = "off" })
                        </div>
                        <div class="part">
                            <label for="StockPointPhone">Phone No</label>
                            @Html.TextBoxFor(m => m.StockPointPhone, new { @class = "form_input", autocomplete = "off" })
                        </div>
                        <div class="part">
                            <label for="StockPointFax">Fax</label>
                            @Html.TextBoxFor(m => m.StockPointFax, new { @class = "form_input", autocomplete = "off" })
                        </div>

                        <div class="marg4">

                            <button type="button" class="form-button top1">Exit</button>


                            <button type="submit" class="form-button">Save</button>
                        </div>
                    </div>
                }
                <div class="col-md-2">
                </div>
            </div>
        </div>

        <div class="main-list">
            @Html.Action("FillStockpointList")
        </div>


        @*<div class="row">
            <div class="col-md-12">
                @Html.Action("FillStockpointList")
            </div>
        </div>*@

    </div>



    </div>
