@model ArabErp.Domain.Stockpoint

@{ViewBag.Title = "create";Layout = "~/Views/Shared/_Layout.cshtml";}
@{string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString(); }
<script type="text/javascript">
    function Exit() {
        location.href = '@Url.Action("Index","Home")';
    }
    $(document).ready(function () {
        var Action = '@actionName';
        if (Action == 'Delete') {

            $("input[type='text'], select, textarea").attr('disabled', 'disabled');
            $("input[type=radio]").attr('disabled', true);
        }
        if (Action == 'Create') {
            $("#GenderId").prop("checked", true)
        }

        //$("#radio_1").prop("checked", true)
        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-bottom-full-width",
            "preventDuplicates": false,
            "onclick": null,

            "timeOut": "0",
            "extendedTimeOut": "1000",

            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        if ('@TempData["success"]' != "" && '@TempData["RefNo"]' != "") {
            toastr.success('@TempData["success"]' + '  Stockpoint Ref No. is : ' + '@TempData["RefNo"]');
        }
        else if ('@TempData["error"]' != "") {
            toastr.error('@TempData["error"]');
        }

    });
</script>




    <div class="row ">

        <div class="form-head1">
            <h4>Stock Point</h4>
        </div>


        <div class="main-part pad1">
            <div class="row">

               @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "createFrom", @id = "StockPoint_form" }))
               {

                    <div class="col-md-4">
                        <div class="part4">
                            <label for="StockPointRefNo">Code</label>
                            @Html.HiddenFor(m => m.StockPointId)
                            @Html.HiddenFor(m => m.StockPointRefNo)
                            @Html.TextBoxFor(m => m.StockPointRefNo, new { @class = "form_input form_input-half", autocomplete = "off", @readonly = "readonly" })
                        </div>
                        <div class="part4">
                            <label for="StockPointShrtName">Short Name</label>
                            @Html.TextBoxFor(m => m.StockPointShrtName, new { @class = "form_input", autocomplete = "off" })
                        </div>
                        <div class="part4">
                            <label for="StockPointDoorNo">Door No & Building</label>
                            @Html.TextBoxFor(m => m.StockPointDoorNo, new { @class = "form_input", autocomplete = "off" })
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="part4">
                            <label for="StockPointName">Name</label>
                            @Html.TextBoxFor(m => m.StockPointName, new { @class = "form_input", autocomplete = "off" })
                        </div>

                        <div class="part4">
                            <label for="StockPointArea">Street & Area</label>
                            @Html.TextBoxFor(m => m.StockPointArea, new { @class = "form_input", autocomplete = "off" })
                        </div>
                        <div class="part4">
                            <label for="StockPointCity">City & State</label>
                            @Html.TextBoxFor(m => m.StockPointCity, new { @class = "form_input", autocomplete = "off" })
                        </div>




                    </div>



              

                <div class="col-md-4">
                    <div class="part4">
                        <label for="StockPointZip">Post Box No.</label>
                        @Html.TextBoxFor(m => m.StockPointZip, new { @class = "form_input", autocomplete = "off" })
                    </div>
                    <div class="part4">
                        <label for="StockPointPhone">Phone No</label>
                        @Html.TextBoxFor(m => m.StockPointPhone, new { @class = "form_input", autocomplete = "off" })
                    </div>
                    <div class="part4">
                        <label for="StockPointFax">Fax</label>
                        @Html.TextBoxFor(m => m.StockPointFax, new { @class = "form_input", autocomplete = "off" })
                    </div>
                </div>
                <div class="col-md-12 hrpart">
                    <button type="button" class="form-button right" onclick="Exit();">Exit</button>
                    @if (actionName == "Edit")
                    { <button type="submit" class="form-button right">Update</button> }
                    else
                        if (actionName == "Delete")
                        {  <button type="submit" class="form-button right">Delete</button>}
                        else
                        { <button type="submit" class="form-button right">Save</button>}

                </div>
               }
            </div>




       




        </div>

        <div class="main-list">
            @Html.Action("FillStockpointList")
        </div>


        @*<div class="row">
            <div class="col-md-12">
                @Html.Action("FillStockpointList")
            </div>
        </div>*@

    </div>




