@model IEnumerable<ArabErp.Domain.TransactionHistory>
<table class="table table-bordered">
    <thead>
        <tr class="grid_heading">
            <th width="4%" class="text-center"><h1>#</h1></th>
            <th width="20%" nowrap><h1>User Name</h1></th>
            <th width="20%" nowrap><h1>Form</h1></th>
            <th width="20%" nowrap><h1>Mode</h1></th>
            <th width="20%" nowrap><h1>Trans Time</h1></th>
            <th></th>
        </tr>
    </thead>
    <tbody class="grid_row">
        @if (Model.Count() > 0)
        {
            int i = 0;
            foreach (var item in Model)
            {
                <tr>
                    <td align="center">
                        @(++i)
                    </td>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.Form
                    </td>
                    <td>
                        @item.Mode
                    </td>
                    <td>
                        @item.TransTime.ToString("dd-MMM-yyyy hh:mm")
                    </td>
                    <td></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">
                    <center>
                        <em>No items found!</em>
                    </center>
                </td>
            </tr>
        }
    </tbody>
</table>

