@model IList<ArabErp.Domain.TransactionHistory>
@{
    ViewBag.Title = "Transaction History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $("#txtFrom").datepicker({
            dateFormat: "dd-MM-yy"
        });
        $("#txtTo").datepicker({
            dateFormat: "dd-MM-yy"
        });
    })

    function Filter() {
      
        $(grid).addClass("fade");
        var url = '@Url.Action("Grid")';
        var user = $("#txtUser").val();
        var form = $("#txtForm").val();
        var mode = $("#txtMode").val();
        var from = $("#txtFrom").val();
        var to = $("#txtTo").val();
        url += "?from=" + from + "&to=" + to + "&user=" + encodeURIComponent(user) + "&form=" + encodeURIComponent(form) + "&mode=" + encodeURIComponent(mode);
        //url += "?user=" + encodeURIComponent(user) + "&form=" + encodeURIComponent(form) + "&mode=" + encodeURIComponent(mode) + "&from=" + from + "&to=" + to;
        $("#grid").load(url, function () {
            $(grid).removeClass("fade");
        });
    }

    @*function Filter()
    {
        var url = '@Url.Action("Grid")';
        var from = $("#txtFrom").val();
        var to = $("#txtTo").val();

        url = url + "?FromDate=" + from + "&ToDate=" + to;
        $("#previous-list").load(url);
    }*@
</script>
<div class="row">

    <div class="form-head1">
        <h4>Transaction History</h4>
    </div>

    <div class="main-part pad1">
        <div class="row">   
            <div class="col-md-2">
                <label for="txtUser">User</label>
                <input type="text" class="form_input" id="txtUser" onkeyup="Filter()" />
            </div>

            <div class="col-md-2">
                <label for="txtForm">Form</label>
                <input type="text" class="form_input" id="txtForm" onkeyup="Filter()" />
            </div>

            <div class="col-md-2">
                <label for="txtMode">Mode</label>
                <input type="text" class="form_input" id="txtMode" onkeyup="Filter()" />
            </div>

            <div class="col-md-2">
                <label>From</label>
                <input id="txtFrom" value="@System.DateTime.Today.AddMonths(-1).ToString("dd-MMMM-yyyy")" onchange="Filter()" class="form_input" />
            </div>

            <div class="col-md-2">
                <label>To</label>
                <input id="txtTo" value="@System.DateTime.Today.ToString("dd-MMMM-yyyy")" onchange="Filter()" class="form_input" />
            </div>
        </div>
        <br />
        <div class="row">
            
                <div class="table-responsive" id="grid">
                    @Html.Action("Grid")
                </div>
            
        </div>
    </div>
</div>

