@model IList<ArabErp.Domain.MaterialCostForService>
@{ 
    var total = Model.Sum(x => x.Amount);
}
<strong>Material Cost:</strong>
<table class="table table-responsive table-bordered">
    <thead class="grid_heading">
        <tr>
            <th>WR No.</th>
            <th>SI No.</th>
            <th>Material/Spare</th>
            <th>Part No</th>
            <th>Quantity</th>
            <th>Rate</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody class="grid_row">
        @if(Model != null && Model.Count > 0)
        {
            foreach(var item in Model)
            {
                <tr>
                    <td nowrap>@item.WorkShopRequestRefNo</td>
                    <td>@item.StoreIssueRefNo</td>
                    <td>@item.ItemName</td>
                    <td>@item.PartNo</td>
                    <td>@item.Quantity</td>
                    <td>@item.Rate</td>
                    <td>@item.Amount</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td align="center" colspan="7">
                    <em>No materials/spares found!</em>
                </td>
            </tr>
        }
    </tbody>
    <tfoot class="grid_heading">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Total</th>
            <th>@total</th>
        </tr>
    </tfoot>
</table>
