@model IList<ArabErp.Domain.SalesInvoiceItem>
@using GridMvc.Html

<style type="text/css">
    .tableData {
        font-size: 12px;
        padding-left: 4px;
    }

    .list {
        display: block;
        height: 320px;
        overflow-y: scroll;
    }

        .list tr:hover {
            background-color: #DFEDF7;
        }

    .wrap {
        width: 100%;
    }

        .wrap table {
            width: 100%;
            table-layout: fixed;
        }

    table tr td {
        padding: 5px;
        border: 1px solid #eee;
        word-wrap: break-word;
    }

    table.head tr td {
        background: #eee;
    }

    .inner_table {
        height: 50%;
        overflow-y: auto;
    }

    .rcorners2 {
        border-radius: 25px;
        border: 2px solid #73AD21;
        padding: 20px;
        width: 100%;
        height: 150px;
    }
</style>
<script>

    $(document).ready(function () {
        $("#checkAll").change(function () {
            $("input:checkbox").prop('checked', $(this).prop("checked"));
            if ($("#checkAll").is(':checked')) {
                var count = parseInt('@Model.Count');
                document.getElementById('HiddenForCheckBox').value = parseInt(count);

                document.getElementById("BtnSubmit").disabled = false;

            }
            else {
                document.getElementById('HiddenForCheckBox').value = parseInt(0);
                document.getElementById("BtnSubmit").disabled = true;

            }
        });
    });

    function Checked(s) {

        if ($(s).is(':checked')) {
            document.getElementById('HiddenForCheckBox').value = parseInt(document.getElementById('HiddenForCheckBox').value) + 1;
            // something when checked

            var Allcount = parseInt('@Model.Count');
            var HiddenCount = parseInt(document.getElementById('HiddenForCheckBox').value);


            //alert(Allcount+HiddenCount);
            if (Allcount == HiddenCount) {

                $('#checkAll').attr('checked', true);
                $('#checkAll').prop('checked', true);
            }

        }
        else {
            // something else when not
            document.getElementById('HiddenForCheckBox').value = parseInt(document.getElementById('HiddenForCheckBox').value) - 1;

            $('#checkAll').attr('checked', false);
        }
        //if (document.getElementById('HiddenForCheckBox').value = 0) {
        //    document.getElementById("BtnSubmit").disabled = true;

        //    alert(document.getElementById('HiddenForCheckBox').value);
        //}
        //    else
        if (document.getElementById('HiddenForCheckBox').value > 0) {
            document.getElementById("BtnSubmit").disabled = false;

        }
        else if (document.getElementById('HiddenForCheckBox').value <= 0) {
            document.getElementById("BtnSubmit").disabled = true;

        }
    }

</script>


<div class="main-grid-top pad4" style="margin-bottom:2px;">
    <div class="row">
        @*<div class="main-list white col-md-12 wid left">
            <div id="PendingCustomerInvoiceDiv">
                <div class="col-md-1" style="padding-top:5px;padding-left:40px">*@

        @*@Html.Label("Customer", new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })*@
        @*<label>Customer</label>

                    </div>
                    <div class="col-md-2">
                        @Html.TextBox("txtTitle", (string)ViewBag.CustomerName, new { @class = "form_input", Style = "background:#D6D5D5", autocomplete = "off", @readonly = "readonly" })
                    </div>
                    <div class="col-md-2" style="padding-top:5px;padding-left:62px">

                        <label>Sale Order Ref No</label>
                    </div>
                    <div class="col-md-2">

                        @Html.TextBox("txtTitle", (string)ViewBag.SaleOrderRefNoWithDate, new { @class = "form_input backgroundcolortransparent", Style = "background:#D6D5D5", autocomplete = "off", @readonly = "readonly" })
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
            </div>*@
    </div>
</div>
@*<div class="container-fluid pad4">
    <div class="row">
        <div class="main-list col-md-12 wid">
            <div class="main-grid scroll3" style="overflow-y:scroll">
                <div>*@
<div class="table-responsive">
    @*<h5>Sales Invoice Details</h5>*@
    <table id="PendingCustomerInvoiceTable" class="table table-bordered">

        @if (Model.Count > 0)
        {
            <thead>
                <tr class="grid_heading">
                    <th width="15%">Sale Order No. &amp; Date</th>
                    @if (Request.QueryString["invType"] != "Inter")
                    {
                        <th width="20%"><h1>Delivery Challan No. &amp; Date</h1></th>
                    }
                    <th width="20%"><h1>Job Card No. &amp; Date</h1></th>
                    @if (Request.QueryString["invType"] == "Final")
                    {
                        <th width="25%"><h1>Reg. No. & Chassis No.</h1></th>
                    }
                    <th width="25%"><h1>Customer</h1></th>
                    @if (Request.QueryString["invType"] == "Final")
                    {
                        <th width="5%" class="text-right"><h1>Qty</h1></th>
                        <th width="7%" class="text-right"><h1>Rate</h1></th>
                    }
                    <th width="7%" class="text-right"><h1>Amount</h1></th>
                    <th width="7%" nowrap>
                        <h1>
                            <input id="checkAll" type="checkbox" value="Select All" /><label for="checkAll">Select All</label>
                            <input type="hidden" value="0" id="HiddenForCheckBox" />
                        </h1>
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td>
                            <strong>@Model[i].SaleOrderRefNo</strong> - @Model[i].SaleOrderDate.ToString("dd/MMMM/yyyyy")
                        </td>
                        @if (Request.QueryString["invType"] != "Inter")
                        {
                            <td>
                                @*@Html.TextBoxFor(m => Model[i].WorkDescription, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })*@
                                <strong>@Model[i].DeliveryChallanRefNo</strong> - @Model[i].DeliveryChallanDate.ToString("dd/MMMM/yyyy")
                                @Html.HiddenFor(m => m[i].DeliveryChallanRefNo)
                                @Html.HiddenFor(m => m[i].DeliveryChallanDate)
                            </td>
                        }
                        <td>
                            <strong>@Model[i].JobCardNo</strong> - @Model[i].JobCardDate.ToString("dd/MMMM/yyyy")
                            @*@Html.TextBoxFor(m => Model[i].JobCardNo, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })*@
                        </td>
                        @if (Request.QueryString["invType"] == "Final")
                        {
                            <td>
                                @Model[i].RegistrationNo
                                @if ((Model[i].RegistrationNo != null && Model[i].RegistrationNo != "") && (Model[i].ChassisNo != null && Model[i].ChassisNo != ""))
                                {
                                    @: -
                                    }
                                @Model[i].ChassisNo
                            </td>
                        }

                        <td>@Model[i].CustomerName</td>
                        @if (Request.QueryString["invType"] == "Final")
                        {
                            <td align="right">
                                @Model[i].Quantity
                                @*@Html.TextBoxFor(m => Model[i].Quantity, new { @class = "form_input clAmount", @style = "text-align:right", autocomplete = "off", @readonly = "readonly" })*@
                            </td>

                            <td align="right">
                                @Model[i].Rate
                                @*@Html.TextBoxFor(m => Model[i].Rate, new { @class = "form_input clAmount", @style = "text-align:right", autocomplete = "off", @readonly = "readonly" })*@
                            </td>
                        }
                        <td align="right">
                            @Model[i].Amount
                            @*@Html.TextBoxFor(m => Model[i].Amount, new { @class = "form_input clAmount", @style = "text-align:right", autocomplete = "off", @readonly = "readonly" })*@
                        </td>
                        <td align="center">
                            @Html.CheckBoxFor(model => Model[i].SelectStatus, new { @class = "check_box CheckBoxClass", @onclick = "Checked(this)" })
                            @Html.HiddenFor(model => Model[i].SaleOrderId)
                            @Html.HiddenFor(model => Model[i].SaleOrderItemId)
                            @Html.HiddenFor(model => Model[i].invType)
                            @Html.HiddenFor(model=>Model[i].approve)
                        </td>
                        @*<input type="hidden" id="SaleOrderId_@i" value="" />*@
                        @* <td><a href="" onclick="OpenCustomerInvoice('@Model[i].SaleOrderId');">Select</a></td>*@
                    </tr>
                }
            </tbody>
        }
        else
        {
            <tr class="grid_heading">
                <th>Sale Order No. &amp; Date</th>
                <th>Delivery Challan No. &amp; Date</th>
                <th>Job Card No. &amp; Date</th>
                @if (Request.QueryString["invType"] == "Final")
                {
                    <th>Reg. No. & Chassis No.</th>
                }
                <th>Quantity</th>
                <th>Rate</th>
                <th>Amount</th>
                <th></th>
            </tr>
            <tr>
                <td colspan="8">
                    <center>
                        <em>No items to show!</em>
                    </center>
                </td>
            </tr>
        }
    </table>
</div>
