@model IList<ArabErp.Domain.SalesInvoiceItem>
@using GridMvc.Html

<style type="text/css">
    .tableData {
        font-size: 12px;
        padding-left: 4px;
    }

    .list {
        display: block;
        height: 320px;
        overflow-y: scroll;
    }

        .list tr:hover {
            background-color: #DFEDF7;
        }

    .wrap {
        width: 100%;
    }

        .wrap table {
            width: 100%;
            table-layout: fixed;
        }

    table tr td {
        padding: 5px;
        border: 1px solid #eee;
        word-wrap: break-word;
    }

    table.head tr td {
        background: #eee;
    }

    .inner_table {
        height: 50%;
        overflow-y: auto;
    }
</style>
<script>

    $(document).ready(function () {
        $("#checkAll").change(function () {
            $("input:checkbox").prop('checked', $(this).prop("checked"));
            if ($("#checkAll").is(':checked')) {
                var count = parseInt('@Model.Count');
                document.getElementById('HiddenForCheckBox').value = parseInt(count);

                document.getElementById("BtnSubmit").disabled = false;

            }
            else {
                document.getElementById('HiddenForCheckBox').value = parseInt(0);
                document.getElementById("BtnSubmit").disabled = true;

            }
        });
    });

    function Checked(s) {

        if ($(s).is(':checked')) {
            document.getElementById('HiddenForCheckBox').value = parseInt(document.getElementById('HiddenForCheckBox').value) + 1;
            // something when checked

            var Allcount = parseInt('@Model.Count');
            var HiddenCount = parseInt(document.getElementById('HiddenForCheckBox').value);


            //alert(Allcount+HiddenCount);
            if (Allcount == HiddenCount) {

                $('#checkAll').attr('checked', true);
                $('#checkAll').prop('checked', true);
            }

        }
        else {
            // something else when not
            document.getElementById('HiddenForCheckBox').value = parseInt(document.getElementById('HiddenForCheckBox').value) - 1;

            $('#checkAll').attr('checked', false);
        }
        //if (document.getElementById('HiddenForCheckBox').value = 0) {
        //    document.getElementById("BtnSubmit").disabled = true;

        //    alert(document.getElementById('HiddenForCheckBox').value);
        //}
        //    else
        if (document.getElementById('HiddenForCheckBox').value > 0) {
            document.getElementById("BtnSubmit").disabled = false;

        }
        else if (document.getElementById('HiddenForCheckBox').value <= 0) {
            document.getElementById("BtnSubmit").disabled = true;

        }
    }

</script>

@using (Html.BeginForm("Create", null, FormMethod.Post, new { @class = "createFrom", @id = "Item_form" }))
{

}

@* ============================================================================================= *@
<div class="container">
    <div class="row">


       
            <div class="main-list wid">
                <div class="main-grid">
                    <div>
                        <div class="table-responsive scroll3">
                            <h5>Sales Invoice Details</h5>
                            <table id="PendingCustomerInvoiceTable" class="table table-bordered">

                                @if (Model.Count > 0)
                            {
                            <tr class="grid_heading">
                                <th width="20%">Work Description</th>
                                <th width="20%">Job Card No.</th>
                                <th width="15%">Vehicle Model</th>
                                <th width="5%">Quantity</th>

                                <th width="5%">Rate</th>
                                <th width="5%">Amount</th>
                                <th width="10%"><input id="checkAll" type="checkbox" value="Select All" /><label for="checkAll">Select All</label></th>
                            </tr>
                                for (int i = 0; i < Model.Count(); i++)
                                {
                            <tr>
                                <td>@Html.TextBoxFor(m => Model[i].WorkDescription, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })</td>
                                <td>@Html.TextBoxFor(m => Model[i].JobCardNo, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })</td>
                                <td>@Html.TextBoxFor(m => Model[i].VehicleModelName, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })</td>
                                <td>@Html.TextBoxFor(m => Model[i].Quantity, new { @class = "form_input clAmount", @style = "text-align:right", autocomplete = "off", @readonly = "readonly" })</td>
                                <td>@Html.TextBoxFor(m => Model[i].Rate, new { @class = "form_input clAmount", @style = "text-align:right", autocomplete = "off", @readonly = "readonly" })</td>
                                <td>@Html.TextBoxFor(m => Model[i].Amount, new { @class = "form_input clAmount", @style = "text-align:right", autocomplete = "off", @readonly = "readonly" })</td>
                                <td><center>@Html.CheckBoxFor(model => Model[i].SelectStatus, new { @class = "check_box", @onclick = "Checked(this)" })</center></td>
                                @Html.HiddenFor(model => Model[i].SaleOrderId)
                                @Html.HiddenFor(model => Model[i].SaleOrderItemId)

                                @* <td><a href="" onclick="OpenCustomerInvoice('@Model[i].SaleOrderId');">Select</a></td>*@
                            </tr>
                                }
                            }
                            else
                            {
                            <tr class="grid_heading">
                                <th>Work Description</th>
                                <th>Job Card No.</th>
                                <th>Vehicle Model</th>
                                <th>Quantity</th>

                                <th>Rate</th>
                                <th>Amount</th>
                                <th><label for="checkAll">Select All</label></th>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            }


                            </table>
                            <div class="margf">
                                @*<button type="submit" class="form-button">Exit</button>*@


                                <button type="submit" class="form-button" id="BtnSubmit" disabled>Proceed</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
    </div>
    </div>

    @* =============================================================================================== *@


