@model IList<ArabErp.Domain.SalesInvoiceItem>
@using GridMvc.Html

<style type="text/css">
    .tableData {
        font-size: 12px;
        padding-left: 4px;
    }

    .list {
        display: block;
        height: 320px;
        overflow-y: scroll;
    }

        .list tr:hover {
            background-color: #DFEDF7;
        }
        
    .wrap {
        width: 100%;
    }

        .wrap table {
            width: 100%;
            table-layout: fixed;
        }

    table tr td {
        padding: 5px;
        border: 1px solid #eee;
        
        word-wrap: break-word;
    }

    table.head tr td {
        background: #eee;
    }

    .inner_table {
        height: 50%;
        overflow-y: auto;
    }
</style>
   @using (Html.BeginForm("Create", null, FormMethod.Post, new { @class = "createFrom", @id = "Item_form" }))
                {
<div class="table-responsive">

    <div class="wrap">
        <table>
            <tr>
                <th>Vehicle Model</th>
                <th>Quantity</th>

                <th>Rate</th>
                <th>Amount</th>

            </tr>
        </table>
        <div class="inner_table">
            <table id="PendingCustomerInvoiceTable">


                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td>@Model[i].VehicleModelName</td>
                        <td>@Model[i].Quantity</td>
                        <td>@Model[i].Rate</td>
                        <td>@Model[i].Amount</td>
                        <td>@Html.CheckBoxFor(model => Model[i].SelectStatus)</td>
                        @Html.HiddenFor(model => Model[i].SaleOrderId)
                        @Html.HiddenFor(model => Model[i].SaleOrderItemId)

                     
                       @* <td><a href="" onclick="OpenCustomerInvoice('@Model[i].SaleOrderId');">Select</a></td>*@
                    </tr>
                }

            </table>
            <div class="col-md-12">
                        <div class="left">
                            <button class="form-button">Previous</button>
                        </div>
                        <div class="margf">
                            <button type="submit" class="form-button">Exit</button>


                            <button type="submit" class="form-button">Proceed</button>
                        </div>

        </div>
    </div>

</div>
    </div>
                }


