@model  ArabErp.Domain.SalesInvoice
@using GridMvc.Html
@{
    ViewBag.Title = "Pending Job Cards for Sales Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string invType = Request.QueryString["invtype"].ToString();
}

<script>
    $(document).ready(function () {

        $("#cboSaleOrder").combobox();

        $("#data tr").click(function () {
            $(this).toggleClass("highlight");
        });

    });

    $("#data tr").click(function () {
        $(this).toggleClass("highlight");
    });

    function OpenCustomerInvoice(key, Customer, SaleOrderRefNoWithDate) {
        var invType = $("#invType").val();
        var Url = '@Url.Action("PendingSalesInvoiceDt")';
        $("#SalesInvoiceListDiv").load(Url, { SalesOrderId: $(key).val() == '' ? 0 : $(key).val(), Customer: Customer, SaleOrderRefNoWithDate: SaleOrderRefNoWithDate, invType: invType });
    }

    function PreviousList() {
        var url = '@Url.Action("Index", new { type = invType })';
        window.location = url;
    }

    @*function FillItemSubGroup() {

        var Code = $('#ItemGroupId').val();
        //  alert(Code);
        var Url = '@Url.Action("ItemSubGroup")';
        if (Code == '') {
            $("#DivItemSubGroup").load(Url, { Code: 0 });
        }
        else {
            $("#DivItemSubGroup").load(Url, { Code: Code });
        }
    }*@

    function formValidation() {
        var i = 0;
        var status = true;
        $('.check_box').each(function (index, object) {
            if ($(object).hasClass("CheckBoxClass") && $(object).is(":checked")) {
                if (i == 0) {
                    i = $(object).next().next().val();
                }
                else {
                    if (i != $(object).next().next().val()) {
                        toastr.info("Invoice can be created for Delivery Challans of same Sale Order");
                        status = false;
                    }
                }
            }
        })
        return status;
    }

    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }

    function Filter() {
        $("#SalesInvoiceListDiv").addClass("fade");
        var DeliveryNo = $("#txtDeliveryNo").val().trim();
        var InstallType = $("#cboType").val();
        var CustomerName = $("#txtCustomer").val().trim();
        var SalesOrderId = 0;
        var RegNo = $("#txtRegNo").val().trim();
        var invType = $("#invType").val();
        var url = '@Url.Action("PendingSalesInvoiceDt")';
        url += "?SalesOrderId=" + SalesOrderId + "&invType=" + invType + "&DeliveryNo=" + encodeURIComponent(DeliveryNo) + "&CustomerName=" + encodeURIComponent(CustomerName) + "&RegNo=" + encodeURIComponent(RegNo) + "&InstallType=" + encodeURIComponent(InstallType);
        $("#SalesInvoiceListDiv").load(url, function () {
        $("#SalesInvoiceListDiv").removeClass("fade");
        });
       
    }
</script>
<style>
    /*td:nth-child(1), th:nth-child(1) { min-width: 400px; }
    td:nth-child(2), th:nth-child(2) { min-width:400px; }
    td:nth-child(3), th:nth-child(3) { min-width: 280px; }*/
</style>


<div class="row">
    <input type="hidden" id="invType" value="@invType" />
    <div class="form-head1">
        <h4>Pending Job Cards for Sales Invoice</h4>
    </div>
    @using (Html.BeginForm("Create", null, FormMethod.Post, new { @class = "createFrom", @id = "Item_form", @onsubmit = "return formValidation()" }))
    {
        <div class="main-part pad1">
            <div class="row">
                <div class="part">
                    <div class="col-md-2">
                        <label for="txtDeliveryNo">Delivery No.</label>
                        <input type="text" class="form_input" id="txtDeliveryNo" onkeyup="Filter()" onchange="Filter()" placeholder="Search for Delivery No." />
                    </div>
                    <div class="col-md-2">
                        <label for="txtRegNo">Reg. No./Chassis No.</label>
                        <input type="text" class="form_input" id="txtRegNo" onkeyup="Filter()" onchange="Filter()" placeholder="Search for Reg. No./Chassis No." />
                    </div>
                   
                    <div class="col-md-2">
                        <label for="txtCustomer">Customer</label>
                        <input type="text" class="form_input" id="txtCustomer" onkeyup="Filter()" onchange="Filter()" placeholder="Search for Customer" />
                    </div>
                    <div class="col-md-3">
                        <label for="txtCustomer">Service/New Installation</label>
                        <select id="cboType" class="form_input" onchange="Filter()">
                            <option value="all" selected>All</option>
                            <option value="service">Service</option>
                            <option value="new">New Installation</option>
                        </select>
                    </div>
                    @*<div class="col-md-3">
                        <label for="cboType">New Installation/Service</label>
                        @Html.DropDownList("cboType", (SelectList)ViewBag.Type, "Any", new { @class = "form_input", @onchange = "Filter()" })
                    </div>*@

                </div>
            </div>
            <br />

            @*<div class="row form-group">
                    <div class="col-md-3">
                        <label for="cboSaleOrder">Sale Order</label>
                        @Html.HiddenFor(m => Model.SaleOrderId)
                        @Html.DropDownList("cboSaleOrder", (SelectList)ViewBag.saleOrderList, "Select Sale Order", new { @class = "form_input", @onchange = "OpenCustomerInvoice(this, '', '')", @placeholder = "Search for Sale Order" })
                    </div>
                </div>*@
            @*<div class="main-list wid" style="margin-bottom:10px" id="PendingCustomerInvoiceDiv">
                    <div class="main-grid">
                        <div>
                            <div class="table-responsive">
                                <h5>Invoice List</h5>
                                <table id="PendingCustomerInvoiceTable" class="table table-bordered">
                                    <thead style="position:relative;display:block">
                                        <tr class="grid_heading">
                                            <th style="min-width: 400px"><h1>Customer</h1></th>
                                            <th style="min-width:400px"><h1>Sale Order Number</h1></th>
                                            <th style="min-width:231px"><h1>Select</h1></th>
                                        </tr>
                                    </thead>
                                    <tbody style="display:  block;overflow:scroll;height:100px">
                                        @for (int i = 0; i < Model.Count(); i++)
                                        {
                                            <tr>
                                                <td style="min-width: 400px">@Html.TextBoxFor(m => Model[i].Customer, new { @class = "form_input ", autocomplete = "off", @readonly = "readonly" })</td>
                                                <td style="min-width: 400px">@Html.TextBoxFor(m => Model[i].SaleOrderRefNoWithDate, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })</td>
                                                <td style="min-width:231px"><div class="form-button3 mleft"><center><a onclick="OpenCustomerInvoice('@Model[i].SaleOrderId','@Model[i].Customer','@Model[i].SaleOrderRefNoWithDate');">View</a></center></div></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>*@

            <div class="" id="SalesInvoiceListDiv">
                @Html.Action("PendingSalesInvoiceDt")
            </div>
            <div class="row">
                <div class="col-md-12 hrpart">
                    <input type="button" class="form-button left" value="Previous" onclick="PreviousList()" />
                    <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
                    <button type="submit" class="form-button right" id="BtnSubmit" disabled>Proceed</button>
                </div>
            </div>
        </div>
    }
</div>

