@model IList<ArabErp.Domain.SalesInvoice>
@using GridMvc.Html
@{
    ViewBag.Title = "PendingSalesInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    .tableData {
        font-size: 12px;
        padding-left: 4px;
    }

    .list {
        display: block;
        height: 320px;
        overflow-y: scroll;
    }

        .list tr:hover {
            background-color: #DFEDF7;
        }

    .wrap {
        width: 100%;
    }

        .wrap table {
            width: 100%;
            table-layout: fixed;
        }

    table tr td {
        padding: 5px;
        border: 1px solid #eee;
        word-wrap: break-word;
    }

    table.head tr td {
        background: #eee;
    }

    .inner_table {
        height: 50%;
        overflow-y: auto;
    }

    td.focus {
        background-color: Blue;
    }

    .highlight {
        background-color: red;
    }
</style>
<script>
    $(document).ready(function () {
        $("#data tr").click(function () {
            $(this).toggleClass("highlight");
        });
    });
    $("#data tr").click(function () {
        $(this).toggleClass("highlight");
    });
    function OpenCustomerInvoice(key) {
        var Url = '@Url.Action("PendingSalesInvoiceDt")';
        $("#SalesInvoiceListDiv").load(Url, { SalesOrderId: key });

    }




    @*function FillItemSubGroup() {

        var Code = $('#ItemGroupId').val();
        //  alert(Code);
        var Url = '@Url.Action("ItemSubGroup")';
        if (Code == '') {
            $("#DivItemSubGroup").load(Url, { Code: 0 });
        }
        else {
            $("#DivItemSubGroup").load(Url, { Code: Code });
        }
    }*@

</script>

<div class="container">

    <div class="row">

        <div class="form-head1">
            <h4>Pending Sales Invoice</h4>
        </div>
        <div class="main-part pad1" >
            <div class="main-list wid" style="margin-bottom:10px">
                <div class="main-grid">              
                    <div>
                        <div class="table-responsive scroll2">                         
                            <h5>Invoice List</h5>
                                <table id="PendingCustomerInvoiceTable" class="table table-bordered">
                                   <tr class="grid_heading">
                                        <th width="20%">Customer</th>
                                        <th width="20%">Sale Order Number</th>
                                        <th width="15%"><center>Select</center></th>
                                    </tr>
                                    @for (int i = 0; i < Model.Count(); i++)
                                    {
                                        <tr>
                                            <td>@Html.TextBoxFor(m => Model[i].Customer, new { @class = "form_input ", autocomplete = "off", @readonly = "readonly" })</td>
                                            <td>@Html.TextBoxFor(m => Model[i].SaleOrderRefNoWithDate, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })</td>
                                            <td><center><div class="form-button3 mleft"><a onclick="OpenCustomerInvoice('@Model[i].SaleOrderId');">View</a></div></center></td>
                                        </tr>
                                    }
                       

                            </table>







                        </div>

                    </div>




                </div>



            </div>
            <div id="SalesInvoiceListDiv">

                @Html.Action("PendingSalesInvoiceDt", new { SalesOrderId = 0 })


            </div>  
        </div>


       
    </div>
</div>


