@model IList<ArabErp.Domain.SalesInvoice>
@using GridMvc.Html
@{
    ViewBag.Title = "PendingSalesInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">
    .tableData {
        font-size: 12px;
        padding-left: 4px;
    }

    .list {
        display: block;
        height: 320px;
        overflow-y: scroll;
    }

        .list tr:hover {
            background-color: #DFEDF7;
        }

    .wrap {
        width: 100%;
    }

        .wrap table {
            width: 100%;
            table-layout: fixed;
        }

    table tr td {
        padding: 5px;
        border: 1px solid #eee;
        word-wrap: break-word;
    }

    table.head tr td {
        background: #eee;
    }

    .inner_table {
        height: 50%;
        overflow-y: auto;
    }

    td.focus {
        background-color: Blue;
    }
</style>
<script>
    function OpenCustomerInvoice(key) {
        alert("Called");
        var Url = '@Url.Action("PendingSalesInvoiceDt")';
        $("#SalesInvoiceListDiv").load(Url, { SalesOrderId: key });
    }


    @*function FillItemSubGroup() {

        var Code = $('#ItemGroupId').val();
        //  alert(Code);
        var Url = '@Url.Action("ItemSubGroup")';
        if (Code == '') {
            $("#DivItemSubGroup").load(Url, { Code: 0 });
        }
        else {
            $("#DivItemSubGroup").load(Url, { Code: Code });
        }
    }*@

</script>

<div class="container">

    <div class="row">

        <div class="form-head1">
            <h4>Pending Sales Invoice</h4>
        </div>
        <div class="main-part pad1">
            @*<form>*@
                <div class="wrap">
                    <div class="table-responsive">
                        <div class="wrap">
                            <table>
                                <tr>
                                    <th>Customer</th>
                                    <th>Sale Order Number</th>

                                    <th>Select</th>

                                </tr>
                            </table>
                            <div class="inner_table">
                                <table id="PendingCustomerInvoiceTable">
                                    @for (int i = 0; i < Model.Count(); i++)
                                    {
                                        <tr id="@i">

                                            <td>@Model[i].Customer</td>
                                            <td>@Model[i].SaleOrderRefNoWithDate</td>
                                            <td><a onclick="OpenCustomerInvoice('@Model[i].SaleOrderId');">Select</a></td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="SalesInvoiceListDiv">

                    @Html.Action("PendingSalesInvoiceDt", new { SalesOrderId = 0 })


                </div>

                <div class="row">
                    
                    </div>


                </div>
            @*</form>*@
        </div>
    </div>
</div>


