<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Arab Application</title>
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/MVCGridHandler.axd/script.js"></script>
    @*<script src="~/scripts/mdb.js"></script>
    <script src="~/scripts/mdb.min.js"></script>*@

    <link href="~/Content/toastr/build/toastr.min.css" rel="stylesheet" />
    <script src="~/Content/toastr/build/toastr.min.js"></script>

    <link href="~/Content/menu.css" rel="stylesheet" />
    @*<link href="~/scripts/mdb.css" rel="stylesheet" />
    <link href="~/scripts/mdb.min.css" rel="stylesheet" />*@
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo">
                    <img src="~/Images/logo.png" height="68" />
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-md-offset-9 collapse navbar-collapse" id="navbar">
                        <ul class="nav navbar-nav">


                            <li>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="glyphicon glyphicon-bell"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"><span class="badge pull-right">40</span>Link</a></li>
                                    <li><a href="#"><span class="badge pull-right">2</span>Link</a></li>
                                    <li><a href="#"><span class="badge pull-right">0</span>Link</a></li>
                                    <li><a href="#"><span class="label label-info pull-right">1</span>Link</a></li>
                                    <li><a href="#"><span class="badge pull-right">13</span>Link</a></li>
                                </ul>
                            </li>
                            <li>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="glyphicon glyphicon-th-large"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Create","SaleOrder")"><span class="badge pull-right"></span>Sale Order</a></li>
                                    <li><a href="@Url.Action("PendingSaleOrderApproval", "SaleOrder")"><span class="badge pull-right"></span>Sale Order Approval</a></li>
                                    <li><a href="@Url.Action("PendingSaleOrderHold", "SaleOrder")"><span class="badge pull-right"></span>Sale Order Hold</a></li>
                                    <li><a href="@Url.Action("PendingSaleOrderRelease", "SaleOrder")"><span class="badge pull-right"></span>Sale Order Release</a></li>
                                    <li><a href="@Url.Action("WorkShopRequestPending","WorkShopRequest")"><span class="badge pull-right"></span>WorkShop Request</a></li>
                                    <li><a href="@Url.Action("PendingPurchaseRequest","PurchaseRequest")"><span class="badge pull-right"></span>Purchase Request</a></li>
                                    <li><a href="@Url.Action("PendingSupplyOrder","SupplyOrder")"><span class="badge pull-right"></span>Supply Order</a></li>
                                    <li><a href="@Url.Action("PendingGrnWareHouse","GrnWareHouse")"><span class="badge pull-right"></span>GRN</a></li>
                                    <li><a href="@Url.Action("PurchaseBillPendingList", "PurchaseBill")"><span class="badge pull-right"></span>Purchase Bill</a></li>
                                    <li><a href="@Url.Action("Index","VehicleInPass")"><span class="badge pull-right"></span>Vehicle Inpass</a></li>
                                    <li><a href="@Url.Action("PendingJobCard","JobCard")"><span class="badge pull-right"></span>Job Card</a></li>
                                    <li><a href="@Url.Action("PendingJobCardQC", "JobCardQC")"><span class="badge pull-right"></span>Quality Control</a></li>
                                    <li><a href="@Url.Action("Pending","StoresIssue")"><span class="badge pull-right"></span>Stores Issue</a></li>
                                    <li><a href="@Url.Action("PendingJobOrderCompletion","JobOrderCompletion")"><span class="badge pull-right"></span>Job Order Completion</a></li>
                                    <li><a href="@Url.Action("Index","VehicleOutPass")"><span class="badge pull-right"></span>Vehicle Outpass</a></li>
                                    <li><a href="@Url.Action("PendingSalesInvoice", "SalesInvoice")"><span class="badge pull-right"></span>Sales Invoice</a></li>
                                    <li><a href="@Url.Action("Create","AdditionalWorkShopRequest")"><span class="badge pull-right"></span>Additional WorkShop Request</a></li>
                                    <li><a href="@Url.Action("Create","StockReturn")"><span class="badge pull-right"></span>Stock Return</a></li>
                                    <li><a href="@Url.Action("CreateStockJournel","StockJournel")"><span class="badge pull-right"></span>Stock Journal</a></li>
                                    <li><a href="@Url.Action("CreateWorkShopGRN", "WorkShopGRN")"><span class="badge pull-right"></span>WorkShop GRN</a></li>
                                    <li><a href="@Url.Action("Index","SaleOrderStatus")"><span class="badge pull-right"></span>Sale Order Status</a></li>
                                    <li><a href="@Url.Action("Index","BayStatus")"><span class="badge pull-right"></span>Bay Allocation Report</a></li>
                                </ul>
                            </li>

                            <li>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="glyphicon glyphicon-th-list"></i></a>
                                <ul class="dropdown-menu">

                                    <li><a href="@Url.Action("Index","Item")"><span class="badge pull-right"></span>Item</a></li>
                                    <li><a href="@Url.Action("Create", "Employee")"><span class="badge pull-right"></span>Employee</a></li>
                                    <li><a href="@Url.Action("Create","Supplier")"><span class="badge pull-right"></span>Supplier</a></li>
                                    <li><a href="@Url.Action("Create","Customer")"><span class="badge pull-right"></span>Customer</a></li>
                                    <li><a href="@Url.Action("Create","Currency")"><span class="badge pull-right"></span>Currency</a></li>
                                    <li><a href="@Url.Action("Create","Unit")"><span class="badge pull-right"></span>Unit</a></li>
                                    <li><a href="@Url.Action("Create","ItemCategory")"><span class="badge pull-right"></span>Item Category</a></li>
                                    <li><a href="@Url.Action("Create","ItemGroup")"><span class="badge pull-right"></span>Item Group</a></li>
                                    <li><a href="@Url.Action("Create","ItemSubGroup")"><span class="badge pull-right"></span>Item SubGroup</a></li>
                                    <li><a href="@Url.Action("Create","CustomerCategory")"><span class="badge pull-right"></span>Customer Category</a></li>
                                    <li><a href="@Url.Action("Create","SupplierCategory")"><span class="badge pull-right"></span>Supplier Category</a></li>
                                    <li><a href="@Url.Action("Create","EmployeeCategory")"><span class="badge pull-right"></span>Employee Category</a></li>
                                    <li><a href="@Url.Action("CreateWorkDescription","WorkDescription")"><span class="badge pull-right"></span>Work Description</a></li>
                                    <li><a href="@Url.Action("Create","StockPoint")"><span class="badge pull-right"></span>StockPoint</a></li>
                                    <li><a href="@Url.Action("Create","VehicleModel")"><span class="badge pull-right"></span>Vehicle Model</a></li>
                                    <li><a href="@Url.Action("Create","Task")"><span class="badge pull-right"></span>Task</a></li>
                                    <li><a href="@Url.Action("Create","Designation")"><span class="badge pull-right"></span>Designation</a></li>
                                    <li><a href="@Url.Action("Create", "CommissionAgent")"><span class="badge pull-right"></span>Commission Agent</a></li>
                                    <li><a href="@Url.Action("Create", "OpeningStock")"><span class="badge pull-right"></span>Opening Stock</a></li>
                                    <li><a href="@Url.Action("Create", "AdditionOrDeduction")"><span class="badge pull-right"></span>Addition/Deduction</a></li>
                                </ul>
                            </li>


                            <li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>








    @*<!-- Sidebar navigation -->
    <ul id="slide-out" class="side-nav fixed default-side-nav stylish-side-nav">



        <!-- Side navigation links -->
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header waves-effect">Click me</a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a href="#" class="waves-effect">Link</a>
                        </li>
                        <li>
                            <a href="#" class="waves-effect">Link</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="collapsible-header waves-effect">Click me</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="@Url.Action("Create","StockPoint")"><span class="badge pull-right"></span>StockPoint</a></li>
                        <li><a href="@Url.Action("Create","VehicleModel")"><span class="badge pull-right"></span>Vehicle Model</a></li>
                        <li><a href="@Url.Action("Create","Task")"><span class="badge pull-right"></span>Task</a></li>
                        <li><a href="@Url.Action("Create","Designation")"><span class="badge pull-right"></span>Designation</a></li>
                        <li><a href="@Url.Action("Create", "CommissionAgent")"><span class="badge pull-right"></span>Commission Agent</a></li>

                    </ul>
                </div>
            </li>
            <li>
                <a class="collapsible-header waves-effect">Click me</a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <a href="#" class="waves-effect">Link</a>
                        </li>
                        <li>
                            <a href="#" class="waves-effect">Link</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <!--/. Side navigation links -->

    </ul>
    <!--/. Sidebar navigation -->*@









    <div class="container-fluid body-content">
      
        @RenderBody()
     
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
