@{
    var permissions = (ArabErp.Domain.ModulePermission)ViewBag.ModulePermissions;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Arab Application</title>
    @*@RenderSection("scripts", required: false)*@
    @*@Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/bundles/toasterStyle")
    @Scripts.Render("~/bundles/toasterScript")
    @Scripts.Render("~/bundles/menu")*@

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.8.3.js"></script>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/bootstrapValidator.min.css" rel="stylesheet" />
    <link href="~/Content/menu.css" rel="stylesheet" />

    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <link href="~/Content/toastr/build/toastr.min.css" rel="stylesheet" />

    <script src="~/Content/toastr/build/toastr.min.js"></script>

    <script src="~/Scripts/script.js"></script>

    <script src="~/MVCGridHandler.axd/script.js"></script>

    @*<script src="~/scripts/mdb.js"></script>
        <script src="~/scripts/mdb.min.js"></script>*@

    @*<link href="~/Content/toastr/build/toastr.min.css" rel="stylesheet" />
    <script src="~/Content/toastr/build/toastr.min.js"></script>*@
    @*<script src="~/Content/jquery-1.12.4.min.js"></script>*@

    @*<link href="~/Content/menu.css" rel="stylesheet" />*@
    @*<link href="~/scripts/mdb.css" rel="stylesheet" />
        <link href="~/scripts/mdb.min.css" rel="stylesheet" />*@
    <script>
        $(document).ready(function () {
            showQuickView();
            //---------------------toastr---------------------------//
            @*toastr.options = {
                "positionClass": "toast-bottom-full-width",
                "timeOut": "5000",
                "extendedTimeOut": "2000"
            }
            if ('@TempData["success"]' != '') {
                toastr.success('@TempData["success"]');
            }
            else if ('@TempData["error"]' != '') {
                toastr.error('@TempData["error"]'.split('|')[0]);
                console.log('@TempData["error"]'.split('|')[1]);
            }
            @{ TempData["success"] = TempData["error"] = ""; }*@
            //------------------------------------------------------//
        });
        window.setInterval("showQuickView();", 20000);
        function showQuickView() {
            var url = '@Url.Action("LoadQuickView", "Home")';
            $("#QuickLink").load(url);
        }
        function Logout() {
            var cfm = confirm("Are you sure to logout?");
            if (!cfm) {
                return false;
            }
            else {
                var url = '@Url.Action("LogOff", "Account")';
                location.href = url;
            }
        }
        function GoToHome() {
            var url = '@Url.Action("Index", "Home")';
            location.href = url;
        }
    </script>
</head>
@{
    var username = "";
    try
    {
        username = ((HttpCookie)HttpContext.Current.Session["user"])["UserName"];
    }
    catch { }   
}
<body>
    <div class="pushmenu-push"></div>

    <nav class="pushmenu pushmenu-left" >
        <h3>Logo</h3>
        <ul class="links">

            @if (permissions.Admin)
            {
                <li>
                    <a data-toggle="dropdown" class="dropdown-toggle menu" href="#">@*<i class="glyphicon glyphicon-th-list"></i>*@ Admin</a>
                    <ul class="dropdown-menu">

                        <li class="dropdown-submenu">
                            <a href="#"><span class="badge pull-right"></span>Item</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Create","ItemCategory")"><span class="badge pull-right"></span>Item Category</a></li>
                                <li><a href="@Url.Action("Create","ItemGroup")"><span class="badge pull-right"></span>Item Group</a></li>
                                <li><a href="@Url.Action("Create","ItemSubGroup")"><span class="badge pull-right"></span>Item SubGroup</a></li>
                                <li><a href="@Url.Action("Index","Item")"><span class="badge pull-right"></span>Item</a></li>
                                <li><a href="@Url.Action("Create", "Unit")"><span class="badge pull-right"></span>UOM</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#"><span class="badge pull-right"></span>Employee</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Create","Designation")"><span class="badge pull-right"></span>Designation</a></li>
                                <li><a href="@Url.Action("Create","EmployeeCategory")"><span class="badge pull-right"></span>Employee Category</a></li>
                                <li><a href="@Url.Action("Create", "Employee")"><span class="badge pull-right"></span>Employee</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#"><span class="badge pull-right"></span>Supplier</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Create","SupplierCategory")"><span class="badge pull-right"></span>Supplier Category</a></li>
                                <li><a href="@Url.Action("Index", "Supplier")"><span class="badge pull-right"></span>Supplier</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#"><span class="badge pull-right"></span>Customer</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Create","CustomerCategory")"><span class="badge pull-right"></span>Customer Category</a></li>
                                <li><a href="@Url.Action("Index", "Customer")"><span class="badge pull-right"></span>Customer</a></li>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("Create", "Organization")"><span class="badge pull-right"></span>Organization</a></li>
                        <li><a href="@Url.Action("Create","Currency")"><span class="badge pull-right"></span>Currency</a></li>
                        <li><a href="@Url.Action("Index","WorkDescription")"><span class="badge pull-right"></span>Transport Work Description</a></li>
                        <li><a href="@Url.Action("Index","RateSettings")"><span class="badge pull-right"></span>Rate Settings</a></li>
                        <li><a href="@Url.Action("CreateProjectWorkDescription","WorkDescription")"><span class="badge pull-right"></span>Project Work Description</a></li>
                        <li><a href="@Url.Action("Create","VehicleModel")"><span class="badge pull-right"></span>Vehicle Model</a></li>
                        <li><a href="@Url.Action("Create","Task")"><span class="badge pull-right"></span>Task</a></li>
                        <li><a href="@Url.Action("Create", "CommissionAgent")"><span class="badge pull-right"></span>Commission Agent</a></li>
                        <li><a href="@Url.Action("Create", "OpeningStock")"><span class="badge pull-right"></span>Opening Stock</a></li>
                        <li><a href="@Url.Action("Create","StockPoint")"><span class="badge pull-right"></span>StockPoint</a></li>
                        <li><a href="@Url.Action("Create", "AdditionOrDeduction")"><span class="badge pull-right"></span>Addition/Deduction</a></li>
                        <li><a href="@Url.Action("Create", "Box")"><span class="badge pull-right"></span>Box</a></li>
                        <li><a href="@Url.Action("Create", "Bay")"><span class="badge pull-right"></span>Bay</a></li>
                        <li><a href="@Url.Action("Create", "FreezerUnit")"><span class="badge pull-right"></span>Transport Refrigeration Unit</a></li>
                        <li><a href="@Url.Action("Create", "PaymentTerms")"><span class="badge pull-right"></span>Payment Terms</a></li>
                        <li><a href="@Url.Action("Create", "SupplierItemRate")"><span class="badge pull-right"></span>Supplier Wise Item Rate Settings</a></li>
                        <li><a class="projectn lh" href="@Url.Action("Create", "CustomerVsWorkRate")"><span class="badge pull-right"></span>Customer Wise Work <br />-Rate Settings</a></li>
                        <li class="dropdown-submenu">
                            <a href="#"><span class="badge pull-right"></span>User Settings</a>
                            <ul class="dropdown-menu user-setting">
                                <li><a href="@Url.Action("Register", "Account")"><span class="badge pull-right"></span>User Settings</a></li>
                                <li><a href="@Url.Action("Create", "QuotationApproval")"><span class="badge pull-right"></span>Quotation Approval V/s User</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            }
            @if (permissions.Purchase)
            {
                <li>
                    <a data-toggle="dropdown" class="dropdown-toggle menu" href="#">@*<i class="glyphicon glyphicon-th-list"></i>*@ Purchase</a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("PendingPurchaseRequest","PurchaseRequest")"><span class="badge pull-right"></span>Purchase Request</a></li>
                        <li><a href="@Url.Action("PendingSupplyOrder","SupplyOrder")"><span class="badge pull-right"></span>Supply Order / LPO</a></li>
                        <li><a href="@Url.Action("PendingApproval", "SupplyOrder")"><span class="badge pull-right"></span>Supply Order / LPO Approval</a></li>
                        <li><a href="@Url.Action("CreateRequest","DirectPurchase")"><span class="badge pull-right"></span>Direct Purchase Request</a></li>
                        <li><a href="@Url.Action("Approval","DirectPurchase")"><span class="badge pull-right"></span>Direct Purchase Approval</a></li>
                        <li><a href="@Url.Action("PendingGrnWareHouse","GrnWareHouse")"><span class="badge pull-right"></span>GRN</a></li>
                        <li><a href="@Url.Action("PendingDirectPurchase","GrnWareHouse")"><span class="badge pull-right"></span>Direct Purchase GRN</a></li>
                        <li><a href="@Url.Action("Pending","ItemBatch")"><span class="badge pull-right"></span>Assign Serial No</a></li>
                        <li><a href="@Url.Action("PendingReservation","ItemBatch")"><span class="badge pull-right"></span>Allocate Serial No</a></li>
                        <li><a href="@Url.Action("ReservedList","ItemBatch")"><span class="badge pull-right"></span>Unreserve Serial No</a></li>
                        <li><a href="@Url.Action("MaterialList","ItemBatch")"><span class="badge pull-right"></span>Serial No List</a></li>
                        <li><a href="@Url.Action("Index", "PurchaseBill")"><span class="badge pull-right"></span>Purchase Bill</a></li>
                        <li><a href="@Url.Action("Create", "Expense")"><span class="badge pull-right"></span>Expense Bill</a></li>
                        <li><a href="@Url.Action("PendingApproval", "Expense")"><span class="badge pull-right"></span>Expense Bill Approval</a></li>
                        <li><a href="@Url.Action("Index", "CustomerReceipt")"><span class="badge pull-right"></span>Receipt Against Customer</a></li>
                    </ul>
                </li>
            }
            @if (permissions.Sales)
            {
                <li>
                    <a data-toggle="dropdown" class="dropdown-toggle menu" href="#">@*<i class="glyphicon glyphicon-th-list"></i>*@ Sales</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="#"><span class="badge pull-right"></span>Projects</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("CreateQuerySheet", "QuerySheet")"><span class="badge pull-right"></span>Project - Query Sheet</a></li>
                                <li><a href="@Url.Action("CreateProject", "SalesQuotation")"><span class="badge pull-right"></span>Project - Quotation Request</a></li>
                                <li><a class="projectn" href="@Url.Action("ListSalesQuotations", "SalesQuotation", new { ProjectBased = 1 })"><span class="badge pull-right"></span>Project - Quotation Request Approval</a></li>
                                <li><a href="@Url.Action("PendingSalesQutoforSaleOrder", "SaleOrder", new { ProjectBased = 1 })"><span class="badge pull-right"></span>Project - Sale Order</a></li>
                                <li><a href="@Url.Action("PendingSaleOrderApproval", "SaleOrder", new { ProjectBased = 1 })"><span class="badge pull-right"></span>Project - Sale Order Approval</a></li>
                                <li><a href="@Url.Action("PendingSaleOrderHold", "SaleOrder", new { isProjectBased = 1})"><span class="badge pull-right"></span>Project - Pending Sale Orders</a></li>
                                <li><a href="@Url.Action("PendingProforma", "ProformaInvoice", new { isProjectBased =1 })"><span class="badge pull-right"></span>Project - Proforma Invoice</a></li>
                                <li><a href="@Url.Action("PendingSalesInvoice", "SalesInvoice", new { invType = "Inter" })"><span class="badge pull-right"></span>Inter Invoice</a></li>
                                <li><a href="@Url.Action("Closing", "SaleOrder", new { isProjectBased = 1 })"><span class="badge pull-right"></span>Project - Sale Order Close</a></li>
                            </ul>
                            </li>
                            <li class="dropdown-submenu">
                            <a href="#"><span class="badge pull-right"></span>Transportation</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Create","SalesQuotation")"><span class="badge pull-right"></span>Quotation Request</a></li>
                                <li><a href="@Url.Action("ListSalesQuotations", "SalesQuotation", new { ProjectBased = 0 })"><span class="badge pull-right"></span>Quotation Request Approval</a></li>
                                <li><a href="@Url.Action("PendingSalesQutoforSaleOrder", "SaleOrder", new { ProjectBased = 0 })"><span class="badge pull-right"></span>Sale Order</a></li>
                                <li><a href="@Url.Action("PendingSaleOrderApproval", "SaleOrder", new { ProjectBased = 0 })"><span class="badge pull-right"></span>Sale Order Approval</a></li>
                                <li><a href="@Url.Action("PendingSaleOrderHold", "SaleOrder")"><span class="badge pull-right"></span>Pending Sale Orders</a></li>
                                <li><a href="@Url.Action("PendingProforma", "ProformaInvoice", new { ProjectBased = 0 })"><span class="badge pull-right"></span>Proforma Invoice</a></li>
                                <li><a href="@Url.Action("PendingSalesInvoice", "SalesInvoice", new { invType = "Final" })"><span class="badge pull-right"></span>Sales Invoice</a></li>
                                <li><a href="@Url.Action("Closing", "SaleOrder")"><span class="badge pull-right"></span>Sale Order Close</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            }
            @if (permissions.Project)
            {
                <li>
                    <a data-toggle="dropdown" class="dropdown-toggle menu" href="#">Projects</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="#"><span class="badge pull-right"></span>Job Card</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("PendingJobCard", "JobCard", new { isProjectBased = 1 })"><span class="badge pull-right"></span>Job Card</a></li>
                                <li><a href="@Url.Action("PendingJobcardTasks", "JobCardDailyActivity")"><span class="badge pull-right"></span>Daily Activity</a></li>
                                <li><a href="@Url.Action("PendingJobOrderCompletion", "JobOrderCompletion", new { isProjectBased = 1})"><span class="badge pull-right"></span>Job Order Completion</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            }
            @if (permissions.Transportation)
            {
                <li>
                    <a data-toggle="dropdown" class="dropdown-toggle menu" href="#">Transportation</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="#"><span class="badge pull-right"></span>Job Card</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index","VehicleInPass")"><span class="badge pull-right"></span>Vehicle Inpass</a></li>
                                <li><a href="@Url.Action("PendingJobCard","JobCard")"><span class="badge pull-right"></span>Job Card</a></li>
                                <li><a href="@Url.Action("PendingJobCardQC", "JobCardQC")"><span class="badge pull-right"></span>Quality Control</a></li>
                                <li><a href="@Url.Action("PendingJobOrderCompletion", "JobOrderCompletion", new { isProjectBased = 0})"><span class="badge pull-right"></span>Job Order Completion</a></li>
                                <li><a href="@Url.Action("Index","DeliveryChallan")"><span class="badge pull-right"></span>Delivery Challan</a></li>
                            </ul>
                        </li>

                        <li class="dropdown-submenu">
                            <a href="#"><span class="badge pull-right"></span>Workshop</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Pending","WorkShopRequest")"><span class="badge pull-right"></span>Workshop Request</a></li>
                                <li><a href="@Url.Action("Create","AdditionalWorkShopRequest")"><span class="badge pull-right"></span>Additional Workshop Request</a></li>
                                <li><a href="@Url.Action("Create","StockReturn")"><span class="badge pull-right"></span>Stock Return</a></li>
                                <li><a href="@Url.Action("Create", "StockJournal")"><span class="badge pull-right"></span>Stock Journal</a></li>
                                <li><a href="@Url.Action("Create","Consumption")"><span class="badge pull-right"></span>Consumption</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#"><span class="badge pull-right"></span>Stores</a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Pending","StoresIssue")"><span class="badge pull-right"></span>Stores Issue</a></li>
                                <li><a href="@Url.Action("Create","StockCreation")"><span class="badge pull-right"></span>Stock Creation</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            }
            @if (permissions.MISReports)
            {
                <li>
                    <a data-toggle="dropdown" class="dropdown-toggle menu" href="#">@*<i class="glyphicon glyphicon-tags"></i>*@MIS Reports</a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index","SaleOrderStatus")"><span class="badge pull-right"></span>Sale Order Status</a></li>
                        <li><a href="@Url.Action("Planning", "MaterialPlanning")"><span class="badge pull-right"></span>Material Planning Report</a></li>
                        <li><a href="@Url.Action("Index","BayStatus")"><span class="badge pull-right"></span>Bay Allocation Report</a></li>
                        <li><a href="@Url.Action("Index","StockReport")"><span class="badge pull-right"></span>Stock Report</a></li>
                        <li><a href="@Url.Action("Index","ProfitabilityReport")"><span class="badge pull-right"></span>Sale Order Profitability</a></li>
                        <li><a href="@Url.Action("Index","LoginHistory")"><span class="badge pull-right"></span>Login History</a></li>
                        <li><a href="@Url.Action("Index","WorkshopRequestRegister")"><span class="badge pull-right"></span>Workshop Request Register</a></li>
                        <li><a href="@Url.Action("Index","ClosingStock")"><span class="badge pull-right"></span>Closing Stock Report</a></li>
                        <li><a href="@Url.Action("Index","StoresLedger")"><span class="badge pull-right"></span>Stores Ledger</a></li>
                        <li><a href="@Url.Action("Index","PurchaseBillRegister")"><span class="badge pull-right"></span>Purchase Bill Register</a></li>
                        <li><a href="@Url.Action("Index", "TransactionHistory")"><span class="badge pull-right"></span>Transaction History</a></li>
                    </ul>
                </li>
            }
            @if (permissions.Finance)
            {
                <li>
                    <a data-toggle="dropdown" class="dropdown-toggle menu" href="#">@*<i class="glyphicon glyphicon-th-list"></i>*@ Finance</a>
                    <ul class="dropdown-menu">
                        @*<li><a class="projectn" href="@Url.Action("PendingSaleOrderApprovalWR", "SaleOrder")"><span class="badge pull-right"></span>SO - Approval For Workshop Request</a></li>
                        <li><a href="@Url.Action("PendingSaleOrderApprovalJC", "SaleOrder")"><span class="badge pull-right"></span>SO - Approval For Job Card</a></li>*@
                        <li><a href="@Url.Action("PendingSaleOrderApprovalDEL", "SaleOrder")"><span class="badge pull-right"></span>SO - Approval For Delivery</a></li>
                        <li><a href="@Url.Action("IncentiveAmountReport", "SaleOrder")"><span class="badge pull-right"></span>SO - Incentive Details</a></li>
                    </ul>
                </li>
            }
        </ul>
    </nav>
    <section class="buttonset">
        <div id="nav_list">MENU</div>
    </section>
    <div class="container-fluid" id="containerId">
        <div class="main">
                <div class="container-fluid body-content">
                    @RenderBody()
                </div>
                <div>
                    @Html.ValidationSummary()
                </div>
                @Scripts.Render("~/bundles/bootstrap")
                @RenderSection("scripts", required: false)
          

            <!-- End Main -->
        </div><!-- End Container -->
    </div>
            @*<script type="text/javascript" src="~/Content/script.js"></script>*@
            <script type="text/javascript">

                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-36251023-1']);
                _gaq.push(['_setDomainName', 'jqueryscript.net']);
                _gaq.push(['_trackPageview']);

                (function () {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();

            </script>
            <div class="navbar navbar-default navbar-fixed-top" id="NavBarDivId">
                <div class="container-fluid">

                    @*<div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>*@
                    <div class="logo">
                        <a href="@Url.Action("index","Home")"><img src="~/Images/logo.png" height="68" /></a>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-9 col-md-push-1 collapse navbar-collapse" id="navbar">
                            <div id="QuickLink" class="QuickLink">
                            </div>
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="glyphicon glyphicon-home" onclick="GoToHome()"></i></a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
                                <li><a href="#" title="click to see user information">@username</a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-off" onclick="Logout()" title="Logout"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
       

</body>
</html>
<script>
    $('input').on('input', onInput);

    var inputValue = '';

    function onInput(e) {
        if (e.currentTarget.value.length > 10) {
            e.currentTarget.value = titleValue;
            return;
        }

        inputValue = e.currentTarget.value;
    }
</script>