@{
    var permissions = (ArabErp.Domain.ModulePermission)ViewBag.ModulePermissions;
    
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Arab Application</title>
    @*@RenderSection("scripts", required: false)*@
    @*@Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/bundles/toasterStyle")
    @Scripts.Render("~/bundles/toasterScript")
    @Scripts.Render("~/bundles/menu")*@
    <script type="text/javascript" src="~/Scripts/jquery-1.11.3.min.js"></script>
    
    <script type="text/javascript" src="~/Scripts/slider.js"></script>
    <link href="~/Content/slider_css.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.8.3.js"></script>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/bootstrapValidator.min.css" rel="stylesheet" />
    <link href="~/Content/menu.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
    <link href="~/Content/simple-sidebar.css" rel="stylesheet" />



    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


    <script src="~/Scripts/toastr.min.js"></script>

    <script src="~/Scripts/autocomplete.js"></script>

    <script src="~/Scripts/script.js"></script>




    <script src="~/MVCGridHandler.axd/script.js"></script>
    <script src="~/Content/jquery.freezeheader.js"></script>

    @*<script src="~/scripts/mdb.js"></script>
        <script src="~/scripts/mdb.min.js"></script>*@

    @*<link href="~/Content/toastr/build/toastr.min.css" rel="stylesheet" />
    <script src="~/Content/toastr/build/toastr.min.js"></script>*@
    @*<script src="~/Content/jquery-1.12.4.min.js"></script>*@

    @*<link href="~/Content/menu.css" rel="stylesheet" />*@
    @*<link href="~/scripts/mdb.css" rel="stylesheet" />
        <link href="~/scripts/mdb.min.css" rel="stylesheet" />*@
    <script>
        $(document).ready(function () {
            showQuickView();

            $("#nav_list").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

            $(".sidebar-nav > li > a").click(function () {
                var $this = $(this);
                $(".sidebar-nav").find("li").find("a:not([data-target='" + $this.data("target") + "'])").each(function () {
                    $($(this).data("target")).removeClass("in").addClass('collapse');
                });
            });
            $(".sidebar-nav > li > div > ul > li > a").click(function () {
                var $this = $(this);
                $(".sidebar-nav").find("li").find("div").find("ul").find("li").find("a:not([data-target='" + $this.data("target") + "'])").each(function () {
                    $($(this).data("target")).removeClass("in").addClass('collapse');
                });
            });

            $("input[type='text'], textarea").prop("maxlength", "500");

            //---------------------toastr---------------------------//
            @*toastr.options = {
                "positionClass": "toast-bottom-full-width",
                "timeOut": "5000",
                "extendedTimeOut": "2000"
            }
            if ('@TempData["success"]' != '') {
                toastr.success('@TempData["success"]');
            }
            else if ('@TempData["error"]' != '') {
                toastr.error('@TempData["error"]'.split('|')[0]);
                console.log('@TempData["error"]'.split('|')[1]);
            }
            @{ TempData["success"] = TempData["error"] = ""; }*@
            //------------------------------------------------------//
        });
        window.setInterval("showQuickView();", 20000);
        function showQuickView() {
            var url = '@Url.Action("LoadQuickView", "Home")';
            $("#QuickLink").load(url);
        }
        function Logout() {
            var cfm = confirm("Are you sure to logout?");
            if (!cfm) {
                return false;
            }
            else {
                var url = '@Url.Action("LogOff", "Account")';
                location.href = url;
            }
        }
        function GoToHome() {
            var url = '@Url.Action("Index", "Home")';
            location.href = url;
        }
    </script>
</head>
@{
    var username = ""; var organizationName = "";
    try
    {
        username = ((HttpCookie)HttpContext.Current.Session["user"])["UserName"];
        organizationName = Session["OrganizationName"].ToString();
    }
    catch { }   
}
<body>
    @*<div class="pushmenu-push"></div>*@

    @*<nav class="pushmenu pushmenu-left">
        <h3>Logo</h3>*@
    
    <div id="wrapper" class="toggled">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand" style="margin-top:20px;">
                    <a href="#">@organizationName</a>
                </li>
            @if (permissions.Admin)
            {
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#admin-level-menu">Admin<span class="caret arrow"></span></a>
                        <div id="admin-level-menu" class="collapse">
                            <ul>
                                <li>
                                        <a href="#" data-toggle="collapse" data-target="#admin-item">Item<span class="caret arrow"></span></a>
                                        <div id="admin-item" class="collapse">
                                            <ul>
                                                <li><a href="@Url.Action("Create","ItemCategory")">Item Category</a></li>
                                                <li><a href="@Url.Action("Create","ItemGroup")">Item Group</a></li>
                                                <li><a href="@Url.Action("Create","ItemSubGroup")">Item SubGroup</a></li>
                                                <li><a href="@Url.Action("Index","Item")">Item</a></li>
                                                <li><a href="@Url.Action("Create", "Unit")">UOM</a></li>
                            </ul>
                                        </div>
                        </li>

                                    <li>
                                        <a href="#" data-toggle="collapse" data-target="#admin-employee">Employee<span class="caret arrow"></span></a>
                                        <div id="admin-employee" class="collapse">
                                            <ul>
                                                <li><a href="@Url.Action("Create","Designation")">Designation</a></li>
                                                <li><a href="@Url.Action("Create","EmployeeCategory")">Employee Category</a></li>
                                                <li><a href="@Url.Action("Create", "Employee")">Employee</a></li>
                            </ul>
                                        </div>
                        </li>

                                    <li>
                                        <a href="#" data-toggle="collapse" data-target="#admin-supplier">Supplier<span class="caret arrow"></span></a>
                                        <div id="admin-supplier" class="collapse">
                                            <ul>
                                                <li><a href="@Url.Action("Create","SupplierCategory")">Supplier Category</a></li>
                                                <li><a href="@Url.Action("Index", "Supplier")">Supplier</a></li>
                            </ul>
                                        </div>
                        </li>

                                    <li>
                                        <a href="#" data-toggle="collapse" data-target="#admin-customer">Customer<span class="caret arrow"></span></a>
                                        <div id="admin-customer" class="collapse">
                                            <ul>
                                                <li><a href="@Url.Action("Create","CustomerCategory")">Customer Category</a></li>
                                                <li><a href="@Url.Action("Index", "Customer")">Customer</a></li>
                            </ul>
                                        </div>
                        </li>

                                    <li><a href="@Url.Action("Index", "Organization")">Organization</a></li>
                                    <li><a href="@Url.Action("Index", "Company")">Company</a></li>
                                    <li><a href="@Url.Action("Create","Currency")">Currency</a></li>
                                    <li><a href="@Url.Action("Create", "CostingParameters")">Costing Parameters</a></li>
                                    <li><a href="@Url.Action("Create", "QCParameter")">QC Parameters</a></li>
                                 
                                <li><a href="@Url.Action("Create", "CustomerVsSalesExecutive")">Customer Vs Sales Executive</a></li>
                                    <li><a href="@Url.Action("Index","WorkDescription")">Transport Work Description</a></li>
                                    <li><a href="@Url.Action("FillProjectWorkDescriptionList", "WorkDescription")">Project Work Description</a></li>
                                    <li><a href="@Url.Action("Create","VehicleModel")">Vehicle Model</a></li>
                                    <li><a href="@Url.Action("Create","Task")">Task</a></li>
                                    <li><a href="@Url.Action("Create", "CommissionAgent")">Success Fee</a></li>
                                    <li><a href="@Url.Action("Create", "OpeningStock")">Opening Stock</a></li>
                                    <li><a href="@Url.Action("Create","StockPoint")">StockPoint</a></li>
                                    <li><a href="@Url.Action("Create", "AdditionOrDeduction")">Addition/Deduction</a></li>
                                    <li><a href="@Url.Action("Create", "Box")">Box</a></li>
                                    <li><a href="@Url.Action("Create", "Bay")">Bay</a></li>
                                    <li><a href="@Url.Action("Create", "FreezerUnit")">Refrigeration Unit</a></li>
                                    <li><a href="@Url.Action("Create", "PaymentTerms")">Payment Terms</a></li>
                                    <li><a href="@Url.Action("Index", "PrefixSettings")">Prefix Settings</a></li>
                                
                                <li>
                                    <a href="#" data-toggle="collapse" data-target="#admin-rate-settings">Rate Settings<span class="caret arrow"></span></a>
                                    <div id="admin-rate-settings" class="collapse">
                                        <ul>
                                            <li><a href="@Url.Action("Index","RateSettings")">Work Description Rate Settings</a></li>
                                    <li><a class="projectn" href="@Url.Action("Create", "CustomerVsWorkRate")">Customer Wise Work Rate Settings</a></li>@*class = lh*@
                                            <li><a href="@Url.Action("Create", "SupplierItemRate")">Supplier Wise Item Rate Settings</a></li>
                                            <li><a href="@Url.Action("Index","ItemSellingPrice")">Item Selling Price Settings</a></li>
                                        </ul>
                                    </div>
                                </li>

                                    <li>
                                        <a href="#" data-toggle="collapse" data-target="#admin-user-settings">User Settings<span class="caret arrow"></span></a>
                                        <div id="admin-user-settings" class="collapse">
                                            <ul>
                                                <li><a href="@Url.Action("UserList", "Account")">User Settings</a></li>
                                                <li><a href="@Url.Action("Create", "QuotationApproval")">Quotation Approval V/s User</a></li>
                                        </ul>
                                    </div>
                                </li>
                                @*<li><a href="@Url.Action("Create", "Organization")"><span class="badge pull-right"></span>Organization</a></li>
                        <li><a href="@Url.Action("Create","Currency")"><span class="badge pull-right"></span>Currency</a></li>
                        <li><a href="@Url.Action("Create", "CostingParameters")"><span class="badge pull-right"></span>Costing Parameters</a></li>
                        <li><a href="@Url.Action("Create", "SalesTarget")"><span class="badge pull-right"></span>Sales Target</a></li>
                        <li><a href="@Url.Action("Create", "QCParameter")"><span class="badge pull-right"></span>QC Parameters</a></li>
                        <li><a href="@Url.Action("Index","WorkDescription")"><span class="badge pull-right"></span>Transport Work Description</a></li>
                        <li><a href="@Url.Action("Index","RateSettings")"><span class="badge pull-right"></span>Rate Settings</a></li>
                        <li><a href="@Url.Action("CreateProjectWorkDescription","WorkDescription")"><span class="badge pull-right"></span>Project Work Description</a></li>
                        <li><a href="@Url.Action("Create","VehicleModel")"><span class="badge pull-right"></span>Vehicle Model</a></li>
                        <li><a href="@Url.Action("Create","Task")"><span class="badge pull-right"></span>Task</a></li>
                        <li><a href="@Url.Action("Create", "CommissionAgent")"><span class="badge pull-right"></span>Success Fee</a></li>
                        <li><a href="@Url.Action("Create", "OpeningStock")"><span class="badge pull-right"></span>Opening Stock</a></li>
                        <li><a href="@Url.Action("Create","StockPoint")"><span class="badge pull-right"></span>StockPoint</a></li>
                        <li><a href="@Url.Action("Create", "AdditionOrDeduction")"><span class="badge pull-right"></span>Addition/Deduction</a></li>
                        <li><a href="@Url.Action("Create", "Box")"><span class="badge pull-right"></span>Box</a></li>
                        <li><a href="@Url.Action("Create", "Bay")"><span class="badge pull-right"></span>Bay</a></li>
                        <li><a href="@Url.Action("Create", "FreezerUnit")"><span class="badge pull-right"></span>Refrigeration Unit</a></li>
                        <li><a href="@Url.Action("Create", "PaymentTerms")"><span class="badge pull-right"></span>Payment Terms</a></li>
                        <li><a href="@Url.Action("Create", "SupplierItemRate")"><span class="badge pull-right"></span>Supplier Wise Item Rate Settings</a></li>
                        <li><a href="@Url.Action("Index", "PrefixSettings")"><span class="badge pull-right"></span>Prefix Settings</a></li>
                        <li><a class="projectn lh" href="@Url.Action("Create", "CustomerVsWorkRate")"><span class="badge pull-right"></span>Customer Wise Work Rate Settings</a></li>
                        <li class="dropdown-submenu">
                                    <a href="#" data-toggle="collapse" data-target="#admin-user-settings">User Settings</a>
                            <ul class="dropdown-menu user-setting">
                                <li><a href="@Url.Action("Register", "Account")"><span class="badge pull-right"></span>User Settings</a></li>
                                <li><a href="@Url.Action("Create", "QuotationApproval")"><span class="badge pull-right"></span>Quotation Approval V/s User</a></li>
                            </ul>
                                </li>*@
                    </ul>
                        </div>
                </li>
            }
            @if (permissions.Purchase)
            {
                <li>
                        <a href="#" data-toggle="collapse" data-target="#purchase-level-menu">Purchase<span class="caret arrow"></span></a>
                        <div id="purchase-level-menu" class="collapse">
                            <ul>
                                <li><a href="@Url.Action("PendingPurchaseRequest","PurchaseRequest")">Purchase Request</a></li>
                                <li><a href="@Url.Action("PendingSupplyOrder","SupplyOrder")">Supply Order / LPO</a></li>
                                <li><a href="@Url.Action("PendingApproval", "SupplyOrder")">Supply Order / LPO Approval</a></li>
                                <li><a href="@Url.Action("Index", "SupplyOrderFollowup")">SupplyOrder Followup</a></li>
                                <li><a href="@Url.Action("CreateRequest","DirectPurchase")">Direct Purchase Request</a></li>
                                <li><a href="@Url.Action("Approval","DirectPurchase")">Direct Purchase Approval</a></li>
                                <li><a href="@Url.Action("PendingGrnWareHouse","GrnWareHouse")">GRN</a></li>
                                <li><a href="@Url.Action("PendingDirectPurchase","GrnWareHouse")">Direct Purchase GRN</a></li>
                                <li>
                                    <a href="#" data-toggle="collapse" data-target="#purchase-serialno">Serial No.<span class="caret arrow"></span></a>
                                    <div id="purchase-serialno" class="collapse">
                                        <ul>
                                            <li><a href="@Url.Action("Pending", "ItemBatch", new { type = 1 })">Assign Serial No (Opening Stock)</a></li>
                                            <li><a href="@Url.Action("Pending","ItemBatch")">Assign Serial No (GRN)</a></li>
                                            <li><a href="@Url.Action("PendingReservation","ItemBatch")">Reserve Serial No</a></li>
                                            <li><a href="@Url.Action("ReservedList","ItemBatch")">Unreserve Serial No</a></li>
                                            <li><a href="@Url.Action("MaterialList","ItemBatch")">Serial No List</a></li>
                            </ul>
                                    </div>
                        </li>
                                <li><a href="@Url.Action("Index", "PurchaseBill")">Purchase Bill</a></li>
                                <li><a href="@Url.Action("Create", "Expense")">Expense Bill</a></li>
                                <li><a href="@Url.Action("PendingApproval", "Expense")">Expense Bill Approval</a></li>
                     </ul>
                        </div>
                </li>
            }
            @if (permissions.Sales)
            {
                <li>
                        <a href="#" data-toggle="collapse" data-target="#sales-level-menu">Sales<span class="caret arrow"></span></a>
                        <div id="sales-level-menu" class="collapse">
                            <ul>
                                <li>
                                    <a href="#" data-toggle="collapse" data-target="#sales-projects">Projects<span class="caret arrow"></span></a>
                                    <div id="sales-projects" class="collapse">
                                        <ul>
                                            <li><a href="@Url.Action("CreateQuerySheet", "QuerySheet")">Project - Query Sheet</a></li>
                                            <li><a href="@Url.Action("CreateProject", "SalesQuotation")">Project - Quotation</a></li>
                                            <li><a class="projectn" href="@Url.Action("ListSalesQuotations", "SalesQuotation", new { ProjectBased = 1 ,AfterSales=0})">Project - Quotation Approval</a></li>
                                            <li><a href="@Url.Action("PendingSalesQutoforSaleOrder", "SaleOrder", new { ProjectBased = 1})">Project - Sale Order</a></li>
                                            <li><a href="@Url.Action("PendingSaleOrderApproval", "SaleOrder", new { ProjectBased = 1})">Project - Sale Order Approval</a></li>
                                            <li><a href="@Url.Action("PendingSaleOrderHold", "SaleOrder", new { isProjectBased = 1})">Project - Pending Sale Orders</a></li>
                                            <li><a href="@Url.Action("PendingProforma", "ProformaInvoice", new { ProjectBased =1 })">Project - Proforma Invoice</a></li>
                                            <li><a href="@Url.Action("PendingSalesInvoice", "SalesInvoice", new { invType = "Inter" })">Inter Invoice</a></li>
                                            <li><a href="@Url.Action("Closing", "SaleOrder", new { isProjectBased = 1 })">Project - Sale Order Close</a></li>
                            </ul>
                                    </div>
                            </li>
                                <li>
                                    <a href="#" data-toggle="collapse" data-target="#sales-transport">Transportation Refrigeration<span class="caret arrow"></span></a>
                                    <div id="sales-transport" class="collapse">
                                        <ul>
                                            <li><a href="@Url.Action("Create","SalesQuotation")">Quotation</a></li>
                                            <li><a href="@Url.Action("ListSalesQuotations", "SalesQuotation", new { ProjectBased = 0, AfterSales = 0 })">Quotation Approval</a></li>
                                            <li><a href="@Url.Action("PendingSalesQutoforSaleOrder", "SaleOrder", new { ProjectBased = 0 })">Sale Order</a></li>
                                            <li><a href="@Url.Action("PendingSaleOrderApproval", "SaleOrder", new { ProjectBased = 0 })">Sale Order Approval</a></li>
                                            <li><a href="@Url.Action("PendingSaleOrderHold", "SaleOrder")">Pending Sale Orders</a></li>
                                            <li><a href="@Url.Action("PendingProforma", "ProformaInvoice", new { ProjectBased = 0 })">Proforma Invoice</a></li>
                                            <li><a href="@Url.Action("PendingSalesInvoice", "SalesInvoice", new { invType = "Final" })">Sales Invoice</a></li>
                                            <li><a href="@Url.Action("Closing","SaleOrder")">Sale Order Close</a></li>
                            </ul>
                                    </div>
                        </li>
                                <li>
                                    <a href="#" data-toggle="collapse" data-target="#sales-aftersales">Service<span class="caret arrow"></span></a>
                                    <div id="sales-aftersales" class="collapse">
                                        <ul>
                                            <li><a href="@Url.Action("CreateAfterSalesTrans", "SalesQuotation")">Transportation-Quotation</a></li>
                                            <li><a href="@Url.Action("ListSalesQuotations", "SalesQuotation", new { ProjectBased = 0,AfterSales =1 })">Transportation-Quotation Approval</a></li>
                                            <li><a href="@Url.Action("CreateAfterSalesProject", "SalesQuotation")">Project-Quotation</a></li>
                                            <li><a href="@Url.Action("ListSalesQuotations", "SalesQuotation", new { ProjectBased = 1,AfterSales = 1 })">Project-Quotation Approval</a></li>
       

                                        </ul>
                                    </div>
                                </li>
                    </ul>
                        </div>
                </li>
            }
            @if (permissions.Project)
            {
                <li>
                        <a href="#" data-toggle="collapse" data-target="#project-level-menu">Projects<span class="caret arrow"></span></a>
                        <div id="project-level-menu" class="collapse">
                            <ul>
                                <li><a href="@Url.Action("Pending", "WorkShopRequest", new { isProjectBased = 1 })">Material Request</a></li>
                                <li>
                                    <a href="#" data-toggle="collapse" data-target="#project-jobcard">Job Card<span class="caret arrow"></span></a>
                                    <div id="project-jobcard" class="collapse">
                                        <ul>
                                            <li><a href="@Url.Action("PendingJobCard", "JobCard", new { isProjectBased = 1 })">Job Card</a></li>
                                            <li><a href="@Url.Action("PendingJobcardTasks", "JobCardDailyActivity", new { type = 1 })">Daily Activity</a></li>
                                            <li><a href="@Url.Action("PendingJobOrderCompletion", "JobOrderCompletion", new { isProjectBased = 1})">Job Order Completion</a></li>
                            </ul>
                                    </div>
                        </li>
                                <li><a href="@Url.Action("Pending", "ProjectCompletion")">Project Completion</a></li>
                    </ul>
                        </div>
                </li>
            }
            @if (permissions.Transportation)
            {
                <li>
                        <a href="#" data-toggle="collapse" data-target="#transportation-level-menu">Transportation<span class="caret arrow"></span></a>
                        <div id="transportation-level-menu" class="collapse">
                            <ul>
                                <li>
                                    <a href="#" data-toggle="collapse" data-target="#transportation-jobcard">Job Card<span class="caret arrow"></span></a>
                                    <div id="transportation-jobcard" class="collapse">
                                        <ul>
                                            <li><a href="@Url.Action("Index","VehicleInPass")">Vehicle Inpass</a></li>
                                            <li><a href="@Url.Action("PendingJobCard","JobCard")">Job Card</a></li>
                                            <li><a href="@Url.Action("PendingJobcardTasks", "JobCardDailyActivity")">Daily Activity</a></li>
                                            <li><a href="@Url.Action("PendingJobOrderCompletion", "JobOrderCompletion", new { isProjectBased = 0})">Job Order Completion</a></li>
                                            <li><a href="@Url.Action("PendingJobCardQC", "JobCardQC")">Quality Control</a></li>
                                            <li><a href="@Url.Action("Index","DeliveryChallan")">Delivery Challan</a></li>
                            </ul>
                                    </div>
                        </li>
                                <li>
                                    <a href="#" data-toggle="collapse" data-target="#transportation-workshop">Workshop<span class="caret arrow"></span></a>
                                    <div id="transportation-workshop" class="collapse">
                                        <ul>
                                            <li><a href="@Url.Action("Pending", "WorkShopRequest", new { isProjectBased = 0 })">Workshop Request</a></li>
                                            <li><a href="@Url.Action("Create","AdditionalWorkShopRequest")">Additional Workshop Request</a></li>
                                            <li><a href="@Url.Action("Create","StockReturn")">Stock Return</a></li>
                                            <li><a href="@Url.Action("Create", "StockJournal")">Stock Journal</a></li>
                                            <li><a href="@Url.Action("Create","Consumption")">Consumption</a></li>
                            </ul>
                                    </div>
                        </li>
                                <li>
                                    <a href="#" data-toggle="collapse" data-target="#transportation-stores">Stores<span class="caret arrow"></span></a>
                                    <div id="transportation-stores" class="collapse">
                                        <ul>
                                            <li><a href="@Url.Action("Pending","StoresIssue")">Stores Issue</a></li>
                                            <li><a href="@Url.Action("Create","StockCreation")">Stock Conversion</a></li>
                                            <li><a href="@Url.Action("Create","SubAssembly")">Sub-assembly</a></li>
                                            <li><a href="@Url.Action("Create","StockTransfer")">Stock Transfer</a></li>
                            </ul>
                                    </div>
                        </li>
                    </ul>
                        </div>
                </li>
            }
            @if (permissions.MISReports)
            {
                <li>
                        <a href="#" data-toggle="collapse" data-target="#misreports-level-menu">MIS Reports<span class="caret arrow"></span></a>
                        <div id="misreports-level-menu" class="collapse">
                            <ul>
                                <li>
                                    <a href="#" data-toggle="collapse" data-target="#misreports-purchase">Purchase<span class="caret arrow"></span></a>
                                    <div id="misreports-purchase" class="collapse">
                                        <ul>
                                            <li><a href="@Url.Action("Index", "SupplyOrderRegister")">Supply Order Register</a></li>
                                            <li><a href="@Url.Action("Index", "SupplyOrderSummary")">Supply Order Summary</a></li>
                                            <li><a href="@Url.Action("Index", "PendingPARregister")">Pending PAR</a></li>
                                            <li><a href="@Url.Action("PengingSO", "SupplyOrderRegister")">Pending Supply Order</a></li>
                                            <li><a href="@Url.Action("SOVariance", "SupplyOrderRegister")">Supply Order Variance Report</a></li>
                                            <li><a href="@Url.Action("Index","PurchaseBillRegister")">Purchase Bill Register</a></li>
                                            <li><a href="@Url.Action("PurchaseBillSummary", "PurchaseBillRegister")">Purchase Bill Summmary</a></li>
                                            <li><a href="@Url.Action("PurchaseBillDetailed", "PurchaseBillRegister")">Purchase Bill Detailed</a></li>
                                            <li><a href="@Url.Action("Index", "PurchaseMonthlyItemWiseRegister")">Purchase Monthly Item Wise</a></li>
                                            <li><a href="@Url.Action("PurchaseMonthlySupplierWise", "PurchaseMonthlyItemWiseRegister")">Purchase Monthly Supplier Wise</a></li>
                             </ul>
                                    </div>
                        </li>
                                <li>
                                    <a href="#" data-toggle="collapse" data-target="#misreports-sales">Sales<span class="caret arrow"></span></a>
                                    <div id="misreports-sales" class="collapse">
                                        <ul>
                                            <li><a href="@Url.Action("Index","SaleOrderStatus")">Sale Order Status</a></li>
                                            <li><a href="@Url.Action("Index","ProfitabilityReport")">Sale Order Profitability</a></li>
                                            <li><a href="@Url.Action("Index", "SalesRegister")">Sales Register</a></li>
                                            <li><a href="@Url.Action("Index", "SaleOrderSummary")">Sale Register Summary</a></li>
                                            <li><a href="@Url.Action("Index", "PendingSaleOrderRegister", new { rptType = "Pending" })">Pending Sale Orders</a></li>
                                            <li><a href="@Url.Action("Index", "PendingSaleOrderRegister", new { rptType = "Variance" })">Sale Order Variance Report</a></li>
                                            <li><a href="@Url.Action("Index", "SalesAnalysisProductRegister")">Sales Analysis-Product Wise</a></li>
                                            <li><a href="@Url.Action("Index", "SalesAnalysisCustomerRegister")">Sales Analysis-Customer Wise</a></li>
                                            <li><a href="@Url.Action("Index", "TargetVsAchieved")">Target Vs Achieved</a></li>
                                            <li><a href="@Url.Action("Index", "ProductWiseSalesRegister")">Product Wise Sales</a></li>
                                            <li><a href="@Url.Action("Index", "CustomerWiseSalesRegister")">Customer Wise Sales</a></li>
                            </ul>
                                    </div>
                        </li>
                                <li>
                                    <a href="#" data-toggle="collapse" data-target="#misreports-stores">Stores<span class="caret arrow"></span></a>
                                    <div id="misreports-stores" class="collapse">
                                        <ul>
                                            <li><a href="@Url.Action("Index", "OpeningStockReport")">Opening Stock Report</a></li>
                                            <li><a href="@Url.Action("Index", "CurrentStock")">Current Stock Report</a></li>
                                            <li><a href="@Url.Action("Index","ClosingStock")">Closing Stock Report</a></li>
                                            <li><a href="@Url.Action("Index","StockReport")">Stock Report</a></li>
                                            <li><a href="@Url.Action("Index","StoresLedger")">Stores Ledger</a></li>
                                            <li><a href="@Url.Action("Index","StockMovementRegister")">Stock Movement Report</a></li>
                                            <li><a href="@Url.Action("Index","GINRegister")">GIN Report</a></li>
                            </ul>
                                    </div>
                        </li>
                                <li><a href="@Url.Action("Index", "MaterialPlanning")">Material Planning Report</a></li>
                                <li><a href="@Url.Action("Employee", "ResourceAvailability")">Employee Availability</a></li>
                                <li><a href="@Url.Action("Index","BayStatus")">Bay Allocation Report</a></li>
                                <li><a href="@Url.Action("Index","WorkshopRequestRegister")">Workshop Request Register</a></li>
                                <li><a href="@Url.Action("Index","LoginHistory")">Login History</a></li>
                                <li><a href="@Url.Action("Index", "TransactionHistory")">Transaction History</a></li>
                    </ul>
                        </div>
                </li>
            }
            @if (permissions.Finance)
            {
                <li>
                        <a href="#" data-toggle="collapse" data-target="#finance-level-menu">Finance<span class="caret arrow"></span></a>
                        <div id="finance-level-menu" class="collapse">
                            <ul>
                                <li><a href="@Url.Action("PendingSaleOrderApprovalDEL", "SaleOrder")">SO - Approval For Delivery</a></li>
                                <li><a href="@Url.Action("IncentiveAmountReport", "SaleOrder")">SO - Incentive Details</a></li>
                                <li><a href="@Url.Action("Index", "CustomerReceipt")">Receipt Against Customer</a></li>
                    </ul>
                        </div>
                </li>
            }
            
                @*<li>
                    <a href="#" data-toggle="collapse" data-target="#Production-level-menu">Production<span class="caret arrow"></span></a>
                    <div id="Production-level-menu" class="collapse">
                        <ul>
                            <li>
                                <a href="#" data-toggle="collapse" data-target="#Admin-projects">Admin<span class="caret arrow"></span></a>
                                <div id="Admin-projects" class="collapse">
                                    <ul>
                                        <li><a href="@Url.Action("Month", "ProductionPlan")">Month</a></li>
                                        <li><a href="@Url.Action("FinancialYear", "ProductionPlan")">Financial Year</a></li>
                                        <li><a class="projectn" href="@Url.Action("Unit", "ProductionPlan")">Unit</a></li>
                                        <li><a href="@Url.Action("Product", "ProductionPlan")">Product</a></li>
                                        <li><a href="@Url.Action("CreateProductLine", "ProductionPlan")">Product LIne</a></li>
                                        <li><a href="@Url.Action("ProductGroup", "ProductionPlan")">Product Group</a></li>
                                        <li><a href="@Url.Action("ProductSubGroup", "ProductionPlan")">Product Sub Group</a></li>
                                        <li><a href="@Url.Action("SupplierCategory", "ProductionPlan")">Supplier Category</a></li>
                                        <li><a href="@Url.Action("RawMaterial", "ProductionPlan")">RawMaterial</a></li>
                                        <li><a href="@Url.Action("Item", "ProductionPlan")">Item</a></li>
                                        <li><a href="@Url.Action("Supplier", "ProductionPlan")">Supplier</a></li>
                                        <li><a href="@Url.Action("Plant", "ProductionPlan")">Plant</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li>
                                <a href="#" data-toggle="collapse" data-target="#Production-projects">Production<span class="caret arrow"></span></a>
                                <div id="Production-projects" class="collapse">
                                    <ul>
                                        <li><a href="@Url.Action("CreateProductionPlan", "ProductionPlan")">Production Plan</a></li>
                                        <li><a href="@Url.Action("PlanedOrder", "ProductionPlan")">Stock Order</a></li>
                                        <li class="projectn"><a href="@Url.Action("CustomerOrder", "ProductionPlan")">Customer Order</a></li>
                                        <li><a href="@Url.Action("ProductionSchedule", "ProductionPlan")">Production Schedule</a></li>
                                        <li><a href="@Url.Action("ProductionPlantoProductionSchedule", "ProductionPlan")">Convert Production Plan to Production Schedule</a></li>
                                        <li><a href="@Url.Action("ConvertProductionPlanttoplannedorder", "ProductionPlan")">Convert Stock Order to Production Schedule</a></li>
                                        <li><a href="@Url.Action("ConvertCustomerOrderProductionSchedule", "ProductionPlan")">Convert Customer Order to Production Schedule</a></li>
                                        <li><a href="@Url.Action("ConvertProductionPlanPurIndent", "ProductionPlan")">Convert Production Plan to Purchase Indent</a></li>
                                        <li><a href="@Url.Action("ConvertPlannedOrdertoPurReq", "ProductionPlan")">Convert Stock Order to Purchase Indent</a></li>
                                        <li><a href="@Url.Action("ConvertCustomerOrderPurIndent", "ProductionPlan")">Convert Customer Order to Purchase Indent</a></li>
                                        <li><a href="@Url.Action("PurchaseIndent", "ProductionPlan")">Purchase Indent</a></li>
                                        <li><a href="@Url.Action("PurchaseIndentApproval", "ProductionPlan")">Purchase Indent Approval</a></li>
                                        <li><a href="@Url.Action("PendingPurchaseIndent", "ProductionPlan")">Purchase Order</a></li>
                                        <li><a href="@Url.Action("PurchaseOrderApproval", "ProductionPlan")">Purchase Order Approval</a></li>
                                        <li><a href="@Url.Action("PendingPurchaseOrder", "ProductionPlan")">GRN</a></li>
                                        <li><a href="@Url.Action("ConvertPlannedOrdertoProductionOrder", "ProductionPlan")">Convert Production Schedule to Production Order</a></li>
                                        <li><a href="@Url.Action("PendingProduction", "ProductionPlan")">Production Order</a></li>
                                        <li><a href="@Url.Action("ProductionOrderRelease", "ProductionPlan")">Production Order Release</a></li>
                                        <li><a href="@Url.Action("PendingGoodsIssue", "ProductionPlan")">Issue Material to Production order</a></li>
                                        <li><a href="@Url.Action("ConfirmProduction", "ProductionPlan")">Daily Production Report</a></li>
                                        <li><a href="@Url.Action("PendingReceiveProductInventory", "ProductionPlan")">Product QC Released Note</a></li>
                                        <li><a href="@Url.Action("PendingSalesInvoice", "ProductionPlan")">Sales Invoice</a></li>
                                        <li><a href="@Url.Action("PendingDeliveryChallan", "ProductionPlan")">Delivery Challan</a></li>
                                    </ul>
                                </div>
                            </li>


                            <li>
                                <a href="#" data-toggle="collapse" data-target="#Report-projects">Report<span class="caret arrow"></span></a>
                                <div id="Report-projects" class="collapse">
                                    <ul>
                                        <li><a href="@Url.Action("ProductionOrderReport", "ProductionPlan")">Production Order Report</a></li>
                                        <li><a href="@Url.Action("StockRequirementReport", "ProductionPlan")">Stock Requirement Report</a></li>
                                        <li><a class="projectn" href="@Url.Action("MaterialPlanningReport", "ProductionPlan")">Material Planning Report</a></li>
                                        <li><a href="@Url.Action("ProductionPlanMPR", "ProductionPlan")">Production Plan to Material Planning Report</a></li>
                                        <li><a href="@Url.Action("StockOrderMPR", "ProductionPlan")">Stock Order to Material Planning Report</a></li>
                                        <li><a href="@Url.Action("CustomerOrderMPR", "ProductionPlan")">Customer Order to Material Planning Report</a></li>
                                        <li><a href="@Url.Action("ProductionScheduleMPR", "ProductionPlan")">Production Schedule to Material Planning Report</a></li>
                                    </ul>
                                </div>
                            </li>


                           
                        </ul>
                    </div>
                </li>*@

            </ul>
        </div>
            
        @*</nav>*@
        @*<section class="buttonset">
            </section>*@
        <div id="nav_list">MENU</div>
        <div id="page-content-wrapper">
    <div class="container-fluid" id="containerId">
                @*<a href="#menu-toggle" class="btn btn-default" style="color:white;background-color:black;border-radius:0px 12px 12px 0px; border-color:black;z-index:9999" id="menu-toggle">Menu</a>*@
        <div class="main">
                    
                <div class="container-fluid body-content">
                        
                    @RenderBody()
                </div>
                <div>
                    @Html.ValidationSummary()
                </div>
                @Scripts.Render("~/bundles/bootstrap")
                @RenderSection("scripts", required: false)
          

            <!-- End Main -->
        </div><!-- End Container -->
    </div>
        </div>

    </div>
            @*<script type="text/javascript" src="~/Content/script.js"></script>*@
            <script type="text/javascript">

                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-36251023-1']);
                _gaq.push(['_setDomainName', 'jqueryscript.net']);
                _gaq.push(['_trackPageview']);

                (function () {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();

            </script>
            <div class="navbar navbar-default navbar-fixed-top" id="NavBarDivId">
                <div class="container-fluid">

                    @*<div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>*@
                    <div class="logo">
                        <a href="@Url.Action("index","Home")"><img src="~/Images/logo.png" height="68" /></a>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-9 col-md-push-1 collapse navbar-collapse" id="navbar">
                            <div id="QuickLink" class="QuickLink">
                                @Html.Action("LoadQuickView", "Home")
                            </div>
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="glyphicon glyphicon-home" onclick="GoToHome()"></i></a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
                                <li><a href="#" title="click to see user information">@username</a></li>
                                <li><a href="#"><i class="glyphicon glyphicon-off" onclick="Logout()" title="Logout"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
       

</body>
</html>
<script>
    $('input').on('input', onInput);

    var inputValue = '';

    function onInput(e) {
        if (e.currentTarget.value.length > 10) {
            e.currentTarget.value = titleValue;
            return;
        }

        inputValue = e.currentTarget.value;
    }
</script>
<script type="text/javascript" src="~/Scripts/jssor.slider-21.1.5.mini.js"></script>
<script src="~/Scripts/jquery.timepicker.min.js"></script>

    <script src="~/Scripts/jquery.ba-throttle-debounce.min.js"></script>
<script src="~/Scripts/jquery.stickyheader.js"></script>
