@model ArabErp.Domain.ItemSubGroup
@{ ViewBag.Title = "Create";Layout = "~/Views/Shared/_Layout.cshtml";}

@{string actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString(); }
<script type="text/javascript">
    function Exit() {
        location.href = '@Url.Action("Create")';
    }
    $(document).ready(function () {
        var Action = '@actionName';
        if (Action == 'Delete') {

            $("input[type='text'], select, textarea").attr('disabled', 'disabled');
            $("input[type=radio]").attr('disabled', true);
        }
        if (Action == 'Create') {
            $("#GenderId").prop("checked", true)
        }

        //$("#radio_1").prop("checked", true)
        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-bottom-full-width",
            "preventDuplicates": false,
            "onclick": null,

            "timeOut": "0",
            "extendedTimeOut": "1000",

            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        if ('@TempData["success"]' != "" && '@TempData["RefNo"]' != "") {
            toastr.success('@TempData["success"]' + '  Empoyee Ref No. is : ' + '@TempData["RefNo"]');
        }
        else if ('@TempData["error"]' != "") {
            toastr.error('@TempData["error"]');
        }

    });
</script>







<div class="container ">
    <div class="row">
        <div class="form-head1">
            <h4>Item SubGroup</h4>
        </div>

        <div class="main-part pad1">
            <div class="row">

               @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "createFrom", @id = "Employee_form" }))
               {
                    <div class="col-md-4">
                        <div class="part4">
                            <label for="ItemSubGroupRefNo">Code</label>
                            @Html.HiddenFor(m => m.ItemSubGroupId)
                            @Html.HiddenFor(m => m.ItemSubGroupRefNo)

                            @Html.TextBoxFor(m => m.ItemSubGroupRefNo, new { @class = "form_input form_input-half", auocomplete = "off" })
                        </div>
                        <div class="part4">

                            <label for="ItemGroupId">Group</label>
                            @Html.DropDownListFor(m => Model.ItemGroupId, (SelectList)ViewBag.ItemGroup, "Select Item Group", new { @class = "form_input", autocomplete = "off" })
                        </div>

                        <div class="part4">
                            <label for="ItemSubGroupName">Name</label>
                            @Html.TextBoxFor(m => m.ItemSubGroupName, new { @class = "form_input", autocomplete = "off" })
                        </div>







                    </div>

               
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>



                    <div class="col-md-12 hrpart">
                        <button type="button" class="form-button right">Exit</button>
                        @if (actionName == "Edit")
                        { <button type="submit" class="form-button right">Update</button> }
                        else
                            if (actionName == "Delete")
                            {  <button type="submit" class="form-button right">Delete</button>}
                            else
                            { <button type="submit" class="form-button right">Save</button>}

                    </div>
                }
            </div>
        </div>

        
        <div class="main-list">
            @Html.Action("FillItemSubGroupList")
        </div>

        @*<div class="row">
            <div class="col-md-12">
                @Html.Action("FillItemSubGroupList")
            </div>
        </div>*@

    </div>
    </div>


