@model IList<ArabErp.Domain.ProjectCompletion>

<table class="table table-bordered table-hover">
    <thead>
        <tr class="grid_heading">
            <th width="2%" class="text-center">#</th>
            <th width="15%" title="Project Completion Ref. No. & Date"><h1>Completion Ref. No. &amp; Date</h1></th>
            <th width="15%" title="Sale Order Ref. No. & Date"><h1>SO Ref. No. &amp; Date</h1></th>
            <th width="20%"><h1>Customer Name</h1></th>
            <th width="1%"><center></center></th>
        </tr>
    </thead>
    <tbody class="grid_row">
        @if (Model.Count > 0)
        {
            for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td align="center">
                        @(i + 1)
                    </td>
                    <td>
                        @Model[i].ProjectCompletionRefNo - @Model[i].ProjectCompletionDate.ToString("dd/MMMM/yyyy")
                    </td>
                    <td>
                        @Model[i].SaleOrderRefNo - @Model[i].SaleOrderDate.ToString("dd/MMMM/yyyy")
                    </td>
                    <td>
                        @Model[i].CustomerName
                    </td>
                    <td>
                        <center><input type="button" class="form-button4" value="Select" onclick="OnItemSelected('@Model[i].ProjectCompletionId')" /></center>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">
                    <center><em>No items found!</em></center>
                </td>
            </tr>
        }
    </tbody>
</table>
