@model ArabErp.Domain.ProjectCompletion

@{
    ViewBag.Title = "Complete Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#ProjectCompletionDate").datepicker({
            dateFormat: "dd MM yy"
        });

        //---------------------toastr---------------------------//
        toastr.options = {
            "positionClass": "toast-bottom-full-width",
            "timeOut": "5000",
            "extendedTimeOut": "2000"
        }
        if ('@TempData["success"]' != '') {
            toastr.success('@TempData["success"]');
        }
        else if ('@TempData["error"]' != '') {
            toastr.error('@TempData["error"]'.split('|')[0]);
            console.log('@TempData["error"]'.split('|')[1]);
        }
        @{ TempData["success"] = TempData["error"] = ""; }
        //------------------------------------------------------//

    })

    function Back() {
        var url = '@Url.Action("Pending")';
        window.location = url;
    }

</script>

<div class="row">
    <div class="form-head1">
        <h4>Project Completion Commissioning/Handover</h4>
    </div>
    <div class="main-part pad1">
        <form method="post">
            @Html.HiddenFor(m => m.SaleOrderId)
            <div class="row form-group">
                <div class="col-md-2">
                    <label for="ProjectCompletionRefNo">Project Completion No.</label>
                    @Html.TextBoxFor(m => m.ProjectCompletionRefNo, new { @class = "form_input", @readonly = "true" })
                </div>
                <div class="col-md-2">
                    <label for="ProjectCompletionDate">Date of Commissioning</label>
                    @Html.TextBoxFor(m => m.ProjectCompletionDate, Model.ProjectCompletionDate.ToString("dd/MMMM/yyyy"), new { @class = "form_input", @readonly = "true", @required = "true" })
                </div>
            </div>
            @Html.Action("SaleOrderDetails", Model.SaleOrderId)

            <div class="row form-group">
                <div class="col-md-4">
                    <label for="aaa">Project</label>
                    @Html.TextBoxFor(m => m.ProjectName, new { @class = "form_input", @readonly = "true" })
                </div>
                <div class="col-md-4">
                    <label for="aaa">Client</label>
                    @Html.TextBoxFor(m => m.CustomerName, new { @class = "form_input", @readonly = "true" })
                </div>
                <div class="col-md-4">
                    <label for="aaa">Location</label>
                    @Html.TextBoxFor(m => m.Location, new { @class = "form_input", @readonly = "true" })
                </div>
            </div>

            <h5>Chiller:</h5>
            <hr>
            <div class="row form-group">
                <div class="col-md-1">
                    <label for="ChillerTemperature">Temperature</label>
                    @Html.TextBoxFor(m => m.ChillerTemperature, new { @class = "form_input" })
                </div>
                <div class="col-md-2">
                    <label for="ChillerDimension">Dimension</label>
                    @Html.TextBoxFor(m => m.ChillerDimension, new { @class = "form_input" })
                </div>
                <div class="col-md-3">
                    <label for="ChillerCondensingUnit">Condensing Unit</label>
                    @Html.TextBoxFor(m => m.ChillerCondensingUnit, new { @class = "form_input" })
                </div>
                <div class="col-md-3">
                    <label for="ChillerEvaporator">Evaporator</label>
                    @Html.TextBoxFor(m => m.ChillerEvaporator, new { @class = "form_input" })
                </div>
                <div class="col-md-2">
                    <label for="ChillerRefrigerant">Refrigerant</label>
                    @Html.TextBoxFor(m => m.ChillerRefrigerant, new { @class = "form_input" })
                </div>
                <div class="col-md-1">
                    <label for="ChillerQuantity">Quantity</label>
                    @Html.TextBoxFor(m => m.ChillerQuantity, new { @class = "form_input" })
                </div>
            </div>


            <h5>Freezer:</h5>
            <hr>
            <div class="row form-group">
                <div class="col-md-1">
                    <label for="FreezerTemperature">Temperature</label>
                    @Html.TextBoxFor(m => m.FreezerTemperature, new { @class = "form_input" })
                </div>
                <div class="col-md-2">
                    <label for="FreezerDimension">Dimension</label>
                    @Html.TextBoxFor(m => m.FreezerDimension, new { @class = "form_input" })
                </div>
                <div class="col-md-3">
                    <label for="FreezerCondensingUnit">Condensing Unit</label>
                    @Html.TextBoxFor(m => m.FreezerCondensingUnit, new { @class = "form_input" })
                </div>
                <div class="col-md-3">
                    <label for="FreezerEvaporator">Evaporator</label>
                    @Html.TextBoxFor(m => m.FreezerEvaporator, new { @class = "form_input" })
                </div>
                <div class="col-md-2">
                    <label for="FreezerRefrigerant">Refrigerant</label>
                    @Html.TextBoxFor(m => m.FreezerRefrigerant, new { @class = "form_input" })
                </div>
                <div class="col-md-1">
                    <label for="FreezerQuantity">Quantity</label>
                    @Html.TextBoxFor(m => m.FreezerQuantity, new { @class = "form_input" })
                </div>
            </div>

            @*<strong>Job Card details:</strong>
                @Html.Action("JobCardDetails", Model.SaleOrderId)
                <br />*@
            <strong>Reserved Materials/Spares:</strong>
            @Html.Partial("_ItemBatchDetails", Model)
            <div class="row">
                <div class="col-md-12 col-md hrpart">
                    <input class="form-button right" type="button" value="Exit" onclick="Back()" />
                    <input class="form-button right" type="submit" value="Save" />
                    @*<input class="form-button left" type="button" value="Back" onclick="Back()" />*@
                </div>
            </div>
        </form>
    </div>
</div>

