@model ArabErp.Domain.ProjectCompletion

@{
    ViewBag.Title = "Project Commissioning Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#ProjectCompletionDate").datepicker({
            dateFormat: "dd MM yy"
        });
        var year = new Date().getFullYear();
        $("#ProjectWarrantyExpiryDate").datepicker({
            dateFormat: "dd MM yy",
            changeYear: true,
            changeMonth: true,
            yearRange: year + ":" + (year + 3)
        });
    })

    function Back() {
        var url = '@Url.Action("Pending")';
        window.location = url;
    }

</script>

<div class="row">
    <div class="form-head1">
        <h4>Project Commissioning/Handover</h4>
    </div>
    <div class="main-part pad1">
        <form method="post">
            @Html.HiddenFor(m => m.SaleOrderId)
            @Html.HiddenFor(m=>m.ProjectCompletionId)
            <div class="row form-group">
                <div class="col-md-2">
                    <label for="ProjectCompletionRefNo">Project Completion No.</label>
                    @Html.TextBoxFor(m => m.ProjectCompletionRefNo, new { @class = "form_input", @readonly = "true" })
                </div>
                <div class="col-md-2">
                    <label for="ProjectCompletionDate">Date of Commissioning</label>
                    @Html.TextBoxFor(m => m.ProjectCompletionDate, Model.ProjectCompletionDate.ToString("dd/MMMM/yyyy"), new { @class = "form_input", @readonly = "true", @required = "true" })
                </div>
                <div class="col-md-2">
                    <label for="ProjectWarrantyExpiryDate">Warranty Expiry Date</label>
                    @Html.TextBoxFor(m => m.ProjectWarrantyExpiryDate, Model.ProjectWarrantyExpiryDate.ToString("dd/MMMM/yyyy"), new { @class = "form_input", @readonly = "true", @required = "true" })
                </div>
            </div>
            @Html.Action("SaleOrderDetails",new{ id=Model.SaleOrderId})

            <div class="row form-group">
                <div class="col-md-4">
                    <label for="aaa">Project</label>
                    @Html.TextBoxFor(m => m.ProjectName, new { @class = "form_input", @readonly = "true" })
                </div>
                <div class="col-md-4">
                    <label for="aaa">Client</label>
                    @Html.TextBoxFor(m => m.CustomerName, new { @class = "form_input", @readonly = "true" })
                </div>
            </div>

            <strong>Room Details:</strong>
            @foreach (var item in Model.ProjectRoomAndUnitDetails)
            {
                @Html.Partial("_ProjectRoomAndUnitDetails", item)
            }


            <strong>Reserved Materials/Spares:</strong>
            @Html.Partial("_ItemBatchDetails", Model)
            <div class="row">
                <div class="col-md-12 col-md hrpart">
                    <input class="form-button right" type="button" value="Exit" onclick="Back()" />
                    <input class="form-button right" type="submit" value="Edit" />

                </div>
            </div>
        </form>
    </div>
</div>
