@model IList<ArabErp.Domain.SaleOrder>

@{
    ViewBag.Title = "Pending Completion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {

        //---------------------toastr---------------------------//
        toastr.options = {
            "positionClass": "toast-bottom-full-width",
            "timeOut": "5000",
            "extendedTimeOut": "2000"
        }
        if ('@TempData["success"]' != '') {
            toastr.success('@TempData["success"]');
        }
        else if ('@TempData["error"]' != '') {
            toastr.error('@TempData["error"]'.split('|')[0]);
            console.log('@TempData["error"]'.split('|')[1]);
        }
        @{ TempData["success"] = TempData["error"] = ""; }
        //------------------------------------------------------//

    })

    function Filter() {
        var keyword = $("#SaleOrderNo").val().trim();
        $("#pending-grid").addClass("fade");
        var url = '@Url.Action("PendingGrid")';
        $("#pending-grid").load(url, { saleorder: keyword }, function () {
            $("#pending-grid").removeClass("fade");
        })
    }

    function OnItemSelected(id) {
        var url = '@Url.Action("Complete")';
        url += "/" + id;
        window.location = url;
    }

    function PreviousList() {
        var url = '@Url.Action("Index")';
        window.location = url;
    }

</script>

<div class="row">
    <div class="form-head1">
        <h4>Pending for Project Completion</h4>
    </div>
    <div class="main-part pad1">

        <div class="row form-group">
            <div class="col-md-3">
                <label>Sale Order Ref. No.</label>
                <input id="SaleOrderNo" placeholder="Search for Sale Order" class="form_input" onkeyup="Filter()" />
            </div>
        </div>

        <div id="pending-grid" class="scroll4">
            @Html.Partial("_PendingGrid")
        </div>

        <div class="row">
            <div class="col-md-12 hrpart">
                <input class="form-button" type="button" value="Previous" onclick="PreviousList()" />
                <input class="form-button right" type="button" value="Exit" onclick="Exit()" />
            </div>
        </div>

    </div>
</div>

