
@model IList<ArabErp.Domain.SalesRegister>
<table class="table table-bordered">
    <thead>
        <tr class="grid_heading">
            <th width="10%"><h1>Invoice No.</h1></th>
            <th width="10%"><h1>Date</h1></th>
            <th width="20%"><h1>Customer</h1></th>
            <th width="20%"><h1>Work Description</h1></th>
            <th width="5%" class="text-right"><h1>Qty.</h1></th>
            <th width="5%"><h1>Unit</h1></th>
            <th width="5%" class="text-right"><h1>Rate</h1></th>
            <th width="10%" class="text-right"><h1>Amount</h1></th>
            <th width="5%" class="text-right"><h1>Discount</h1></th>
            <th width="10%" class="text-right"><h1>Net Amount</h1></th>
         


        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody class="grid_row">
            <tr>
                <td class="grid-cell">@item.SalesInvoiceRefNo</td>
                <td class="grid-cell">@item.SalesInvoiceDate.ToString("dd/MMM/yyyy")</td>
                <td class="grid-cell">@item.CustomerName</td>
                <td class="grid-cell">@item.WorkDescr</td>
                <td class="grid-cell text-right">@item.Quantity</td>
                <td class="grid-cell">@item.UnitName</td>
                <td class="grid-cell text-right">@item.Rate</td>
                <td class="grid-cell text-right">@item.Amount</td>
                <td class="grid-cell text-right">@item.Discount</td>
                <td class="grid-cell text-right">@item.TotalAmount</td>

            </tr>

        </tbody>
    }
</table>