@model IList<ArabErp.Domain.PendingForGRN>

<script type="text/javascript">
    $(document).ready(function () {
        $("#checkAll").change(function () {
            $("input:checkbox").prop('checked', $(this).prop("checked"));

            if ($(this).is(":checked"))
                $("#hidden-check").val('@Model.Count');
            else $("#hidden-check").val(0);
        });

        $(".chk").change(function () {
            var count = '@Model.Count';
            if ($(this).is(":checked")) {
                $("#hidden-check").val(Number($("#hidden-check").val()) + 1);
                if (Number($("#hidden-check").val()) == count) {
                    $("#checkAll").prop({
                        checked: true
                    });
                }
            }
            else {
                $("#hidden-check").val(Number($("#hidden-check").val()) - 1);
                $("#checkAll").prop({
                    checked: false
                });
            }
        });
    })

    function OnCheckboxChanged(sender) {
        if ($("#cboSupplier").val() == '') {
            $(sender).prop("checked", false);
            toastr.info("You have to select a supplier before selecting supply orders");
            $("#cboSupplier").focus();
        }
    }
</script>

<input type="hidden" id="hidden-check" value="0" />
<table class="table table-bordered">
    <thead>
        <tr class="grid_heading">
            <th><h1>Supplier</h1></th>
            <th><h1>SO No. &amp; Date</h1></th>
            <th><h1>Quotation No. &amp; Date</h1></th>
            <th><h1>Special Remarks</h1></th>
            <th width="1%" class="text-right" nowrap><h1>Ageing</h1></th>
            <th width="1%" nowrap><h1>Required Date</h1></th>
            <th width="1%" style="vertical-align:middle" title="Check this to select all checkboxes below" nowrap>
                <h1>
                    <input id="checkAll" type="checkbox"> Select all
                </h1>
            </th>
        </tr>
    </thead>
    <tbody class="grid_row">
        @{
            if (Model.Count > 0)
            {
                for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(m => m[i].SupplierId)
                            <input type="text" class="form_input" value="@Model[i].SupplierName" disabled />
                        </td>
                        <td>
                            @Html.HiddenFor(m => m[i].SupplyOrderId)
                            <input type="text" class="form_input" value="@Model[i].SoNoWithDate" disabled />
                        </td>
                        <td>
                            <input type="text" class="form_input" value="@Model[i].QuotaionNoAndDate" disabled />
                        </td>
                        <td>
                            <input type="text" class="form_input" value="@Model[i].SpecialRemarks" disabled />
                        </td>
                        <td>
                            <input type="text" class="form_input text-right" value="@Model[i].Age" disabled />
                        </td>
                        <td>
                            <input type="text" class="form_input" value="@Model[i].RequiredDate" disabled />
                        </td>
                        <td align="center">
                            @Html.CheckBoxFor(m => m[i].isChecked, new { @class = "chk CheckBoxClass", @onchange = "OnCheckboxChanged(this)" })
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" align="center"><em>There are no pending/incomplete supply orders to show</em></td>
                </tr>
            }
        }
    </tbody>
</table>