@model IList<ArabErp.Domain.PendingForGRN>

<script type="text/javascript">
    $(document).ready(function () {
        $("#checkAll").change(function () {
            $("input:checkbox").prop('checked', $(this).prop("checked"));

            if ($(this).is(":checked"))
                $("#hidden-check").val('@Model.Count');
            else $("#hidden-check").val(0);
        });

        $(".chk").change(function () {
            var count = '@Model.Count';
            if ($(this).is(":checked")) {
                $("#hidden-check").val(Number($("#hidden-check").val()) + 1);

                if (Number($("#hidden-check").val()) == count) {
                    $("#checkAll").prop({
                        checked: true
                    });
                }
            }
            else {
                $("#hidden-check").val(Number($("#hidden-check").val()) - 1);
                $("#checkAll").prop({
                    checked: false
                });
            }
        });
    })
</script>

<input type="hidden" id="hidden-check" value="0" />
<table class="table table-bordered">
    <thead>
        <tr class="grid_heading">
            <th><h1>SO No. &amp; Date</h1></th>
            <th><h1>PR No. &amp; Date</h1></th>
            <th width="10%" style="vertical-align:middle">
                <h1>
                    <input id="#checkAll" type="checkbox"> Select all
                </h1>
            </th>
        </tr>
    </thead>
    <tbody class="grid_row">
        @{
            if (Model.Count > 0)
            {
                for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(m => m[i].SupplyOrderId)
                            <input type="text" class="form_input" value="@Model[i].SoNoWithDate" disabled />
                        </td>
                        <td>
                            <input type="text" class="form_input" value="@Model[i].QuotaionNoAndDate" disabled />
                        </td>
                        <td align="center">
                            @Html.CheckBoxFor(m => m[i].isChecked, new { @class = "chk" })
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3" align="center"><em>Please select a supplier to continue...</em></td>
                </tr>
            }
        }
    </tbody>
</table>