@model  ArabErp.Domain.GRN
@{ViewBag.Title = "Create";Layout = "~/Views/Shared/_Layout.cshtml";}

<script>
    function Exit() {
        location.href = '@Url.Action("PendingGrnWareHouse")';
    }
    $(function () {
        $("#GRNDate").datepicker({ dateFormat: "dd/MM/yy" });
        });

</script>

<div class="container">
    <div class="row">
        <div class="form-head1">
            <h4>GRN</h4> 
        </div>

        <div class="main-part pad1">

              @using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom" }))
              {
                   @Html.HiddenFor(m => m.SupplierId, new { @class = "form_input", autocomplete = "off" })
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for=" GRNNo">GRN No. </label>
                        @Html.TextBoxFor(m => m.GRNNo, new { @class = "form_input", autocomplete = "off" })
                    </div>
                    <div class="col-md-2 col-md-offset-8">
                        <label for="GRNDate">Date</label>
                        @Html.TextBoxFor(m => m.GRNDate, String.Format("{0:dd/MM/yyyy}", Model.GRNDate), new { @class = "form_input ", autocomplete = "off", @readonly = "readonly" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="SupplierId">Supplier</label>
                        @Html.TextBoxFor(m => m.Supplier, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                    </div>

                    <div class="col-md-4">
                        <label for="SONODATE">SO No. & Date</label>
                         @Html.TextBoxFor(m => m.SONODATE, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                    </div>

                </div>

    <table class="table table-bordered table-hover" id="tab_logic">
        <thead>
            <tr class="grid_heading">
                <th width="20%">Material/Spares</th>
                <th width="10%">PartNo</th>
                <th width="25%">Remarks</th>
                <th width="5%" class="text-right ">Pending Qty</th>
                <th width="5%" class="text-right ">Received Qty</th>
                <th width="5%" class="text-right ">Unit</th>
                <th width="5%" class="text-right ">Rate</th>
                <th width="5%" class="text-right ">Discount</th>
                <th width="5%" class="text-right ">Amount</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                <tr>



                    <td>@Html.TextBoxFor(m => m.Items[i].ItemName, new { @class = "form_input", autocomplete = "off", placeholder = "Material/Spares", @readonly = "readonly" }) </td>
                    <td>@Html.HiddenFor(m => m.Items[i].ItemId) @Html.TextBoxFor(m => m.Items[i].PartNo, new { @class = "form_input", autocomplete = "off", placeholder = "Part No.", @readonly = "readonly" })</td>
                    <td>@Html.TextBoxFor(m => m.Items[i].Remarks, new { @class = "form_input", autocomplete = "off", placeholder = "Remarks" })</td>
                    <td>@Html.TextBoxFor(m => m.Items[i].Quantity, new { @class = "form_input", @style = "text-align:right", autocomplete = "off", placeholder = "Pending Qty", @readonly = "readonly" })</td>
                    <td>@Html.TextBoxFor(m => m.Items[i].Quantity, new { @class = "form_input ", @style = "text-align:right", autocomplete = "off", placeholder = "Received Qty" })</td>
                    <td>@Html.TextBoxFor(m => m.Items[i].Unit, new { @class = "form_input ", @style = "text-align:right", autocomplete = "off", @readonly = "Unit" })</td>
                    <td>@Html.TextBoxFor(m => m.Items[i].Rate, new { @class = "form_input ", @style = "text-align:right", autocomplete = "off", placeholder = "Rate" })</td>
                    <td>@Html.TextBoxFor(m => m.Items[i].Discount, new { @class = "form_input ", @style = "text-align:right", autocomplete = "off", placeholder = "Discount" })</td>
                    <td>@Html.TextBoxFor(m => m.Items[i].Amount, new { @class = "form_input clQuantity", @style = "text-align:right", autocomplete = "off", placeholder = "Amount" })</td>
                   
                </tr>
            }

        </tbody>
        <tfoot>
            <tr class="grid_heading">

                <th width="20%"></th>
                <th width="10%"></th>
                <th width="25%"></th>
                <th width="5%"></th>
                <th width="5%"></th>
                <th width="5%"></th>
                <th width="5%"></th>
                <th width="5%"></th>
                <th width="5%"></th>
           </tr>
        </tfoot>
    </table>


                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="SplRemarks1">Spl.Remarks</label>
                        @Html.TextAreaFor(m => m.SpecialRemarks, new { @class = "form_input", autocomplete = "off" })
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-4">
                        <label for="StockPointId">WareHouse/Location</label>
                        @Html.DropDownListFor(m => Model.StockPointId, (SelectList)ViewBag.WarehouseList, "Select WareHouse", new { @class = "form_input", autocomplete = "off" })
                    </div>
                    <div class="col-md-4">
                        <label for="sdcno">Supplier DC No. & Date</label>
                        @Html.TextAreaFor(m => m.SupplierDCNoAndDate, new { @class = "form_input", autocomplete = "off" })
                    </div>
                </div>

                <div class="marg">
                    <button class="form-button">Exit</button>
                    <button type="submit" class="form-button">Save</button>
                  
                </div>
              }
            </div>
        </div>
</div>








