@using ArabErp.Domain
@model IList<PendingForGRN>

@{ViewBag.Title = "PendingGrnWareHouse"; Layout = "~/Views/Shared/_Layout.cshtml";}

<script type="text/javascript">

    $(document).ready(function () {
        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-bottom-full-width",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        if ('@TempData["success"]' != '') {
            toastr.success('@TempData["success"]');

        }
        else if ('@TempData["error"]' != '') {
            toastr.error('@TempData["error"]'.split('|')[0]);
            console.log('@TempData["error"]'.split('|')[1]);
        }
        @{TempData["success"] = TempData["error"] = "";}
    });

    function OnSupplierChanged(sender) {
       
        var id = $(sender).val();
        var url = '@Url.Action("PendingGrid")';
        $("#pending-grid").load(url, { supplierId: id });
    }

    function PreviousList() {
        window.location = '@Url.Action("PreviousList", "GrnWareHouse")';
    }

    function formValidation() {
        //if ($("#cboSupplier").val() == '') {
        //    toastr.info("You have to select a supplier first");
        //}
        //else {
            var flag = false;
            $("input[type='checkbox']").each(function (i, obj) {
                if ($(obj).is(':checked'))
                    flag = true;
            });
            if (!flag) {
                toastr.info("You have to select atleast one LPO to continue.");
                return false;
            }
            else return true;
        //}
        //return true;
    }
</script>

<div class="container">
    <div class="row">
        <div class="form-head1">
            <h4>Pending Supply Orders / LPO</h4>
        </div>
        <div class="main-part pad1">
            <form role="form" method="post" action="Create" onsubmit="return formValidation()">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="cboSupplier">Supplier</label>
                            @Html.DropDownListFor(m => Model[0].SupplierId, (SelectList)ViewBag.supplierList, "All", new { @id = "cboSupplier", @class = "form_input", @onchange = "OnSupplierChanged(this)" })
                        </div>
                    </div>
                </div>

                <div class="table-responsive scroll4" id="pending-grid">
                    @Html.Action("PendingGrid")
                </div>


                <div class="row">
                    <div class="col-md-12 hrpart">

                        <input type="button" class="form-button" onclick="PreviousList()" value="Previous" title="Previously accepted GRNs">
                        <input type="submit" class="form-button right" value="Proceed" id="btnProceed" title="Proceed" />
                    </div>

                </div>


            </form>
        </div>
    </div>
</div>




