@using ArabErp.Domain
@model IList<PendingForGRN>

@{
    ViewBag.Title = "Pending Supply Orders / LPO for GRN"; 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function OnSupplierChanged(sender) {
        $("#pending-grid").addClass("fade");
        var id = $(sender).val();
        var url = '@Url.Action("PendingGrid")';
        $("#pending-grid").load(url, { supplierId: id }, function () {
            $("#pending-grid").removeClass("fade");
        });
    }
    function Filter() {
        $("#pending-grid").addClass("fade");
        var url = '@Url.Action("PendingGrid")';
        var Supplier = $("#txtSupplier").val().trim();
        var LPO = $("#txtLPONo").val().trim();
        url += "?Supplier=" + encodeURIComponent(Supplier) + "&LPO=" + encodeURIComponent(LPO);
        $("#pending-grid").load(url, function () {
            $("#pending-grid").removeClass("fade");
        });
    }
    function PreviousList() {
        window.location = '@Url.Action("PreviousList", "GrnWareHouse")';
    }

    function formValidation() {
        var i = 0;
        var status = true;
        $('.check_box').each(function (index, object) {
            if ($(object).hasClass("CheckBoxClass") && $(object).is(":checked")) {
                if (i == 0) {
                    i = $(object).next().next().val();
                }
                else {
                    if (i != $(object).next().next().val()) {
                        toastr.info("Select Same Supplier");
                        status = false;
                    }
                }
            }
        })
        return status;
    }


    //function formValidation() {
    //    //if ($("#cboSupplier").val() == '') {
    //    //    toastr.info("You have to select a supplier first");
    //    //}
    //    //else {
    //    var flag = false;
    //    $("input[type='checkbox']").each(function (i, obj) {
    //        if ($(obj).is(':checked'))
    //            flag = true;
    //    });
    //    if (!flag) {
    //        toastr.info("You have to select atleast one LPO to continue.");
    //        return false;
    //    }
    //    else return true;
    //    //}
    //    //return true;
    //}
</script>


    <div class="row">
        <div class="form-head1">
            <h4>Pending Supply Orders / LPO for GRN</h4>
        </div>
        <div class="main-part pad1">
            <form role="form" method="post" action="Create" onsubmit="return formValidation()">
                <div class="form-group">
                    <div class="row">
                        @*<div class="col-md-3">
                            <label for="cboSupplier">Supplier</label>
                            @Html.DropDownListFor(m => Model[0].SupplierId, (SelectList)ViewBag.supplierList, "All", new { @id = "cboSupplier", @class = "form_input", @onchange = "OnSupplierChanged(this)" })
                        </div>*@

                        <div class="col-md-2">
                            <label for="txtSupplier">Supplier</label>
                            <input type="text" class="form_input" id="txtSupplier" onkeyup="Filter()" onchange="Filter()" placeholder="Search for Supplier" />
                        </div>
                        <div class="col-md-2">
                            <label for="txtLPONo.">LPO No.</label>
                            <input type="text" class="form_input" id="txtLPONo" onkeyup="Filter()" onchange="Filter()" placeholder="Search for LPO No." />
                        </div>
                    </div>
                </div>

                <div id="pending-grid">
                    @Html.Action("PendingGrid")
                </div>


                    <div class="row">
                        <div class="col-md-12 hrpart">

                            <input type="button" class="form-button" onclick="PreviousList()" value="Previous" title="Previously accepted GRNs">
                            <input type="submit" class="form-button right" value="Proceed" id="btnProceed" title="Proceed" />
                        </div>

                    </div>


</form>
        </div>
    </div>





