@model IList<ArabErp.Domain.PendingForGRN>

@{
    ViewBag.Title = "Pending Direct Purchase Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-bottom-full-width",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        if ('@TempData["success"]' != '') {
            toastr.success('@TempData["success"]');

        }
        else if ('@TempData["error"]' != '') {
            toastr.error('@TempData["error"]'.split('|')[0]);
            console.log('@TempData["error"]'.split('|')[1]);
        }
        @{TempData["success"] = TempData["error"] = "";}
    });

    function PreviousList(){
        window.location = '@Url.Action("PreviousList", "GrnWareHouse")';
    }

    function formValidation() {
        var flag = false;
        $("input[type='checkbox']").each(function (i, obj) {
            if ($(obj).is(':checked'))
                flag = true;
        });
        if (!flag) {
            toastr.info("You have to select atleast one purchase request to continue.");
        }
        return flag;
    }
</script>

<div class="container">
    <div class="row">
        <div class="form-head1">
            <h4>Pending Direct Purchase Requests</h4>
        </div>
        <div class="main-part pad1">
            <form role="form" method="post" action="Create" onsubmit="return formValidation()">

                <div class="table-responsive scroll4">

                    @Html.Action("PendingDirectPurchaseGrid")

                </div>

                <em>P.S.: Only approved requests will show up here</em>
                <div class="row">
                    <div class="col-md-12 hrpart">
                        <input type="button" class="form-button" onclick="PreviousList()" value="Previous" title="Previously accepted GRNs">

                        <input type="submit" class="form-button right" value="Proceed" id="btnProceed" title="Proceed" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>