@using ArabErp.Domain
@model IEnumerable<PendingSupplyOrder>

@{ViewBag.Title = "PendingGrnWareHouse"; Layout = "~/Views/Shared/_Layout.cshtml";}



<div class="container">
    <div class="row">
        <div class="form-head1">
            <h4>Pending GRN</h4>
        </div>
        <div class="main-part pad1">

            <div class="table-responsive">

                <div class="row border">

                    <div class="col-md-12">
                        <div class="col-md-5 grid-left">Supplier</div>
                        <div class="col-md-3 grid-left">SO No & Date</div>
                        <div class="col-md-3 grid-left">PR No & Date</div>
                        <div class="col-md-1 grid-left"><center>Select</center></div>
                    </div>


                    <div class="col-md-12">

                        @foreach (var item in Model)
                        {
                            <div class="col-md-5"><div class="mtop grid_row_pr grid_row_pr">@item.SupplierName</div></div>
                            <div class="col-md-3"><div class="mtop grid_row_pr">@item.SoNoWithDate</div></div>
                            <div class="col-md-3"><div class="mtop grid_row_pr">@item.QuotaionNoAndDate.</div></div>
                            <div class="col-md-1"><div class="mtop form-button3">@Html.ActionLink("Select", "Create", "GrnWareHouse", new { SupplyOrderId = @item.SupplyOrderId }, null) </div></div>
                        }

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>




