@*@model IList<ArabErp.Domain.StockReportSummary>*@
@model ArabErp.Domain.StockReportSummary


@{
    ViewBag.Title = "Stock Summary Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function FillItem() {
        var Code = $('#itmCatId').val();

        var Url = '@Url.Action("Item")';

        if (Code == '') {
            $("#DivItem").load(Url, { Code: 0 });
            Filter()
        }
        else {
            $("#DivItem").load(Url, { Code: Code });
            Filter()
        }
    }

    function Filter() {

        $("#stock-grid").addClass("fade");
        var itmid = $("#filter-Material").val().trim();
        var PartNo = $("#filter-PartNo").val().trim();
        var itmcatid = $("#ItemCategoryId").val();
        var itmGrpId = $("#ItemGroupId").val();
        var itmSubGrpId = $("#ItemSubGroupId").val();
        var url = '@Url.Action("Stockreport")';
        url += "?itmid=" + encodeURIComponent(itmid) + "&PartNo=" + encodeURIComponent(PartNo) + "&itmcatid=" + itmcatid + "&itmGrpId=" + itmGrpId + "&itmSubGrpId=" + itmSubGrpId;

        $("#stock-grid").load(url, function () {
            $("#stock-grid").removeClass("fade");
        });
    }
    function OpenDetail(id) {
        var url = '@Url.Action("DrillDown")';
        url += "?itemId=" + id;
        window.open(url);
    }

    function GoToPrint() {
        var itmid = $("#filter-Material").val().trim();
        var PartNo = $("#filter-PartNo").val().trim();
        var subgroup = $("#ItemSubGroupId").val().trim();
        var url = '@Url.Action("Print")';
        url += "?itmid=" + encodeURIComponent(itmid) + "&PartNo=" + encodeURIComponent(PartNo);
        window.open(url);
        
    }

    function FillItemGroup() {
       
        var Code = $('#ItemCategoryId').val();
        var Url = '@Url.Action("ItemGroup")';
        var UrlSubGroup = '@Url.Action("ItemSubGroup")';

        $("#stock-grid").addClass("fade");
        var itmid = $("#filter-Material").val().trim();
        var PartNo = $("#filter-PartNo").val().trim();
        var itmcatid = $("#ItemCategoryId").val();
        var itmGrpId = $("#ItemGroupId").val();
        var itmSubGrpId = $("#ItemSubGroupId").val();
        var url = '@Url.Action("Stockreport")';
        url += "?itmid=" + encodeURIComponent(itmid) + "&PartNo=" + encodeURIComponent(PartNo) + "&itmcatid=" + itmcatid + "&itmGrpId=" + itmGrpId + "&itmSubGrpId=" + itmSubGrpId;
      
        $("#stock-grid").load(url, function () {
            $("#stock-grid").removeClass("fade");


            if (Code == '') {
                $("#DivItemGroup").load(Url, { Code: 0 });
                $("#DivItemSubGroup").load(UrlSubGroup, { Code: 0 });
            }
            else {
                $("#DivItemGroup").load(Url, { Code: Code });
                $("#DivItemSubGroup").load(UrlSubGroup, { Code: 0 });
            }
        })
    }
    function FillItemSubGroup() {
        var Code = $('#ItemGroupId').val();
        var Url = '@Url.Action("ItemSubGroup")';

        $("#stock-grid").addClass("fade");
        var itmid = $("#filter-Material").val().trim();
        var PartNo = $("#filter-PartNo").val().trim();
        var itmcatid = $("#ItemCategoryId").val();
        var itmGrpId = $("#ItemGroupId").val();
        var itmSubGrpId = $("#ItemSubGroupId").val();
        var url = '@Url.Action("Stockreport")';
        url += "?itmid=" + encodeURIComponent(itmid) + "&PartNo=" + encodeURIComponent(PartNo) + "&itmcatid=" + itmcatid + "&itmGrpId=" + itmGrpId + "&itmSubGrpId=" + itmSubGrpId;
      
        $("#stock-grid").load(url, function () {
            $("#stock-grid").removeClass("fade");


        if (Code == '') {
            $("#DivItemSubGroup").load(Url, { Code: 0 });
        }
        else {
            $("#DivItemSubGroup").load(Url, { Code: Code });
        }
        })

    }


</script>

<div class="row">
    <div class="form-head1">
        <h4>Stock Summary</h4>
    </div>

    <div class="main-part pad1 ">

        <div class="row">
            <div class="part">
               

                @*<div class="col-md-2">
                    <label for="cboItemCat">Item Category</label>
                    @Html.DropDownListFor(m => Model.itmCatId, (SelectList)ViewBag.ItemCatList, "Select Item Category", new { @class = "form_input", @onchange = "FillItem()" })
                    @Html.HiddenFor(m => Model.itmCatId)
                </div>*@

                @*<div class="col-md-2">
                    <label for="cboItemCat">Item Group</label>
                    @Html.DropDownListFor(m => Model.itmGrpId, (SelectList)ViewBag.ItemGrpList, "Select Item Group", new { @class = "form_input", @onchange = "FillItem()" })
                    @Html.HiddenFor(m => Model.itmGrpId)
                </div>*@

                @*<div class="col-md-2">
                    <label for="cboItemCat">Item Sub Group</label>
                    @Html.DropDownListFor(m => Model.itmSubGrpId, (SelectList)ViewBag.ItemSubGrpList, "Select Item Sub Group", new { @class = "form_input", @onchange = "FillItem()" })
                    @Html.HiddenFor(m => Model.itmSubGrpId)
                </div>*@

                <div class="col-md-2">
                    <label for="code">Item Category</label>
                    <div id="DivItemCat">
                        @Html.Action("ItemCategory")
                    </div>
                </div>

                  
                <div class="col-md-2">
                    <label for="code">Item Group</label>
                    <div id="DivItemGroup">
                        @Html.Action("ItemGroup", "Item", new { Code = Model.itmCatId })
                    </div>
                </div>

                <div class="col-md-2">
                    <label for="code">Item Sub Group</label>
                    <div id="DivItemSubGroup">
                        @Html.Action("ItemSubGroup", "Item", new { Code = Model.itmGrpId})
                    </div>
                </div>
                
                <div class="col-md-2">
                    <label for="filter-Material">Material/Spares</label>
                    <input id="filter-Material" class="form_input" placeholder="Search for Material" onkeyup="Filter()" onchange="Filter()" />
                </div>
                <div class="col-md-2">
                    <label for="filter-PartNo">Part No.</label>
                    <input id="filter-PartNo" class="form_input" placeholder="Search for Part No." onkeyup="Filter()" onchange="Filter()" />
                </div>
               
                @*<div class="row">
                    <div class="part4 col-md-6">
                        <label for="name" class="label1">UoM</label>
                        @Html.DropDownListFor(m => Model.ItemUnitId, (SelectList)ViewBag.Unit, "Select UoM", new { @class = "form_input" })
                    </div>
                    @*<div class="part4 editor-field  col-md-6">
                <label for="name" class="label1">Expiry Date</label>
                @Html.TextBoxFor(model => model.ExpiryDate, Model.ExpiryDate.ToString("dd/MMMM/yyyy"), new { @class = "form_input", placeholder = "Select Expiry Date" })
            </div>*@
                @*</div>*@


            </div>
        </div>
        <br />
        <div class="main-grid main-grid-top scroll3">
            <div class="table-responsive">
                <div class="row" id="stock-grid">
                    @Html.Action("Stockreport")
                </div>
            </div>
        </div>

        @*<div class="row-count1">
                <h5>Row Count:- @Model.Count()</h5>
            </div>*@

        <div class="row">
            <div class="col-md-12 hrpart">
                <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
                <input type="button" value="Print" onclick="GoToPrint()" class="form-button right" />
            </div>
        </div>
    </div>
</div>


