@model IList<ArabErp.Domain.JobCard>

<table class="table table-bordered table-hover">
    <thead>
        <tr class="grid_heading">
            <th width="14%"><h1>Job Card No. &amp; Date</h1></th>
            <th width="30%"><h1>Customer</h1></th>
            <th width="20%"><h1>Freezer Unit</h1></th>
            <th width="20%"><h1>Box</h1></th>
            <th width="20%" nowrap><h1> Reg No./Chassis No.</h1></th>
            <th width="15%"><h1>Engineer/Supervisor</h1></th>
            <th width="1%" class="text-center"><h1></h1></th>
        </tr>
    </thead>

    <tbody class="grid_row">
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.JobCardNo - @item.JobCardDate.ToString("dd/MMMM/yyyy")</td>
                    <td>@item.CustomerName</td>
                    <td>@item.FreezerUnitName</td>
                    <td>@item.BoxName</td>
                
                    <td>
                        <strong>@item.RegistrationNo </strong>
                        @if ((item.RegistrationNo != null && item.RegistrationNo != "") && (item.ChasisNo != null && item.ChasisNo != ""))
                        {
                            @: -
                                    }
                        <strong>@item.ChasisNo</strong>
                    </td>


                    <td>@item.EmployeeName</td>
                    <td>
                        <center><input type="button" class="form-button4" value="Select" title="Select to view details" onclick="Open(@item.JobCardId)" /></center>
                    </td>
                    @*<td>
                            <center><input type="button" value="Print" onclick="GoToPrint(@item.JobCardId)" checked class="form-button4" /></center>
                        </td>*@
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">
                    <center><em>No items found!</em></center>
                </td>
            </tr>
        }
    </tbody>
</table>






