@model ArabErp.Domain.JobCard
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function() {
        $('#saleorder_form').bootstrapValidator({
            fields: {
                JobCardNo: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter jobcard no.'
                        }
                    }
                },
                JobCardDate: {
                    validators: {
                        notEmpty: {
                            message: 'Please select JobCard Date'
                        }
                    }
                },
                CustomerName: {
                    validators: {
                        notEmpty: {
                            message: 'Please select customer'
                        }
                    }
                }
            }
        });
    });
    $(function () {
        $("#JobCardDate").datepicker({ dateFormat: "dd-MM-yy" });
        $("#RequiredDate").datepicker({ dateFormat: "dd-MM-yy" });
        assignTaskDate();
    });

    function assignTaskDate()
    {
        $('.taskdate').each(function (i, obj) {
            //console.log(obj.id);
            $("#" + obj.id).removeClass("hasDatepicker");
            $("#" + obj.id).datepicker({ dateFormat: "dd-MM-yy" });
        });
    }

    function AddRowBelow(rNo)
    {
        var i = 0;
        var no = 0;
        $('.TaskRow').each(function (j, obj) {
            var row = Number(obj.id.replace("Row_", ""));
            console.log(j);
            i = j;
        });
        i++;
        //$('input[id^="Row_"]').each(function () {
        //    var id = this.id;
        //    console.log(id);
        //    //no++;
        //    //var row = Number(id.replace("Row_", ""));
        //    //if(row>i)
        //    //{
        //    //    i = row;
        //    //}
        //});
        //i++;
        console.log(i);

        var clone = $('#Row_0').clone();
        clone.html($(clone).html().replace(/\JobCardTasks_0__/g, 'JobCardTasks_' + i + '__'));
        clone.html($(clone).html().replace(/\JobCardTasks_0__/g, 'JobCardTasks_' + i + '__'));
        clone.html($(clone).html().replace(/\JobCardTasks[0]./g, 'JobCardTasks[' + i + '].'));
        clone.html($(clone).html().replace(/\[0\]/g, '[' + i + ']'));
        clone.html($(clone).html().replace(/\(0\)/g, '(' + i + ')'));
        clone.html($(clone).html().replace(/\Row_0/g, 'Row_' + i + ''));
        //clone.html($(clone).html().replace(/Row_/, 'Row_' + i + ''));


        $("#tab_logic").append('<tr id="Row_' + i + '" class="TaskRow">' + clone.html() + '  </tr>');
        $('#Row_' + i).find('.taskdate').datepicker({ dateFormat: "dd-MM-yy" });
        assignTaskDate();
    }
    </script> 
<div class="container">
    <div class="row">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "createFrom", @id = "jobcard_form" }))
        {
            <div class="form-head1">
                <h4>Job Card</h4>
            </div>
            <div class="main-part pad1">
                <form role="form">
                    <div class="row form-group">
                        <div class="col-md-2">
                            <label for="jcno">Job Card No.</label>
                            @Html.TextBoxFor(m => m.JobCardNo, new { @class = "form_input", autocomplete = "off", @readonly="readonly" })
                            @Html.HiddenFor(m => m.SaleOrderId)
                            @Html.HiddenFor(m => m.SaleOrderItemId)
                            @Html.HiddenFor(m => m.isProjectBased)
                        </div>
                        <div class="col-md-2">
                            <label for="inputDate">Date</label>
                         
                            @Html.TextBoxFor(m => m.JobCardDate, Model.JobCardDate.ToString("dd/MMMM/yyyy"), new { @class = "form_input ", autocomplete = "off", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label for="cus">Customer</label>
                            @Html.TextBoxFor(m => m.CustomerName, new { @class = "form_input", autocomplete = "off", @disabled = "true" })
                            @Html.HiddenFor(m => m.CustomerId, new { @class = "form_input", autocomplete = "off" })
                        </div>
                        <div class="col-md-2">
                            <label for="cusref">Customer Order Ref.</label>
                            @Html.TextBoxFor(m => m.CustomerOrderRef, new { @class = "form_input", autocomplete = "off", @disabled = "true" })
                        </div>
                        @if (Model.isProjectBased == 0)
                        {
                            <div class="col-md-2">
                                <label for="vechmodel">Vehicle Model</label>
                                @Html.TextBoxFor(m => m.VehicleModelName, new { @class = "form_input", autocomplete = "off", @disabled = "true" })
                            </div>
                            <div class="col-md-2">
                                <label for="chasisno">Chasis No/Reg No.</label>
                                @Html.DropDownListFor(m => m.InPassId, (SelectList)ViewBag.inpassList, "Select Chassis/Reg No.", new { @class = "form_input", autocomplete = "off" })
                            </div>
                            <div class="col-md-2">
                                <label for="freezer">Freezer Unit</label>
                                @Html.DropDownListFor(m => Model.FreezerUnitId, (SelectList)ViewBag.FreezerUnits, "Select Freezer Unit", new { @class = "form_input", autocomplete = "off" })
                            </div>
                        }                        
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label for="wrkdes">Work Description</label>
                            @Html.TextBoxFor(m => m.WorkDescription, new { @class = "form_input", autocomplete = "off", @disabled = "true" })
                            @Html.HiddenFor(m => m.WorkDescriptionId, new { @class = "form_input", autocomplete = "off" })
                        </div>
                        <div class="col-md-2">
                            <label for="wrkreqref">WorkShop Request Ref.</label>
                            @Html.TextBoxFor(m => m.WorkShopRequestRef, new { @class = "form_input", autocomplete = "off", @disabled = "true" })
                        </div>
                        <div class="col-md-2">
                            <label for="goodsland">Goods Landed</label>
                            @Html.TextBoxFor(m => m.GoodsLanded, new { @class = "form_input", autocomplete = "off", @disabled = "true" })
                        </div>
                        @if (Model.isProjectBased == 0)
                        {
                            <div class="col-md-2">
                                <label for="bay">Bay</label>
                                @Html.DropDownListFor(m => Model.BayId, (SelectList)ViewBag.BayList, "Select Bay", new { @class = "form_input", autocomplete = "off" })
                            </div>
                        }                        
                        <div class="col-md-2">
                            <label for="box">Box</label>
                            @Html.DropDownListFor(m => Model.BoxId, (SelectList)ViewBag.Boxes, "Select Box", new { @class = "form_input", autocomplete = "off" })
                        </div>
                    </div>

                    <div class=" table-responsive">
                        <table class="table table-bordered" id="tab_logic">
                            <thead>
                                <tr class="grid_heading">
                                    <td width="2%"><h1>#</h1></td>
                                    <th width="40%"><h1>Task</h1></th>
                                    <th width="40%"><h1>Employee</h1></th>
                                    <th width="10%"><h1>Date</h1></th>
                                    <th width="5%"><h1>Hrs.</h1></th>
                                </tr>
                            </thead>
                            <tbody class="grid_row">
                                @{ int row = 0;}
                                @foreach (var item in Model.JobCardTasks)
                                {
                                    <tr id="Row_@row" class="TaskRow">
                                        <td>
                                            <a id="add_@row" class="glyphicon glyphicon-plus" @*type="button" value="Add"*@ onclick="AddRowBelow(@row);" style="top:0;"></a>
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(m => Model.JobCardTasks[row].JobCardTaskId, (SelectList)ViewBag.TaskList, "Select Task", new { @class = "form_input", autocomplete = "off" })
                                        </td>
                                        <td>
                                            @Html.DropDownListFor(m => Model.JobCardTasks[row].EmployeeId, (SelectList)ViewBag.EmployeeList, "Select Employee", new { @class = "form_input", autocomplete = "off" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.JobCardTasks[row].TaskDate, Model.JobCardTasks[row].TaskDate.ToString("dd/MMMM/yyyy"), new { @class = "taskdate form_input", autocomplete = "off", @readonly = "readonly" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.JobCardTasks[row].Hours, new { @class = "form_input", autocomplete = "off" })
                                        </td>
                                    </tr>
                                    row++;
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <div class="row">
                                
                                <div class="col-md-12">
                                    <div class="part1">
                                        <label for="SplRemarks1">Special Remarks</label>
                                        @Html.TextAreaFor(m => m.SpecialRemarks, new { @class = "form_input form_input-h", autocomplete = "off" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="reqdate">Required Date</label>
                            @Html.TextBoxFor(m => m.RequiredDate,Model.RequiredDate.ToString("dd/MMMM/yyyy"), new { @class = "form_input ", autocomplete = "off", @readonly = "readonly" })
                        </div>
                        <div class="col-md-3">
                            <label for="emp">Employee/Supervisor</label>
                            @Html.DropDownListFor(m => Model.EmployeeId, (SelectList)ViewBag.EmployeeList, "Select Employee", new { @class = "form_input", autocomplete = "off" })
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-md-12 hrpart">
                            <button class="form-button right">Exit</button>
                            <button type="submit" class="form-button right">Save</button>
                        </div>

                    </div>

                </form>
            </div>
        }

    </div>
</div>