@model IList<ArabErp.Domain.PendingSO>
<div class="row">
    <div class="main-grid main-grid-top scroll1">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr class="grid_heading">
                        <th width="15%"><h1>SO.No. &amp; Date</h1></th>
                        <th width="60%"><h1>Work Description</h1></th>
                        <th width="15%"><h1>Vehicle Model</h1></th>
                        <th width="10%"><center><h1></h1></center></th>
                    </tr>
                </thead>
                <tbody id="table-body" class="grid_row">

                    @if (Model.Count != 0)
                {
                    for (int i = 0; i < Model.Count; i++)
                    {
                <tr>
                    <td>
                        @* Customer Name + Ref. No. *@
                        <input class="form_input" type="text" value="@Model[i].SaleOrderRefNo" disabled />
                    </td>
                    <td>
                        <input class="form_input" type="text" value="@Model[i].WorkDescription" disabled />
                    </td>
                    <td>
                        @* Vehicle Model Name + Model Description *@
                        <input class="form_input" type="text" value="@Model[i].VehicleModelName" disabled />
                    </td>
                    <td align="center">
                       <center> @Html.ActionLink("Select", "Save", "VehicleInpass", new { Id = @Model[i].SaleOrderItemId }, new { @class = "form-button5" })</center>

                        @*<button class="btn btn-xs btn-primary" onclick="Open('@Model[i].SaleOrderItemId')"><span class="glyphicon glyphicon-pencil" style="top:2px"></span></button>*@
                    </td>
                </tr>


                    }
                }
                else
                {
                <tr>
                    <td colspan="4" align="center" valign="middle">
                        <em>Please select a customer to continue</em>
                    </td>
                </tr>
                }
                </tbody>
            </table>
        </div>
        </div>


    <div class="row-count1" id="rowcount">

        <h5>Row Count:- @Model.Count()</h5>
    </div>

</div>