
@{
    ViewBag.Title = "VehicleInpassList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

    $(document).ready(function () {
        $("#txtFrom").datepicker({
            dateFormat: "dd-MM-yy"
        });
        $("#txtTo").datepicker({
            dateFormat: "dd-MM-yy"
        });
    })

    function Filter() {
        $("#vehicleInpasslist").addClass("fade");
        var id = $("#cboVINo").val();
        var cusid = $("#cboCustomer").val();
        var from = $("#txtFrom").val();
        var to = $("#txtTo").val();
        var url = '@Url.Action("PreviousList")';
        url += "?from=" + from + "&to=" + to + "&id=" + id + "&cusid=" + cusid;
        $("#vehicleInpasslist").load(url, function () {
            $("#vehicleInpasslist").removeClass("fade");
        });
    }
    function Exit() {
        var url = '@Url.Action("Index")';
        window.location = url;
    }
    function Open(id) {
        var url = '@Url.Action("Edit")';
        url += "?id=" + id;
        window.location = url;
    }
</script>

@*<div class="row">
    <div class="form-head1">
        <h4>Vehicle Inpass List</h4>
    </div>
    <div class="main-part pad1">
        <div class="row form-group">
            <div class="col-md-2">
                <label for="cboWRNo">Vehicle Inpass No.</label>
                @Html.DropDownList("cboVINo", (SelectList)ViewBag.VINoList, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>
            <div class="col-md-4">
                <label for="cboWRNo">Customer</label>
                @Html.DropDownList("cboCustomer", (SelectList)ViewBag.CusList, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>
            <div class="col-md-2">
                <label>From</label>
                <input id="txtFrom" value="@System.DateTime.Today.AddMonths(-1).ToString("dd-MMMM-yyyy")" onchange="Filter()" class="form_input" />
            </div>
            <div class="col-md-2">
                <label>To</label>
                <input id="txtTo" value="@System.DateTime.Today.ToString("dd-MMMM-yyyy")" onchange="Filter()" class="form_input" />
            </div>
        </div>
        <div id="vehicleInpasslist">
            @Html.Action("PreviousList")
        </div>
    </div>
</div>*@
<div class="row">
    <div class="form-head1">
        <h4>Vehicle Inpass List</h4>
    </div>

    <div class="main-part pad1">
        <div class="row">
            <div class="col-md-2">
                <label for="cboWRNo">Vehicle Inpass No.</label>
                @Html.DropDownList("cboVINo", (SelectList)ViewBag.VINoList, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>
            <div class="col-md-4">
                <label for="cboWRNo">Customer</label>
                @Html.DropDownList("cboCustomer", (SelectList)ViewBag.CusList, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>
            <div class="col-md-2">
                <label>From</label>
                <input id="txtFrom" value="@System.DateTime.Today.AddMonths(-1).ToString("dd-MMMM-yyyy")" onchange="Filter()" class="form_input" />
            </div>
            <div class="col-md-2">
                <label>To</label>
                <input id="txtTo" value="@System.DateTime.Today.ToString("dd-MMMM-yyyy")" onchange="Filter()" class="form_input" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive" id="vehicleInpasslist">
                    @Html.Action("PreviousList")
                </div>
                </div>
            </div>

                <div class="row">
                    <div class="col-md-12 hrpart">
                        <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
                    </div>
                </div>
            </div>
        </div>
