@model IList<ArabErp.Domain.GINRegister>
<table class="table table-bordered">
    <thead>
        <tr class="grid_heading">
            <th width="10%"><h1>Material Code</h1></th>
            <th width="25%"><h1>Material/Spares</h1></th>
            <th width="10%"><h1>Part No.</h1></th>
            <th width="10%" class="text-right"><h1>Stock</h1></th>
            <th width="5%"><h1>Unit</h1></th>
            <th width="10%"><h1>SO No.</h1></th>
            <th width="10%"><h1>JobCard No.</h1></th>
            <th width="10%"><h1>WR.No.</h1></th>
            <th width="10%" class="text-right"><h1>Required Qty.</h1></th>
            <th width="10%" class="text-right"><h1>Issued Qty.</h1></th>
            <th width="10%" class="text-right"><h1>Balance Qty.</h1></th>
           
        </tr>
    </thead>
  
        <tbody class="grid_row">
    @{
            int val1 = 0;
            foreach (var item in Model)
             {
            <tr>
    @{
                 if (val1 == 0)
                 {
                val1 = Model.Count(m => m.ItemRefNo == item.ItemRefNo);
                <td rowspan="@val1" class="grid-cell">@item.ItemRefNo</td>
                <td rowspan="@val1" class="grid-cell">@item.ItemName</td>
                <td rowspan="@val1" class="grid-cell">@item.PartNo</td>
                <td rowspan="@val1" class="grid-cell text-right">@item.STOCK</td>
                <td rowspan="@val1" class="grid-cell">@item.UnitName</td>
                 
                 }
               
}               <td class="grid-cell">@item.SaleOrderRefNo</td>
                <td class="grid-cell">@item.JobCardNo</td>
                <td class="grid-cell">@item.WorkShopRequestRefNo</td>
                <td class="grid-cell text-right">@item.Quantity</td>
                <td class="grid-cell text-right">@item.ISSQTY</td>
                <td class="grid-cell text-right">@item.BALQTY</td>
    
            </tr>
        
        val1--;
           }
    }
        </tbody>
   
</table>

