
@{
    ViewBag.Title = "GIN Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

    function Filter() {

        $("#gin_reg").addClass("fade");
        var itmid = $("#filter-Material").val().trim();
        var url = '@Url.Action("GINRegisterReport")';
        url += "?itmid=" + encodeURIComponent(itmid);
        $("#gin_reg").load(url, function () {
            $("#gin_reg").removeClass("fade");
        });

    }
    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }
    function GoToPrint() {
       
        var Itmid = $("#filter-Material").val().trim();
        //var Itmname = $("#cboItem option:selected").text();
        var url = '@Url.Action("Print")';
        url += "?&Itmid=" + encodeURIComponent(Itmid);
        window.location = url;

    }
</script>
<div class="row">
    <div class="form-head1">
        <h4>GIN Register</h4>
    </div>
    <div class="main-part pad1">
        <div class="row">
        @*<div class="col-md-3">
                <label for="cboItem">Material/Spares</label>
                @Html.DropDownList("cboItem", (SelectList)ViewBag.ItmList, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>*@
            <div class="col-md-3">
                <label for="filter-Material">Material/Spares</label>
                <input id="filter-Material" class="form_input" placeholder="Search for Material" onkeyup="Filter()" onchange="Filter()" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive" id="gin_reg">
                    @Html.Action("GINRegisterReport")
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 hrpart">
                <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
                <input type="button" value="Print" onclick="GoToPrint()" class="form-button right" />
            </div>
        </div>
    </div>
</div>


