
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">


    function Filter() {
        $("#Target").addClass("fade");
        var id = $("#cboMonth").val();

        var url = '@Url.Action("TargetVsAchievedRegister")';
        url += "?id=" + id;
        $("#Target").load(url, function () {
            $("#Target").removeClass("fade");
        });
    }
    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }
    function GoToPrint() {
        var name = $("#cboMonth option:selected").text();
        var id = $("#cboMonth").val();
        var url = '@Url.Action("Print")';
        url += "?name=" + name + "&id=" + id;
        window.location = url;
    }
</script>



<div class="row">
    <div class="form-head1">

        <h4>Target Vs Achieved</h4>

    </div>
    <div class="main-part pad1">


        <div class="row">
            <div class="col-md-3">
                <label for="cboMonth">Month</label>
                @Html.DropDownList("cboMonth", (SelectList)ViewBag.MonthList, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive" id="Target">
                    @Html.Action("TargetVsAchievedRegister")
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 hrpart">
                <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
                <input type="button" value="Print" onclick="GoToPrint()" class="form-button right" />
            </div>
        </div>
    </div>
</div>



