
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("Production Plan", "CreateProductionPlan")<br />
@Html.ActionLink("Purchase Indent", "PurchaseIndent")<br />
@Html.ActionLink("Purchase Indent Approval", "PurchaseIndentApproval")<br />
@Html.ActionLink("Purchase Order", "PendingPurchaseIndent")<br />
@Html.ActionLink("Purchase Order Approvel", "PurchaseOrderApproval")<br />
@Html.ActionLink("GRN", "PendingPurchaseOrder")<br />
@Html.ActionLink("ProductLIne", "CreateProductLIne")


<h4>Admin</h4>

@Html.ActionLink("Month", "Month")<br />
@Html.ActionLink("Financial Year", "FinancialYear")<br />
@Html.ActionLink("Product", "Product")<br />