@model ArabErp.Domain.StockCreation

<script type="text/javascript">

    function AddRowToFinishedGoods() {
        var i = 0;
        $('tr[id^="FG_"]').each(function () {
            var id = this.id;
            var row = Number(id.replace("FG_", ""));
            if (row > i) {
                i = row;
            }
        });
        i++;
        var item = $("#FinishedGoods_" + (i - 1) + "__ItemId").val();
        var quantity = $("#FinishedGoods_" + (i - 1) + "__Quantity").val();
        if (item != "" && quantity != "0") {
            var clone = $('#FG_0').clone(); // clone the BatchProducts item
            //Update the index of the clone
            //clone.html($(clone).html().replace("SalesQuotationItems_0__", 'SalesQuotationItems_' + i + '__'));
            clone.html($(clone).html().replace(/FinishedGoods_0__/g, 'FinishedGoods_' + i + '__'));
            clone.html($(clone).html().replace(/FinishedGoods_0__/g, 'FinishedGoods_' + i + '__'));
            clone.html($(clone).html().replace(/\FinishedGoods[0]./g, 'FinishedGoods[' + i + '].'));
            clone.html($(clone).html().replace(/\[0\]/g, '[' + i + ']'));
            clone.html($(clone).html().replace(/\(0\)/g, '(' + i + ')'));
            clone.html($(clone).html().replace(/FG_0/, 'Row_' + i + ''));
            clone.html($(clone).html().replace(/FG_slno_0/, 'FG_slno_' + i + ''));
            //clone.html($(clone).html().replace(/this,0/, 'this,' + i + ''));
            $("#finished-goods-table").append('<tr id="FG_' + i + '">' + clone.html() + '  </tr>');
            $("#FG_slno_" + i).val((i + 1));
            //$("#FinishedGoods_" + i + "__SlNo").val((i + 1));
        }
        else {
            toastr.info("You have to fill the existing rows before adding a new row");
        }
        //bind keypress event
        $(".numbers-only").keypress(function (e) {
            if (e.which == 8 || (e.which == 45 && $(this).val().indexOf('-') == -1) || (e.which == 46 && $(this).val().indexOf('.') == -1) || (e.which > 47 && e.which < 58)) { }
            else { return false; }
        });

        $("#FG_" + i).find('span[class="custom-combobox"]').remove();
        $("#FinishedGoods_"+i+"__ItemId").combobox();
    }

    function DeleteRowFromFinished(index) {
        var i = 0;
        var no = 1;
        $('tr[id^="FG_"]').each(function () {
            var id = this.id;
            no++;
            var row = Number(id.replace("FG_", ""));
            if (row > i) {
                i = row;
            }
        });
        i++;

        if (i > 1) {
            $("#FG_" + index).remove();
            for (var j = index + 1; j < i; j++) {
                var ItemId = $("#FinishedGoods_" + j + "__ItemId").val();
                var Quantity = $("#FinishedGoods_" + j + "__Quantity").val();
                var Rate = $("#FinishedGoods_" + j + "__Rate").val();

                var clone = $("#FG_" + j).clone(true, true);
                clone.html($(clone).html().replace(new RegExp("FinishedGoods_" + j + "__", "g"), 'FinishedGoods_' + (j - 1) + '__'));
                clone.html($(clone).html().replace(new RegExp("\\[" + j + "].", "g"), "[" + (j - 1) + "]."));
                clone.html($(clone).html().replace("DeleteRowFromFinished(" + j, "DeleteRowFromFinished(" + (j - 1)));
                clone.html($(clone).html().replace('FG_slno_' + j, 'FG_slno_' + (j - 1)));
                //clone.html($(clone).html().replace("Delete(" + j, "Delete(" + (j - 1)));
                //clone.html($(clone).html().replace("Row_" + j, "Row_" + (j - 1)));
                //clone.html($(clone).html().replace("this," + j, "this," + (j - 1)));
                $("#FG_" + j).html(clone.html());
                //$("#FinishedGoods_" + (j - 1) + "__SlNo").val(j);
                $("#FG_" + (j)).attr('id', 'FG_' + (j - 1));
                $("#FG_slno_" + (j - 1)).val(j);

                $("#FinishedGoods_" + (j - 1) + "__ItemId").val(ItemId);
                $("#FinishedGoods_" + (j - 1) + "__Quantity").val(Quantity);
                $("#FinishedGoods_" + (j - 1) + "__Rate").val(Rate);
            }
        }
    }

    function OnFinishedMaterialChanged(index) {
        var item = $("#FinishedGoods_" + index + "__ItemId").val();
        if (item == '') return;
        var count = 0;
        $("select[id$='__ItemId']").each(function (index, object) {
            if ($(object).val() == item) {
                count++;
            }
        })
        if (count > 1) {
            toastr.info("A Material/Spare can only be selected once");
            $("#FinishedGoods_" + index + "__ItemId").val('');
        }
    }

</script>

<table class="table table-bordered" id="finished-goods-table">
    <thead>
        <tr class="grid_heading">
            <th width="2%"></th>
            <th width="3%" class="text-center">#</th>
            <th width="73%"><h1>Material/Spare</h1></th>
            <th width="10%" class="text-right"><h1>Quantity</h1></th>
            <th width="10%" class="text-right"><h1>Rate</h1></th>
            <th width="2%"></th>
        </tr>
    </thead>
    <tbody class="grid_row">
        @for (int i = 0; i < Model.FinishedGoods.Count; i++)
        {
            <tr id="FG_@i">
                <td style="vertical-align:middle" align="center">
                    <a class="glyphicon glyphicon-minus" style="top:0px" onclick="DeleteRowFromFinished(@i)"></a>
                </td>
                <td>
                    @Html.HiddenFor(m => m.FinishedGoods[i].StockCreationFinishedGoodId)
                    <input id="FG_slno_@i" type="text" value="@(i + 1)" style="width:100%" class="form_input text-center" disabled />
                </td>
                <td>
                    @Html.DropDownListFor(m => m.FinishedGoods[i].ItemId, new SelectList(ViewBag.materialList, "Value", "Text", Model.FinishedGoods[i].ItemId), "Select Material/Spare", new { @class = "form_input", @required = "true", @onchange = "OnFinishedMaterialChanged(" + i + ")" })
                </td>
                <td>
                    @Html.TextBoxFor(m => m.FinishedGoods[i].Quantity, new { @class = "form_input text-right numbers-only", @required = "true" })
                </td>
                <td>
                    @Html.TextBoxFor(m => m.FinishedGoods[i].Rate, new { @class = "form_input text-right numbers-only" })
                </td>
                <td style="vertical-align:middle" align="center">
                    <a id="add_row" class="glyphicon glyphicon-plus" style="top:0px" onclick="AddRowToFinishedGoods()"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
