@model ArabErp.Domain.StockCreation

@{
    ViewBag.Title = "Create Stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {

        $("#StockCreationRefNo").tooltip();

        //---------------------toastr---------------------------//
        toastr.options = {
            "positionClass": "toast-bottom-full-width",
            "timeOut": "5000",
            "extendedTimeOut": "2000"
        }
        if ('@TempData["success"]' != '') {
            toastr.success('@TempData["success"]');
        }
        else if ('@TempData["error"]' != '') {
            toastr.error('@TempData["error"]'.split('|')[0]);
            console.log('@TempData["error"]'.split('|')[1]);
        }
        @{ TempData["success"] = TempData["error"] = ""; }
        //------------------------------------------------------//

        $("#StockCreationDate").datepicker({
            dateFormat: "dd MM yy"
        });

        //bind keypress event
        $(".numbers-only").keypress(function (e) {
            if (e.which == 8 || (e.which == 45 && $(this).val().indexOf('-') == -1) || (e.which == 46 && $(this).val().indexOf('.') == -1) || (e.which > 47 && e.which < 58)) { }
            else { return false; }
        });

    })

    function formValidation() {
        return true;
    }

    function Previous() {
        var url = '@Url.Action("PreviousList")';
        window.location = url;
    }

</script>


<div class="row">
    <div class="form-head1">
        <h4>Stock Creation</h4>
    </div>

    <div class="main-part pad1">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "createFrom", @id = "stock-creation-form", @onsubmit = "return formValidation()" }))
        {
            <div class="row form-group">
                <div class="col-md-12">
                    <em id="expiry-notification"></em>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-2">
                    <label for="StockCreationRefNo">Reference No.</label>
                    @Html.TextBoxFor(m => m.StockCreationRefNo, new { @class = "form_input", @readonly = "true", @title = "This number may change after saving" })
                </div>
                <div class="col-md-2">
                    <label for="StockCreationDate">Date</label>
                    @Html.TextBoxFor(m => m.StockCreationDate, Model.StockCreationDate.ToString("dd MMMM yyyy"), new { @class = "form_input", @readonly = "true", @required = "true" })
                </div>
                <div class="col-md-3">
                    <label for="FinishedGoodStockpointId">Finished Goods Stockpoint</label>
                    @Html.DropDownListFor(m => m.FinishedGoodStockpointId, (SelectList)ViewBag.stockpointList, "Select Stockpoint", new { @class = "form_input" })
                </div>
                <div class="col-md-3">
                    <label for="ConsumedItemStockpointId">Consumed Items Stockpoint</label>
                    @Html.DropDownListFor(m => m.ConsumedItemStockpointId, (SelectList)ViewBag.stockpointList, "Select Stockpoint", new { @class = "form_input" })
                </div>
            </div>

            <strong>Finished Goods:</strong>
            <div class="table-responsive scroll4">
                @Html.Action("FinishedGoodsGrid")
            </div>

            <strong>Consumed Items:</strong>
            <div class="table-responsive scroll4">
                @Html.Action("ConsumedItemsGrid")
            </div>

            <div class="row">
                <div class="col-md-12 hrpart">
                    <input type="button" class="form-button" value="Previous" onclick="Previous()" title="Previously created stocks" />
                    <input type="button" class="form-button right" value="Exit" onclick="Exit()" title="Go to home page" />
                    <input type="submit" class="form-button right" value="Save" />
                </div>
            </div>
        }
    </div>
</div>

