@model ArabErp.Domain.StockCreation

@{
    ViewBag.Title = "Edit/Delete Stock Conversion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {
        $("select[id$='__ItemId']").combobox();
        $("#StockCreationRefNo").tooltip();
        OnConsumedItemStockPointChanged();

        //---------------------toastr---------------------------//
        toastr.options = {
            "positionClass": "toast-bottom-full-width",
            "timeOut": "5000",
            "extendedTimeOut": "2000"
        }
        if ('@TempData["success"]' != '') {
            toastr.success('@TempData["success"]');
        }
        else if ('@TempData["error"]' != '') {
            toastr.error('@TempData["error"]'.split('|')[0]);
            console.log('@TempData["error"]'.split('|')[1]);
        }
        @{ TempData["success"] = TempData["error"] = ""; }
        //------------------------------------------------------//

        $("#StockCreationDate").datepicker({
            dateFormat: "dd-MM-yy"
        });

        //bind keypress event
        $(".numbers-only").keypress(function (e) {
            if (e.which == 8 || (e.which == 45 && $(this).val().indexOf('-') == -1) || (e.which == 46 && $(this).val().indexOf('.') == -1) || (e.which > 47 && e.which < 58)) { }
            else { return false; }
        });

    })

    function formValidation() {
        var status = true;
        $("input[id$='__StockQuantity']").each(function (index, object) {
            if ($(object).val() <= 0) {
                toastr.info("Consumed items should be in stock");
                status = false;
                return false;
            }
            else if (Number($(object).val()) < Number($("#ConsumedItems_" + index + "__Quantity").val())) {
                toastr.info("Consumed quantity cannot be greater than stock quantity");
                status = false;
                return false;
            }
        })
        return status;
    }

    function Previous() {
        var url = '@Url.Action("PreviousList")';
        window.location = url;
    }

    function OnConsumedItemStockPointChanged() {
        $("#consumed-table").addClass("fade");
        $("input[id$='__StockQuantity']").each(function (index, object) {
            if ($("#ConsumedStockpointId").val() == '') {
                $(object).val(0);
            }
            else OnMaterialChanged(index);
        })
        $("#consumed-table").removeClass("fade");
    }

    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }

</script>


<div class="row">
    <div class="form-head1">
        <h4>Edit/Delete Stock Conversion</h4>
    </div>

    <div class="main-part pad1">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "createFrom", @id = "stock-creation-form", @onsubmit = "return formValidation()" }))
        {
            <div class="row form-group">
                <div class="col-md-12">
                    <em id="expiry-notification"></em>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-2">
                    <label for="StockCreationRefNo">Reference No.</label>
                    @Html.TextBoxFor(m => m.StockCreationRefNo, new { @class = "form_input", @readonly = "true"})
                </div>
                <div class="col-md-2">
                    <label for="StockCreationDate">Date</label>
                    @Html.TextBoxFor(m => m.StockCreationDate, Model.StockCreationDate.ToString("dd-MMMM-yyyy"), new { @class = "form_input", @readonly = "true", @required = "true", @onchange = "OnConsumedItemStockPointChanged()" })
                </div>
                <div class="col-md-3">
                    <label for="ConsumedItemStockpointId">Source</label>
                    @Html.DropDownListFor(m => m.ConsumedStockpointId, new SelectList(ViewBag.stockpointList, "Value", "Text", Model.ConsumedStockpointId), "Select Stockpoint", new { @class = "form_input", @onchange = "OnConsumedItemStockPointChanged()" })
                </div>
                <div class="col-md-3">
                    <label for="FinishedGoodStockpointId">Destination</label>
                    @Html.DropDownListFor(m => m.FinishedStockpointId, new SelectList(ViewBag.stockpointList, "Value", "Text", Model.FinishedStockpointId), "Select Stockpoint", new { @class = "form_input" })
                </div>
            </div>
            
            <strong>Consumed Items (OUT):</strong>
            <div class="table-responsive scroll4" id="consumed-table">
                @Html.Partial("_ConsumedItem")
            </div>

            <strong>Finished Goods (IN):</strong>
            <div class="table-responsive scroll4" id="finished-table">
                @Html.Partial("_FinishedGood")
            </div>

            <div class="row">
                <div class="col-md-12 hrpart">
                    <input type="button" class="form-button" value="Delete" onclick="DeleteItem()" />
                    <input type="button" class="form-button right" value="Exit" onclick="Exit()" title="Go to home page" />
                    <input type="submit" class="form-button right" value="Save" />
                </div>
            </div>
        }
    </div>
</div>

