@model IList<ArabErp.Domain.ItemBatch>

<table class="table table-bordered">
    <thead>
        <tr class="grid_heading">
            <th width="2%" class="text-center">#</th>
            <th width="15%"><h1>GRN No. & Date</h1></th>
            <th width="15%"><h1>SO Ref. No. & Date</h1></th>
            <th width="33%"><h1>Material/Spare</h1></th>
            <th width="10%" nowrap><h1>Serial No.</h1></th>
            <th width="20%" nowrap><h1>Employee</h1></th>
            <th width="5%"></th>
        </tr>
    </thead>
    <tbody class="grid_row">
        @{
            if (Model.Count > 0)
            {
                for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>
                            <input type="text" value="@(i + 1)" style="width:25px" class="form_input text-center" disabled />
                        </td>
                        <td>
                            <input type="text" value="@Model[i].GRNNo - @Model[i].GRNDate.ToString("dd MMMM yyyy")" class="form_input" disabled />
                        </td>
                        <td>
                            <input type="text" value="@Model[i].SaleOrderRefNo - @Model[i].SaleOrderDate" class="form_input" disabled />
                        </td>
                        <td>
                            <input type="text" value="@Model[i].ItemName" class="form_input" disabled />
                        </td>
                        <td>
                            <input type="text" value="@Model[i].SerialNo" class="form_input" disabled />
                        </td>
                        <td>
                            <input type="text" value="@Model[i].CreatedBy" class="form_input" disabled />
                        </td>
                        <td>
                            <input type="button" class="form-button4" value="Un-reserve" title="Click to unreserve this item" onclick="OnItemSelected('@Model[i].ItemBatchId')" @(Model[i].SaleOrderRefNo == "-" ? "hidden" : "") />
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7">
                        <center>
                            <em>No material/spare were found</em>
                        </center>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

