@model IList<ArabErp.Domain.ItemBatch>


<script type="text/javascript">
    //$(document).ready(function () {
    //    $('#aaa').popover({
    //        html: true,
    //        content: function () {
    //            return $('#aaa').html();
    //        }
    //    });
    //});

    //$('#aaa').on('shown.bs.modal', function () {
    //    $('#myInput').focus()
    //})

    function ShowDetails(id) {
        var url = '@Url.Action("FGTrackingPopup")';
        //url += "?id=" + id;
        $("#div-details").text('Loading...');
        $("#div-details").load(url, { id: id });
        $('#details-modal').modal('show');
    }
</script>


<table class="table table-bordered table-hover" id="aaa" data-placement="bottom">
    <thead>
        <tr class="grid_heading">
            <th width="2%" class="text-center">#</th>
            <th width="15%"><h1>Customer</h1></th>
            <th width="15%" nowrap><h1>GRN No. & Date</h1></th>
            <th width="14%" title="Sale Order Ref. No. and Date" nowrap><h1>SO Ref. No. & Date</h1></th>
            @*<th width="10%" title="Delivery Challan Ref. No."><h1>DC Ref. No.</h1></th>*@
            <th width="30%"><h1>Material/Spare</h1></th>
            <th width="13%" nowrap><h1>Serial No.</h1></th>
            <th width="12%" nowrap><h1>Employee</h1></th>
            <th width="10%" nowrap><h1>Warr. Ex. Date</h1></th>
            @*<th width="10%" title="in months"><h1>Warranty Left</h1></th>*@
            <th width="1%"></th>
            <th width="1%"></th>
        </tr>
    </thead>
    <tbody class="grid_row">
        @{
            if (Model.Count > 0)
            {
                for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>
                            @*<input type="text" value="*@@(i + 1)@*" style="width:25px" class="form_input text-center" disabled />*@
                        </td>
                        <td>
                            @*<input value="*@@Model[i].CustomerName@*" class="form_input" title="@Model[i].CustomerName" disabled />*@
                        </td>
                        <td>
                            @*<input type="text" value="*@@Model[i].GRNNo - @Model[i].GRNDate.ToString("dd-MMMM-yyyy")@*" class="form_input" disabled />*@
                        </td>
                        <td>
                            @*<input type="text" value="*@@Model[i].SaleOrderRefNo - @Model[i].SaleOrderDate@*" class="form_input" disabled />*@
                        </td>
                        @*<td>
                            <input type="text" value="@Model[i].DeliveryChallanRefNo" class="form_input" disabled />
                        </td>*@
                        <td>
                            @*<input type="text" value="*@@Model[i].ItemName@*" class="form_input" disabled />*@
                        </td>
                        <td>
                            @*<input type="text" value="*@@Model[i].SerialNo@*" class="form_input bold" disabled />*@
                        </td>
                        <td>
                            @*<input type="text" value="*@@Model[i].CreatedBy@*" class="form_input" disabled />*@
                        </td>
                        <td>
                            @*<input type="text"*@
                                   @if(Model[i].WarrantyExpireDate.ToString("dd MMMM yyyy") != "01 January 0001")
                                   {
                                       @: @*value="*@@Model[i].WarrantyExpireDate.ToString("dd MMMM yyyy")@*"*@
                                   }
                                   else
                                   {
                                       @: @*value="*@N/A@*"*@
                                   }
                            @*class="form_input" disabled />*@
                        </td>
                        @*<td>
                            <input type="text" value="@Model[i].WarrantyLeft" class="form_input" disabled />
                        </td>*@
                        <td>
                            @if (Model[i].DeliveryChallanId == 0)
                            {
                                <input type="button" class="form-button4" value="Un-reserve" title="Click to unreserve this item" onclick="OnItemSelected('@Model[i].SaleOrderId')" @(Model[i].SaleOrderRefNo.IsEmpty() ? "hidden" : "") />
                            }
                            else
                            {
                                <center><span class="perm">Delivered</span></center>
                            }
                        </td>
                        <td>
                            <input type="button" class="form-button4" onclick="ShowDetails(@Model[i].ItemBatchId)" value="Details" title="Click to see more details"/>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8">
                        <center>
                            <em>No material/spare found!</em>
                        </center>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<!-- modal to show details -->
<div id="details-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @*<div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>*@
            <div class="modal-body" id="div-details">
                Loading...
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>*@
        </div>
    </div>
</div>

