@model IList<ArabErp.Domain.PendingForSOIReservation>

<table class="table table-bordered table-hover">
    <thead>
        <tr class="grid_heading">
            <th width="2%" class="text-center">#</th>
            <th width="15%" title="Sale Order No. & Date"><h1>Sale Order No. &amp; Date</h1></th>
            <th width="10%" title="Workshop Request No."><h1>Workshop Req. No.</h1></th>
            <th width="8%" title="Job Card No."><h1>Job Card No.</h1></th>
            <th width="15%" nowrap><h1> Reg No./Chassis No.</h1></th>
            <th width="8%" title="Store Issue No."><h1>Store Issue No.</h1></th>
            <th width="30%"><h1>Material/Spares</h1></th>
            <th width="15%" nowrap><h1>Available Serial No.</h1></th>
            <th width="5%" class="text-right"><h1>Quantity</h1></th>
            <th width="5%" class="text-right" title="Previously Reserved Quantity" nowrap><h1>Res. Qty.</h1></th>
            <th width="5%" class="text-right" title="Remaining quantity to be reserved" nowrap><h1>Rem. Qty.</h1></th>
            <th width="1%"><center><h1></h1></center></th>
        </tr>
    </thead>
    <tbody class="grid_row">
        @if (Model.Count > 0)
        {
            for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td align="center">
                        @*<input type="text" value="*@@(i + 1)@*" style="width:100%" class="form_input text-center" disabled />*@
                    </td>
                    <td>
                        @*<input type="text" value="*@<strong>@Model[i].SaleOrderRefNo</strong> - @Model[i].SaleOrderDate.ToString("dd MMMM yyyy")@*" class="form_input" disabled />*@
                    </td>
                    <td style="white-space:normal">
                        <strong>@Model[i].WorkShopRequestRefNo</strong>
                        @*<input type="text" value="*@@*@Model[i].WorkDescriptionRefNo - @Model[i].WorkDescrShortName*@@*" class="form_input" disabled />*@
                    </td>
                    <td>
                        <strong>@Model[i].JobCardNo</strong>
                    </td>
                    <td>
                        @Model[i].RegistrationNo
                        @if ((Model[i].RegistrationNo != null && Model[i].RegistrationNo != "") && (Model[i].ChassisNo != null && Model[i].ChassisNo != ""))
                        {
                            @: -
                                                 }
                        @Model[i].ChassisNo
                    </td>

                    <td>
                        <strong>@Model[i].StoreIssueRefNo</strong>
                    </td>
                    <td>
                        @*<input type="text" value="*@@Model[i].ItemName@*" class="form_input" disabled />*@
                    </td>
                    <td>
                        <strong>@Model[i].SerialNo</strong>
                    </td>
                    <td align="right">
                        @*<input type="text" value="*@@Model[i].Quantity@*" class="form_input text-right" disabled />*@
                    </td>
                    <td align="right">
                        @*<input type="text" value="*@@Model[i].ReservedQuantity@*" class="form_input text-right" disabled />*@
                    </td>
                    <td align="right">
                        @*<input type="text" value="*@@(Model[i].Quantity - Model[i].ReservedQuantity)@*" class="form_input text-right" disabled />*@
                    </td>
                    <td>
                        <center>
                            @if (Model[i].SerialNo == null || Model[i].SerialNo == "")
                            {
                                <span class="perm">No Serial No found</span>
                            }
                            else
                            {
                                <input type="button" class="form-button4" value="Select" title="Select this sale order for reserving serial number" onclick="OnItemSelected('@Model[i].SaleOrderItemId', '@Model[i].ItemId')" />

                            }
                        </center>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="11">
                    <center><em>There are no materials/spares for allocation!</em></center>
                </td>
            </tr>
        }
    </tbody>
</table>
