@model IList<ArabErp.Domain.ItemBatch>

@{
    ViewBag.Title = "Assign Serial Numbers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function Back() {
        var url = '@Url.Action("Pending")';
        window.location = url;
    }

</script>

    <div class="row">

        <div class="form-head1">
            <h4>Assign Serial Number</h4>
        </div>

        <div class="main-part pad1 white">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "createFrom", @id = "batching-form" }))
            {
                <div class="row">
                    <div class="main-grid main-grid-top scroll1">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="grid_heading">
                                        <th width="5%" class="text-center">#</th>
                                        <th width="95%"><h1>Serial Number</h1></th>
                                    </tr>
                                </thead>
                                <tbody class="grid_row">
                                    @for (int i = 0; i < Model.Count; i++)
                            {
                                        <tr>
                                            <td>
                                                @Html.HiddenFor(m => m[i].GRNItemId)
                                                @Html.HiddenFor(m => m[i].Quantity)
                                                <input type="text" value="@(i + 1)" style="width:100%" class="form_input text-center" disabled />
                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => m[i].SerialNo, new { @class = "form_input", @placeholder = "Serial Number" })
                                            </td>
                                        </tr>
                            }
                                </tbody>
                            </table>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 hrpart1">
                                <input type="button" class="form-button right" onclick="Back()" value="Back">
                                <button type="submit" class="form-button right">Save</button>
                            </div>
                        </div>
                        }
                    </div>
                </div>

