@model IList<ArabErp.Domain.ItemBatch>

@{
    ViewBag.Title = "Previous List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .fade {
        opacity: 0.6;
    }
</style>
<script type="text/javascript">

    $(document).ready(function () {
        $("#txtFrom").datepicker({
            dateFormat: "dd-MM-yy"
        });
        $("#txtTo").datepicker({
            dateFormat: "dd-MM-yy"
        });
    })

    function OnItemSelected(id) {
        var url = '@Url.Action("Edit")';
        url += "?id=" + id;
        window.location = url;
    }
    function Exit() {
        var url = '@Url.Action("Pending")';
        window.location = url;
    }

    function Filter() {
        $("#previous-list").addClass("fade");
        var grnid = $("#cboGRNNo").val();
        var from = $("#txtFrom").val();
        var to = $("#txtTo").val();
        var url = '@Url.Action("PreviousList")';
        url += "?from=" + from + "&to=" + to + "&id=" + grnid;
        $("#previous-list").load(url, function () {
            $("#previous-list").removeClass("fade");
        });
    }
</script>

<div class="row">

    <div class="form-head1">
        <h4>Previous List - Serial No.s</h4>
    </div>

    <div class="main-part pad1">
        <div class="row">
            <div class="col-md-2">
                <label>GRN No.</label>
                @Html.DropDownList("cboGRNNo", (SelectList)ViewBag.grnList, "Select GRN No.", new { @class = "form_input", @onchange = "Filter()" })
            </div>
            <div class="col-md-2">
                <label>GRN From</label>
                <input id="txtFrom" value="@System.DateTime.Today.AddMonths(-1).ToString("dd-MMMM-yyyy")" onchange="Filter()" class="form_input" />
            </div>
            <div class="col-md-2">
                <label>GRN To</label>
                <input id="txtTo" value="@System.DateTime.Today.ToString("dd-MMMM-yyyy")" onchange="Filter()" class="form_input" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive" id="previous-list">
                    @Html.Action("PreviousList")
                </div>
                </div>
            </div>

                <div class="row">
                    <div class="col-md-12 hrpart">
                        <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
                    </div>
                </div>
            </div>
        </div>

