@model IList<ArabErp.Domain.PendingGRNItemsForBatch>

@{
    ViewBag.Title = "Pending GRN For Batching";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function OnItemSelected(id) {
        var url = '@Url.Action("Create")';
        url += "?id=" + id;
        window.location = url;
    }

</script>

<div class="container">
    <div class="row">

        <div class="form-head1">
            <h4>Pending GRN For Serial Number</h4>
        </div>

        <div class="main-part pad1">
            <div class="table-responsive scroll4">
                <table class="table table-bordered">
                    <thead>
                        <tr class="grid_heading">
                            <th width="1%" class="text-center">#</th>
                            <th width="10%"><h1>GRN No. & Date</h1></th>
                            <th width="10%"><h1>Item</h1></th>
                            <th width="1%" nowrap><h1>Quantity</h1></th>
                            <th width="10%"><h1>Remarks</h1></th>
                            <th width="10%"><h1>Supplier</h1></th>
                            <th width="10%" nowrap><h1>Warehouse/Stockpoint</h1></th>
                            <th width="1%" nowrap><h1>Ageing</h1></th>
                            <th width="10%" nowrap><h1>Type</h1></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="grid_row">
                        @{
                            if (Model.Count > 0)
                            {
                                for (int i = 0; i < Model.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <input type="text" value="@(i + 1)" style="width:25px" class="form_input text-center" disabled />
                                        </td>
                                        <td>
                                            <input type="text" value="@Model[i].GRNNo - @Model[i].GRNDate.ToString("dd MMMM yyyy")" class="form_input" disabled />
                                        </td>
                                        <td>
                                            <input type="text" value="@Model[i].ItemName" class="form_input" disabled />
                                        </td>
                                        <td>
                                            <input type="text" value="@Model[i].Quantity" class="form_input text-right" disabled />
                                        </td>
                                        <td>
                                            <input type="text" value="@Model[i].Remarks" class="form_input" disabled />
                                        </td>
                                        <td>
                                            <input type="text" value="@Model[i].SupplierName" class="form_input" disabled />
                                        </td>
                                        <td>
                                            <input type="text" value="@Model[i].StockPointName" class="form_input" disabled />
                                        </td>
                                        <td>
                                            <input type="text" value="@Model[i].Ageing" class="form_input" disabled />
                                        </td>
                                        <td>
                                            <input type="text" value="@Model[i].isDirect" class="form_input" disabled />
                                        </td>
                                        <td>
                                            <input type="button" value="Select" title="Select this item to assigning serial number" onclick="OnItemSelected('@(i)')" />
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>

            <div class="row">

                <div class="col-md-12 hrpart">
                    <input type="button" class="form-button" onclick="PreviousList()" value="Previous">
                    <button type="submit" class="form-button right">Proceed</button>
                </div>

            </div>
        </div>
    </div>
</div>