@model IList<ArabErp.Domain.PendingForSOIReservation>

@{
    ViewBag.Title = "Pending Sale Orders For Reservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {

        //---------------------toastr---------------------------//
        toastr.options = {
            "positionClass": "toast-bottom-full-width",
            "timeOut": "5000",
            "extendedTimeOut": "2000"
        }
        if ('@TempData["success"]' != '') {
            toastr.success('@TempData["success"]');
        }
        else if ('@TempData["error"]' != '') {
            toastr.error('@TempData["error"]'.split('|')[0]);
            console.log('@TempData["error"]'.split('|')[1]);
        }
        @{ TempData["success"] = TempData["error"] = ""; }
        //------------------------------------------------------//

    })

    function Previous() {
        alert('function not defined');
    }

    function OnItemSelected(SOIid, itemId) {
        var url = '@Url.Action("Reserve")';
        url += "?id=" + SOIid + "&item=" + itemId;
        window.location = url;
    }

</script>

<div class="container">
    <div class="row">

        <div class="form-head1">
            <h4>Assign Serial Number</h4>
        </div>

        <div class="main-part pad1">
            <div class="table-responsive scroll4">
                <table class="table table-bordered">
                    <thead>
                        <tr class="grid_heading">
                            <th width="3%" class="text-center">#</th>
                            <th width="13%" title="Sale Order Ref. No. & Date"><h1>SO Ref. No. &amp; Date</h1></th>
                            <th width="20%" title="Work Description Ref. No. & Date"><h1>WD Ref. No. &amp; Short Name</h1></th>
                            <th width="20%"><h1>Item Name</h1></th>
                            <th width="5%" class="text-right"><h1>Quantity</h1></th>
                            <th width="5%" class="text-right" title="Previously Reserved Quantity" nowrap><h1>Res. Qty.</h1></th>
                            <th width="5%" class="text-right" title="Remaining quantity to be reserved" nowrap><h1>Rem. Qty.</h1></th>
                            <th width="1%"></th>
                        </tr>
                    </thead>
                    <tbody class="grid_row">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>
                                    <input type="text" value="@(i + 1)" style="width:100%" class="form_input text-center" disabled />
                                </td>
                                <td>
                                    <input type="text" value="@Model[i].SaleOrderRefNo - @Model[i].SaleOrderDate.ToString("dd MMMM yyyy")" class="form_input" disabled />
                                </td>
                                <td>
                                    <input type="text" value="@Model[i].WorkDescriptionRefNo - @Model[i].WorkDescrShortName" class="form_input" disabled />
                                </td>
                                <td>
                                    <input type="text" value="@Model[i].ItemName" class="form_input" disabled />
                                </td>
                                <td>
                                    <input type="text" value="@Model[i].Quantity" class="form_input text-right" disabled />
                                </td>
                                <td>
                                    <input type="text" value="@Model[i].ReservedQuantity" class="form_input text-right" disabled />
                                </td>
                                <td>
                                    <input type="text" value="@(Model[i].Quantity - Model[i].ReservedQuantity)" class="form_input text-right" disabled />
                                </td>
                                <td>
                                    <input type="button" class="form-button4" value="Select" title="Select this item for assigning serial number" onclick="OnItemSelected('@Model[i].SaleOrderItemId', '@Model[i].ItemId')" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>

            <div class="row">
                <div class="col-md-12 hrpart">
                    <input type="button" class="form-button" onclick="Previous()" value="Previous">
                </div>
            </div>
        </div>
    </div>
</div>
