@model IList<ArabErp.Domain.ItemBatch>

@{
    ViewBag.Title = "Reserve Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function () {

        //---------------------toastr---------------------------//
        toastr.options = {
            "positionClass": "toast-bottom-full-width",
            "timeOut": "5000",
            "extendedTimeOut": "2000"
        }
        if ('@TempData["success"]' != '') {
            toastr.success('@TempData["success"]');
        }
        else if ('@TempData["error"]' != '') {
            toastr.error('@TempData["error"]'.split('|')[0]);
            console.log('@TempData["error"]'.split('|')[1]);
        }
        @{ TempData["success"] = TempData["error"] = ""; }
        //------------------------------------------------------//

        @*var url = '@Url.Action("GetItemBatchDetails")';
        $.getJSON(url, { id: '@Model[0].SaleOrderItemId', type: 1 }, function (data) {
            //$("#txtGRNRefNo").val(data.GRNRefNo);
            $("#txtSORefNo").val(data.SaleOrderRefNo);
            $("#txtWDRefNo").val(data.WorkDescRefNo);
        });*@

    })

    function Back() {
        var url = '@Url.Action("PendingReservation")';
        window.location = url;
    }

    function formValidation() {
        @if (Model.Count == 0)
            {
                @: var quantity = 0;
            }
            else
            {
                @: var quantity = '@Model[0].Quantity';
            }

        var count = 0;
        $('input[type="checkbox"').each(function (index, obj) {
            if ($(obj).is(":checked")) count++;
        })

        if (count > Number(quantity)) {
            toastr.info("Only " + quantity + " item(s) required. Please deselect " + (count - quantity) + " item(s).");
        }
        else if (count == 0) {
            toastr.info(quantity + " item(s) are required. Please select atleast one item.");
        }
        else return true;
        return false;
    }

</script>


    <div class="row">

        <div class="form-head1">
            <h4>Reserve Item</h4>
        </div>

        <div class="main-part pad1">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "createFrom", @id = "batching-form", @onsubmit = "return formValidation()" }))
            {
                <div class="row form-group">
                    @*<div class="col-md-3">
                        <label for="txtGRNRefNo">GRN Ref. No. &amp; Date</label>
                        <input type="text" class="form_input" id="txtGRNRefNo" disabled />
                    </div>*@
                    <div class="col-md-3">
                        <label for="txtSORefNo" title="Sale Order Reference No">SO Ref. No.</label>
                        @Html.TextBoxFor(m => m[0].SaleOrderRefNo, new { @class = "form_input", @readonly = "true" })
                        @*<input type="text" class="form_input" id="txtSORefNo"  disabled />*@
                    </div>
                    <div class="col-md-3">
                        <label for="txtWDRefNo" title="Work Descr. Reference No">WD Ref. No.</label>
                        @Html.TextBoxFor(m => m[0].WorkDescrRefNo, new { @class = "form_input", @readonly = "true" })
                        @*<input type="text" class="form_input" id="txtWDRefNo" disabled />*@
                    </div>
                </div>
                
                if (Model.Count > 0)
                {
                    <div class="row form-group">
                        <div class="col-md-10">
                            <em>
                                Number of items remaining for reservation is <strong>@Model[0].Quantity</strong>
                            </em>
                        </div>
                    </div>
                }
                            <div class="row">
                <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="grid_heading">
                                <th width="2%" class="text-center">#</th>
                                <th width="50%"><h1>Item Name</h1></th>
                                <th width="25%"><h1>Serial Number</h1></th>
                                <th width="20%"><h1>GRN No. &amp; Date</h1></th>
                                <th width="1%" title="Checked items will be reserved"><center><h1>Select</h1></center></th>
                            </tr>
                        </thead>
                        <tbody class="grid_row">
                            @if (Model.Count > 0)
                            {
                                for (int i = 0; i < Model.Count; i++)
                                {
                                    <tr>
                                        <td align="center">
                                            @Html.HiddenFor(m => m[i].ItemBatchId)
                                            @Html.HiddenFor(m => m[i].SaleOrderItemId)

                                            @*<input type="text" value="*@@(i + 1)@*" style="width:100%" class="form_input text-center" disabled />*@
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m[i].ItemName, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m[i].SerialNo, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                                        </td>
                                        <td>
                                            @if (Model[i].GRNNo == null)
                                            {
                                                <input value="Opening Stock" class="form_input" readonly="readonly" />
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(m => m[i].GRNNo, Model[i].GRNNo + " - " + Model[i].GRNDate.ToString("dd-MMMM-yyyy"), new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                                                @Html.HiddenFor(m => m[i].GRNDate)
                                            }
                                        </td>
                                        <td>
                                            <center>@Html.CheckBoxFor(m => m[i].isSelected, new { @class = "form_input", autocomplete = "off", @readonly = "readonly", @title = "Check to reserve" })</center>
                                        </td>

                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4">
                                        <center>
                                            <em>
                                                Sorry, we couldn't find any item with a serial number. Please assign serial numbers and it will show up here.
                                            </em>
                                        </center>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                    </div>
                   </div>
                <div class="row">
                    <div class="col-md-12 hrpart">
                        <input type="button" class="form-button right" onclick="Back()" value="Back">
                        <button type="submit" class="form-button right">Save</button>
                    </div>
                </div>
            }
        </div>
    </div>

