@model IEnumerable<ArabErp.Domain.JobOrderPending>
@{
    ViewBag.Title = "PendingJobOrderCompletion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    int isProjectBased = Convert.ToInt32(Request.QueryString["isProjectBased"].ToString());
}
<script>
    function GotoJobcardCompletion(id)
    {
        var url = '@Url.Action("Create")';
        url = url + "?Id=" + id + "&isProjectBased=" + @isProjectBased;
        console.log(url);
        window.location.href = url;
    }
</script>


    <div class="row">

        <div class="form-head1">
            <h4>Pending Job Order Completion</h4>
        </div>
        <div class="main-part pad1 white">
            <div class="row">
                <div class="main-grid main-grid-top scroll1">
            <div class=" table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="grid_heading">
                            <th width="15%"><h1>JC.No.</h1></th>
                            <th width="15%"><h1>JC.Date</h1></th>
                            <th width="50%"><h1>Customer</h1></th>
                            @if (isProjectBased == 0)
                            {
                            <th width="15%"><h1>Vehicle Model</h1></th>
                            }                            
                            <th width="5%"><center><h1></h1></center></th>
                        </tr>
                    </thead>

                    <tbody class="grid_row">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.JobCardNo</td>
                                <td>@item.JobCardDate.ToString("dd/MMM/yyyy")</td>
                                <td>@item.CustomerName</td>
                                @if (isProjectBased == 0)
                                {
                                <td>@item.VehicleModelName</td>
                                }                                
                                <td><center><button class="form-button form-button1" onclick="GotoJobcardCompletion(@item.JobCardId)">Select</button></center></td>
                            </tr>
                            
                        }
                    </tbody>
                </table>
            </div>
                    </div>
                <div class="row-count1">
                    <h5>Row Count:- @Model.Count()</h5>
                </div>
                </div>



            <div class="row">



                        <div class="col-md-12 hrpart1">
                 
                    <button class="form-button">Previous</button>
                    <button type="button" class="form-button right">Exit</button>
                   
                </div>

            </div>
            
        </div>
</div>





