@model IEnumerable<ArabErp.Domain.JobOrderPending>
@{
    ViewBag.Title = "PendingJobOrderCompletion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function GotoJobcardCompletion(id)
    {
        var url = '@Url.Action("Create")';
        url = url + "?Id=" + id;
        console.log(url);
        window.location.href = url;
    }
</script>
<div class="container">

    <div class="row">

        <div class="form-head1">
            <h4>Pending Job Order Completion</h4>
        </div>
        <div class="main-part pad1">
            <div class=" table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="grid_heading">
                            <th><h1>JC No</h1></th>
                            <th><h1>JC Date</h1></th>
                            <th><h1>Customer</h1></th>
                            <th><h1>Vehicle Model</h1></th>
                            <th><center><h1>Select</h1></center></th>
                        </tr>
                    </thead>
                    <tbody class="grid_row">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.JobCardNo</td>
                                <td>@item.JobCardDate.ToString("dd/MMM/yyyy")</td>
                                <td>@item.CustomerName</td>
                                <td>@item.VehicleModelName</td>
                                <td><center><button class="form-button3" onclick="GotoJobcardCompletion(@item.JobCardId)">Select</button></center></td>
                            </tr>
                            
                        }
                    </tbody>
                </table>
            </div>
            <div class="row">


                <div class="col-md-12">
                    <div class="left">
                        <button class="form-button">Previous</button>
                    </div>
                    <div class="margf">
                        <button type="submit" class="form-button">Exit</button>
                        
                        
                        <button type="submit" class="form-button">Proceed</button>
                    </div>

                </div>


            </div>
        </div>
</div></div>





