@model IList<ArabErp.Domain.ProformaInvoice>

<table class="table table-bordered">
    <thead>
        <tr class="grid_heading">
            <th width="2%" class="text-center"><h1>#</h1></th>
            <th width="15%" nowrap><h1>Proforma Invoice No. &amp; Date</h1></th>
            <th width="15%" nowrap><h1>Sale Order No. &amp; Date</h1></th>
            <th width="20%" nowrap><h1>Customer</h1></th>
            <th width="30%" nowrap><h1>Remarks</h1></th>
            <th width="1%"></th>
        </tr>
    </thead>
    <tbody class="grid_row">
        @if (Model.Count > 0)
        {
            int i = 0;
            foreach (var item in Model)
            {
                <tr>
                    <td align="center">
                        @(++i)
                    </td>
                    <td>
                        @item.ProformaInvoiceRefNo - @item.ProformaInvoiceDate.ToString("dd MMMM yyyy")
                    </td>
                    <td>
                        @item.SaleOrderRefNo - @item.SaleOrderDate.ToString("dd MMMM yyyy")
                    </td>
                    <td>
                        @item.CustomerName
                    </td>
                    <td>
                        @item.SpecialRemarks
                    </td>
                    <td>
                        <input type="button" value="Select" onclick="OnItemSelected(@item.ProformaInvoiceId)" checked class="form-button4" />
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">
                    <center>
                        <em>No items found!</em>
                    </center>
                </td>
            </tr>
        }
    </tbody>
</table>
