@model IEnumerable<ArabErp.Domain.SaleOrderStatus>
@{
    ViewBag.Title = "Sale Order Status Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

    function Exit() {
        var url = '@Url.Action("Index","Home")';
        window.location = url;
    }

    function GoToPrint(id) {
        var url = '@Url.Action("Print")';
        //url += "?Id=" + id;
        window.location = url;
    }



</script>

<div class="row">
    <div class="form-head1">
        <h4>Sale Order Status Report</h4>
    </div>

    <div class="main-part pad1 white">

        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive">
                    <table class="table table-b table-bordered">
                        <thead>
                            <tr class="grid_heading">
                                <th width="10%">Customer</th>
                                <th width="5%">S.O. No.</th>
                                <th style="width:5%;">S.O Date</th>
                                <th width="15%">Vehicle Model & Reg.No.</th>
                                <th style="width:7%;">EDD</th>
                                <th style="width:3%;">S.O. Age Days</th>
                                <th style="width:3%;">ODD.</th>

                                @*<th style="width:3%;">Sale Ord. App.</th>*@
                                <th style="width:5%;">WR No. & Due Date</th>
                                <th style="width:5%;">Pur.Req.No & Date</th>
                                <th style="width:5%;">LPO No. & Due Date</th>
                                <th style="width:5%;">GRN</th>
                                <th style="width:5%;">Batch Alloc.</th>
                                <th style="width:5%;">Inpass No. & Date</th>
                                <th style="width:5%;">Registration No./Chassis No.</th>
                                <th style="width:5%;">Job Card No. & Date</th>
                                <th style="width:2%;">Job Card Comp.</th>
                                <td style="width:5%;">DC No.& Date </td>
                                <td style="width:5%;">Sales Inv No.& Date </td>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr class="grid-row">
                                <td class="grid-cell">@item.CustomerName</td>
                                <td class="grid-cell">@item.SaleOrderRefNo</td>
                                <td class="grid-cell">@item.SaleOrderDate.ToString("dd/MMM/yyyy")</td>
                                <td class="grid-cell">@item.VehicleModelName - @item.RegistrationNo</td>
                                <td class="grid-cell">@item.EDateDelivery.ToString("dd/MMM/yyyy")</td>
                                <td class="grid-cell">@((DateTime.Now - item.SaleOrderDate).Days)</td>
                                <td class="grid-cell">@((DateTime.Now - item.EDateDelivery).Days)</td>
                                @*<td class="grid-cell"><img src="~/Images/x.png" )" height="10" width="10" /></td>*@
                                @*<td class="grid-cell"><img src="~/Images/@(item.WorkShopRequest == "Yes" ? "tick.png" : "x.png")" height="10" width="10" /></td>*@
                                <td class="grid-cell">@item.WorkShopRequest</td>
                                <td class="grid-cell">@item.PurchaseRequest</td>
                                <td class="grid-cell">@item.SuppyOrder</td>
                                <td class="grid-cell">@item.GRN</td>
                                <td class="grid-cell">@item.Allocation</td>
                                @*<td class="grid-cell"><img src="~/Images/@(item.PurchaseRequest == "Yes" ? "tick.png" : "x.png")" height="10" width="10" /></td>*@
                                @*<td class="grid-cell"><img src="~/Images/@(item.SuppyOrder == "Yes" ? "tick.png" : "x.png")" height="10" width="10" /></td>
                                    <td class="grid-cell"><img src="~/Images/@(item.GRN == "Yes" ? "tick.png" : "x.png")" height="10" width="10" /></td>*@
                                <td class="grid-cell">@item.VehicleInpass</td>
                                <td class="grid-cell">@item.RegistrationNo</td>
                                <td class="grid-cell">@item.JobCard</td>
                                @*<td class="grid-cell"><img src="~/Images/@(item.VehicleInpass == "Yes" ? "tick.png" : "x.png")" height="10" width="10" /></td>*@
                                @*<td class="grid-cell"><img src="~/Images/@(item.JobCard == "Yes" ? "tick.png" : "x.png")" height="10" width="10" /></td>*@
                                <td class="grid-cell">@item.JobCardComplete</td>
                                <td class="grid-cell">@item.DeliveryChellan</td>
                                <td class="grid-cell">@item.SalesInvoice</td>
                                @*<td class="grid-cell"><img src="~/Images/@(item.SalesInvoice == "Yes" ? "tick.png" : "x.png")" height="10" width="10" /></td>*@
                            </tr>
                        }
                    </table>
                </div>
            </div>

            <div class="row-count1">
                <h5>Row Count:- @Model.Count()</h5>


            </div>
            <div class="col-md-12 hrpart">
                <button type="button" class="form-button right" onclick="Exit()">Exit</button>
                <input type="button" value="Print" onclick="GoToPrint()" class="form-button right" />
            </div>

        </div>

    </div>

</div>
