@model IEnumerable<ArabErp.Domain.SaleOrderStatus>
@{
    ViewBag.Title = "Sale Order Status Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#txtFrom").datepicker({
            dateFormat: "dd-MM-yy"
        });
        $("#txtTo").datepicker({
            dateFormat: "dd-MM-yy"
        });
    })


    function Exit() {
        var url = '@Url.Action("Index","Home")';
        window.location = url;
    }

    function GoToPrint(id) {
        var customer = $("#customer").val().trim();
        var sono = $("#sono").val().trim();
        var lpoNo = $("#lpono").val().trim();
        var ChassisNo = $("#chassisno").val().trim();
      
        var url = '@Url.Action("Print")';
        //url += "?Id=" + id;
        url += "?customer=" + encodeURIComponent(customer) + "&sono=" + encodeURIComponent(sono) + "&lpoNo=" + encodeURIComponent(lpoNo) + "&ChassisNo=" + encodeURIComponent(ChassisNo);
        window.location = url;

    }
    function Filter() {
        var customer = $("#customer").val().trim();
        var sono = $("#sono").val().trim();
        var lpoNo = $("#lpono").val().trim();
        var ChassisNo = $("#chassisno").val().trim();
        var InstallType = $("#cboType").val();
        var from = $("#txtFrom").val();
        var to = $("#txtTo").val();
        var url = '@Url.Action("SaleOrderStatus")';
        url += "?from=" + from + "&to=" + to+"&customer=" + encodeURIComponent(customer) + "&sono=" + encodeURIComponent(sono) + "&lpoNo=" + encodeURIComponent(lpoNo) + "&ChassisNo=" + encodeURIComponent(ChassisNo) + "&InstallType=" + encodeURIComponent(InstallType) ;
        $("#SaleOrder_Status").load(url, function () {
            $("#SaleOrder_Status").removeClass("fade");

        });
    }

</script>

<div class="row">
    <div class="form-head1">
        <h4>Sale Order Status Report</h4>
    </div>

    <div class="main-part pad1">

        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="row form-group">
                    <div class="col-md-2">
                        <label>From</label>
                        <input id="txtFrom" value="@ViewBag.startdate.ToString("dd-MMMM-yyyy")" class="form_input" onchange="Filter()" />
                    </div>
                    <div class="col-md-2">
                        <label>To</label>
                        <input id="txtTo" value="@System.DateTime.Today.ToString("dd-MMMM-yyyy")" class="form_input" onchange="Filter()" />
                    </div>
                    <div class="col-md-2">
                        <label>Customer</label>
                        <input id="customer" class="form_input" placeholder="Search for Customer" onkeyup="Filter()" />
                    </div>
                    <div class="col-md-2">
                        <label>SO No.</label>
                        <input id="sono" class="form_input" placeholder="Search for So.No" onkeyup="Filter()" />
                    </div>
                    <div class="col-md-2">
                        <label>LPO No.</label>
                        <input id="lpono" class="form_input" placeholder="Search for LPO No." onkeyup="Filter()" />
                    </div>
                    <div class="col-md-2">
                        <label>Reg.No./Chassis No.</label>
                        <input id="chassisno" class="form_input" placeholder="Search for Reg/Chassis No." onkeyup="Filter()" />
                    </div>
                    <div class="col-md-2">
                        <label for="txtCustomer">Service/New Installation</label>
                        <select id="cboType" class="form_input" onchange="Filter()">
                            <option value="all" selected>All</option>
                            <option value="service">Service</option>
                            <option value="new">New Installation</option>
                        </select>
                    </div>
                </div>
                <div class="table-responsive" id="SaleOrder_Status">
                    @Html.Action("SaleOrderStatus")
                </div>
            </div>

            <div class="col-md-12 hrpart">
                <button type="button" class="form-button right" onclick="Exit()">Exit</button>
                <input type="button" value="Print" onclick="GoToPrint()" class="form-button right" />
            </div>

        </div>

    </div>

</div>
