
@model IList<ArabErp.Domain.JobCardQC>

<table class="table table-bordered">
    <thead>
        <tr class="grid_heading">
            <th><h1>Job Card QC No.</h1></th>
            <th><h1>Date</h1></th>
            <th><h1></h1>Job Card No. & Date</th>
            <th><h1></h1>QC Status</th>
            <th width="1%" class="text-center"><h1></h1></th>

        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody class="grid_row">
            <tr>
                <td class="grid-cell">@item.JobCardQCRefNo</td>
                <td class="grid-cell">@item.JobCardQCDate.ToString("dd/MMM/yyyy")</td>
                <td class="grid-cell">@item.JobCardNo &amp; @item.JobCardDate.ToString("dd/MMM/yyyy")</td>
                <td class="grid-cell">@item.QCStatus</td>
                <td>
                    <center><input type="button" class="form-button4" value="Select" title="Select to view details" onclick="Open(@item.JobCardQCId)" /></center>
                </td>
            </tr>
        </tbody>
    }
</table>
