
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#txtFrom").datepicker({
            dateFormat: "dd-MM-yy"
        });
        $("#txtTo").datepicker({
            dateFormat: "dd-MM-yy"
        });
    })

    function Filter() {
        $("#Sales_Analysis").addClass("fade");
       
        var from = $("#txtFrom").val();
        var to = $("#txtTo").val();
        var url = '@Url.Action("SalesAnalysisProduct")';
        url += "?from=" + from + "&to=" + to;
        $("#Sales_Analysis").load(url, function () {
            $("#Sales_Analysis").removeClass("fade");
        });
    }
    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }
</script>
<div class="row">
    <div class="form-head1">
        <h4>Sales Analysis-Product Wise</h4>
    </div>
    <div class="main-part pad1">
        <div class="row">
            <div class="col-md-2">
                <label>From</label>
                <input id="txtFrom" value="@ViewBag.Startdate.ToString("dd-MMMM-yyyy")" class="form_input" onchange="Filter()" />
            </div>
            <div class="col-md-2">
                <label>To</label>
                <input id="txtTo" value="@System.DateTime.Today.ToString("dd-MMMM-yyyy")" class="form_input" onchange="Filter()" />
            </div>
            <div class="col-md-3">
                <label for="cboWork">Work Description</label>
                @Html.DropDownList("cboWork", (SelectList)ViewBag.WrkList, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive" id="Sales_Analysis">
                    @Html.Action("SalesAnalysisProduct")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 hrpart">
                <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
            </div>
        </div>
    </div>
</div>

