@model  ArabErp.Domain.WorkShopRequest
<script>
    $(document).ready(function () {

        //bind keypress event for new row inputs.
        $(".numbers-only").keypress(function (e) {
            if (e.which == 8 || (e.which == 46 && $(this).val().indexOf('.') == -1) || (e.which > 47 && e.which < 58)) { } else { return false; }
        });
            });

    function ValueChanged(row) {
       
        var Actualqty = $("#Items_" + row + "__ActualQuantity").val();
        var qty = $("#Items_" + row + "__Quantity").val();

        if (eval(qty) > eval(Actualqty)) {
            alert("Quatity should n't be greater than BOM Quantity");
            $("#Items_" + row + "__Quantity").val(Actualqty);

        }
    }
</script>
<div class="table-responsive scroll">
    <table class="table table-bordered" id="tab_logic">
        <thead>
            <tr class="grid_heading">
                <th width="40%">Material/Spares</th>

                <th width="10%">Part No.</th>
             
                <th width="40%">Remarks</th>
                <th width="5%" class="text-right ">Qty.</th>
                <th width="5%">UoM</th>
            </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < Model.Items.Count; i++)
        {
                <tr>
                   
                    <td>
                    @Html.HiddenFor(m => m.Items[i].ItemId)
                    @Html.TextBoxFor(m => m.Items[i].ItemName, new { @class = "form_input", autocomplete = "off", placeholder = "Material/Spares", @readonly = "readonly" })
                    </td>
                    <td>@Html.TextBoxFor(m => m.Items[i].PartNo, new { @class = "form_input", autocomplete = "off", placeholder = "Part No.", @readonly = "readonly" })</td>
                    <td>@Html.TextBoxFor(m => m.Items[i].Remarks, new { @class = "form_input", autocomplete = "off", placeholder = "Remarks" })</td>
                    <td>
                    @Html.HiddenFor(m => m.Items[i].ActualQuantity)
                    @Html.TextBoxFor(m => m.Items[i].Quantity, new { @class = "form_input clQuantity numbers-only", @style = "text-align:right", autocomplete = "off", @onkeyup = "ValueChanged(" + i + ");" })
                    </td>
                    <td>@Html.TextBoxFor(m => m.Items[i].UnitName, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })</td>
                </tr>
            }
        
        </tbody>
        <tfoot>
            <tr class="grid_heading">
             
                <th width="20%"></th>
              
                <th width="10%"></th>
                <th width="25%"></th>
                <th width="5%" class="text-right "></th>
                <th width="10%"></th>

            </tr>
        </tfoot>
    </table>
</div>

