
@model IList<ArabErp.Domain.WorkShopRequest>


<script>
    function OnSelected(id) {

        var url = '@Url.Action("Edit")';
        url += "/" + id;
        window.location = url;

    }
</script>

                    <table class="table table-bordered">
                        <thead>
                            <tr class="grid_heading">
                                <th width="12%"><h1>Workshop Req.No</h1></th>
                                <th width="12%"><h1>Date</h1></th>
                                <th width="42%"><h1>Customer</h1></th>
                                <th width="12%"><h1>Customer Order Ref.</h1></th>
                                <th width="12%"><h1>Required Date</h1></th>
                                <th width="10%" class="text-center"><h1></h1></th>

                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tbody class="grid_row">
                                <tr>
                                    <td class="grid-cell">@item.WorkShopRequestRefNo</td>
                                    <td class="grid-cell">@item.WorkShopRequestDate.ToString("dd/MMM/yyyy")</td>
                                    <td class="grid-cell">@item.CustomerName</td>
                                    <td class="grid-cell">@item.CustomerOrderRef</td>
                                    <td class="grid-cell">@item.RequiredDate.ToString("dd/MMM/yyyy")</td>
                                    <td>
                                        <center><input type="button" class="form-button4" onclick="OnSelected(@item.WorkShopRequestId)" value="Select" title="Select to view details" /></center>
                                    </td>

                                </tr>

                            </tbody>
                        }
                    </table>

      
<div class="row-count5">
    <h5>Row Count:- @Model.Count</h5>
</div>

    @*</div>*@
@*</div>*@
