@model  ArabErp.Domain.WorkShopRequest
@{
    ViewBag.Title = "Create WorkShop Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function() {
        $('#work_form').bootstrapValidator({
            fields: {
                WorkShopRequestNo: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter WorkShopRequestNo.'
                        }
                    }
                },
                RequiredDate: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter RequiredDate.'
                        }
                    }
                },
                WorkShopRequestDate: {
                    validators: {
                        notEmpty: {
                            message: 'Please select WorkShopRequestDate'
                        }
                    }
                }


            }
        });
    })

    $(function () {
        $("#WorkShopRequestDate").datepicker({ dateFormat: "dd/MM/yy" });
        $("#RequiredDate").datepicker({ dateFormat: "dd/MM/yy" });
    });
</script>
                   
<div class="container">
    <div class="row">
        <div class="form-head1">
            <h4>WorkShop Request</h4>
        </div>
        <div class="main-part pad1">
            @using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom", @id = "work_form" }))
            {
                @Html.HiddenFor(m => m.SaleOrderId, new { @class = "form_input", autocomplete = "off" })
                @Html.HiddenFor(m => m.CustomerId, new { @class = "form_input", autocomplete = "off" })
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="reqno">Request No.</label>
                        @Html.TextBoxFor(m => m.WorkShopRequestNo, new { @class = "form_input", autocomplete = "off" })
                    </div>
                    <div class="col-md-2 col-md-offset-8">
                        <label for="inputDate">Date</label>
                        @Html.TextBoxFor(m => m.WorkShopRequestDate, String.Format("{0:dd/MM/yy}", Model.WorkShopRequestDate), new { @class = "form_input ", autocomplete = "off", @readonly = "readonly" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label for="sono">Sale Order No.</label>
                        @Html.TextBoxFor(m => m.SaleOrderRefNo, new { @class = "form_input", autocomplete = "off" })
                    </div>
                    <div class="col-md-3">
                        <label for="cus">Customer</label>
                        @Html.TextBoxFor(m => m.CustomerName, new { @class = "form_input", autocomplete = "off" })
                    </div>
                    <div class="col-md-3">
                        <label for="cusref">Customer Order Ref.</label>
                        @Html.TextBoxFor(m => m.CustomerOrderRef, new { @class = "form_input", autocomplete = "off" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label for="productr">Product</label>
                        <select id="productr" autocomplete="off" class="form_input">
                            <option>Select Product</option>
                            <option>Product1</option>
                            <option>Product2</option>
                            <option>Product3</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="qty">Qty.</label>
                        <input type="text" id="qty" autocomplete="off" class="form_input" />
                    </div>
                </div>
                <div class=" table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="grid_heading">
                                <th width="5%">Sl.No.</th>
                                <th width="25%">Product</th>
                                <th width="25%">Description</th>
                                <th width="10%">Part No</th>
                                <th width="5%" class="text-right ">Qty</th>
                                <th width="5%">Unit</th>
                            </tr>
                        </thead>
                        <tbody class="grid_row">
                            @for (int i = 0; i < Model.Items.Count; i++)
                            {
                                <tr id="@i">
                                    <td>1</td>
                                    <td>
                                        <input type="hidden" id="Row_@i" />
                                        @Html.DropDownListFor(m => m.Items[i].ItemId, (SelectList)ViewBag.ItemList, "Select Item", new { @class = "form_input", autocomplete = "off" })
                                    </td>
                                    <td>@Html.TextBoxFor(m => m.Items[i].ItemDescription, new { @class = "form_input", autocomplete = "off", placeholder = "Remarks" })</td>
                                    <td>@Html.TextBoxFor(m => m.Items[i].PartNo, new { @class = "form_input", autocomplete = "off", placeholder = "Remarks" })</td>

                                    <td>@Html.TextBoxFor(m => m.Items[i].Quantity, new { @class = "form_input", autocomplete = "off", placeholder = "Qty" })</td>
                                    <td>
                                        @Html.DropDownListFor(m => m.Items[i].UnitId, (SelectList)ViewBag.unitlist, "Select Unit", new { @class = "form_input", autocomplete = "off" })
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>1</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="SplRemarks1">Spl.Remarks</label>
                        @Html.TextAreaFor(m => m.SpecialRemarks, new { @class = "form_input", autocomplete = "off" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="reqdate">Required Date</label>
                        @Html.TextBoxFor(m => m.RequiredDate, new { @class = "form_input", autocomplete = "off" })
                    </div>
                </div>
    <div class="marg3">
        <button type="button" class="form-button top1">Exit</button>


        <button type="submit" class="form-button">Save</button>
    </div>

            }
        </div>
        </div>
</div>


