@model IList<ArabErp.Domain.WorkShopRequest>
@{
    ViewBag.Title = "DirectMaterialRequestList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function OnItemSelected(id) {
        var url = '@Url.Action("EditDirectMaterialRequest")';
        url += "?id=" + id;
        window.location = url;
    }
    function Exit() {
        var url = '@Url.Action("CreateDirectMaterialRequest")';
        window.location = url;
    }
</script>

<div class="row">

    <div class="form-head1">
        <h4>Material Request List</h4>
    </div>

    <div class="main-part pad1">
        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="grid_heading">
                                <th width="2%" class="text-center"><h1>#</h1></th>
                                <th width="15%" nowrap><h1>Material Request No.</h1></th>
                                <th width="10%" nowrap><h1> Date</h1></th>
                                <th width="20%" nowrap><h1>Remarks</h1></th>
                                <th width="1%"><center></center></th>
                            </tr>
                        </thead>
                        <tbody class="grid_row">
                            @if (Model.Count > 0)
                            {
                                int i = 0;
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td align="center">
                                            @(++i)
                                        </td>
                                        <td>
                                            @item.WorkShopRequestRefNo
                                        </td>
                                        <td>
                                            @item.WorkShopRequestDate.ToString("dd-MMMM-yyyy")
                                        </td>
                                        <td>
                                            @item.SpecialRemarks
                                        </td>
                                       
                                        <td>
                                            <center><input type="button" value="Select" onclick="OnItemSelected(@item.WorkShopRequestId)" class="form-button4" /></center>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="10" align="center">
                                        <em>No items to show!</em>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 hrpart">
                <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
            </div>
        </div>
    </div>
</div>

