@*@model ArabErp.Domain.SaleOrder*@
@*@model ArabErp.Web.Models.PagedSaleOrderViewModel*@

@{
    ViewBag.Title = "Pending Sale Orders for WorkShop Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    
    function PreviousList(isProjectBased) {

        var url = '@Url.Action("Index")';
        url += "?isProjectBased=" + isProjectBased;
        window.location = url;
    }

    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }

    function Filter() {
    
        $("#wr-pending").addClass("fade");
        var saleOrder = $("#txtSaleOrder").val();
        var isProjectBased=@ViewBag.ProjectBased;
     
        var url = '@Url.Action("WorkShopRequestPending")';
      
        url += "?isProjectBased=" + isProjectBased + "&saleOrder=" + encodeURIComponent(saleOrder) ;
      
        $("#wr-pending").load(url, function () {
            $("#wr-pending").removeClass("fade");

        });
       
        }
</script>

<div class="row">
    <div class="form-head1">
        @if (ViewBag.ProjectBased == 0)
        {
            <h4>Pending Sale Order for Workshop Request</h4>
        }
        else
        {
            <h4>Pending Sale Order for Material Request</h4>
        }
    </div>

    <div class="main-part pad1">
        <div class="row">
            <div class="col-md-2">
                <label for="txtSaleOrder">Sale Order No.</label>
                <input class="form_input" onkeyup="Filter()" id="txtSaleOrder" placeholder="Search for Sale Order" />
            </div>
        </div>
        <br />
        <div class="row" id="wr-pending">
            
                @Html.Action("WorkShopRequestPending", new { isProjectBased = ViewBag.ProjectBased })

        </div>


        <div class="row">
            <div class="col-md-12 hrpart">
                <input class="form-button" type="button" value="Previous" onclick="PreviousList(isProjectBased = @ViewBag.ProjectBased)" />
                <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
            </div>
        </div>

    </div>


</div>


<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>






