@model ArabErp.Web.Models.PagedSaleOrderViewModel
@{
    ViewBag.Title = "WorkShopRequestPending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="form-head1">
            <h4>Pending Sale Order</h4>
        </div>
        @*<div class="main-part pad1">

            <div class="table-responsive border">


                <div class="row">

                    <div class="col-md-12">

                        <div class="col-md-3 col-sm-2 grid-left">Customer</div>
                        <div class="col-md-2 col-sm-3 grid-left">Customer Order Ref.</div>
                        <div class="col-md-2 col-sm-2 grid-left">SO No & Date</div>
                        <div class="col-md-2 col-sm-2 grid-left">EDA</div>
                        <div class="col-md-2 col-sm-2 grid-left">EDD</div>
                        <div class="col-md-1 col-sm-1 grid-left"><center>Select</center></div>

                    </div>

                    <div class="col-md-12">
                    @for (int i = 0; i < Model.SaleOrders.Count(); i++)
                    {
                            <div class="col-md-3 col-sm-2 mtop">
                            <input type="text" class="form_input" value="@Model.SaleOrders.ElementAt(i).CustomerName" />
                        
                        </div>
                            <div class="col-md-2 col-sm-3 mtop">
                            <input type="text" class="form_input" value="@Model.SaleOrders.ElementAt(i).CustomerOrderRef" />
                         
                        </div>
                            <div class="col-md-2 col-sm-2 mtop">
                            <input type="text" class="form_input" value="@Model.SaleOrders.ElementAt(i).SoNoWithDate" />
                         
                        </div>
                            <div class="col-md-2 col-sm-2 mtop">
                            <input type="text" class="form_input" value="@Model.SaleOrders.ElementAt(i).EDateArrival.Value.ToString("dd/MMM/yyyy")" />
                          
                        </div>
                            <div class="col-md-2 col-sm-2 mtop">
                            <input type="text" class="form_input" value="@Model.SaleOrders.ElementAt(i).EDateDelivery.Value.ToString("dd/MMM/yyyy")" />
                            
                        </div>
                            <div class="col-md-1 col-sm-1 mtop form-button2"><center>@Html.ActionLink("Select", "CreateWorkShopRequest", "WorkShopRequest", new { SaleOrderId = Model.SaleOrders.ElementAt(i).SaleOrderId }, null)</center></div>
                    }

                </div>
                    </div>


                 pager 
                @if (Model.Pager.EndPage > 1)
                {
                    <ul class="pagination">
                        @if (Model.Pager.CurrentPage > 1)
                        {
                            <li>
                                <a href="~/WorkShopRequest/WorkShopRequestPending">First</a>
                            </li>
                            <li>
                                <a href="~/WorkShopRequest/WorkShopRequestPending?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                            </li>
                        }

                        @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                        {
                            <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                                <a href="~/WorkShopRequest/WorkShopRequestPending?page=@page">@page</a>
                            </li>    }

                        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                        {
                            <li>
                                <a href="~/WorkShopRequest/WWorkShopRequestPending?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                            </li>
                            <li>
                                <a href="~/WorkShopRequest/WorkShopRequestPending?page=@(Model.Pager.TotalPages)">Last</a>
                            </li>
                        }
                    </ul>
                }



            </div>

        </div>*@
        <div class="main-part pad1 white">
            <div class="main-grid main-grid-top scroll1">
                <div class=" table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="grid_heading">
                                <th><h1>Customer</h1></th>
                                <th><h1>Customer Order Ref.</h1></th>
                                <th><h1>SO No & Date</h1></th>
                                <th><h1>EDA</h1></th>
                                <th><h1>EDD</h1></th>
                                <th><center><h1>Select</h1></center></th>
                            </tr>
                        </thead>
                       @for (int i = 0; i < Model.SaleOrders.Count(); i++)
                       {
                            <tbody class="grid_row">
                                <tr>
                                    <td class="grid-cell"><input type="text" class="form_input" value="@Model.SaleOrders.ElementAt(i).CustomerName" /></td>
                                    <td class="grid-cell"><input type="text" class="form_input" value="@Model.SaleOrders.ElementAt(i).CustomerOrderRef" /></td>
                                    <td class="grid-cell"><input type="text" class="form_input" value="@Model.SaleOrders.ElementAt(i).SoNoWithDate" /></td>
                                    <td class="grid-cell"><input type="text" class="form_input" value="@Model.SaleOrders.ElementAt(i).EDateArrival.ToString("dd/MMM/yyyy")" /></td>
                                    <td class="grid-cell"><input type="text" class="form_input" value="@Model.SaleOrders.ElementAt(i).EDateDelivery.ToString("dd/MMM/yyyy")" /></td>
                                    <td><center><button class="form-button4"><center>@Html.ActionLink("Select", "CreateWorkShopRequest", "WorkShopRequest", new { SaleOrderId = Model.SaleOrders.ElementAt(i).SaleOrderId }, null)</center></button></center></td>

                                </tr>
                            </tbody>
                        }
                    </table>
                </div>

              
                @if (Model.Pager.EndPage > 1)
                {
                    <ul class="pagination">
                        @if (Model.Pager.CurrentPage > 1)
                        {
                            <li>
                                <a href="~/WorkShopRequest/WorkShopRequestPending">First</a>
                            </li>
                            <li>
                                <a href="~/WorkShopRequest/WorkShopRequestPending?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                            </li>
                        }

                        @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                        {
                            <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                                <a href="~/WorkShopRequest/WorkShopRequestPending?page=@page">@page</a>
                            </li>    }

                        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                        {
                            <li>
                                <a href="~/WorkShopRequest/WWorkShopRequestPending?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                            </li>
                            <li>
                                <a href="~/WorkShopRequest/WorkShopRequestPending?page=@(Model.Pager.TotalPages)">Last</a>
                            </li>
                        }
                    </ul>
                }

            </div>


        </div>

    </div>
</div>








