@model IEnumerable<ArabErp.Domain.SaleOrder>
    @{
        ViewBag.Title = "WorkShopRequestPending";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


    <div class="h4bgcolor">
        <h4>Pending WorkShop Request</h4>
    </div>

    

   
     <div class="row grid_heading">
   
        <div class="col-md-2">SO No.</div>
        <div class="col-md-2">SO Date</div>
        <div class="col-md-2">Customer</div>
        <div class="col-md-2">Customer Order Ref.</div>
        <div class="col-md-2">Vehicle Model</div>
        <div class="col-md-2">Select</div>
    </div>

 
        @for (int i = 0; i < Model.Count(); i++)
        {
           
            <div  class="row grid_row">
                <form method="post" action="@Url.Action("CreateWorkShopRequest","WorkShopRequest")">
                    @Html.HiddenFor(m => m.ElementAt(i).SaleOrderId, new { @class = "form_input", autocomplete = "off" })
                    <div class="col-md-2">@Html.TextBoxFor(m => m.ElementAt(i).SaleOrderRefNo, new { @class = "form_input", autocomplete = "off" })</div>
                    <div class="col-md-2">@Html.TextBoxFor(m => m.ElementAt(i).SaleOrderId, new { @class = "form_input", autocomplete = "off" }) </div>
                    <div class="col-md-2">@Html.TextBoxFor(m => m.ElementAt(i).CustomerName, new { @class = "form_input", autocomplete = "off" })</div>
                    <div class="col-md-2">@Html.TextBoxFor(m => m.ElementAt(i).CustomerOrderRef, new { @class = "form_input", autocomplete = "off" })</div>
                    <div class="col-md-2">@Html.TextBoxFor(m => m.ElementAt(i).VehicleModelId, new { @class = "form_input", autocomplete = "off" })</div>
                    <div class="col-md-2"><button type="submit" class="button-style">Select</button></div>
                </form>
            </div>
        }







