@model ArabErp.Web.Models.PagedSaleOrderViewModel
@{
    ViewBag.Title = "WorkShopRequestPending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {

        $('[data-toggle="popover"]').popover();

        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-bottom-full-width",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "0",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        if ('@TempData["success"]' != '') {
            toastr.success('@TempData["success"]');
        }
        else if ('@TempData["error"]' != '') {
            toastr.error('@TempData["error"]'.split('|')[0]);
            console.log('@TempData["error"]'.split('|')[1]);
        }
        @{ TempData["success"] = TempData["error"] = ""; }
    })
    function PreviousList() {
        var url = '@Url.Action("Index")';
        window.location = url;
    }
</script>

    <div class="row">
        <div class="form-head1">
            <h4>Pending Sale Order for Workshop Request</h4>
        </div>
   
        <div class="main-part pad1 white">
            <div class="row">
                <div class="main-grid main-grid-top scroll1">
                    <div class=" table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="grid_heading">
                                    <th width="10%"><h1>SO.No. & Date</h1></th>
                                    <th width="18%"><h1>Customer</h1></th>
                                    <th width="12%"><h1>Customer Order Ref.</h1></th>
                                    <th width="29%"><h1>Work Description</h1></th>
                                    <th width="5%"><h1>Ageing</h1></th>
                                    <th width="7%"><h1>EDA</h1></th>
                                    <th width="7%"><h1>EDD</h1></th>
                                    <th width="7%"><h1>Days Left</h1></th>
                                    <th width="5%"><center><h1></h1></center></th>
                                </tr>
                            </thead>
                            @for (int i = 0; i < Model.SaleOrders.Count(); i++)
                            {
                                <tbody class="grid_row">
                                    <tr>
                                        <td class="grid-cell"><input type="text" disabled="disabled" class="form_input" value="@Model.SaleOrders.ElementAt(i).SaleOrderRefNo" /></td>
                                        <td class="grid-cell"><input type="text" disabled="disabled" class="form_input" value="@Model.SaleOrders.ElementAt(i).CustomerName" /></td>
                                        <td class="grid-cell"><input type="text" disabled="disabled" class="form_input" value="@Model.SaleOrders.ElementAt(i).CustomerOrderRef" /></td>
                                        <td class="grid-cell">@*<input type="text" class="form_input" value="*@@Model.SaleOrders.ElementAt(i).WorkDescription@*" data-toggle="popover" data-placement="right" data-content="@Model.SaleOrders.ElementAt(i).WorkDescription" />*@</td>
                                        <td class="grid-cell"><input type="text" disabled="disabled" class="form_input" value="@Model.SaleOrders.ElementAt(i).Ageing" /></td>
                                        <td class="grid-cell"><input type="text" disabled="disabled" class="form_input" value="@Model.SaleOrders.ElementAt(i).EDateArrival.ToString("dd/MMM/yyyy")" /></td>
                                        <td class="grid-cell"><input type="text" disabled="disabled" class="form_input" value="@Model.SaleOrders.ElementAt(i).EDateDelivery.ToString("dd/MMM/yyyy")" /></td>
                                        <td class="grid-cell"><input type="text" disabled="disabled" class="form_input" value="@Model.SaleOrders.ElementAt(i).Remaindays" /></td>
                                        <td>
                                            <center>
                                                @if (Model.SaleOrders.ElementAt(i).WorkRequestPaymentApproved == "P")
                                                {
                                                    <span class="form_input perm">Approval Pending</span>
                                                }
                                                else
                                                {
                                                    @Html.ActionLink("Select", "Create", "WorkShopRequest", new { SaleOrderId = Model.SaleOrders.ElementAt(i).SaleOrderId }, new { @class = "form-button5" })
                                                }
                                            </center>
                                        </td>

                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>



                    @if (Model.Pager.EndPage > 1)
                    {
                        <ul class="pagination">
                            @if (Model.Pager.CurrentPage > 1)
                            {
                                <li>
                                    <a href="~/WorkShopRequest/WorkShopRequestPending">First</a>
                                </li>
                                <li>
                                    <a href="~/WorkShopRequest/WorkShopRequestPending?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                                </li>
                            }

                            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                            {
                                <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                                    <a href="~/WorkShopRequest/WorkShopRequestPending?page=@page">@page</a>
                                </li>    }

                            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                            {
                                <li>
                                    <a href="~/WorkShopRequest/WWorkShopRequestPending?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                                </li>
                                <li>
                                    <a href="~/WorkShopRequest/WorkShopRequestPending?page=@(Model.Pager.TotalPages)">Last</a>
                                </li>
                            }
                        </ul>
                    }

                </div>
                <div class="row-count1">
                    <h5>Row Count:- @Model.SaleOrders.Count()</h5>
                </div>
                </div>


                <div class="row">
                    <div class="col-md-12 hrpart1">
                        <input class="form-button" type="button" value="Previous" onclick="PreviousList()" />
                    </div>
                </div>

            </div>


        </div>


<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>






