@model IEnumerable<ArabErp.Domain.SaleOrder>
    @{
        ViewBag.Title = "WorkShopRequestPending";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


    <div class="h4bgcolor">
        <h4>Pending WorkShop Request</h4>
    </div>

    

   
     <div class="row grid_heading">
   
        <div class="col-md-2">SO No.</div>
        <div class="col-md-2">SO Date</div>
        <div class="col-md-2">Customer</div>
        <div class="col-md-2">Customer Order Ref.</div>
        <div class="col-md-2">Vehicle Model</div>
        <div class="col-md-2">Select</div>
    </div>

 
        @foreach (var item in Model)
        {
            <div  class="row grid_row">
                <form method="post" action="@Url.Action("CreateWorkShopRequest","WorkShopRequest")">
                    @Html.HiddenFor(m => m.First().SaleOrderId, item.SaleOrderId)
                    <div class="col-md-2">@Html.HiddenFor(m => m.First().SaleOrderRefNo,item.SaleOrderRefNo)@item.SaleOrderRefNo</div>

                    <div class="col-md-2">@Html.HiddenFor(m => m.First().SaleOrderDate, item.SaleOrderDate.ToShortDateString())@item.SaleOrderDate</div>
                    <div class="col-md-2">@Html.HiddenFor(m => m.First().CustomerName, item.CustomerName)@item.CustomerName</div>
                    <div class="col-md-2">@Html.HiddenFor(m => m.First().CustomerOrderRef, item.CustomerOrderRef)@item.CustomerOrderRef</div>
                    <div class="col-md-2">@Html.HiddenFor(m => m.First().VehicleModelId, item.VehicleModelId)@item.VehicleModelId</div>
                    <div class="col-md-2"><button type="submit" class="button-style">Select</button></div>
                </form>
            </div>
        }



        <div class="row">

            <div class="col-md-12 col-md-4">
                <div style="float:right" class="alignCenter">
                    <button type="submit" class="button-style">OK</button>
                </div>
            </div>


        </div>
        </form>


