@model ArabErp.Domain.PurchaseRequest
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $('#purchasereq_form').bootstrapValidator({
            
            fields: {
                PurchaseRequestNo: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter PRS No.'
                        }
                    }
                },
               
                      }
        });
    })
    function Exit()
    {
        location.href = '@Url.Action("PendingPurchaseRequest")';
    }
    $(function () {
        $("#PurchaseRequestDate").datepicker({ dateFormat: "dd/MM/yy" });
        $("#RequiredDate").datepicker({ dateFormat: "dd/MM/yy" });
    });
    $(document).ready(function () {
        //bind keypress event for new row inputs.
        $(".numbers-only").keypress(function (e) {
            if (e.which == 8 || (e.which == 46 && $(this).val().indexOf('.') == -1) || (e.which > 47 && e.which < 58)) { } else { return false; }
        });
    });
</script>
<div class="container">
    <div class="row">

        <div class="form-head1">
            <h4>Purchase Request</h4>
        </div>

        <div class="main-part pad1">
         @using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom", @id = "purchasereq_form" }))
         {
            @Html.HiddenFor(m => m.WorkShopRequestId, new { @class = "form_input", autocomplete = "off" })
            <form role="form">
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="PurchaseRequestNo">PRS.No.</label>
                        @Html.TextBoxFor(m => m.PurchaseRequestNo, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                    </div>
                    <div class="col-md-2">
                        <label for="PurchaseRequestDate">Date</label>
                        @Html.TextBoxFor(m => m.PurchaseRequestDate, Model.PurchaseRequestDate.ToString("dd/MMMM/yyyy"), new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                    </div>
                </div>
                <div class="row form-group">
                   
                    <div class="col-md-4">
                        <label for="CustomerName">Customer</label>
                        @Html.TextBoxFor(m => m.CustomerName, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                    </div>
                    <div class="col-md-2">
                        <label for="CustomerOrderRef">Customer Order Ref.</label>
                        @Html.TextBoxFor(m => m.CustomerOrderRef, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                    </div>
                    <div class="col-md-3">
                        <label for="WorkShopRequestRefNo">WorkShop Reqest No. & Date </label>
                        @Html.TextBoxFor(m => m.WorkShopRequestRefNo, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                    </div>
                </div>
                    <table class="table table-bordered table-hover" id="tab_logic">
                    <thead>
                        <tr class="grid_heading">
                         <th width="30%"><h1>Material/Spares</h1></th>
                            <th width="10%"><h1>Part No.</h1></th>
                            <th width="25%"><h1>Remarks</h1></th>
                            <th width="5%" class="text-right "><h1>WR Req.Qty.</h1></th>
                            <th width="5%" class="text-right "><h1>WR Pnd Iss.Qty.</h1></th>
                            <th width="5%" class="text-right "><h1>Min.Stock</h1></th>
                            <th width="5%" class="text-right "><h1>Tot.Req.Qty.</h1></th>
                            <th width="5%" class="text-right "><h1>Curr.Stock</h1></th>
                            <th width="5%" class="text-right "><h1>PRS.Qty.</h1></th>
                            @*<th width="5%" class="text-right "><h1>In Trans.Qty.</h1></th>*@
                            <th width="5%" class="text-left "><h1>UoM</h1></th>
                        </tr>
                    </thead>
                    <tbody>
                    @for (int i = 0; i < Model.items.Count; i++)
                   
                        {
                            <tr>
                               
                                <td>@Html.TextBoxFor(m => m.items[i].ItemName, new { @class = "form_input", autocomplete = "off", placeholder = "Material/Spares", @readonly = "readonly" }) </td>
                                <td> @Html.HiddenFor(m => m.items[i].ItemId) @Html.TextBoxFor(m => m.items[i].PartNo, new { @class = "form_input", autocomplete = "off", placeholder = "Part No.", @readonly = "readonly" })</td>
                                <td>@Html.TextBoxFor(m => m.items[i].Remarks, new { @class = "form_input", autocomplete = "off", placeholder = "Remarks" })</td>
                                <td>@Html.TextBoxFor(m => m.items[i].WRRequestQty, new { @class = "form_input", @style = "text-align:right", autocomplete = "off", @readonly = "readonly" })</td>
                                <td>@Html.TextBoxFor(m => m.items[i].WRIssueQty, new { @class = "form_input", @style = "text-align:right", autocomplete = "off", @readonly = "readonly" })</td>
                                <td>@Html.TextBoxFor(m => m.items[i].MinLevel, new { @class = "form_input", @style = "text-align:right", autocomplete = "off", @readonly = "readonly" })</td>
                                <td>@Html.TextBoxFor(m => m.items[i].TotalQty, new { @class = "form_input", @style = "text-align:right", autocomplete = "off", @readonly = "readonly" })</td>
                                <td>@Html.TextBoxFor(m => m.items[i].CurrentStock, new { @class = "form_input ", @style = "text-align:right", autocomplete = "off", @readonly = "readonly" })</td>
                                <td>@Html.TextBoxFor(m => m.items[i].Quantity, new { @class = "form_input numbers-only", @style = "text-align:right", autocomplete = "off" })</td>
                                <td>@Html.TextBoxFor(m => m.items[i].UnitName, new { @class = "form_input", @style = "text-align:left", autocomplete = "off", @readonly = "readonly" })</td>
                            </tr>
                        }

                    </tbody>
                    <tfoot>
                        <tr class="grid_heading">

                            <th width="30%"></th>
                            <th width="10%"></th>
                            <th width="25%"></th>
                            <th width="5%"></th>
                            <th width="5%"></th>
                            <th width="5%"></th> 
                            <th width="5%"></th>
                            <th width="5%"></th>
                            <th width="5%"></th>
                            <th width="5%"></th>
                           
                    </tr>
                    </tfoot>
                </table>
                <div class="row form-group">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="SpecialRemarks">Special Remarks</label>
                            </div>
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.SpecialRemarks, new { @class = "form_input form_input-h", autocomplete = "off" })
                    </div>
                </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2"><label for="RequiredDate">Required Date</label>
                    @Html.TextBoxFor(m => m.RequiredDate, Model.RequiredDate.ToString("dd/MMMM/yyyy"), new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                    </div>
                    
                    
                    
                </div>

                <div class="row">
                    <div class="col-md-12 hrpart">
                        <button type="button" class="form-button right" onclick="Exit()">Exit</button>
                        <button type="submit" class="form-button right">Save</button>
                    </div>

                </div>     

            </form>
}
            </div>
        </div>
</div>

