@model ArabErp.Domain.PurchaseRequest
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>

    function Exit()
    {
        location.href = '@Url.Action("PendingPurchaseRequest")';
    }
    $(function () {
        $("#PurchaseRequestDate").datepicker({ dateFormat: "dd/MM/yy" });
        $("#RequiredDate").datepicker({ dateFormat: "dd/MM/yy" });
    });
</script>
<div class="container">
    <div class="row">

        <div class="form-head1">
            <h4>Purchase Request</h4>
        </div>
        <div class="main-part pad1">
         @using (Html.BeginForm("Save", null, FormMethod.Post, new { @class = "createFrom" }))
         {
            @Html.HiddenFor(m => m.WorkShopRequestId, new { @class = "form_input", autocomplete = "off" })
            <form role="form">
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="PurchaseRequestNo">PRS No.</label>
                        @Html.TextBoxFor(m => m.PurchaseRequestNo, new { @class = "form_input", autocomplete = "off" })
                    </div>
                    <div class="col-md-2">
                        <label for="PurchaseRequestDate">Date</label>
                        @Html.TextBoxFor(m => m.PurchaseRequestDate, String.Format("{0:dd/MM/yyyy}", Model.PurchaseRequestDate), new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-3">
                        <label for="WorkShopRequestNo">WorkShop Request No & Date </label>
                        @Html.TextBoxFor(m => m.WorkShopRequestNo, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                    </div>
                    <div class="col-md-4">
                        <label for="CustomerName">Customer</label>
                        @Html.TextBoxFor(m => m.CustomerName, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                    </div>
                    <div class="col-md-3">
                        <label for="CustomerOrderRef">CustomerOrderRef Order Ref.</label>
                        @Html.TextBoxFor(m => m.CustomerOrderRef, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                    </div>
                </div>
                    <table class="table table-bordered table-hover" id="tab_logic">
                    <thead>
                        <tr class="grid_heading">

                        
                            
                           
                            <th width="20%">Material/Spares</th>
                            <th width="10%">PartNo</th>
                            <th width="25%">Remarks</th>
                            <th width="5%" class="text-right ">WR Req.Qty</th>
                            <th width="5%" class="text-right ">WRPending Issue.Qty</th>
                            <th width="5%" class="text-right ">Min.Stock</th>
                            <th width="5%" class="text-right ">Tot.Req.</th>
                            <th width="5%" class="text-right ">Curr Stock</th>
                            <th width="5%" class="text-right ">PR.Qty</th>
                            <th width="5%">UoM</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for (int i = 0; i < Model.items.Count; i++)
                   
                        {
                            <tr>
                               
                                                 
                               
                                <td>@Html.TextBoxFor(m => m.items[i].ItemName, new { @class = "form_input", autocomplete = "off", placeholder = "Material/Spares", @readonly = "readonly" }) </td>
                                <td> @Html.HiddenFor(m => m.items[i].ItemId) @Html.TextBoxFor(m => m.items[i].PartNo, new { @class = "form_input", autocomplete = "off", placeholder = "Part No.", @readonly = "readonly" })</td>
                                <td>@Html.TextBoxFor(m => m.items[i].Remarks, new { @class = "form_input", autocomplete = "off", placeholder = "Remarks" })</td>
                                <td>@Html.TextBoxFor(m => m.items[i].WRRequestQty, new { @class = "form_input", @style = "text-align:right", autocomplete = "off", placeholder = "Qty", @readonly = "readonly" })</td>
                                <td>@Html.TextBoxFor(m => m.items[i].WRIssueQty, new { @class = "form_input ", @style = "text-align:right", autocomplete = "off", placeholder = "Qty" })</td>
                                <td>@Html.TextBoxFor(m => m.items[i].MinLevel, new { @class = "form_input ", @style = "text-align:right", autocomplete = "off", @readonly = "readonly" })</td>
                                <td>@Html.TextBoxFor(m => m.items[i].TotalQty, new { @class = "form_input ", @style = "text-align:right", autocomplete = "off", placeholder = "Qty" })</td>
                                <td>@Html.TextBoxFor(m => m.items[i].CurrentStock, new { @class = "form_input ", @style = "text-align:right", autocomplete = "off", placeholder = "Qty" })</td>
                                <td>@Html.TextBoxFor(m => m.items[i].Quantity, new { @class = "form_input clQuantity", @style = "text-align:right", autocomplete = "off", placeholder = "Qty" })</td>
                                <td>@Html.TextBoxFor(m => m.items[i].UnitName, new { @class = "form_input", @style = "text-align:right", autocomplete = "off", @readonly = "readonly" })</td>
                            </tr>
                        }

                    </tbody>
                    <tfoot>
                        <tr class="grid_heading">

                            <th width="10%"></th>
                            <th width="20%"></th>
                            <th width="25%"></th>
                            <th width="25%"></th>
                            <th width="5%"></th>
                            <th width="5%"></th> 
                            <th width="5%"></th>
                            <th width="5%"></th>
                            <th width="5%"></th>
                            <th width="5%"></th>
                           
                    </tr>
                    </tfoot>
                </table>
                <div class="row form-group">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-1">
                                <label for="SpecialRemarks">Spl.Remarks</label>
                            </div>
                            <div class="col-md-11">
                                @Html.TextBoxFor(m => m.SpecialRemarks, new { @class = "form_input", autocomplete = "off" })
                    </div>
                </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="RequiredDate">Required Date</label>
                        @Html.TextBoxFor(m => m.RequiredDate, new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                    </div>
                </div>
                <div class="marg">
                    <button type="button" class="form-button right" onclick="Exit()">Exit</button>
                    <button type="submit" class="form-button">Save</button>
                  
                </div>
            </form>
}
            </div>
        </div>
</div>

