@model ArabErp.Domain.PurchaseRequest
@{
    ViewBag.Title = "Purchase Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .highlight {
        border: 2px solid #2ab1e0 !important;
    }

    /*#tab_logic tr:hover{
        border: 2px solid #2ab1e0 !important;
    }*/
</style>

<script>

    function Exit() {
        location.href = '@Url.Action("Pending")';
    }
    $(function () {
        $("#PurchaseRequestDate").datepicker({ dateFormat: "dd-MM-yy" });
        $("#RequiredDate").datepicker({ dateFormat: "dd-MM-yy" });
        $("#PurchaseRequestNo").focus();
    });
    $(document).ready(function () {
        //bind keypress event for new row inputs.
        $(".numbers-only").keypress(function (e) {
            if (e.which == 8 || (e.which == 46 && $(this).val().indexOf('.') == -1) || (e.which > 47 && e.which < 58)) { } else { return false; }
        });
    });

    function HighlightRow(row) {
        $("#tab_logic").find("tr.highlight").removeClass("highlight");
        $(row).addClass("highlight");
    }

    function OnTextboxFocused(sender) {
        $("#tab_logic").find("tr.highlight").removeClass("highlight");
        $(sender).closest("tr").addClass("highlight");
    }

    function ShowLastPurchaseRate(itemId) {
        var url = '@Url.Action("GetLastPurchaseRate")';
        $('#lastPurchaseRateGrid').text('Loading purchase rates...');
        $('#lastPurchaseRateGrid').load(url, { itemId: itemId });
    }

</script>

<div class="row">

    <div class="form-head1">
        <h4>Purchase Request</h4>
    </div>

    <div class="main-part pad1">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "createFrom", @id = "purchasereq_form" }))
        {
            @Html.HiddenFor(m => m.WorkShopRequestId, new { @class = "form_input", autocomplete = "off" })
            @Html.HiddenFor(m => m.OrganizationId, new { @class = "form_input", autocomplete = "off" })
            @Html.HiddenFor(m => m.CreatedDate, new { @class = "form_input", autocomplete = "off" })
            @Html.HiddenFor(m => m.CreatedBy, new { @class = "form_input", autocomplete = "off" })
            <form role="form">
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="PurchaseRequestNo">PRQ No.</label>
                        @Html.TextBoxFor(m => m.PurchaseRequestNo, new { @class = "form_input", autocomplete = "off", @readonly = "readonly", @tabindex = "-1" })
                    </div>
                    <div class="col-md-2">
                        <label for="PurchaseRequestDate">Date</label>
                        @Html.TextBoxFor(m => m.PurchaseRequestDate, Model.PurchaseRequestDate.ToString("dd/MMMM/yyyy"), new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                    </div>
                </div>
                <div class="row form-group">

                    <div class="col-md-4">
                        <label for="CustomerName">Customer</label>
                        @Html.TextBoxFor(m => m.CustomerName, new { @class = "form_input", autocomplete = "off", @readonly = "readonly", @tabindex = "-1" })
                    </div>
                    <div class="col-md-2">
                        <label for="CustomerOrderRef">Customer Order Ref.</label>
                        @Html.TextBoxFor(m => m.CustomerOrderRef, new { @class = "form_input", autocomplete = "off", @readonly = "readonly", @tabindex = "-1" })
                    </div>
                    <div class="col-md-3">
                        <label for="WorkShopRequestRefNo">Workshop Request No. & Date </label>
                        @Html.TextBoxFor(m => m.WorkShopRequestRefNo, new { @class = "form_input", autocomplete = "off", @readonly = "readonly", @tabindex = "-1" })
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered" id="tab_logic" style="border-collapse:collapse">
                        <thead>
                            <tr class="grid_heading">
                                <th width="1%" class="text-left"><h1>#</h1></th>
                                <th nowrap width="20%"><h1>Material/Spares</h1></th>
                                <th nowrap width="10%"><h1>Part No.</h1></th>
                                <th nowrap width="20%"><h1>Remarks</h1></th>
                                <th nowrap width="5%" class="text-right " title="Workshop Request Quantity"><h1>WR Qty</h1></th>
                                <th nowrap width="5%" class="text-right " title="Pending Issue Quantity"><h1>Pnd. Iss. Qty</h1></th>
                                <th nowrap width="5%" class="text-right " title="Minimum Stock"><h1>Min. Stock</h1></th>
                                <th nowrap width="5%" class="text-right " title="Total Required Quantity"><h1>Tot. Req. Qty</h1></th>
                                <th nowrap width="5%" class="text-right " title="Current Stock"><h1>Curr. Stock</h1></th>
                                <th nowrap width="5%" class="text-right " title="In-transit Quantity"><h1>In-Trans. Qty</h1></th>
                                <th nowrap width="5%" class="text-right " title="Pending Purchase Request Quantity"><h1>Pnd. PR Qty</h1></th>
                                <th nowrap width="5%" class="text-right "><h1>Short/Excess</h1></th>
                                <th nowrap width="5%" class="text-right " title="Purchase Request Quantity"><h1>PRQ Qty</h1></th>
                                <th nowrap width="5%" class="text-left " title="Unit of Measurement"><h1>UoM</h1></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int row = 0;}
                            @for (int i = 0; i < Model.items.Count; i++)
                            {
                                <tr onclick="HighlightRow(this)">
                                    <td align="left">
                                        @*<input type="hidden" id="Row_@row" />*@
                                        <span id="slno@(row)">@(row + 1)</span>
                                        @*@Html.HiddenFor(m => Model.Items[row].WorkShopRequestId)*@
                                    </td>
                                    <td>@Html.HiddenFor(m => m.items[i].ItemId) @Html.TextBoxFor(m => m.items[i].ItemName, new { @class = "form_input", autocomplete = "off", placeholder = "Material/Spares", @readonly = "readonly", @tabindex = "-1" }) </td>
                                    <td>@Html.HiddenFor(m => m.items[i].PartNo) @Html.TextBoxFor(m => m.items[i].PartNo, new { @class = "form_input", autocomplete = "off", placeholder = "Part No.", @readonly = "readonly", @tabindex = "-1" })</td>
                                    <td>@Html.TextBoxFor(m => m.items[i].Remarks, new { @class = "form_input", autocomplete = "off", placeholder = "Remarks", @onfocus = "OnTextboxFocused(this)" })</td>
                                    <td>@Html.TextBoxFor(m => m.items[i].WRRequestQty, new { @class = "form_input", @style = "text-align:right", autocomplete = "off", @readonly = "readonly", @tabindex = "-1" })</td>
                                    <td>@Html.TextBoxFor(m => m.items[i].WRIssueQty, new { @class = "form_input", @style = "text-align:right", autocomplete = "off", @readonly = "readonly", @tabindex = "-1" })</td>
                                    <td>@Html.TextBoxFor(m => m.items[i].MinLevel, new { @class = "form_input", @style = "text-align:right", autocomplete = "off", @readonly = "readonly", @tabindex = "-1" })</td>
                                    <td>@Html.TextBoxFor(m => m.items[i].TotalQty, new { @class = "form_input", @style = "text-align:right", autocomplete = "off", @readonly = "readonly", @tabindex = "-1" })</td>
                                    <td>@Html.TextBoxFor(m => m.items[i].CurrentStock, new { @class = "form_input ", @style = "text-align:right", autocomplete = "off", @readonly = "readonly", @tabindex = "-1" })</td>
                                    <td>@Html.TextBoxFor(m => m.items[i].InTransitQty, new { @class = "form_input", @style = "text-align:right", autocomplete = "off", @readonly = "readonly", @tabindex = "-1" })</td>
                                    <td>@Html.TextBoxFor(m => m.items[i].PendingPRQty, new { @class = "form_input", @style = "text-align:right", autocomplete = "off", @readonly = "readonly", @required = "true", @tabindex = "-1" })</td>
                                    <td>@Html.TextBoxFor(m => m.items[i].ShortorExcess, new { @class = "form_input", @style = "text-align:right", autocomplete = "off", @readonly = "readonly", @tabindex = "-1" })</td>
                                    <td>@Html.TextBoxFor(m => m.items[i].Quantity, new { @class = "form_input numbers-only", @style = "text-align:right", autocomplete = "off", @onfocus = "OnTextboxFocused(this)" })</td>
                                    <td>@Html.TextBoxFor(m => m.items[i].UnitName, new { @class = "form_input", @style = "text-align:left", autocomplete = "off", @readonly = "readonly", @tabindex = "-1" })</td>
                                    <td><a href="#" onclick="ShowLastPurchaseRate(@Model.items[i].ItemId)" data-toggle="modal" data-target="#myModal">Last Purchase Rate</a></td>
                                </tr>
                                row++;
                            }

                        </tbody>
                        <tfoot>
                            <tr class="grid_heading">
                                <th width="2%"></th>
                                <th width="45%"></th>
                                <th width="10%"></th>
                                <th width="20%"></th>
                                <th width="3%"></th>
                                <th width="3%"></th>
                                <th width="3%"></th>
                                <th width="3%"></th>
                                <th width="3%"></th>
                                <th width="3%"></th>
                                <th width="3%"></th>
                                <th width="3%"></th>
                                <th width="3%"></th>
                                <th width="3%"></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="SpecialRemarks">Special Remarks</label>
                            </div>
                            <div class="col-md-12">
                                @Html.TextAreaFor(m => m.SpecialRemarks, new { @class = "form_input form_input-h", autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-2">
                        <label for="RequiredDate">Required Date</label>
                        @Html.TextBoxFor(m => m.RequiredDate, Model.RequiredDate.ToString("dd/MMMM/yyyy"), new { @class = "form_input", autocomplete = "off", @readonly = "readonly" })
                        @*@Html.ValidationMessageFor(m=>m.RequiredDate)*@
                    </div>



                </div>

                <div class="row">
                    <div class="col-md-12 hrpart">
                        <button type="button" class="form-button right" onclick="Exit()">Exit</button>
                        <button type="submit" class="form-button right">Save</button>
                    </div>

                </div>

            </form>
        }
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:900px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Last Purchase Rates</h4>
            </div>
            <div class="modal-body" id="lastPurchaseRateGrid">
                <p>Loading purchase rates...</p>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $("#items_0__Quantity").focus();
    })
</script>

