@using ArabErp.Domain
@model IEnumerable<PendingWorkShopRequest>
@{
    ViewBag.Title = "Pending WorkShopRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>

    function PreviousList() {
        var url = '@Url.Action("Index")';
        window.location = url;
    }

    function Exit() {
        var url = '@Url.Action("Index","Home")';
        window.location = url;
    }

    $(document).ready(function () {

        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-bottom-full-width",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "0",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        if ('@TempData["success"]' != '') {
            toastr.success('@TempData["success"]');
        }
        else if ('@TempData["error"]' != '') {
            toastr.error('@TempData["error"]'.split('|')[0]);
            console.log('@TempData["error"]'.split('|')[1]);
        }
        @{ TempData["success"] = TempData["error"] = ""; }

        
    })
</script>


    <div class="row">

        <div class="form-head1">
            <h4>Pending Workshop Requests for Purchase Request</h4>
        </div>
             
        <div class="main-part pad1">
            <div class="row">
                <div class="main-grid main-grid-top scroll1">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="grid_heading">
                                    <th width="12%"><h1>WR. No. & Date</h1></th>
                                    <th width="20%"><h1>Customer</h1></th>
                                    <th width="10%"><h1>Customer Order Ref.</h1></th>
                                    <th width="10%"><h1>SO. No. & Date</h1></th>
                                    <th width="10%"><h1>Required Date</h1></th>
                                    <th width="5%"><h1>Ageing</h1></th>
                                    <th width="5%"><h1>Days Left</h1></th>
                                    <th width="5%"><center><h1>Select</h1></center></th>

                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tbody class="grid_row">
                                    <tr>
                                        <td class="grid-cell">@item.WorkShopRequestRefNo &amp; @item.WorkShopRequestDate.ToString("dd/MMM/yyyy")</td>
                                        <td class="grid-cell">@item.CustomerName</td>
                                        <td class="grid-cell">@item.CustomerOrderRef</td>
                                        <td class="grid-cell">@item.SaleOrderRefNo &amp; @item.SaleOrderDate.ToString("dd/MMM/yyyy")</td>
                                        <td class="grid-cell">@item.RequiredDate.ToString("dd/MMM/yyyy")</td>
                                        <td class="grid-cell">@item.Ageing</td>
                                        <td class="grid-cell">@item.DaysLeft</td>
                                        <td><center>@Html.ActionLink("Select", "Create", "PurchaseRequest", new { WorkShopRequestId = @item.WorkShopRequestId }, new { @class = "form-button5" })</center></td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                </div>
                <div class="row-count1">
                    <h5>Row Count:- @Model.Count()</h5>
                </div>
            </div>

           


            <div class="row">
                <div class="col-md-12 hrpart1">
                    <input class="form-button" type="button" value="Previous" onclick="PreviousList()" />
                    <input class="form-button right" type="button" value="Exit" onclick="Exit()" />
                </div>
            </div>

        </div>
     </div>

