@model IList<ArabErp.Domain.WorkShopRequest>
@using GridMvc.Html
@{
    ViewBag.Title = "Pending WorkShopRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">

        <div class="form-head1">
            <h4>Pending WorkShop Requests</h4>
        </div>

        <div class="main-part pad1">
            <div class="table-responsive">


                <div class="row border">

                    <div class="col-md-12">

                        <div class="col-md-2 grid-left">Customer</div>
                        <div class="col-md-2 grid-left">Customer Order Ref.</div>
                        <div class="col-md-2 grid-left">SO No & Date</div>
                        <div class="col-md-2 grid-left">WR No & Date</div>
                        <div class="col-md-2 grid-left">Delivery Date</div>
                        <div class="col-md-2 grid-left">Select</div>

                        </div>
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            <div class="col-md-2 mtop">@Model[i].CustomerName</div>
                            <div class="col-md-2 mtop"></div>
                            <div class="col-md-2 mtop"></div>
                            <div class="col-md-2 mtop"></div>
                            <div class="col-md-2 mtop"></div>
                            <div class="col-md-2 mtop"></div>
                            @*<div class="col-md-2 grid_row">@Model[i].CustomerName</div>
                            <div class="col-md-2 grid_row">@Model[i].CustomerOrderRef</div>
                            <div class="col-md-2 grid_row">@Html.HiddenFor(m => m[i].WorkShopRequestId) @Model[i].WorkShopRequestNo & " - " @Model[i].WorkShopRequestDate</div>


                            <div class="col-md-2 grid_row"></div>
                            <div class="col-md-2 grid_row">@Model[i].CustomerName </div>
                            <div class="col-md-2 grid_row">@Html.ActionLink("Select", "Create", "PurchaseRequest", new { WorkShopRequestId = @Model[i].WorkShopRequestId }, null); </div>*@
                        }
                    </div>
                        @*<div class="row"></div>*@
                </div>
                    </div>
                </div>
            </div>
