@using ArabErp.Domain
@model IEnumerable<PendingWorkShopRequest>
@{
    ViewBag.Title = "Pending WorkShopRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">

        <div class="form-head1">
            <h4>Pending WorkShop Requests</h4>
        </div>

        <div class="main-part pad1">
            <div class="table-responsive">


                <div class="row border">

                    <div class="col-md-12">

                        <div class="col-md-2 grid-left">Customer</div>
                        <div class="col-md-2 grid-left">Customer Order Ref.</div>
                        <div class="col-md-2 grid-left">SO No & Date</div>
                        <div class="col-md-2 grid-left">WR No & Date</div>
                        <div class="col-md-2 grid-left">Delivery Date</div>
                        <div class="col-md-2 grid-left">Select</div>

                        </div>
                      @foreach (var item in Model)
                      {
                        <div class="col-md-2 grid_row">@item.CustomerName</div>
                        <div class="col-md-2 grid_row">@item.CustomerOrderRef</div>
                        <div class="col-md-2 grid_row">@item.SaleOrderRefNo &amp; @item.SaleOrderDate.ToString("dd/MMM/yyyy")</div>
                        <div class="col-md-2 grid_row">@item.WorkShopRequestNo &amp; @item.WorkShopRequestDate.ToString("dd/MMM/yyyy")</div>
                        <div class="col-md-2 grid_row">@item.RequiredDate.ToString("dd/MMM/yyyy")</div>
                        <div class="col-md-2 mtop form-button2 form-button1">@Html.ActionLink("Select", "Create", "PurchaseRequest", new { WorkShopRequestId =@item.WorkShopRequestId }, null) </div>
                        }
                </div>
                      
                </div>
                    </div>
                </div>
            </div>
