@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">

    function Create() {
            location.href = '@Url.Action("Create")';  
    }

       function Exit() {
        
         location.href = '@Url.Action("Index","Home")';
    }


    $(document).ready(function () {
      
        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-bottom-full-width",
            "preventDuplicates": false,
            "onclick": null,

            "timeOut": "0",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        if ('@TempData["success"]' != "") {
            toastr.success('@TempData["success"]' + '  Item Code is : ' + '@TempData["ItemRefNo"]');
        }
        else if ('@TempData["error"]' != "") {
            toastr.error('@TempData["error"]');
        }
    });

    function Filter() {
        $(grid).addClass("fade");
        var url = '@Url.Action("ItemList")';
        var name = $("#txtName").val();
        name = name.replace(/ /g, "+");
        url += "?name=" + name;
        //alert(url);
        $("#grid").load(url, function () {
            $(grid).removeClass("fade");
        });
    }

</script>


    <div class="row">

        <div class="form-head form-head3">
            <h4>Item List</h4>
        </div>

        <div class="main-list pad1">
            <div class="row">
                <div class="part">
                    <div class="col-md-4">

                        <label for="txtName">Name</label>
                        <input type="text" class="form_input bluebox" id="txtName" onkeyup="Filter()" />
                    </div>
                </div>
            </div>
            <br />

            <div class="row" id="grid">
                @Html.Action("ItemList")
            </div>

            <div class="row">
                <div class="col-md-12 hrpart1">
                    <button type="submit" class="form-button" onclick="Create();">Create</button>
                    <button type="button" class="form-button right" onclick="Exit();">Exit</button>

                </div>

            </div>


        </div>

    </div>





