@{
    ViewBag.Title = "Material/Spare List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">

    $(function () {
        $("#txtName").val('@Request.QueryString["name"]');
        $("#txtGroup").val('@Request.QueryString["group"]');
        $("#txtSubGroup").val('@Request.QueryString["subgroup"]');
    })

    function Create() {
        location.href = '@Url.Action("Create")';
    }

    function Exit() {

        location.href = '@Url.Action("Index","Home")';
    }
    function GoToPrint() {

        var url = '@Url.Action("Print")';
        var name = $("#txtName").val();
        var group = $("#txtGroup").val();
        var subgroup = $("#txtSubGroup").val();
        url += "?name=" + name + "&group=" + group + "&subgroup=" + subgroup;
        alert(url)
        window.location = url;
    }

    function Filter() {
        $(grid).addClass("fade");
        var url = '@Url.Action("ItemList")';
        var name = $("#txtName").val().trim();
        var group = $("#txtGroup").val().trim();
        var subgroup = $("#txtSubGroup").val().trim();
        //name = name.replace(/ /g, "+");
        url += "?name=" + encodeURIComponent(name) + "&group=" + encodeURIComponent(group) + "&subgroup=" + encodeURIComponent(subgroup);
        $("#grid").load(url, function () {
            $(grid).removeClass("fade");
        });
    }

</script>


    <div class="row">

        <div class="form-head form-head3">
            <h4>Material/Spare List</h4>
        </div>

        <div class="main-list pad1">
            <div class="row">
                <div class="part">
                    <div class="col-md-4">
                        <label for="txtName">Name</label>
                        <input type="text" class="form_input bluebox" id="txtName" onkeyup="Filter()" />
                    </div>
                    <div class="col-md-4">
                        <label for="txtGroup">Group</label>
                        <input type="text" class="form_input bluebox" id="txtGroup" onkeyup="Filter()" />
                    </div>
                    <div class="col-md-4">
                        <label for="txtSubGroup">Sub Group</label>
                        <input type="text" class="form_input bluebox" id="txtSubGroup" onkeyup="Filter()" />
                    </div>
                </div>
            </div>
            <br />

            <div class="row" id="grid">
                @Html.Action("ItemList")
            </div>

            <div class="row">
                <div class="col-md-12 hrpart1">
                    <button type="submit" class="form-button" onclick="Create();">Create</button>
                    <button type="button" class="form-button right" onclick="Exit();">Exit</button>
                    <input type="button" value="Print" onclick="GoToPrint()" class="form-button right" />

                </div>

            </div>


        </div>

    </div>





