@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">


    function Filter() {
        $("#PB_Monthly").addClass("fade");
        var id = $("#cboSupplier").val();

        var url = '@Url.Action("PurchaseMonthlyItemWiseRegister")';
        url += "?id=" + id;
        $("#PB_Monthly").load(url, function () {
            $("#PB_Monthly").removeClass("fade");
        });
    }
    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }
    function GoToPrint() {
        //  $(this).hide();
        var SupName = $("#cboSupplier option:selected").text();
        var SupId = $("#cboSupplier").val();
        console.log(SupId);
        var itmName = $("#cboItem option:selected").text();
        var itmid = $("#cboItem").val();
        var from = $("#txtFrom").val();
        console.log(from);
        var to = $("#txtTo").val();
        var url = '@Url.Action("Print")';
        url += "?SupId=" + SupId + "&SupName=" + (SupName == '' ? 0 : SupName);
        window.location = url;

    }
</script>



<div class="row">

    <div class="form-head1">
        <h4>Purchase Monthly Item Wise</h4>
    </div>

    <div class="main-part pad1">
        <div class="row">
            <div class="col-md-3">
                <label for="cboSupplier">Supplier</label>
                @Html.DropDownList("cboSupplier", (SelectList)ViewBag.SupplierList, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive" id="PB_Monthly">
                    @Html.Action("PurchaseMonthlyItemWiseRegister")
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 hrpart">
                <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
                <input type="button" value="Print" onclick="GoToPrint()" class="form-button right" />
            </div>
        </div>
    </div>
</div>

