@model IList<ArabErp.Domain.PurchaseBillRegister>
<table class="table table-bordered">
    <thead>
        <tr class="grid_heading">
            <th width="10%"><h1>Date</h1></th>
            <th width="25%"><h1>Supplier</h1></th>
            <th width="10%"><h1>Bill No. & Date</h1></th>
            <th width="30%"><h1>Material/Spares</h1></th>
            <th class="text-right" width="5%"><h1>Qty</h1></th>
            <th class="text-right" width="10%"><h1>Rate</h1></th>
            <th class="text-right" width="10%"><h1>Tot.Amt.</h1></th>
        </tr>
    </thead>

    <tbody class="grid_row">
        @foreach (var item in Model)
        {
            <tr>
                <td class="grid-cell">@item.PurchaseBillDate.ToString("dd/MMM/yyyy")</td>
                <td class="grid-cell">@item.SupplierName</td>
                <td class="grid-cell">@item.PurchaseBillNoDate</td>
                <td class="grid-cell">@item.ItemName</td>
                <td class="grid-cell text-right">@item.Quantity</td>
                <td class="grid-cell text-right">@item.Rate</td>
                <td class="grid-cell text-right">@item.Amount</td>
            </tr>
        }
    </tbody>

    @*<tfoot>
        <tr class="grid_heading">
            <th width="10%"><h1></h1></th>
            <th width="25%"><h1></h1></th>
            <th width="10%"><h1></h1></th>
            <th width="30%"><h1></h1></th>
            <th class="text-right" width="5%"><h1></h1></th>
            <th class="text-right" width="10%"><h1></h1></th>
            <th class="text-right" width="10%"><h1></h1></th>
        </tr> 
    </tfoot>*@
</table>