@model IList<ArabErp.Domain.DirectPurchaseRequest>

@{
    ViewBag.Title = "Direct Purchase Request Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function Select(id) {

        var url = '@Url.Action("Approve")';
        url += "?id=" + id;
        window.location = url;
    }

    @*function Approve(id) {
        var url = '@Url.Action("Approve")';
        $.post(url, { id: id }, function (data) {
            if (data.startsWith('success')) {
                toastr.success("Approved succesfully");
                window.location.href = '@Url.Action("Approval")';
                @*$("#view").load('@Url.Action("Approval")');*@
            @*}
            else if (data.startsWith('error'))
                toastr.error(data.split('|')[1]);
        });
    }*@

</script>

<div id="view">
  

        <div class="row">

            <div class="form-head1">
                <h4>Direct Purchase Request Approval</h4>
            </div>
            <div class="main-part pad1">
                <div class="row">
                    <div class="main-grid main-grid-top scroll1">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="grid_heading">
                                        <th width="12%"><h1>DPR.No. &amp; Date</h1></th>
                                        <th width="68%"><h1>Special Remarks</h1></th>
                                        <th width="10%" class="text-right "><h1>Total Amount</h1></th>
                                        <th width="10%"></th>
                                    </tr>
                                </thead>

                                <tbody class="grid_row">
                                 @if (Model.Count > 0)
                                 {
                                     foreach (var item in Model)
                                     {
                                            <tr>

                                                <td>
                                                    <input type="text" class="form_input" value="@item.PurchaseRequestNo" disabled />
                                                </td>
                                                <td>
                                                    <input type="text" class="form_input" value="@item.SpecialRemarks" disabled />
                                                </td>
                                                <td>
                                                    <input type="text" class="form_input text-right" value="@item.TotalAmount" disabled />
                                                </td>

                                                <td>
                                                    <center>
                                                        <button type="button" class="form-button5" onclick="Select(@item.DirectPurchaseRequestId)">Select </button>
                                                        @*<button class="btn btn-xs btn-primary" onclick="Approve('@Model[i].DirectPurchaseRequestId')">*@
                                                        @*<span class="glyphicon glyphicon-edit" style="top:2px">
                                        </span>*@

                                                    </center>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                    <tr>
                                        <td colspan="5">
                                            <center><em>No items found!</em></center>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                        </div>

                        <div class="row-count1">
                            <h5>Row Count:- @Model.Count()</h5>
                        </div>
                    </div>


                        @*<button class="btn btn-default">
                                <span class="glyphicon glyphicon-list" style="top:1.5px;right:5px"></span>Issued List
                            </button>*@
                        @*<div class="margf">
                                <button type="submit" class="form-button">Exit</button>
                                <button type="submit" class="form-button">Proceed</button>
                            </div>*@

            </div>
        </div>
    </div>

