
@model ArabErp.Domain.DirectPurchaseRequest

@{
    ViewBag.Title = "Purchase Indent";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string actionName = ViewContext.RouteData.GetRequiredString("action");
}

<script>
    function Exit() {
        location.href = '@Url.Action("PendingPurchaseRequest")';
    }


    //$(function () {
    //    $("#PurchaseRequestDate").datepicker({
    //        dateFormat: "d-MM-yy"
    //    });
    //    $("#RequiredDate").datepicker({
    //        dateFormat: "d-MM-yy"
    //    });
    //});

    $(document).ready (function()
    {

        $('input,textarea').attr('readonly','true');
    });

    //function formValidation() {
    //    return true;
    //}


    function Exit() {
        location.href = '@Url.Action("Index","Home")';
    }

    function ShowLastPurchaseRate(index) {
        var itemId = $('#items_' + index + '__ItemId').val();
        var url = '@Url.Action("GetLastPurchaseRate")';
        if (itemId == '') {
            $('#lastPurchaseRateGrid').text('Please select a material/spare to get the rate');
        }
        else {
            $('#lastPurchaseRateGrid').text('Loading purchase rates...');
            $('#lastPurchaseRateGrid').load(url, { itemId: itemId });
        }
    }
</script>

<div class="row">

    <div class="form-head1">
        <h4>Purchase Indent</h4>
    </div>

    <div class="main-part pad1">
        @*@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "createFrom", @id = "purchasereq_form", @onsubmit = "return formValidation()" }))
            {*@
        <form role="form" onsubmit="return formValidation()" method="Post">
            <input type="hidden" id="purchaseLimit" />
            @Html.HiddenFor(m => m.DirectPurchaseRequestId)
            <div class="row form-group">
                <div class="col-md-2">
                    <label for="PurchaseRequestNo">Purchase Indent No.</label>
                    @Html.TextBoxFor(m => m.PurchaseRequestNo, new { @class = "form_input", autocomplete = "off", @onchange = "OnRequestDateChanged(this)", @required = "true", @readonly = "readonly" })
                </div>
                <div class="col-md-2">
                    <label for="PurchaseRequestDate">Date</label>
                    @Html.TextBoxFor(m => m.PurchaseRequestDate, Model.PurchaseRequestDate.Value.ToString("dd/MMMM/yyyy"), new { @class = "form_input", autocomplete = "off", @required = "true" })
                </div>
               
            </div>
            <div class="table-responsive">
                @Html.Partial("_grid")
            </div>

            <div class="row form-group">
                <div class="col-md-12">
                    <label for="SpecialRemarks">Special Remarks</label>
                    @Html.TextAreaFor(m => m.SpecialRemarks, new { @class = "form_input form_input-h", autocomplete = "off" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label for="RequiredDate">Required Date</label>
                    @Html.TextBoxFor(m => m.RequiredDate, Model.RequiredDate.Value.ToString("dd/MMMM/yyyy"), new { @class = "form_input", autocomplete = "off" })
                    @*@Html.ValidationMessageFor(m=> m.RequiredDate)*@
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 hrpart">
                    <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
                </div>
            </div>

            @*}*@
        </form>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:900px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Last Purchase Rates</h4>
            </div>
            <div class="modal-body" id="lastPurchaseRateGrid">
                <p>Loading purchase rates...</p>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>

    </div>
</div>