@model ArabErp.Domain.ItemGroup
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="h4bgcolor">
    <h4>Item Group</h4>
</div>

<div class=" container ">
    <div class=" row ">
        <div class="col-md-3 ">

        </div>

        <div class="col-md-6">
            <form role="form" action="@Url.Action("Save")" method="post">
                <div class="row form-group ">

                    <div class="col-md-6">
                        <label for="ItemGroupRefNo">Code</label>
                        @Html.TextBoxFor(m =>m.ItemGroupRefNo, new { @class = "form_input", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.ItemGroupRefNo, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6 ">
                        <label for="ItemGroupName">Name</label>
                        @Html.TextBoxFor(m => m.ItemGroupName, new { @class = "form_input", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.ItemGroupName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row form-group ">
                    <div class="col-md-6 ">
                        <label for="ItemCategoryId">Category</label>
                        @Html.DropDownListFor(m => Model.ItemCategoryId, (SelectList)ViewBag.ItemCategory, "Select Item Category", new { @class = "form_input" })

                    </div>
                </div>

                <div class="row form-group ">
                    <div class="col-md-12 ">
                        <div style="float:right" class="alignCenter">
                            <button type="button" class="button-style">Exit</button>
                        </div>
                        <div style="float:right" class="alignCenter">
                            <button type="submit" class="button-style">Save</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        <div class="col-md-3">

        </div>

    </div>

    <div class="row ">
        <div class="col-md-3">
        </div>

        <div class="col-md-6">
            @Html.Action("FillItemGroupList")
        </div>

        <div class="col-md-3">
        </div>

    </div>
</div>
