@model IList<ArabErp.Domain.IndentVsSOVsInpassStatus>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#txtFrom").datepicker({
            dateFormat: "dd-MM-yy"
        });
        $("#txtTo").datepicker({
            dateFormat: "dd-MM-yy"
        });
    })

    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }
</script>
<div class="row">

    <div class="form-head1">
        <h4>Indent Vs Supply Order Vs GRN Register</h4>
    </div>

    <div class="main-part pad1">
        <div class="main-grid main-grid-top scroll1">
            <table class="table table-bordered">
                <thead>
                    <tr class="grid_heading">
                        <th width="10%" nowrap><h1>Supplier</h1></th>
                        <th width="10%" nowrap><h1>Item Group</h1></th>
                        <th width="10%" nowrap><h1>Item</h1></th>

                        <th width="10%" nowrap><h1>Indent No</h1></th>
                        <th width="10%" nowrap><h1>SO No</h1></th>
                        <th width="10%" nowrap><h1>GRN No</h1></th>

                        <th width="10%" nowrap><h1>Indent Date</h1></th>
                        <th width="10%" nowrap><h1>SO Date</h1></th>
                        <th width="10%" nowrap><h1>SO Due Date</h1></th>
                        <th width="10%" nowrap><h1>GRN Date</h1></th>

                        <th width="10%" class="text-right" nowrap><h1>Indent Qty</h1></th>
                        <th width="10%" class="text-right" nowrap><h1>SO Qty</h1></th>
                        <th width="10%" class="text-right" nowrap><h1>GRN Qty</h1></th>
                        <th width="10%" class="text-right" nowrap><h1>Pending Qty</h1></th>

                        <th width="10%" class="text-right" nowrap><h1>SO Rate</h1></th>
                        <th width="10%" class="text-right" nowrap><h1>SO Amount</h1></th>

                        <th width="10%" nowrap><h1>Indent User</h1></th>
                        <th width="15%" nowrap><h1>SO User</h1></th>
                        <th width="15%" nowrap><h1>GRN User</h1></th>
                      </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tbody class="grid_row">
                        <tr>
                            <td class="grid-cell" nowrap>@item.Supplier</td>
                            <td class="grid-cell" nowrap>@item.ItemGroup</td>
                            <td class="grid-cell" nowrap>@item.Item</td>

                            <td class="grid-cell" nowrap>@item.IndentNo</td>
                            <td class="grid-cell" nowrap>@item.SONo</td>
                            <td class="grid-cell" nowrap>@item.GRNNo</td>

                            <td class="grid-cell" nowrap>@item.IndenDate</td>
                            <td class="grid-cell" nowrap>@item.SODate</td>
                            <td class="grid-cell" nowrap>@item.SODueDate</td>
                            <td class="grid-cell" nowrap>@item.GRNDate</td>

                            <td class="grid-cell text-right" nowrap>@item.IndentQty</td>
                            <td class="grid-cell text-right" nowrap>@item.SOQty</td>
                            <td class="grid-cell text-right" nowrap>@item.GRNQty</td>
                            <td class="grid-cell text-right" nowrap>@item.PendingQty</td>

                            <td class="grid-cell text-right" nowrap>@item.SORate</td>
                            <td class="grid-cell text-right" nowrap>@item.SOAmount</td>

                            <td class="grid-cell" nowrap>@item.IndentUser</td>
                            <td class="grid-cell" nowrap>@item.SOUser</td>
                            <td class="grid-cell" nowrap>@item.GRNUser</td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>

            <div class="row">
                <div class="col-md-12 hrpart">
                    <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
                </div>
            </div>
        </div>
</div>


