
@model ArabErp.Domain.OpeningStock

@{string actionName = ViewContext.RouteData.GetRequiredString("action");}


<script>
    $(document).ready(function () {
        //$('#CurrencyId').val(result.CurrencyId);
      
        $("#OpeningStockItem_0__SlNo").val('1');
        
       
    });

    function AddAdditionRow() {
        var i = 0;
        var no = 1;
        $('input[id^="Row_"]').each(function () {
            var id = this.id;
            no++;
            var row = Number(id.replace("Row_", ""));
            if (row > i) {
                i = row;
            }
        });
        i++;

        var index = (new Date()).getTime(); // unique indexer
        var clone = $('#0').clone(); // clone the BatchProducts item
        //Update the index of the clone
        //clone.html($(clone).html().replace("Items_0__", 'Items_' + i + '__'));
        clone.html($(clone).html().replace(/OpeningStockItem_0__/g, 'OpeningStockItem_' + i + '__'));
        clone.html($(clone).html().replace(/OpeningStockItem_0__/g, 'OpeningStockItem_' + i + '__'));
        clone.html($(clone).html().replace(/\OpeningStockItem[0]./g, 'OpeningStockItem[' + i + '].'));
        clone.html($(clone).html().replace(/\[0\]/g, '[' + i + ']'));
        clone.html($(clone).html().replace(/\(0\)/g, '(' + i + ')'));
        clone.html($(clone).html().replace(/Row_0/, 'Row_' + i + ''));
        clone.html($(clone).html().replace(/slno1/, 'slno' + (i + 1) + ''));
        clone.html($(clone).html().replace(/this,0/, 'this,' + i + ''));
        $("#tab_logic").append('<tr id="' + i + '">' + clone.html() + '  </tr>');
        $("#slno" + (i + 1)).html((i + 1));
        $("#OpeningStockItem_" + i + "__SlNo").val((i + 1));

        $("#OpeningStockItem_" + i + "__ItemId").val('');
        $("#OpeningStockItem_" + i + "__Quantity").val(0);
    }
    function Delete(index) {

        var i = 0;
        var no = 1;
        $('input[id^="Row_"]').each(function () {
            var id = this.id;
            no++;
            var row = Number(id.replace("Row_", ""));
            if (row > i) {
                i = row;
            }
        });
        i++;
        //$("#" + index).html('');
        if (i > 1) {
            $("#" + index).remove();
            for (var j = index + 1; j < i; j++) {
                var ItemId = $("#OpeningStockItem_" + j + "__ItemId").val();
                var Quantity = $("#OpeningStockItem_" + j + "__Quantity").val();

                //alert(WorkDescriptionId + ',' + VehicleModelId + ',' + Quantity + ',' + UnitId + ',' + Rate + ',' + Discount + ',' + Amount);

                var clone = $("#" + j).clone(true, true);
                clone.html($(clone).html().replace(new RegExp("OpeningStockItem_" + j + "__", "g"), 'OpeningStockItem_' + (j - 1) + '__'));
                clone.html($(clone).html().replace(new RegExp("\\[" + j + "].", "g"), "[" + (j - 1) + "]."));
                clone.html($(clone).html().replace(new RegExp('slno' + (j + 1) + '">' + (j + 1), "g"), 'slno' + (j) + '">' + (j)));
                clone.html($(clone).html().replace("Delete(" + j, "Delete(" + (j - 1)));
                clone.html($(clone).html().replace("Row_" + j, "Row_" + (j - 1)));


                clone.html($(clone).html().replace("this," + j, "this," + (j - 1)));
                $("#" + j).html(clone.html());
                $("#OpeningStockItem_" + (j - 1) + "__SlNo").val(j);
                $("#" + (j)).attr('id', (j - 1));
                //alert(j);
                $("#OpeningStockItem_" + (j - 1) + "__ItemId").val(ItemId);
                $("#OpeningStockItem_" + (j - 1) + "__Quantity").val(Quantity);

            }
        }
    }


    function OnMaterialChange(s, index) {
        $("#hidden"+index).val($(s).val());
    }

    </script>



<div class="table-responsive">
    <table class="table table-bordered table-hover" id="tab_logic">
        <thead>
            <tr class="grid_heading">
                <th width="2%" class="text-center"></th>
                <th width="5%" class="text-center"><h1>#</h1></th>
                <th width="81%" class="text-left"><h1>Product</h1></th>
                <th width="10%" class="text-center"><h1>Qty</h1></th>
                <th width="2%" class="text-center"></th>
            </tr>
        </thead>

        <tbody>
            @for (int i = 0; i < Model.OpeningStockItem.Count; i++)
            {
                <tr id="@i">
                    <td style="vertical-align:middle"><a class="glyphicon glyphicon-minus" style="top:0px" onclick="Delete(@i)"></a></td>
                    <td align="center">
                        <span id="slno@(i+1)">@(i + 1)</span>
                        @Html.HiddenFor(m => m.OpeningStockItem[i].SlNo)
                    </td>
                    <td>
                        <input type="hidden" id="Row_@i" />
                        @*@Html.HiddenFor(m => m.OpeningStockItem[i].ItemId, new { @id = "hidden" + i })*@
                        @Html.DropDownListFor(m => m.OpeningStockItem[i].ItemId, new SelectList(ViewBag.Itemlist, "Value", "Text", Model.OpeningStockItem[i].ItemId), "Select Material/Spare", new { @class = "form_input", autocomplete = "off"})
                      
                     </td>

                    <td>
                        @Html.TextBoxFor(m => m.OpeningStockItem[i].Quantity, new { @class = "form_input", autocomplete = "off", @style = "text-align:right" })
                    </td>

                    <td style="vertical-align:middle"><a id="add_row" class="glyphicon glyphicon-plus" style="top:0px" onclick="AddAdditionRow()"></a></td>
                </tr>
            }
            @*<tr id='addr1'></tr>*@
        </tbody>

    </table>
</div>


