@model IList<ArabErp.Domain.PendingForGRN>

<strong>Pending GRN - @Model.Sum(x => x.PendingQuantity)</strong>
<div class="div-bordered">
    <table class="table-responsive table-hover table-bordered  full-width-table">
        <thead class="grid_heading">
            <tr>
                <th>Supply Order No &amp; Date</th>
                <th>Supplier</th>
                <th>Order Quantity</th>
                <th>Pending Quantity</th>
            </tr>
        </thead>
        <tbody class="grid_row">
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.SupplierName</td>
                        <td><strong>@item.SoNoWithDate</strong></td>
                        <td>@item.Quantity</td>
                        <td>@item.PendingQuantity</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td align="center" colspan="4">
                        <em>No items found!</em>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
