
@{
    ViewBag.Title = "DC Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function Filter() {
        var month = Number($("#month-filter").val()) + 1;
        var year = Number($("#year-filter").val());
        var ChassisNo = $("#chassisno").val().trim();
        var UnitSlNo = $("#unitserialno").val().trim();
        var Customer = $("#Customer").val().trim();
        var JobcardNo = $("#JobcardNo").val().trim();
        var InstallType = $("#cboType").val();
        var url = '@Url.Action("DCReportGrid")';
        url += "?month=" + month + "&year=" + year + "&ChassisNo=" + encodeURIComponent(ChassisNo) + "&UnitSlNo=" + encodeURIComponent(UnitSlNo) + "&Customer=" + encodeURIComponent(Customer) + "&JobcardNo=" + encodeURIComponent(JobcardNo) + "&InstallType=" + encodeURIComponent(InstallType);
        $("#dc_report_table").load(url, function () {
            $("#dc_report_table").removeClass("fade");

        });
    }
    function Exit() {
        var url = '@Url.Action("Index","Home")';
        window.location = url;
    }
</script>
<div class="row">
    <div class="form-head1">
        <h4>DC Report</h4>
    </div>
    <div class="main-part pad1">
        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="row form-group">
                <div class="col-md-2">
                    <label for="">Month</label>
                    @Html.DropDownList("month-filter", new SelectList(
                  new List<Object>{
                       new { value = 0 , text = "January"  },
                       new { value = 1 , text = "February" },
                       new { value = 2 , text = "March"},
                       new { value = 3 , text = "April"},
                       new { value = 4 , text = "May"},
                       new { value = 5 , text = "June"},
                       new { value = 6 , text = "July"},
                       new { value = 7 , text = "August"},
                       new { value = 8 , text = "September"},
                       new { value = 9 , text = "October"},
                       new { value = 10 , text = "November"},
                       new { value = 11 , text = "December"}
                    },
                  "value",
                  "text", DateTime.Today.Month - 1), "Select Month", new { @class = "form_input", @onchange = "Filter()" })
                </div>
                <div class="col-md-2">
                    <label for="">Year</label>
                    @Html.DropDownList("year-filter", new SelectList(
                  new List<Object>{
                       new { value = ViewBag.Year, text = ViewBag.Year },
                       new { value = ViewBag.Year + 1, text = ViewBag.Year + 1 }
                    },
                  "value",
                  "text", ViewBag.Year), "Select Year", new { @class = "form_input", @onchange = "Filter()" })
                </div>
                    <div class="col-md-2">
                        <label>Reg No./Chassis No.</label>
                        <input id="chassisno" class="form_input" placeholder="Search for Vehicle/Chassis No." onkeyup="Filter()" />
                    </div>
                    <div class="col-md-2">
                        <label>Unit Sl.No.</label>
                        <input id="unitserialno" class="form_input" placeholder="Search for Unit Sl.No" onkeyup="Filter()" />
                    </div>
                    <div class="col-md-2">
                        <label>Customer</label>
                        <input id="Customer" class="form_input" placeholder="Search for Customer " onkeyup="Filter()" />
                    </div>
                    <div class="col-md-2">
                        <label>Jobcard No.</label>
                        <input id="JobcardNo" class="form_input" placeholder="Search for Jobcard No." onkeyup="Filter()" />
                    </div>
                    <div class="col-md-2">
                        <label for="txtCustomer">Service/New Installation</label>
                        <select id="cboType" class="form_input" onchange="Filter()">
                            <option value="all" selected>All</option>
                            <option value="service">Service</option>
                            <option value="new">New Installation</option>
                        </select>
                    </div>

            </div>
                <div class="table-responsive" id="dc_report_table">
                    @Html.Action("DCReportGrid")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 hrpart">
                @*<input type="button" class="form-button" onclick="PreviousList()" value="Previous">*@
                <input type="button" class="form-button right" onclick="Exit()" value="Exit">
            </div>
        </div>
    </div>

</div>

