@model IEnumerable<ArabErp.Domain.ProfitabilityReport>
@{
    ViewBag.Title = "Profitability Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function Exit() {
        var url = '@Url.Action("Index","Home")';
        window.location = url;
    }

    function GoToPrint(id) {
        var url = '@Url.Action("Print")';
        //url += "?Id=" + id;
        window.open(url);
    }

    function PurchaseDetails(Id)
    {
        var url = '@Url.Action("PurchaseDetails")';
        url += '?id=' + Id;
        $('#purchasedetails').html('Loading Purchase Details...<br><br>');
        $('#purchasedetails').load(url);

    }

    function ExpenseDetails(Id)
    {
        var url = '@Url.Action("ExpenseDetails")';
        url += '?id=' + Id;
        $('#ExpenseDetails').html('Loading Expense Details...<br><br>');
        $('#ExpenseDetails').load(url);

    }

    function LabourDetails(Id) {
        var url = '@Url.Action("LabourDetails")';
        url += '?id=' + Id;
        $('#LabourDetails').html('Loading Labour Details...<br><br>');
        $('#LabourDetails').load(url);

    }
    </script>
    <div class="row">
        <div class="form-head1">
            <h4>Job Profitability Report on @DateTime.Now.ToString("dd-MMMM-yyyy")</h4>
        </div>

        <div class="main-part pad1">


                <div class="row">
                    <div class="main-grid main-grid-top scroll1">
                        <div class=" table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="grid_heading">
                                        <th width="10%"><h1>Sale Order Ref</h1></th>
                                        <th width="10%"><h1>SO Date</h1></th>
                                        <th width="20%"><h1>Customer</h1></th>
                                        <th width="10%" class="text-right"><h1>S.O Amount</h1></th>
                                        <th width="10%" class="text-right"><h1>Purchase</h1></th>
                                        <th width="10%" class="text-right"><h1>Expense</h1></th>
                                        <th width="10%" class="text-right"><h1>Labour</h1></th>
                                        <th width="10%" class="text-right"><h1>Invoice</h1></th>
                                        <th width="10%" class="text-right"><h1>Profit/ Loss</h1></th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {
                                    decimal profit = item.SalesInvoice - (item.Purchase + item.Expense + item.Labour);
                                    <tbody class="grid_row">
                                        <tr>
                                           
                                            <td 
                                                class="grid-cell">@item.SaleOrderRefNo
                                                @Html.HiddenFor(m => @item.SaleOrderId)
                                            </td>
                                            <td class="grid-cell">@item.SaleOrderDate.ToString("dd/MMM/yyyy")</td>
                                            <td class="grid-cell">@item.CustomerName</td>
                                            <td class="grid-cell text-right">@item.OrderAmount</td>
                                            @*<td class="grid-cell text-right">@item.Purchase</td>*@
                                            @*<td class="grid-cell text-right">@item.Expense</td>*@
                                            @*<td class="grid-cell text-right">@item.Labour</td>*@
                                            <td onclick="PurchaseDetails(@item.SaleOrderId)" class="grid-cell text-right" value="Get Purchase Details" style="width: 150px;cursor:pointer;" data-toggle="modal" data-target="#Purchasedetailspopup">@item.Purchase</td>
                                            <td onclick="ExpenseDetails(@item.SaleOrderId)" class="grid-cell text-right" value="Get Expense Details" style="width: 150px;cursor:pointer;" data-toggle="modal" data-target="#Expensedetailspopup">@item.Expense</td>
                                            <td onclick="LabourDetails(@item.SaleOrderId)" class="grid-cell text-right" value="Get Labour Details" style="width: 150px;cursor:pointer;" data-toggle="modal" data-target="#Labourdetailspopup">@item.Labour</td>
                                            <td class="grid-cell text-right">@item.SalesInvoice</td>
                                            <td class="grid-cell text-right">@profit</td>
                                        </tr>
                                    </tbody>
                                }
                            </table>
                        </div>
                        <div class="col-md-12 hrpart">
                            <button type="button" class="form-button right" onclick="Exit()">Exit</button>
                            <input type="button" value="Print" onclick="GoToPrint()" class="form-button right" />
                        </div>
                        </div>
                        </div>
              

        </div>
    </div>

 <!-- Purchase Coloumn Click PopUp -->
<div id="Purchasedetailspopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="width:800px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Purchase Details</h4>
            </div>
            <div class="modal-body">
                <div id="purchasedetails"></div>
            </div>

        </div>

    </div>
</div>

<!-- Expense Coloumn Click PopUp -->
<div id="Expensedetailspopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="width:800px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Expense Details</h4>
            </div>
            <div class="modal-body">
                <div id="ExpenseDetails"></div>
            </div>

        </div>

    </div>
</div>

<!-- Labour Coloumn Click PopUp -->
<div id="Labourdetailspopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="width:800px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Labour Details</h4>
            </div>
            <div class="modal-body">
                <div id="LabourDetails"></div>
            </div>

        </div>

    </div>
</div>