@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(document).ready(function()
    {
        $("#txtFrom").datepicker({
            dateformat:"dd-MM-yy"
        });
        $("#txtTo").datepicker({
            dateFormat: "dd-MM-yy"
        });
    })

    function Filter() {
        $("#so_Summary").addClass("fade");
        var id = $("#cboSupplier").val();
        var from = $("#txtFrom").val();
        var to = $("#txtTo").val();
        var url = '@Url.Action("SupplyOrderSummary")';
        url += "?from=" + from + "&to=" + to + "&id=" + id ;
        $("#so_Summary").load(url, function () {
            $("#so_Summary").removeClass("fade");
        });
    }
    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }

</script>


<div class="row">

    <div class="form-head1">
        <h4>Supply Order Summary</h4>
    </div>

    <div class="main-part pad1">
        <div class="row">
            <div class="col-md-2">
                <label>From</label>
                <input id="txtFrom" value="@System.DateTime.Today.AddMonths(-7).ToString("dd-MMMM-yyy")" class="form_input" onchange="Filter()" />
            </div>

            <div class="col-md-2">
                <label>To</label>
                <input id="txtTo" value="@System.DateTime.Today.ToString("dd-MMMM-yyy")" class="form_input" onchange="Filter()" />
            </div>

            <div class="col-md-2">
                <label for="cboSupplier">Supplier</label>
                @Html.DropDownList("cboSupplier", (SelectList)ViewBag.SupplierList, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>

        </div>

        <br />

        <div class="row">
            @*<div class="main-grid main-grid-top scroll1">*@
            <div class="table-responsive" id="so_Summary">
                @Html.Action("SupplyOrderSummary")
            </div>
        </div>
        @*</div>*@

        <div class="row">
            <div class="col-md-12 hrpart">
                <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
            </div>
        </div>

    </div>
</div>

