@model IList<ArabErp.Domain.ProjectCompletion>

<table class="table table-bordered">
    <thead>
        <tr class="grid_heading">
            <th width="1%" style="text-align:center"><h1>#</h1></th>
            <th width="30%"><h1>Customer</h1></th>
            <th width="20%" title="Project Commission No. & Date"><h1>Project Comm.No. &amp; Date</h1></th>
            <th width="20%" title="Sale Order No. & Date"><h1>SO.No. &amp; Date</h1></th>
            <th width="10%" nowrap><h1>Warranty Expiry Date</h1></th>
            <th width="1%" class="text-center"><h1></h1></th>
            @*<th><h1>Revise</h1></th>
                <th><h1>Cancel</h1></th>*@
        </tr>
    </thead>

    <tbody class="grid_row">
        @if (Model.Count > 0)
        {
            int i = 0;
            foreach (var item in Model)
            {
                <tr>
                    <td align="center">@(++i)</td>
                    <td>@item.CustomerName</td>
                    <td>@item.ProjectCompletionRefNo - @item.ProjectCompletionDate.ToString("dd-MMMM-yyyy")</td>
                    <td>@item.SaleOrderRefNo - @item.SaleOrderDate.ToString("dd-MMMM-yyyy")</td>
                    <td @if (item.ProjectWarrantyExpiryDate < DateTime.Today) 
                        { 
                            @: class="report-highlight"
                        }>
                        @item.ProjectWarrantyExpiryDate.ToString("dd-MMMM-yyyy")
                    </td>
                    <td align="center"><input type="button" value="Select" onclick="OnItemSelected(@item.ProjectCompletionId)" checked class="form-button4" /></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">
                    <center>
                        <em>No items found!</em>
                    </center>
                </td>
            </tr>
        }
    </tbody>
</table>