@model IList<ArabErp.Domain.DeliveryChallan>

<table class="table table-bordered">
    <thead>
        <tr class="grid_heading">
            <th width="1%" style="text-align:center"><h1>#</h1></th>
            <th width="20%"><h1>Customer</h1></th>
            <th width="15%" title="Delivery Challan Ref. No. & Date"><h1>Delivery Challan Ref. No &amp; Date</h1></th>
            <th width="20%" title="Sale Order "><h1>SO Ref. No. &amp; Date</h1></th>
            <th width="1%" class="text-center"><h1></h1></th>
            @*<th><h1>Revise</h1></th>
                <th><h1>Cancel</h1></th>*@
        </tr>
    </thead>

    <tbody class="grid_row">
        @if (Model.Count > 0)
        {
            int i = 0;
            foreach (var item in Model)
            {
                <tr>
                    <td align="center">@(++i)</td>
                    <td>@item.Customer</td>
                    <td>@item.DeliveryChallanRefNo - @item.DeliveryChallanDate.ToString("dd-MMMM-yyyy")</td>
                    <td>@item.SaleOrderRefNo - @item.SaleOrderDate.ToString("dd-MMMM-yyyy")</td>
                    <td align="center"><input type="button" value="Select" onclick="OnItemSelected(@item.DeliveryChallanId)" checked class="form-button4" /></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">
                    <center>
                        <em>No items found!</em>
                    </center>
                </td>
            </tr>
        }
    </tbody>
</table>
