
@model ArabErp.Domain.SalesQuotation

@{ 
    string actionName = ViewContext.RouteData.GetRequiredString("action");
 }
<script type="text/javascript">

    $(document).ready(function () {
        $("#Materials_0__SlNo").val('1');
        calculateSummary();
    });
   

    function AddRow() {
       
        var i = 0;
        var no = 1;
        $('input[id^="Row_"]').each(function () {
            var id = this.id;
            no++;
            var row = Number(id.replace("Row_", ""));
            if (row > i) {
                i = row;
            }
        });
        i++;

        var index = (new Date()).getTime(); // unique indexer
        var clone =$('#tr_0').clone(); // clone the BatchProducts item
        //Update the index of the clone
     
        clone.html($(clone).html().replace(/\Materials_0__/g, 'Materials_' + i + '__'));
        clone.html($(clone).html().replace(/\Materials[0]./g, 'Materials[' + i + '].'));
        clone.html($(clone).html().replace(/partno0/, 'partno' + i + ''));
        clone.html($(clone).html().replace(/\[0\]/g, '[' + i + ']'));
        clone.html($(clone).html().replace(/\(0\)/g, '(' + i + ')'));
        clone.html($(clone).html().replace(/Row_0/, 'Row_' + i));
        clone.html($(clone).html().replace(/serialno1/, 'serialno' + (i + 1) + ''));
        clone.html($(clone).html().replace(/unitname0/, 'unitname' + i + ''));
        clone.html($(clone).html().replace(/this,0/, 'this,' + i + ''));
        $("#table-additional-items-list").append('<tr id="tr_' + i + '">' + clone.html() + '  </tr>');
        $("#serialno" + (i + 1)).html((i + 1));
        $("#Materials_" + i + "__SlNo").val((i + 1));
      
        $("#unitname" + i).html('');
        $("#partno" + i).html('');
        //bind keypress event for new row inputs.
        $(".numbers-only").keypress(function (e) {
            if (e.which == 8 || (e.which == 45 && $(this).val().indexOf('-') == -1) || (e.which == 46 && $(this).val().indexOf('.') == -1) || (e.which > 47 && e.which < 58)) {
            }
            else {
                return false;
            }
        });
    }

    function Delete(index) {

        var i = 0;
        var no = 1;
        $('input[id^="Row_"]').each(function () {
            var id = this.id;
            no++;
            var row = Number(id.replace("Row_", ""));
            if (row > i) {
                i = row;
            }
        });
        i++;
       
        if (i > 1) {
            $("#tr_" + index).remove();
            for (var j = index + 1; j < i; j++) {
                var ItemId = $("#Materials_" + j + "__ItemId").val();
                var PartNo = $("#Materials_" + j + "__PartNo").val();
                var Quantity = $("#Materials_" + j + "__Quantity").val();
                var Unit = $("#Materials_" + j + "__UnitName").val();
                var Rate = $("#Materials_" + j + "__Rate").val();
                var Amount = $("#Materials_" + j + "__Amount").val();
                var Remarks = $("#Materials_" + j + "__Remarks").val();
                var clone = $("#tr_" + j).clone(true, true);
                clone.html($(clone).html().replace(new RegExp("Materials_" + j + "__", "g"), 'Materials_' + (j - 1) + '__'));
                clone.html($(clone).html().replace(new RegExp("\\[" + j + "].", "g"), "[" + (j - 1) + "]."));
                clone.html($(clone).html().replace("OnRateTypeChanged(" + j, "OnRateTypeChanged(" + (j - 1)));
                clone.html($(clone).html().replace("OnItemChange(" + j, "OnItemChange(" + (j - 1)));
                clone.html($(clone).html().replace(new RegExp('serialno' + (j + 1) + '">' + (j + 1), "g"), 'serialno' + (j) + '">' + (j)));
                clone.html($(clone).html().replace("Delete(" + j, "Delete(" + (j - 1)));
                clone.html($(clone).html().replace("Row_" + j, "Row_" + (j - 1)));
                clone.html($(clone).html().replace("this," + j, "this," + (j - 1)));
                $("#tr_" + j).html(clone.html());
           
                $("#Materials_" + (j - 1) + "__SlNo").val(j);
                $("#tr_" + (j)).attr('id', 'tr_' + (j - 1));
              
                $("#Materials_" + (j - 1) + "__ItemId").val(ItemId);
                $("#Materials_" + (j - 1) + "__PartNo").val(PartNo);
                $("#Materials_" + (j - 1) + "__Quantity").val(Quantity);
                $("#Materials_" + (j - 1) + "__UnitName").val(Unit);
                $("#Materials_" + (j - 1) + "__Rate").val(Rate);
                $("#Materials_" + (j - 1) + "__Amount").val(Amount);
                $("#Materials_" + (j - 1) + "__Remarks").val(Remarks);
            }
        }
    }

    function OnItemChange(sender, index) {
       
        var id = $(sender).val();
        if (id != '') {
            var url = '@Url.Action("GetItemUnit")';//get unit of selected item
            $.getJSON(url, { itemId: id },
                function (data) {
                    
                    $("#unitname" + index).html(data);
                });

            url = '@Url.Action("GetItemPartNo")';//get part number of selected item
            $.getJSON(url, { itemId: id },
                function (data) {
                    $("#partno" + index).html(data);
                });
        }
        else {
            $("#unitname" + index).html('');
            $("#partno" + index).html('');
        }
    }
    function RateChanged() {
        var rate = parseFloat("0");
      
        $('.clRate').each(function (i, obj) {
           
            var a = parseFloat($("#Materials_" + i + "__Rate").val());

            if (isNaN(a)) {
                a = parseFloat("0");
            }
           
            rate = rate + a;
            
            $("#SalesQuotationItems_" + 0 + "__MaterialRate").val(rate);
            $("#SalesQuotationItems_" + 0 + "__Amount").val(rate);
        });
       

    }
    function QtyChanged(row) {
        var quantity = parseFloat($("#Materials_" + row + "__Quantity").val());
        var rate = parseFloat($("#Materials_" + row + "__Rate").val());
        //var discount = parseFloat($("#Materials_" + row + "__Discount").val());
     
        if (quantity == NaN) {
            quantity = 0;
        }
        if (rate == NaN) {
            rate = 0;
        }
        //if (discount == NaN) {
        //    discount = 0;
        //}               
      
                      
        var amount = (quantity * rate);// - discount;
                       
        amount = parseFloat(amount);
        $("#Materials_" + row + "__Amount").val(amount);
        calculateSummary();
    }

    function calculateSummary() {
      
        var amount = parseFloat("0");
        var grandtotal = parseFloat("0");
        $('.clAmount').each(function (i, obj) {
            var a = parseFloat($("#Materials_" + i + "__Amount").val());
            if (isNaN(a)) {

                a = parseFloat("0");

            }

            amount = amount + a;
        });

     
        $("#TotalAmount").text(parseFloat(amount));
        $("#Amount").val(parseFloat(amount));
        var abc=parseFloat($("#QtyAmount").text());
        if (isNaN(abc)) {

            abc = parseFloat("0");

        }

        grandtotal= parseFloat($("#TotalAmount").text()) + abc;
                    
        $("#lblTotalAmount").text(parseFloat(grandtotal));
    }

</script>



     <table class="table table-bordered" id="table-additional-items-list">
    <thead>
        <tr class="grid_heading">
           @if (actionName != "Approve" )
            {
            <th width="2%" class="text-center"></th>
            }
            <th width="5%" class="text-center "><h1>#</h1></th>
            <th width="40%"><h1>Material/Spares</h1></th>
            <th width="20%"><h1>Part No.</h1></th>
          
            <th width="6%" class="text-right "><h1>Qty.</h1></th>
            <th width="8%"><h1>UoM</h1></th>
            <th width="10%" class="text-right "><h1>Rate</h1></th>
            @*<th width="10%" class="text-right "><h1>Discount</h1></th>*@
            <th width="10%" class="text-right "><h1>Amount</h1></th>
            @if (actionName != "Approve" )
            {
            <th width="2%" class="text-center"></th>
            }
        </tr>
    </thead>
    <tbody class="grid_row">
        @for (int i = 0; i < Model.Materials.Count; i++)
        {

            <tr id="tr_@i">
             @if (actionName != "Approve" )
                  {
                <td style="vertical-align:middle"><a class="glyphicon glyphicon-minus" style="top:0px" onclick="Delete(@i)"></a></td>
                  }
                <td align="center">
                    <span id="serialno@(i+1)">@(i + 1)</span>
                    @Html.HiddenFor(m => m.Materials[i].SlNo)
                </td>
                <td>
                <input type="hidden" id="Row_@i" />
                @Html.DropDownListFor(m => m.Materials[i].ItemId, new SelectList(ViewBag.itemList, "Value", "Text", Model.Materials[i].ItemId), "Select Material/Spares", new { @class = "form_input", autocomplete = "off", @onchange = "OnItemChange(this," + i + ")" })
                </td>
                <td id="partno0" class="qreturn" style="vertical-align:middle">@Html.TextBoxFor(m => m.Materials[i].PartNo, new { @class = "form_input text-left", @readonly = "true" })</td>
             
                <td>@Html.TextBoxFor(m => m.Materials[i].Quantity, new { @class = "form_input numbers-only text-right", autocomplete = "off", placeholder = "Qty", @onkeyup = "QtyChanged(" + i + ")", @onchange = "QtyChanged(" + i + ")" })</td>
                <td id="unitname0" class="qreturn" style="vertical-align:middle">@Html.TextBoxFor(m => m.Materials[i].UnitName, new { @class = "form_input text-left", @readonly = "true" })</td>
                <td>@Html.TextBoxFor(m => m.Materials[i].Rate, new { @class = "form_input numbers-only text-right ", autocomplete = "off", placeholder = "Rate", @onchange = "RateChanged(" + i + ");", @onkeyup = "QtyChanged(" + i + ")" })</td>
                @*<td>@Html.TextBoxFor(m => m.Materials[i].Discount, new { @class = "form_input numbers-only text-right ", autocomplete = "off", placeholder = "Discount", @onkeyup = "QtyChanged(" + i + ")" })</td>*@
                <td>@Html.TextBoxFor(m => m.Materials[i].Amount, new { @class = "form_input numbers-only text-right clAmount", autocomplete = "off", placeholder = "Amount", @readonly = "true" })</td>
                @if (actionName != "Approve" )
                  {
                <td style="vertical-align:middle"><a id="add_row" class="glyphicon glyphicon-plus" style="top:0px" onclick="AddRow()"></a></td>
                  }
                    </tr>
        }
    </tbody>
         <tfoot>
             <tr class="grid_heading">
                 @if (actionName != "Approve")
                 {
                     <th width="2%" class="text-center"></th>
                 }
                 <th width="5%" class="text-center "><h1>Total</h1></th>
                 <th width="40%"><h1></h1></th>
                 <th width="20%"><h1></h1></th>

                 <th width="6%" class="text-right "><h1></h1></th>
                 <th width="8%"><h1></h1></th>
                 <th width="10%" class="text-right "><h1></h1></th>
                 @*<th width="10%" class="text-right "><h1></h1></th>*@
                 <th width="10%" class="text-right "><span id="TotalAmount"></span></th>
                 @if (actionName != "Approve")
                 {
                     <th width="2%" class="text-center"></th>
                 }
             </tr>
         </tfoot>

</table>
   


