@using ArabErp.Domain
@model IEnumerable<SalesQuotation>
@{
    ViewBag.Title = "ListSalesQuotations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    decimal amountFrom = 0;
    decimal amountTo = 0;

    try
    {
        amountFrom = Convert.ToDecimal(ViewBag.AmountFrom);
        amountTo = Convert.ToDecimal(ViewBag.AmountTo);
    }
    catch
    {

    }
}



    <div class="row">

        <div class="form-head1">
            <h4>Pending Quotation Request Approval</h4>
        </div>

        <div class="main-part pad1 white">
            <div class="row">
                <div class="main-grid main-grid-top scroll1">
                    <div class="table-responsive">
                        <span class="form_input perm">You have permission to Approve Quotations between @amountFrom and @amountTo</span>
                        <table class="table table-bordered">
                            <thead>
                                <tr class="grid_heading">
                                    <th width="35%"><h1>Customer</h1></th>
                                    <th width="25%"><h1>Sales Executive</h1></th>
                                    <th width="15%"><h1>Quotation Ref.No. & Date</h1></th>
                                    <th width="10%" class="text-right"><h1>Amount</h1></th>
                                    <th width="5%"><h1>Status</h1></th>
                                    <th width="10%"><center><h1>Select</h1></center></th>

                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                <tbody class="grid_row">
                                    <tr>
                                        <td class="grid-cell">@item.CustomerName</td>
                                        <td class="grid-cell">@item.SalesExecutiveName</td>
                                        <td class="grid-cell">@item.QuotationRefNo &amp; @item.QuotationDate.ToString("dd/MMM/yyyy")</td>
                                        <td class="grid-cell" align="right">@item.Amount</td>
                                        <td class="grid-cell">@item.ReasonDescription</td>
                                        <td>
                                            <center>
                                                @if (item.Amount <= amountTo)
                                                {
                                                    @Html.ActionLink("Select", "Approve", "SalesQuotation", new { SalesQuotationId = @item.SalesQuotationId }, new { @class = "form-button5", @style = "text-align:center" })
                                                }
                                                else
                                                {
                                                    <span class="form_input perm">No Permission</span>
                                                }
                                            </center>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                </div>

                <div class="row-count1">

                    <h5>Row Count:- @Model.Count()</h5>
                </div>

            </div>
        </div>
    </div>

