@using ArabErp.Domain
@model IEnumerable<SalesQuotation>
@{
    ViewBag.Title = "ListSalesQuotations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <div class="row">

        <div class="form-head1">
            <h4>Pending Quotation Request Approval</h4>
        </div>

        <div class="main-part pad1 white">
            <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="grid_heading">
                                <th width="28%"><h1>Customer</h1></th>
                                <th width="20%"><h1>Sales Executive</h1></th>
                                <th width="20%"><h1>Quotation Ref.No. & Date</h1></th>
                                <th width="20%"><h1>Status</h1></th>
                                <th width="18%"><center><h1>Select</h1></center></th>

                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                           <tbody class="grid_row">
                                <tr>
                                    <td class="grid-cell">@item.CustomerName</td>
                                    <td class="grid-cell">@item.SalesExecutiveName</td>
                                    <td class="grid-cell">@item.QuotationRefNo &amp; @item.QuotationDate.ToString("dd/MMM/yyyy")</td>
                                    <td class="grid-cell">@item.ReasonDescription</td>
                                    <td><center>@Html.ActionLink("Select", "Approve", "SalesQuotation", new { SalesQuotationId = @item.SalesQuotationId }, new { @class = "form-button5", @style = "text-align:center" })</center></td>
                                </tr>
                           </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
