@using ArabErp.Domain
@model IEnumerable<SalesQuotation>
@{
    ViewBag.Title = "Pending Quotation Request Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    decimal amountFrom = 0;
    decimal amountTo = 0;

    try
    {
        amountFrom = Convert.ToDecimal(ViewBag.AmountFrom);
        amountTo = Convert.ToDecimal(ViewBag.AmountTo);
    }
    catch
    {

    }
}
<script type="text/javascript">

    $(document).ready(function () {
              

        //$("#radio_1").prop("checked", true)
        //---------------------toastr---------------------------//
        toastr.options = {
            "positionClass": "toast-bottom-full-width",
            "timeOut": "5000",
            "extendedTimeOut": "2000"
        }
        if ('@TempData["success"]' != '') {
            toastr.success('@TempData["success"]');
        }
        else if ('@TempData["error"]' != '') {
            toastr.error('@TempData["error"]'.split('|')[0]);
            console.log('@TempData["error"]'.split('|')[1]);
        }
        @{ TempData["success"] = TempData["error"] = ""; }
        //------------------------------------------------------//

    });

    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }

</script>



    <div class="row">

        <div class="form-head1">
            <h4>Pending Quotation Request Approval</h4>
        </div>

        <div class="main-part pad1">
            <div class="row">
                <div class="main-grid main-grid-top scroll1">
                    <div class="table-responsive">
                        @*<span class="form_input perm">You have permission to Approve Quotations between @amountFrom and @amountTo</span>*@
                        <table class="table table-bordered">
                            <thead>
                                <tr class="grid_heading">
                                    <th width="35%"><h1>Customer</h1></th>
                                    <th width="25%"><h1>Sales Executive</h1></th>
                                    <th width="15%"><h1>Quotation No. & Date</h1></th>
                                    <th width="10%" class="text-right"><h1>Amount</h1></th>
                                    <th width="5%"><h1>Status</h1></th>
                                    <th width="10%"><center><h1></h1></center></th>

                                </tr>
                            </thead>
                            <tbody class="grid_row">
                                @if (Model.Count() > 0)
                                {
                                    foreach (var item in Model)
                                    {

                                        <tr>
                                            <td class="grid-cell">@item.CustomerName</td>
                                            <td class="grid-cell">@item.SalesExecutiveName</td>
                                            <td class="grid-cell">@item.QuotationRefNo - @item.QuotationDate.ToString("dd/MMM/yyyy")</td>
                                            <td class="grid-cell" align="right">@item.GrandTotal</td>
                                            <td class="grid-cell">@item.Description</td>
                                            <td>
                                                <center>
                                                    @*@if (item.GrandTotal <= amountTo)
                                                    {*@
                                                        @Html.ActionLink("Select", "Approve", "SalesQuotation", new { SalesQuotationId = @item.SalesQuotationId }, new { @class = "form-button5", @style = "text-align:center" })
                                                    @*}
                                                    else
                                                    {
                                                        <span class="form_input perm">No Permission</span>
                                                    }*@
                                                </center>
                                            </td>
                                        </tr>

                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="8">
                                            <center><em>No items found!</em></center>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row-count1">

                    <h5>Row Count:- @Model.Count()</h5>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12 hrpart">
                    <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
                </div>
            </div>
        </div>
    </div>

