@using ArabErp.Domain
@model IEnumerable<SalesQuotation>
@{
    ViewBag.Title = "ListSalesQuotations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <div class="row">

        <div class="form-head1">
            <h4>Sales Quotation</h4>
        </div>

        <div class="main-part pad1 white">
            <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="grid_heading">
                                <th><h1>Customer</h1></th>
                                <th><h1>Sales Executive</h1></th>
                                <th><h1>Quotation Ref No & Date</h1></th>
                                <th><center><h1>Select</h1></center></th>

                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tbody class="grid_row">
                                <tr>
                                    <td class="grid-cell">@item.CustomerName</td>
                                    <td class="grid-cell">@item.SalesExecutiveName</td>
                                    <td class="grid-cell">@item.QuotationRefNo &amp; @item.QuotationDate.ToString("dd/MMM/yyyy")</td>
                                    <td><center><button class="form-button4">@Html.ActionLink("Select", "Approve", "SalesQuotation", new { SalesQuotationId = @item.SalesQuotationId  }, null)</button></center></td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
