
@{
    ViewBag.Title = "PreviousList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .fade {
        opacity: 0.6;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        $("#txtFrom").datepicker({
            dateFormat: "dd-MM-yy"
        });
        $("#txtTo").datepicker({
            dateFormat: "dd-MM-yy"
        });
        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-bottom-full-width",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        if ('@TempData["success"]' != '') {
            toastr.success('@TempData["success"]');

        }
        else if ('@TempData["error"]' != '') {
            toastr.error('@TempData["error"]'.split('|')[0]);
            console.log('@TempData["error"]'.split('|')[1]);
        }
      @{TempData["success"] = TempData["error"] = "";}
    })

    function OnItemSelected(id) {
        //alert(id);
        var url = '@Url.Action("Edit")';
        url += "?id=" + id;
        window.location = url;
    }
    function Exit() {
        location.href = '@Url.Action("Create", "SalesQuotation")';
        window.location = url;
    }


    function Filter() {
        $("#Quotationlist").addClass("fade");
        var id = $("#sqNo").val();
        var cusid = $("#cboCustomer").val();
        var from = $("#txtFrom").val();
        var to = $("#txtTo").val();
        var url = '@Url.Action("SalesQuotationsList")';
        url += "?from=" + from + "&to=" + to + "&id=" + id + "&cusid=" + cusid + "&ProjectBased=" + @ViewBag.isProjectBased;

        $("#Quotationlist").load(url, function () {
            $("#Quotationlist").removeClass("fade");
        });
    }

</script>

<div class="row">

    <div class="form-head1">
        <h4>Sales Quotation List</h4>
    </div>

    <div class="main-part pad1">

        <div class="row">

            <div class="col-md-2">
                <label for="sqNo">Quotation No.</label>
                @Html.DropDownList("sqNo", (SelectList)ViewBag.QuotationNoList, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>

            <div class="col-md-3">
                <label for="cboCustomer">Customer</label>
                @Html.DropDownList("cboCustomer", (SelectList)ViewBag.customerlist, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>

            <div class="col-md-2">
                <label>From</label>
                <input id="txtFrom" value="@System.DateTime.Today.AddMonths(-1).ToString("dd-MMMM-yyyy")" onchange="Filter()" class="form_input" />
            </div>

            <div class="col-md-2">
                <label>To</label>
                <input id="txtTo" value="@System.DateTime.Today.ToString("dd-MMMM-yyyy")" onchange="Filter()" class="form_input" />
            </div>
        </div>

        <br />
        <div id="Quotationlist">
            @Html.Action("SalesQuotationsList", new { ProjectBased = ViewBag.isProjectBased })
        </div>

        <div class="row">
            <div class="col-md-12 hrpart">
                <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
            </div>
        </div>

    </div>
</div>

