
@{
    ViewBag.Title = "PreviousList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function OnSQNoChanged(sender) {
        var id = $("#sqNo").val();
        var cusid = $("#cboCustomer").val();
        var url = '@Url.Action("SalesQuotationsList")';
        $("#Quotationlist").load(url, { ProjectBased:@ViewBag.isProjectBased,id: id, cusid: cusid });
    }
    function OnCustomerChanged(sender) {
        var cusid = $("#cboCustomer").val();
        var id = $("#sqNo").val();
        var url = '@Url.Action("SalesQuotationsList")';
        $("#Quotationlist").load(url, { ProjectBased:@ViewBag.isProjectBased,id: id, cusid: cusid });
    }
</script>

<div class="row">

    <div class="form-head1">
        <h4>Sales Quotation List</h4>
    </div>

    <div class="main-part pad1">

        <div class="row form-group">
            <div class="col-md-3">
                <label for="sqNo">Quotation No.</label>
                @Html.DropDownList("sqNo", (SelectList)ViewBag.QuotationNoList, "Any", new { @class = "form_input", @onchange = "OnSQNoChanged(this)" })
            </div>
            <div class="col-md-3">
                <label for="cboCustomer">Customer</label>
                @Html.DropDownList("cboCustomer", (SelectList)ViewBag.customerlist, "Any", new { @class = "form_input", @onchange = "OnCustomerChanged(this)" })
            </div>

        </div>

        <div id="Quotationlist">
            @Html.Action("SalesQuotationsList", new { ProjectBased = ViewBag.isProjectBased })
        </div>
    </div>
</div>

