
@{
    ViewBag.Title = "PengingSO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">

    $(document).ready(function()
    {
        $("#txtFrom").datepicker({
            dateFormat: "dd-MM-yy"
        });
        $("#txtTo").datepicker({
            dateFormat: "dd-MM-yy"
        });
    })

    function Filter() {
        $("#so_Reg").addClass("fade");
        var id = $("#cboSupplier").val();
        var itmid = $("#cboItem").val();
        var from = $("#txtFrom").val();
        var to = $("#txtTo").val();
        var url = '@Url.Action("PendingSupplyOrderRegister")';
        url += "?from=" + from + "&to=" + to + "&id=" + id + "&itmid=" + itmid;
        $("#so_Reg").load(url, function () {
            $("#so_Reg").removeClass("fade");
        });
    }

    function GoToPrint() {
        //  $(this).hide();
        var SupName = $("#cboSupplier option:selected").text();
        var SupId = $("#cboSupplier").val();
        console.log(SupId);
        var itmName = $("#cboItem option:selected").text();
        var itmid = $("#cboItem").val();
        var from = $("#txtFrom").val();
        console.log(from);
        var to = $("#txtTo").val();
        var url = '@Url.Action("Print1")';
        url += "?from=" + from + "&to=" + to + "&SupId=" + SupId + "&SupName=" + (SupName == '' ? 0 : SupName) + "&itmName=" + ( itmName == '' ? 0 : itmName ) + "&itmid="+ itmid;
        window.location = url;

    }


    function Exit() {
        var url = '@Url.Action("Index", "Home")';
        window.location = url;
    }

</script>


<div class="row">

    <div class="form-head1">
        <h4>Pending Supply Order</h4>
    </div>

    <div class="main-part pad1">
        <div class="row">
            <div class="col-md-2">
                <label>From</label>
                <input id="txtFrom" value="@ViewBag.startdate.ToString("dd-MMMM-yyyy")" class="form_input" onchange="Filter()" />
            </div>

            <div class="col-md-2">
                <label>To</label>
                <input id="txtTo" value="@System.DateTime.Today.ToString("dd-MMMM-yyy")" class="form_input" onchange="Filter()" />
            </div>

            <div class="col-md-2">
                <label for="cboSupplier">Supplier</label>
                @Html.DropDownList("cboSupplier", (SelectList)ViewBag.SupplierList, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>

            <div class="col-md-3">
                <label for="cboItem">Item</label>
                @Html.DropDownList("cboItem", (SelectList)ViewBag.ItemList, "Any", new { @class = "form_input", @onchange = "Filter()" })
            </div>

        </div>

        <br />

        <div class="row">
            @*<div class="main-grid main-grid-top scroll1">*@
            <div class="table-responsive" id="so_Reg">
                @Html.Action("PendingSupplyOrderRegister")
            </div>
        </div>
        @*</div>*@

        <div class="row">
            <div class="col-md-12 hrpart">
                <input type="button" class="form-button right" value="Exit" onclick="Exit()" />
                <input type="button" value="Print" onclick="GoToPrint()" class="form-button right" />
            </div>
        </div>

    </div>
</div>


