@model IList<ArabErp.Domain.SaleOrder>

<script>
    function OnSelected(id) {
        var url = '@Url.Action("Edit")';
        //alert(id);
        url += "/" + id;
        window.location = url;
    }

    function Exit() {
        var url = '@Url.Action("PendingEnquiries")';
        window.location = url;
    }
</script>
<div class="row">

    <div class="form-head1">
        <h4>Service Order List</h4>
    </div>


    <div class="main-part pad1">
        <div class="row">
            <div class="main-grid main-grid-top scroll1">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="grid_heading">
                                <th width="15%"><h1>Service Order No.</h1></th>
                                <th width="12%"><h1>Date</h1></th>
                                <th width="12%"><h1>Service Enquiry Ref No.</h1></th>
                                <th width="12%"><h1>Service Enquiry Date</h1></th>
                                <th width="15%"><h1>Customer order Ref No.</h1></th>
                                <th width="1%"><center><h1></h1></center></th>
                            </tr>
                        </thead>

                        <tbody class="grid_row">
                            @if (Model.Count > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.SaleOrderRefNo</td>
                                        <td>@item.SaleOrderDate.ToString("dd/MMM/yyyy")</td>
                                        <td>@item.ServiceEnquiryRefNo </td>
                                        <td>@item.ServiceEnquiryDate.ToString("dd/MMM/yyyy")</td>
                                        <td>@item.CustomerOrderRef</td>
                                        <td><center><button class="form-button4">@Html.ActionLink("Select", "ServiceOrderEdit", "ServiceEnquiryProject", new { type = Request.QueryString["type"], id = @item.SaleOrderId }, null)</button></center></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6">
                                        <center>
                                            <em>No items found!</em>
                                        </center>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                </div>
            </div>
            <div class="row-count1">
                <h5>Row Count:- @Model.Count</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 hrpart">

                <button type="button" class="form-button right" onclick="Exit()">Exit</button>

            </div>
        </div>
    </div>
</div>

